[2021-10-05 14:43] dosumis commented on #2084
Are you sure?  I thought is was being used to refer to the sum of layers X and Y

[2021-10-05 14:49] shawntanzk commented on #2084
yeah I think sum might be better - I understand it as lower X & upper Y which technically isn't in between I guess. How about instead:  A layer of the neocortex that is comprises of both layers X & Y

[2021-10-05 14:55] dosumis commented on #2084
subclassing probably OK here, but we need a consistent pattern for subClassOf vs part_of

Need to decide: Is a combination of 2 adjacent layers still a layer? (Could be if the general class is defined right).  Is VIb a subclass of VI or part of it?

[2021-10-05 15:08] shawntanzk commented on #2084
I think VIb is both part of and subclass of VIb? (not 100% sure what the difference is in this case). From reading, VIb is a distinct part of a VI that has specific morphologically, genetically, and developmentally neurons. Perhaps a distinct feature (that now that I look at it should probs be in def) is that L6b neurons are derived from a precursor population that arises from the subplate.

[2021-10-06 15:38] dosumis opened #2126 "Decide on relationship between renal column and renal medulla"
The ASCT+B kidney table (1.1 beta)  relates renal column and renal medulla to each other via ccf_part_of.  Validation against Uberon shows that there is currently no is_a, part_of or overlaps relationship between 'renal column - UBERON_0001284' and 'renal medulla - UBERON_0000362'

Report (showing names used in table):

n | s | slabel | user_slabel | o | olabel | user_olabel
-- | -- | -- | -- | --

[2021-10-06 15:39] dosumis opened #2085 "'collecting duct of renal tubule' should be part of 'renal collecting system'."

[2021-10-07 10:17] shawntanzk opened #2087 "Textual def of layer of neocortex needs expansion"
**Uberon term**
UBERON:0002301 [layer of neocortex]

**Suggested revision of textual definition**
Current def: One of the layers of the neocortex.
Issue: This does not allow for multilayer types (eg L2/3) which many cells fall under (see #2084)
Suggested change: One or a combination of multiple layers of the neocortex.

On this note, the x-ref of the current def leads to @cmungall orcid - wonder i

[2021-10-07 10:26] shawntanzk opened #2088 "not all of cortical layer VI develops from cortical plate"
**Uberon term**
UBERON:0005395 (cortical layer VI)

**Suggested revision of logical definition**
Currently it is SubClass of 'develops from' some 'cortical plate' -> this is not technically fully true as while layer VIa does, layer VIb develops from cortical subplate (UBERON:0004035) instead [PMID:32160552]

proposal: remove axiom, and add cortical layer VIa and VIb under cortical layer VI that ha

[2021-10-11 06:42] emquardokus opened #2090 "Error in definition of pelvic girdle region UBERON:0001271"
**Uberon term**
UBERON:0001271

**Bug description**
Definition incorrectly states pectoral girdle in example (this is thoracic region/rib case area) when it should be citing pelvic girdle region.

Current Definition:
The organism subdivision that includes the pelvic girdle skeleton and associated soft tissue. Note that this includes both the skeletal elements and associated tissues (integument, mu

[2021-10-11 06:48] emquardokus opened #2091 "NTR: red bone marrow of iliac crest"
**Preferred term label:**
red bone marrow of iliac crest

**Synonyms**

**Definition (free text, please give PubMed ID)**
The iliac crest has a large amount of red bone marrow, and thus it is the site of bone marrow harvests (from both sides) to collect the stem cells used in bone marrow transplantation. https://en.wikipedia.org/wiki/Iliac_crest

**Parent term (use https://www.ebi.ac.uk/ols/ontolo

[2021-10-11 06:55] emquardokus opened #2092 "NTR: red bone marrow of sternum"
**Preferred term label:**
red bone marrow of sternum

**Synonyms**

**Definition (free text, please give PubMed ID)**

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
red bone marrow UBERON:0000361

**Your nano-attribution (ORCID)**
0000-0001-7655-4833

[2021-10-11 12:29] rays22 commented on #1967
Seems to be fixed.

[2021-10-11 12:29] #1967 closed

[2021-10-11 13:48] shawntanzk opened #2093 "unify annotations"
Add documentations on how each of the ontologies handle things like created by and xrefs (I've been noticing that there each one handles it differently and it's sometimes not consistent within ontology)

Related to: https://github.com/pato-ontology/pato/issues/278

[2021-10-11 18:00] nicolevasilevsky commented on #1975
@dosumis we are getting this inference in Mondo because we use lip in the logical definition and lip is a subclass of mouth - see explanation here:

![image](https://user-images.githubusercontent.com/6722114/136834416-01c83b3b-efb5-4735-9692-c727971d0591.png)

I think this need to be fixed in Uberon, I don't think we can do anything in Mondo, unless I am misunderstanding.

[2021-10-11 21:07] dosumis commented on #1975
You should be able to fix it by changing the axiomatization on 'digestive system disease' to use UBERON:0005409 ‘alimentary part of gastrointestinal system’

[2021-10-12 08:00] shawntanzk opened #2094 "Creating procedures for imports"
Current solution to messy imports should be to refresh imports in related ontologies when a release is made. This requires knowledge of import links so we can come up with the order in which is best to refresh import.

@shawntanzk to create an ontology dependency list and figure out a procedure on what should get imported first etc.

[2021-10-12 08:01] shawntanzk commented on #2094
![Screenshot 2021-10-12 at 09 01 04](https://user-images.githubusercontent.com/76212760/136916281-5189293f-0a79-4197-af36-39cf866abb98.png)

[2021-10-12 13:36] emquardokus opened #2121 "Decide on relationship sinoatrial node & right cardiac atrium"
There is currently no is_a, part_of or overlaps relationship between s	slabel	user_slabel	o	olabel	user_olabel
UBERON:0002351	sinoatrial node	sinoatrial node	UBERON:0002078	right cardiac atrium	right atrium

Currently 'part of' some 'cardiac atrium'
'part of' some 'myocardium of atrium'
'part of' some  'conducting system of heart'

Should we add part of to 'cardiac muscle of right atrium'?
Correct

[2021-10-13 08:29] matentzn commented on #2045
yeah, redirect from uberon.org to the new page would be great.

To ensure users of uberon.github.io finding their way, I would also suggest:

https://github.com/uberon/uberon.github.io/pull/5

[2021-10-13 09:20] dosumis opened #2096 "drains/supplies - should we represent at both the organ level and the organ part level? Should we use inference to do this?"
@emquardokus wrote:

On the general issue:
   * I'd like to document what the CCF use cases are for representing connection/supply/drains relationships in CCF.owl and wether this would require relationships both at the organ level and at the organ part level.
   * Rather than adding two relationships to Uberon for drains/supplies covering organ and organ part, I'd prefer to use reasoning.  A simpl

[2021-10-13 21:03] dosumis opened #2099 "Add thymus lobule part_of some thymus lobe"
This is certainly true for humans.  More research needed to ascertain whether this is safe more generally:

thymus lobule has taxon_notes "in the mouse, the lobes of the thymus are not subdivided into lobules but only in the central medulla and a peripheral cortex (i.e. there is no distinct sublobulation). In humans, the two thymus lobes are composed of many lobules of various sizes which contain

[2021-10-18 10:44] anitacaron commented on #2093
|                           ANNOTATION                           | UBERON |  CL  | PATO |  RO |
|:--------------------------------------------------------------:|:------:|:----:|:----:|:---:|
| http://geneontology.org/formats/oboInOwl#created_by            |        |   3  |      |     |
| http://purl.obolibrary.org/obo/IAO_0000115                     |  11762 | 2141 | 1851 |     |
| http://purl.ob

[2021-10-18 11:28] shawntanzk commented on #2093
omg that is such a great table! thanks!

[2021-10-18 13:52] shawntanzk commented on #2094
Only way to do this is to solve this is using base files rather than full ontologies
note: too complex to deal with individual basis @matentzn to handle this on ODK side
related to https://github.com/INCATools/ontology-development-kit/pull/252

[2021-10-18 14:39] paolaroncaglia commented on #2085
@dosumis @emquardokus
I support this - can't see how a 'collecting duct of renal tubule' (the way it's defined, textually and logically) could exist without being part of a 'renal collecting system'. I'll add the part_of link unless anyone objects.

[2021-10-18 15:37] paolaroncaglia opened #2104 "NTR: parasympathetic cholinergic nerve"
@emquardokus (cc @dosumis, please see question below)

**Preferred term label:**
parasympathetic cholinergic nerve

**Definition (free text, please give PubMed ID)**
A parasympathetic nerve that releases acetylcholine.
PMID:24676230

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'parasympathetic nerve'
overlaps some 'cholinergic neuron'? (This would be similar to how 'cholinerg

[2021-10-18 19:54] shawntanzk opened #2106 "Harmonising oio:created_by and oio:date to Dublin Core (October 2021)"
Writing this ticket + adding to agenda for call on UBERON - we need consensus and go ahead for this.

Currently we have multiple annotation properties for creator and creation date which should be reduced and standardised:

http://purl.org/dc/elements/1.1/creator <- suggest to use this though in obo wont look nice
http://www.geneontology.org/formats/oboInOwl#created_by

http://www.geneontology.org

[2021-10-19 07:16] dosumis commented on #2050
Hi @rays22  - looks good.  Do you have a PR I can review?

[2021-10-20 10:15] dosumis opened #2111 "should apocrine sweat gland be a subclass of apocrine gland ?"
**Uberon term**
![image](https://user-images.githubusercontent.com/112839/138073773-6825df6b-9cbe-4942-afdc-845c741b6cfb.png)

**Bug description**

'apocrine sweat gland' is classified as a sweat gland and as a merocrine (AKA eccrine) gland.  It is therefore not classified under the defined class 'skin apocrine gland' (which has no children).

The terminology here  is rather confusing.  The term h

[2021-10-20 16:52] matentzn commented on #2050
Please start making a library of reusable templates in src/templates

[2021-10-20 17:04] matentzn commented on #2106
Why did david become an individual? He shouldn't.. At least not if he was not forced to be one..

[2021-10-20 17:21] balhoff commented on #2106
I think that sounds good, although those axioms themselves are a bit invisible inside Protege as far as I can remember.

[2021-10-20 21:02] gouttegd commented on #2014
Considered and implemented for both Uberon (#2030) and CL (obophenotype/cell-ontology#1284).

[2021-10-20 21:02] #2014 closed

[2021-10-21 09:06] dosumis commented on #2104
CC @tgbugs

[2021-10-21 11:29] paolaroncaglia commented on #2111
Notes for self:
- [ ] Add rdfs:comment to 'skin apocrine gland': "Note that 'skin apocrine gland' does not cover 'apocrine sweat gland': in the former, "apocrine" refers to the type of secretion mechanism, while in the latter it refers to a structural feature."
- [ ] https://www.ncbi.nlm.nih.gov/books/NBK482199/ contains examples of true apocrine glands: see if any should be added as subclasses of

[2021-10-21 13:28] paolaroncaglia commented on #2111
@dosumis https://github.com/geneontology/go-ontology/issues/22291

[2021-10-21 16:16] gouttegd opened #2116 "Overhaul how mappings with FBbt (and possibly other organism-specific ontologies) work"
The following is a proposal, based on a discussion with @dosumis, to change how the mappings between Uberon/CL and FBbt are maintained and represented.

Currently, those mappings are maintained on the Uberon/CL side and represented by cross-references (`<http://www.geneontology.org/formats/oboInOwl#>:hasDbXref`) on the Uberon/CL term pointing to the FBbt term (though for some historical reasons, s

[2021-10-22 01:27] tgbugs commented on #2104
This prompted me to look again at how these cases were handled, and I think that the right thing to do here is to update the modelling so that we wind up with parasypathetic cholinergic neuron projection bundle, because I think that there are very few cases of nerves that are purely cholinergic (though some branches might be). We have been working to develop clearer definitions for nerves, nerve b

[2021-10-22 08:50] paolaroncaglia opened #2119 "Revise modeling of autonomic nervous system"
This is a placeholder ticket stemming from https://github.com/obophenotype/uberon/issues/2104.
Consider coordinating with the Data and Resource Center (DRC) of the NIH-funded SPARC program to revise modeling of autonomic nervous system (their recent paper is [here](https://www.frontiersin.org/articles/10.3389/fphys.2021.693735/full): "...SPARC data are aligned to common spatial standards ... and a

[2021-10-22 08:59] #2104 closed, assigned to paolaroncaglia

[2021-10-22 09:35] #2099 closed, assigned to paolaroncaglia

[2021-10-22 10:00] #2085 closed, assigned to paolaroncaglia

[2021-10-22 10:25] #2121 closed, assigned to paolaroncaglia, emquardokus

[2021-10-25 10:25] #2039 closed, assigned to rays22

[2021-10-25 10:58] rays22 opened #2127 "Refining the Uberon Euarchontoglires subset -- part 2"
### Remaining tasks

- [x] UBERON:4x series in <https://docs.google.com/spreadsheets/d/133F9PVxOk2lM8tkY_afjy7P_bwbZM1b_u1O2abyTvI8/edit#gid=1223601784>

_Originally posted by @rays22 in https://github.com/obophenotype/uberon/issues/2050#issuecomment-947820509_

[2021-10-25 17:04] shawntanzk opened #2129 "There are multiple terms that have "." as definition"
There are multiple terms that have "." as definition - this seems super weird, it is triggering duplicate_definition. Will investigate. Examples include:

First 5 violations:
ERROR	duplicate_definition	UBERON:0000089	IAO:0000115	.
ERROR	duplicate_definition	UBERON:0000219	IAO:0000115	.
ERROR	duplicate_definition	UBERON:0000444	IAO:0000115	.
ERROR	duplicate_definition	UBERON:0001430	IAO:0000115	.
E

[2021-10-26 07:07] shawntanzk opened #2130 "multiple_equivalent_classes error"
Checking the report for `sh run.sh make reports/uberon-edit.obo-obo-report.tsv`, the other errors are multiple_equivalent_classes
Here are a few examples of them:
<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<me

[2021-10-26 15:56] cmungall opened #2131 "Exempt issue from auto-closing if it is in a project"
See #2030.

Can we exempt issues that have been placed into projects? Or at least projects that are still active and have a champion?

[2021-10-26 16:26] #2036 closed, assigned to paolaroncaglia

[2021-10-28 19:10] cmungall opened #2137 "Decide on graph walking vs EL inference for using taxon constraints to make subsets"
Current strategy to make a taxon subset:

 - Add axiom Thing subClassOf part-of some NCBITaxon:nnnn
 - Remove any inter-species existentials
      - homology represented as reciprocal existentials
      - inter-species edges (less relevant for uberon)
 - Ensure all TCs are EL-ified
     - never_in becomes disjointWith in-taxon some X
     - Ensure NCBITaxon GCIs are added (in-taxon some X disjoint

[2021-10-28 23:19] balhoff opened #2138 "ontology IRI for ext is 'materialized'"
If you download `http://purl.obolibrary.org/obo/uberon/ext.owl`, the resulting ontology has:

- ontology IRI: `http://purl.obolibrary.org/obo/uberon/materialized.owl`
- version IRI: `http://purl.obolibrary.org/obo/uberon/releases/2021-10-01/ext.owl`

Ontology IRI should be `http://purl.obolibrary.org/obo/uberon/ext.owl`.

[2021-10-29 20:34] balhoff opened #2139 "many image depiction URIs are broken"
This query shows the issue: https://api.triplydb.com/s/-axdROrCo

We have terms like [urothelium](http://purl.obolibrary.org/obo/UBERON_0000365) linked to `"Harnblase:Urothel.png"^^<http://www.w3.org/2001/XMLSchema#anyURI>`. The initial part of the URI was lost somewhere along the way, so this image can't be displayed properly at OLS.

A working example would be [calcareous tooth](http://purl.obol

[2021-11-01 01:22] cmungall commented on #2130
yes - these are all caused by an additional unonOf eq axiom on top of the defining genus-different eq axiom

[2021-11-01 14:17] shawntanzk opened #2140 "UBERON:3010730 has no label"
@rays22 to figure out what this is

[2021-11-01 14:56] shawntanzk commented on #2138
ext.owl is overwritten in uberon.makefile
look at uberon.owl creates an ontology and version iri and make sure that ext.owl does in an analogous version

[2021-11-01 15:01] shawntanzk commented on #2139
Currently searching for `depicted_by [^h]` comes out 254 results

Make a list of about 10 of these to show some where the broken link, and find out what these namespaces/where they are defined

[2021-11-01 15:04] shawntanzk commented on #2139
Here are some examples:
property_value: depicted_by Triceps:brachii.png xsd:anyURI
property_value: depicted_by Forearm:labeled.png xsd:anyURI
property_value: depicted_by Fibular:artery.png xsd:anyURI
property_value: depicted_by Gray440:color.png xsd:anyURI
property_value: depicted_by Longus:capitis.png xsd:anyURI
property_value: depicted_by Mylohyoid:muscle.PNG xsd:anyURI
property_value: depicted_

[2021-11-01 15:09] gouttegd commented on #2131
Unfortunately this is not possible for now as the auto-closing action we are using does not have this feature (though [it has been requested](https://github.com/actions/stale/issues/359)).

The best we can do is to decide on a new label (say, `keep-alive`) and to exclude all issues with that label from being marked as stale. But the label would have to be added manually on issues.

[2021-11-01 15:21] rays22 commented on #2140
It looks like that `UBERON:3010730 pterygoideus` was an [obsolete class](https://github.com/obophenotype/uberon/issues/1486)
that I re-introduced accidentally in <https://github.com/obophenotype/uberon/pull/2108>.
I will fix it by removing the obsolete class `UBERON:3010730` again.

[2021-11-01 15:34] shawntanzk commented on #2131
Thoughts on this:
I think given how it is super easy to stop items from going stale by adding a comment, and how the system will ping the people involved when it is going stale and give them 6 months to do something about it, there isn't a need for a `keep-alive` label. Worry with the label is that people will add it and forget it and it becomes a forever issue.

[2021-11-01 17:07] #2140 closed

[2021-11-01 18:24] gouttegd opened #2143 "Generation of CL bridge files is broken"
For each foreign ontology _X_ with which we have mappings, the pipeline is supposed to generate two bridge files in `src/ontology/bridges`: one for mappings with Uberon (`src/ontology/bridges/uberon-bridge-to-X`) and one for mappings with CL (`src/ontology/bridges/cl-bridge-to-X`).

What is currently happening is that only the `uberon-bridge-to-X` file is generated, containing both the Uberon mapp

[2021-11-01 18:31] gouttegd opened #2144 "Reference to inexistent ftr.obo file"
The `make-bridge-ontologies-from-xrefs.pl` script tries to open a file named `ftr.obo`:

[code]

This file does not exist and is not referenced anywhere else in the repository (there’s no rule to generate it).

Does anyone know what is, or rather _was_, the purpose of this file? Should that file exist?

The above code causes a bunch of Perl warnings when generating the bridge files, because it tri

[2021-11-01 18:43] gouttegd opened #2145 "Output of the expand-dbxref-literals.pl script is discarded"
The rule to generate the `$(TMPDIR)/uberon-edit.owl` file is broken:

[code]

The output of the `owltools` command is sent to `$@.tmp` (so `$(TMPDIR)/uberon-edit.owl.tmp`). Then that file is given as input to the `expand-dbxref-literals.pl` script, but then the result of that script is sent to the standard output without being written anywhere.

This has two consequences:
* First, and obviously, w

[2021-11-01 19:16] gouttegd commented on #2143
Update: the reason why the CL bridges are not generated is in this rule:

[code]

That rule is intended to create a version of CL containing all the `treat-xrefs-as...` stanzas copied over from `uberon-edit.obo`. However, this is not what it does, because the `treat-xrefs-as...` lines are sent to `$@` instead of `$@.tmp`, and `$@` is then completely overwritten by the result of the `expand-idspace

[2021-11-01 22:25] gouttegd commented on #2144
I suspect `ftr` might stand for _footer_, and that the point of the above snippet is to allow to include an arbitrary piece of OBO code at the end of all the generated bridge files, simply by putting the piece into a `ftr.obo` file.

We’re not using that feature right now but it could become handy in the future, so I think the proper thing to do here is to keep the snippet, but with proper handlin

[2021-11-02 23:39] cmungall commented on #298
Following up more here. Right now there are terms "X nerve fiber bundle" that correspond to the cranial nerves (and pseudonerves) yet are underspecified and unconnected:

[code]

[2021-11-03 16:24] paolaroncaglia commented on #1849
Assigning to @megbalk (tentatively) as she opened this ticket. Thanks Meghan.

[2021-11-03 16:44] cmungall opened #2148 "Add a document on how to use uberon for microbiome samples"
Describe how to use Uberon with MIxS

[2021-11-03 19:33] #2088 closed, assigned to dosumis, shawntanzk

[2021-11-03 23:59] cmungall opened #2149 "Add design pattern for mixed layers (specifically cortical)"
I am looking at @shawntanzk's PR #2089  - great work!

This introduces new terms like neocortex layer 2/3

However, these are not related to existing terms like neocortex layer 2 and layer 3

[code]

The definition reads like a mereological sum rather than a class union. Unfortunately these are harder to reason with in OWL (we can do a GCI disjoint union and then materialize), but we can assert fo

[2021-11-04 08:58] shawntanzk commented on #2149
I think the mixed layers are not mereological sums but rather a sort of intermediary layer that consist of part of some layer II & III for example - I guess the definition is a bit vague on that. Perhaps changing their def to
"A laminar subdivision of the neocortex that is comprised of _part of_ both layers II & III."?

[2021-11-04 10:46] sfexova opened #2150 "small intestine capillary"
**Preferred term label:**
small intestine capillary

**Synonyms**
capillary of small intestine, blood vessel capillary of small intestine

**Definition (free text, please give PubMed ID)**
Capillary that is part of small intestine.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
capillary http://purl.obolibrary.org/obo/UBERON_0001982
small intestine http://purl.obolibrary.org/ob

[2021-11-04 12:17] paolaroncaglia commented on #2150
Hi @sfexova ,
The related terms I added for SCA follow the naming pattern 'capillary of X' rather than 'X capillary' ('capillary of anorectum', 'capillary of colon'). Shall I do the same for 'capillary of small intestine', and keep the proposed 'small intestine capillary' as an exact synonym?

[2021-11-04 12:39] sfexova commented on #2150
Hi @paolaroncaglia - yes, I was wondering about that myself, actually. I went with this style in the end because there's 'small intestine venule' and 'small intestine arteriole' etc (rather than venule/arteriole _of_ small intestine like we have for colon and the rest) but I'm happy to change the name if you think that's better. Makes sense to have at least all the capillaries follow the same patt

[2021-11-04 12:43] paolaroncaglia commented on #2150
Yes, I'd keep the capillary term labels consistent with the ones already in CL. I do appreciate that different naming patterns are used across CL and Uberon, but I think we can live with that. :-) I'll update the ticket when done.

[2021-11-05 13:48] janelomax opened #2151 "Unnamed orphan classes"
**Uberon term**

**Bug description**

Latest release 2021-10-01 has a bunch of unnamed orphan classes. From OLS:

<img width="1305" alt="Screenshot 2021-11-05 at 13 45 10" src="https://user-images.githubusercontent.com/6639811/140520302-810993d1-6235-4d3e-8e2c-cf74baf899b7.png">

[2021-11-05 16:17] paolaroncaglia commented on #2151
Hi @janelomax ,

Thanks for reporting. This is a known issue and some of my Uberon colleagues have been working on it, but there are still a few loose ends (the Uberon pipeline and release processes are not exactly a walk in the park, ehm). #1963  is the relevant ticket, I'll ask if there's any update there. I'll close this ticket as a duplicate, please feel free to subscribe to #1963 if you'd lik

[2021-11-05 16:17] #2151 closed

[2021-11-05 16:24] paolaroncaglia commented on #1963
Hi @matentzn ,
(This ticket is assigned to you so I'm taking the liberty to ask :-) )
SciBite asked about the dangling classes in #2151 . It's one of the tasks you mentioned earlier in this ticket. Wondering if we could provide an update now that some of the bottlenecks have been addressed? I'm not sure if you have bandwidth for this atm, so I'll add to the technical board, in the Todo column - fe

[2021-11-08 14:20] shawntanzk commented on #2138
Check everything that is listed in release artefact of owl an make sure -O (or --ontology-iri) is set -> ideally with ANNOTATE_ONTOLOGY_VERISION

[2021-11-08 14:24] #2131 closed

[2021-11-08 14:39] matentzn commented on #2138
listen in uberon-odk.yaml

[2021-11-08 14:51] shawntanzk commented on #1963
To do:

- [ ] create imports for floating terms and import them in
- [ ] for certain terms (eg FBbt:01000119 term in uberon) -> request new term to be in uberon
- [ ] Make calls in the logic of the above two for all top level classes that shouldn't be there

[2021-11-08 14:53] shawntanzk commented on #2130
- [ ] when ROBOT 1.9 is released, reinstate test

[2021-11-08 16:40] #2093 closed

[2021-11-08 17:10] gouttegd commented on #2116
This is now done for FBbt with #2132. Ultimately we might want to generalise to other ontologies we map to, but that will be another ticket.

[2021-11-08 17:10] #2116 closed

[2021-11-08 19:16] cmungall commented on #2144
[code]

[2021-11-08 21:24] matentzn commented on #2137
@dosumis if you want @shawntanzk, @anitacaron and me to act on this, we need some specific instructions as it will fall to @anitacaron to take the bulk of this work, and it will occupy her for a few weeks (given she only has a few hours a week to dedicate to this project I mean).

From the meeting I gather we need to:

- [ ] Decide who should document, and where the documentation lives
- [ ] Decid

[2021-11-08 21:32] cmungall commented on #2137
For the graph strategy, it is easy to explore this using the existing ubergraph instance, which includes relation-graph inferences

See this query:
https://api.triplydb.com/s/8hs8rvxj3

Which is hardcoded to return classes EXCLUDED from a human view

Scroll up for an explanation of the query

Note that for demonstrative purposes, this is highly aggressive. For example, annotation shortcuts like sp

[2021-11-08 23:58] megbalk commented on #1849
created branch: issue-1849

[2021-11-09 00:00] megbalk commented on #1849
@matentzn @cmungall what is the best practice for renaming a term and creating a new term that has the same name (e.g., renaming "sagittal crest" to "sagittal crest of skull" and creating the term "sagittal crest")?

[2021-11-09 05:33] matentzn commented on #1849
The cleaner version is to deprecate the old and create two new terms. Sound like a case of splitting.

[2021-11-09 10:17] paolaroncaglia commented on #2126
Hi @dosumis and @emquardokus ,
Following up on this please. I think Ellen mentioned that she'd be meeting the kidney experts quoted [above](https://github.com/obophenotype/uberon/issues/2126#issuecomment-939883751). Please let me know if this issue was resolved, or if we should follow up with the experts, or ask other Uberon contributors for their feedback. Thanks.

[2021-11-09 11:58] dosumis commented on #2126
@tvalerius - would you be able to comment on this issue?

[2021-11-09 14:20] shawntanzk opened #2154 "[NTR] anterior ectoderm anlage"
uberon currently has a floating term from FBbt:
http://www.ontobee.org/ontology/FBbt?iri=http://purl.obolibrary.org/obo/FBbt_01000119

It is currently use in:
'clypeo-labral anlage in statu nascendi' part of FBbt 01000119

If this is right, this term needs to be naturalised into uberon

@gouttegd hope it's alright if I assign you, happy for you to reassign to someone else from the fly world - i ha

[2021-11-09 14:28] gouttegd commented on #2154
@shawntanzk No problem with leaving the fly stuff to me. No promise on how fast I will deal with it, however! :D

[2021-11-09 14:53] shawntanzk opened #2155 "Dangling class GO_0016301"
Currently GO_0016301 is dangling
I've found that it is present in the following imports (fbdv, cteno, fbbt, ro, wbbt, wbls, bspo)
It is found on one of the top lines as a `\nDeclaration(Class(<http://purl.obolibrary.org/obo/GO_0016301>))`
Not sure why this is the case or what the significance is, but wondering if 1) this can be removed since it is not used in anywhere in uberon, and 2) how I would

[2021-11-09 16:22] shawntanzk commented on #2155
#2156 (once working) will add GO_0016301 to GO import terms and will fix this

[2021-11-09 19:36] dosumis commented on #2127
Chris wrote:

https://github.com/obophenotype/uberon/issues/1824#issuecomment-817959064

spreadsheet is here:
https://docs.google.com/spreadsheets/d/133F9PVxOk2lM8tkY_afjy7P_bwbZM1b_u1O2abyTvI8/edit#gid=1895359959

This =>

preplacodal ectoderm' <http://purl.obolibrary.org/obo/UBERON_2007013> |   | never_in_taxon Mammalia
-- | -- | --

There are other wrong or dubious-looking entries in here:

pri

[2021-11-09 21:16] cmungall opened #2159 "incorrect axiom: endochrondral bone develops-from sublingual cartilage"
![image](https://user-images.githubusercontent.com/50745/141005865-88eb924f-e50d-4431-84a7-1977c5774f02.png)

[code]

@balhoff I think this is yours :-) 9b6e48576b

[2021-11-09 21:19] cmungall commented on #2137
Results of running on uberon-edit from Nov 1 here:

https://s3.amazonaws.com/bbop-ontologies/uberon/tmp/class-taxon-exclusions.tsv.gz

URL not guaranteed stable, this is for testing

The query is hardcodes for Human and Mammal. The TSV lists classes that are excluded for a given taxon, together with the reason.

Apologies for the duplication due to different labels of OPs:

|?c|?cLabel|?p|?pLabel|

[2021-11-09 22:27] balhoff commented on #2159
I think it was some kind of bizarre Protege editing mishap: https://github.com/obophenotype/uberon-phenoscape-ext/commit/8c0a28332a1b79fd15c9bde534944e9109e05028

Hopefully this suggests problems like this aren't necessarily widespread.

[2021-11-09 22:36] balhoff commented on #2159
'sublingual cartilage' never in mammals is probably also wrong?

[2021-11-09 22:46] cmungall commented on #2159
I think you are right. I think many of the TCs added here #2108 may need re-review

[2021-11-09 22:53] #2159 closed

[2021-11-10 02:06] cmungall commented on #1849
I think that's safest

[2021-11-10 15:51] paolaroncaglia commented on #1824
Hi @shawntanzk ,
Wrt my previous post

GitHub displays the linked comment funnily, and I can see now why you were confused. I meant to refer to the comment that actually _precedes_ the comment with the list of curation task, i.e.
"Now that the ~1772 taxon constraints added in #2050 are in Uberon, could someone please re-build the Euarch slim? (The old one was at https://github.com/obophenotype/ube

[2021-11-10 19:46] cmungall opened #2165 "Remove all axioms that reference GO:excretion"
GO is obsoleting excretion

https://github.com/geneontology/go-ontology/issues/22368

Related issues:

 * Alliance wants a general "excretory system" that spans all organisms: #1450

[2021-11-11 09:54] matentzn commented on #2138
check the following make goals wether they contain `annotate -O` or `annotate --ontology-iri`:

- [ ] ext.owl:
- [ ] basic.owl:
- [ ] merged.owl:
- [ ] core.owl:
- [ ] composite-metazoan.owl:
- [ ] composite-metazoan-basic.owl:
- [ ] composite-vertebrate.owl:
- [ ] composite-vertebrate-basic.owl:

[2021-11-11 10:52] gouttegd opened #2166 "Make the mappings file into a proper component"
The file `src/ontology/components/mappings.owl` contains cross-references linking Uberon terms to corresponding terms in foreign ontologies (only FBbt for now). Those cross-references are merged into the main ontology by a custom logic (in `uberon.Makefile`).

That file needs to be declared as a proper “component” in the ODK sense so that it is merged using the standard ODK rules.

See #2163 for r

[2021-11-11 13:05] #2138 closed

[2021-11-11 14:44] paolaroncaglia commented on #2094
Hi @shawntanzk , cc @dosumis and @matentzn ,
Is there any update on this issue, please? I can't help with the technical stuff, but it seems that until this is fixed, among other inconveniences terms in the Single Cell Atlas anatomograms will be represented incorrectly (in fact, their pipeline might break, as reported in https://github.com/obophenotype/cell-ontology/issues/1120#issuecomment-9560534

[2021-11-11 14:48] shawntanzk commented on #2094
@paolaroncaglia this wont be a quick fix i think, but i think the bigger problem is the comment you linked needs an uberon release. Is the term fixed in uberon already? Cause if it is, once uberon is released, can try to fix it without the need to fully untangle the above.

[2021-11-11 16:26] paolaroncaglia commented on #2094
@shawntanzk thanks for your prompt reply. The thing is, the CL term that originated the discussion was created quite some tiem ago, and the relevant Uberon edits were made quite some time ago, and both CL and Uberon had been released at least once since; in fact I remember with a fair degree of certainty that the anatomy changes had even percolated to Mondo and EFO. Then something happened, please

[2021-11-11 16:28] paolaroncaglia commented on #2094
That said, if you think there's anything I can do to CL or Uberon that could help, let me know
(I realize that sounds a bit menacing...)

[2021-11-11 16:45] shawntanzk commented on #2094
In my mind, what needs to happen (I might be wrong) is the following in order:

1) delete axioms from imports that are causing the error in uberon (this I need your help with cause I can't follow the thread attached, but I assume the cyclical issue is that an import is cyclically importing something that you want out)
2) Make and uberon release with IMP=false
3) Refresh CL import of uberon and mak

[2021-11-11 17:12] paolaroncaglia commented on #2094
@shawntanzk thanks. I won't touch anything for now, but will be happy to help if I can once we have confirmation of the best procedure.

[2021-11-11 17:32] dosumis commented on #2094
I've been scared of hitting this problem for years.  Zombie axioms are an inevitable result of circular import dependencies + imports pulling imported content. I think it might become a regular occurrence now we're doing lots of interdependent edits. Base files are the obvious solution (no imports of imports).  As I understand it, the problem is that this => incomplete imports (we don't get all de

[2021-11-11 17:59] matentzn commented on #2094
My favourite problem. Given the huge amount of memory Uberon requires anyways, it would be a good candidate to try the base-merge-extract-prune workflow. To get this done I need a developer like @anitacaron or @hkir-dev for ~5 days straight, it can be done.

[2021-11-11 18:16] #2144 closed

[2021-11-11 18:16] #2145 closed

[2021-11-11 18:23] paolaroncaglia commented on #2094
(We should definitely have a "reaction" or label for "can of worms"...)

[2021-11-11 18:33] gouttegd commented on #2143
Fixed by the combination of #2132 and #2147.

[2021-11-11 18:33] #2143 closed

[2021-11-11 19:00] cmungall opened #2169 "normalize_obo_src target doesn't work"
[code]

I believe this is because robot is looking in the tmp dir for the catalog? Is this an ODK template issue (this is in the main Makefile)

[2021-11-11 19:03] cmungall commented on #2169
actually, I am not sure this kind of extreme normalization with owltools should be done in any case

see also https://github.com/ontodev/robot/issues/901

[2021-11-12 08:22] matentzn commented on #2094
🪱

[2021-11-12 08:51] matentzn opened #2171 "Review: removed terms from human subset during last release"
~ 750 terms where removed from the human subset during the last release.

- [ ] @rays22 you should review an make note of the ones that where falsely removed.
- [ ] @dosumis you should decide whether the false positives are ok and we can iterate. Key false positives like "nose" etc are no longer in the set.

| ID | Label |
| ---- | ---- |
| UBERON:0002009 | pulmonary nerve plexus |
| UBERON:000508

[2021-11-12 13:41] matentzn opened #2173 "tuber (UBERON:4200132) has disappeared"
In the latest release, I noticed that this term as disappeared without a trace

[code]

[2021-11-12 14:16] matentzn commented on #2173
Ok the term is not removed, it just gets pruned away by the uberon-base process.. Investigating.

[2021-11-12 14:31] paolaroncaglia commented on #2173
Hi @matentzn ,
If it's any help, this is the ticket requesting the obsoletion of 'tuber' #1704 , and this is the PR #1999

[2021-11-12 14:33] matentzn commented on #2173
It seems that no deprecated classes are included in uberon-base.obo. I cant pin this down on a cursory look through the pipeline. They are in uberon-full.obo. My assumption is something wrong with:

[code]

[2021-11-12 14:34] matentzn commented on #2173
@dosumis feel free to assign to someone.

[2021-11-12 16:06] matentzn commented on #2032
Until this issue is dealt with, I fixed the composite PURLs to the last release. There is not point to update these every time on each release, and it actually simply gives us false positives on when retrieving versions..

https://github.com/OBOFoundry/purl.obolibrary.org/pull/801

[2021-11-12 20:58] #77 closed

[2021-11-15 14:12] shawntanzk commented on #1824
@paolaroncaglia release has been done and the human and eunach slime should be rebuilt - it is not empty now. Could you check, and if there is any issues, could you make new tickets for them please? Thanks

[2021-11-15 14:12] #1824 closed

[2021-11-15 14:48] shawntanzk commented on #2166
Things to do (@anitacaron & @gouttegd ):

- [ ] change mappings.owl to a proper component
- [ ] Change mappings.owl to a ROBOT command and merge to base file - see if this works
- [ ] Add mappings.owl to a component directory in uberon-odk.yaml

[2021-11-15 18:03] paolaroncaglia commented on #1824
@shawntanzk thanks!! I'll check tomorrow (downloading the release now).

[2021-11-15 18:16] gouttegd opened #2174 "Double specification of CNS-PNS disjointness"
Uberon considers that the `central nervous system` and the `peripheral nervous system` are spatially disjoint, that is nothing can be simultaneously part of both the CNS and the PNS.

This “disjointness” is expressed at two different places using two different mechanisms:

* There is a general class axiom `'part of' some 'peripheral nervous system' DisjointWith 'part of' some 'central nervous syst

[2021-11-17 14:23] shawntanzk opened #2175 "Gyrus should be part of cerebral cortex"
**Uberon term**
UBERON:0000200 (gyrus)

**Suggested revision and reasons**
We have just used middle temporal gyrus (MTG) on some terms in BDS ontology and I've noticed that it does not get inferred as part of the cerebral cortex. On further examination, I notice that MTG (UBERON:0002771) is part of gyrus which is part of cerebral hemisphere, and cerebral hemisphere is rightly not part of cerebral

[2021-11-17 18:43] cmungall opened #2177 "Add spatal disjointness axioms between major organs"
example problem: penicillar artery is inferred to be part of both spleen and aorta. These kinds of errors creep in due to confusion about branching-part-of vs connecting-part-of:

https://github.com/obophenotype/uberon/wiki/Branching-structures-Design-Pattern

Local decisions may look fine on the surface but global implications are clearly wrong

We could catch many of these with organ spatial/par

[2021-11-18 00:55] cmungall commented on #2177
OK, doing this at the organ level is not ideal, I count about 20k valid spatial disjointness axioms, attached. Most of them could be generalized to a part disjointness between broader terms

[Uploading organ-slim-part-disjoint.tsv.gz…]()

[2021-11-18 11:34] paolaroncaglia commented on #2126
Hi @dosumis @emquardokus,
I know that you'd like to address this in time for inclusion in a bioRxiv submission. Was there any feedback from experts offline that I could incorporate? If not, would you like me to make a pull request and/or discuss at the Uberon call next Monday?

[2021-11-18 16:04] #2175 closed

[2021-11-22 14:16] shawntanzk commented on #2139
Raise at CL meeting

[2021-11-22 14:32] shawntanzk commented on #2137
@dosumis - could you provide some guidance for how the tech team can proceed with this? thanks

[2021-11-22 14:48] shawntanzk commented on #2129
- [ ] @gouttegd to look into this in makefile to see where this should come from
- [ ] @shawntanzk will follow up if we can't figure this out

[2021-11-22 14:53] matentzn opened #2179 "Write a update pipeline using SPARQL"
- [x] Query should match "." definitions and delete them as far upstream as possible (SRCMERGED or one later, row 95).
- [x] ROBOT query --update pipeline needs to be added as a separate step to L95
- Once we have something, I want to generalise this pipeline for ODK, but for now, this is enough

[2021-11-22 15:32] gouttegd commented on #2129
The “.” definitions are not injected from anywhere in the pipeline, they come straight from the -edit file.

Contrary to what we have in FBbt, in Uberon it does not seem that there is anything in place in the pipeline to deal with “dot-definitions“.

For reference, what happens in FBbt is that terms with “dot-definitions” are extracted (using [this SPARQL query](https://github.com/FlyBase/drosophi

[2021-11-22 15:35] shawntanzk commented on #2129
@cmungall @dosumis might need help with this

[2021-11-22 16:30] cmungall commented on #2129
I always thought the dot-definitions in FBbt were placeholders for
literature or some other pointer. Anyway that's what they are in uberon.
Not sure what I can add beyond what I said earlier. If this is priority
then we can just translate to seeAlso or similar

On Mon, Nov 22, 2021 at 7:32 AM Damien Goutte-Gattat <
***@***.***> wrote:

[2021-11-22 16:34] matentzn commented on #2129
@cmungall the question is, what exactly are they placeholders for? Where is the pipeline that fills them in with actual definitions?

[2021-11-22 16:38] gouttegd commented on #2129
My understanding is that they are just placeholders waiting to be replaced by an actual definition _by a human editor_. They are not intended to be automatically transformed into something (contrary to what we do in FBbt), they are just here to remind the editors that a real definition will need to be put here sometimes in the future (with the xref giving a clue about where to find the information

[2021-11-22 16:39] matentzn commented on #2129
Usually they are placeholders for some kind of pattern based replacement strategy. If it is to remind humans, I would vote to ditch them.

[2021-11-22 16:52] uberon commented on #2129
exactly

On Mon, Nov 22, 2021 at 8:39 AM Damien Goutte-Gattat <
***@***.***> wrote:

[2021-11-22 16:52] uberon commented on #2129
but keep the relevant information as an annotation of course

On Mon, Nov 22, 2021 at 8:40 AM Nico Matentzoglu ***@***.***>
wrote:

[2021-11-22 17:00] cmungall commented on #2129
grep '^def: "."' uberon-edit.obo

def: "." [GO:dph,
https://sourceforge.net/p/geneontology/ontology-requests/9676/,
Wikipedia:Hypoblast, ZFIN:cvs]
def: "." [Wikipedia:Atlas_(anatomy)#Vertebral_foramen]
def: "." [https://github.com/obophenotype/uberon/issues/6,
https://github.com/obophenotype/uberon/issues/7]
def: "." [Wikipedia:Pronucleus]
def: "." [Wikipedia:Trapezium_(bone)]
def: "." [Wikipedia:

[2021-11-22 18:02] dosumis commented on #2139
@cmungall - Do you know where these come from?

[2021-11-22 18:08] dosumis commented on #2174
Decision - delete AP version.

[2021-11-22 18:18] lubianat commented on #2139
FYI:
query for images on Wikidata on items associated to UBERON IDs:

https://w.wiki/4SFu
<a href="https://i.imgur.com/TBlUm9S.png">
  <img src="https://imgur.com/TBlUm9Sl.png" />
</a>

[2021-11-22 18:30] matentzn opened #2180 "Set preferred roots Uberon"
See for example mondo

https://github.com/monarch-initiative/mondo/blob/master/src/ontology/mondo-edit.obo

This is an annotation to the ontology itself.

IAO:0000700

[2021-11-22 18:31] shawntanzk commented on #2180
Root nodes:
life cycle
anatomical entity

[2021-11-22 18:33] shawntanzk commented on #2180
Look into https://github.com/EBISPOT/OLS/issues/502 while at it

[2021-11-22 18:46] shawntanzk commented on #2139
Try to see if we can find a roll back to years ago to find the images, if not ok to remove

[2021-11-22 18:52] matentzn opened #2182 "Subsets should be released as as slims"
Instead of merging in imports, subsets should all be released as simple files.

[2021-11-22 19:55] cmungall opened #2183 "Add anti-slims for various taxonomic groupings"
Add antislims that can be applied that should be excluded from specific releases

E.g.

 * exclude_from_mammal_release
 * exclude_from_vertebrate_release

These are formally weaker than never-in-taxon. In particular, they are safe for intermediate classes and they are safe for classes that may be excluded due to being "too specific" for a use case without worrying about whether there is an existen

[2021-11-22 20:14] matentzn commented on #2183
Add to tech board @shawntanzk

Thanks a lot @cmungall

[2021-11-22 21:51] shawntanzk commented on #2180
documentation wise happy to add, but would like to know if it is just adding `property_value: IAO:0000700 UBERON:XXXXXXX` in -edit file and it will solve itself out in release? or what else is needed etc

[2021-11-23 15:17] gouttegd commented on #2166
@matentzn Reopening because I am suddenly concerned about the way the components are merged into the `$(SRCMERGED)` file (in the standard ODK-generated Makefile):

[code]

Why do we use that `remove` command to remove all _imports_ statements here? I understand that the _components_ will be merged back by the subsequent `merge` command, but all the “real” imports (by that I mean, imports that are

[2021-11-23 16:12] paolaroncaglia opened #2186 "UBERON:0008339 'microvascular endothelium' isn't a subclass of UBERON:0004638 'blood vessel endothelium'"
UBERON:0008339 'microvascular endothelium'
and
UBERON:0004638 'blood vessel endothelium'
are siblings currently. The former is undefined both textually and logically, and xrefs BTO:0003122 'microvascular endothelium'. The latter is better defined and xrefs BTO:0000766 'blood vessel endothelium'. "microvasculature" means "tiny blood vessels", so it sounds like UBERON:0008339 'microvascular endothel

[2021-11-23 17:50] paolaroncaglia commented on #1870
Hi @megbalk ,

I'm not sure; I did some searches but don't really have an answer. Is this request still current/needed - and were you able to find documentation, or discuss with others since this ticket was opened? If yes, please close this ticket. If not, please add to the agenda for discussion at the next Uberon editors' meeting, or tag someone who might help. I'll assign to you for now, but fee

[2021-11-23 21:42] shawntanzk opened #2188 "Replace temrs that use CL:1000416 with CL:0002324"
Related to merging terms in https://github.com/obophenotype/cell-ontology/pull/1298

[2021-11-24 08:35] #2180 closed

[2021-11-24 09:43] #2179 closed

[2021-11-24 10:57] matentzn commented on #2166
Oh yeah, I think you are right. SRCMERGED is actually not what you think it is it - it is basically _base_. I will try to deal with this first thing tomorrow.

[2021-11-24 11:01] gouttegd commented on #2166
I won’t be available all day tomorrow, but happy to help if I can from Friday or at the next Technical Board meeting.

[2021-11-24 11:06] matentzn commented on #2166
No problem, I will look into it!

[2021-11-24 17:06] paolaroncaglia commented on #2127
Update: the broader issue of taxon restrictions was discussed at the [Uberon editors meeting on 22/11/21](https://docs.google.com/document/d/1XvMbNvr0FEsdqGhg79BYCYEHSqUxRHMcvhbGizEAht8/edit#heading=h.nk1gnd781mf):

"We need more specific action items to deal with taxon stuff
https://github.com/obophenotype/uberon/issues/2137
Chris suggested fix - Chris to add ticket!
Roll back 2x, 3x, 4x general

[2021-11-24 17:26] paolaroncaglia commented on #1878
@megbalk added this as UBERON:7500061 on Jun 2, so I'll close.
@megbalk , please close tickets after you've addressed them, otherwise they'll continue to live in GitHub for a year and a half before being automatically removed ;-)
Happy Thanksgiving!
Paola

[2021-11-24 17:26] #1878 closed

[2021-11-24 17:27] paolaroncaglia commented on #1879
This is now UBERON:7500062

[2021-11-24 17:27] #1879 closed

[2021-11-24 17:28] paolaroncaglia commented on #1880
@megbalk
I'll leave this ticket to you please, to double-check if all terms have been added. If yes, please close. Thanks.

[2021-11-24 17:28] paolaroncaglia commented on #1881
Added as UBERON:7500070

[2021-11-24 17:28] #1881 closed

[2021-11-24 17:41] paolaroncaglia commented on #2065
Also see https://github.com/obophenotype/uberon/issues/2182

[2021-11-25 16:01] matentzn commented on #2183
Should these antislims be created or generated? i.e. how will we know that fin/limb should be excluded from human-view? Manual curation?

[2021-11-25 16:13] matentzn opened #2192 "Some terms have disappeared after simplifying subsets"
In our latest attempt to create slims, I noticed the following classes disappearing:

Is it ok if these disappear from the euarchontoglires and other subsets?

[code]

[2021-11-25 16:48] dosumis commented on #2192
I think only Chris could usefully comment on this.  I have no idea what most of these term are (apart from EMPA and ZFA) or why they woud be in a subset file.  I certainly wouldn't expect them in a -simple release.

[2021-11-25 17:43] #2188 closed

[2021-11-26 08:45] matentzn commented on #2127
Alright, this is how I understand this ticket.

- [ ] "Roll back": We go to @rays22 original list of taxon constraints, and remove them using robot unmerge, and instead add a "never_in_euroglires" subset tag on them.
- [ ] "Anti-slim stripping". After the normal unsat-pipeline is run, we use SPARQL to remove the remaining  "never_in_euroglires", the difficulty here is to tie together broken existe

[2021-11-26 09:44] paolaroncaglia commented on #2192
Same here. Thanks @matentzn and @dosumis -
and @cmungall thanks in advance for when you'll have a chance to comment.

[2021-11-26 10:37] matentzn commented on #2065
Fixed in https://github.com/obophenotype/uberon/pull/2190

[2021-11-26 10:37] matentzn commented on #2182
Fixed in https://github.com/obophenotype/uberon/pull/2190

[2021-11-26 10:38] rays22 commented on #2127
### Summary of 673 taxon constraints added as part of #2050
Here is my list of the #2050-related taxon constraints that are in UBERON currently.
* provenance: `{source="https://github.com/obophenotype/uberon/issues/2050"}`

* 660 classes : [never_in_taxon-IDs.txt](https://github.com/obophenotype/uberon/files/7608113/never_in_taxon-IDs.txt) `relationship: never_in_taxon NCBITaxon:n`
    * 23 classe

[2021-11-26 10:50] paolaroncaglia opened #2194 "Candidates for taxon restrictions"
This ticket is to collect obvious cases of wrong terms leaking through into the Euarchontoglires and/or the human slim.
Aim is to add appropriate TCs.
It's not about the broader work on 2x, 3x etc. terms discussed in #2127 .
Note, I haven't delved too deep into these (some may already have TCs), and the list is a WIP.
We should look at children too.

barbel
echolocation organ
exoskeleton
feather
f

[2021-11-26 12:20] #2182 closed

[2021-11-26 15:48] rays22 commented on #2050
As part of [a roll back](https://github.com/obophenotype/uberon/issues/2127#issuecomment-979791339), I am going to remove the UBERON:3x bulk `never in taxon` *Mammalia* taxon constraints that were part of this ticket. Some of the 2x and 3x classes appear to overlap with *Mammalia*.

[2021-11-26 17:22] #2050 closed

[2021-11-29 08:59] paolaroncaglia commented on #1894
This was added by @megbalk as UBERON:7500077 trochlea of femur

[2021-11-29 08:59] #1894 closed

[2021-11-29 09:57] matentzn commented on #2192
Ok, as it turns out, these are all correctly obsoleted terms. They are included as obsoleted in uberon.owl, but not in the subsets, because they are not included in the simple files due to their idiosyncratic IRI structure. I am ok with this..

[2021-11-29 09:57] #2192 closed

[2021-11-29 13:59] matentzn commented on #2166
I have fixed this issue  in #2190

Thousand thanks @gouttegd you noticed that!

[2021-11-29 14:12] matentzn opened #2198 "Taxon reporting pipeline"
We want to inform curators about the consequences of adding taxon constraints.

- [ ] generate a report that looks at the difference between a number of key subsets (human-view, euroglires-basic, mouse-view, potentially more, i.e. configurable). The report should just be class ID and label. In other words: a list should be produced with ID, label pairs indicating which classes are being excluded a

[2021-11-29 14:39] anitacaron commented on #1963
This will be fixed as base migration.

[2021-11-29 14:43] anitacaron commented on #2183
From tech group meeting we won't act on this ticket without clear directions.

[2021-11-29 14:52] anitacaron commented on #2129
I'll check if it was fixed in the new release.

[2021-11-29 16:59] tgbugs opened #2199 "Bodily fluid label is inncorrect given modelling, need real bodily fluid class, PATO needs a property of a fluid class?"
**Uberon term**
bodily ~~fluid~~ liquid http://purl.obolibrary.org/obo/UBERON_0006314
bodily gas http://purl.obolibrary.org/obo/UBERON_0034873

**Bug description**
Uberon is missing a bodily fluid class that is a superclass of bodily gas and bodily liquid. The underlying issue is that PATO only has classes for quality of a liquid and quality of a gas (http://purl.obolibrary.org/obo/PATO_0001548 an

[2021-11-29 18:02] tgbugs commented on #2199
One issue here is that the life sciences have a different meaning for "bodily fluid" which is not aligned with other domains. Specifically "bodily fluid" refers only to liquids (per https://en.wikipedia.org/wiki/Fluid). This is unfortunate because it means that the new superclass will likely need to be named something like "bodily fluid (proper)".

[2021-11-30 13:27] dosumis opened #2201 "Head Kidney not a type of kidney?"
The head kidney of teleosts is classified as a type of kidney in Uberon (likely inherited from ZFA), but, as far as I can tell, doesn't conform to the Uberon definition of Kidney: "A paired organ of the urinary tract which has the production of urine as its primary function."

The head kidney appears instead to be an immune/endocrine organ without renal function: https://www.sciencedirect.com/scie

[2021-11-30 13:29] dosumis commented on #2201
Realised it is part of kidney in Uberon not SubClassOf so closing ticket.

[2021-11-30 13:29] #2201 closed

[2021-11-30 15:39] paolaroncaglia commented on #1899
@megbalk added this as UBERON:7500079

[2021-11-30 15:39] #1899 closed

[2021-11-30 15:40] paolaroncaglia commented on #1898
@megbalk added this as UBERON:7500078

[2021-11-30 15:40] #1898 closed

[2021-11-30 16:24] paolaroncaglia commented on #1848
Hi @megbalk ,
When you have a chance, could you please update this ticket? Thanks.

[2021-11-30 17:04] paolaroncaglia commented on #2065
This is done already. I assigned to @matentzn to record his involvement :-)

[2021-11-30 17:04] #2065 closed

[2021-11-30 17:29] paolaroncaglia commented on #2194
So looking at euarchontoglires-basic.owl from the uberon-2021-11-28 release, the list above becomes:
(i.e. the terms below are still in the Euarch slim and shouldn't)

'head external integument structure' (the term sounds broad, but I can't see any of its children, incl. barbel, being ever applied to Euarch. Note, these are all 2x/3x terms)
TBC...

[2021-12-01 08:43] paolaroncaglia commented on #1888
Hi @megbalk ,
Is this term still needed? If it is (I don't see it in Uberon), please consider if/how it should be linked to the existing term UBERON:3000467 'preorbital process of the pars facialis of the maxilla' (sourced from amphibian_anatomy).
If the term is no longer needed, or if you've added it already under a different label, please close this ticket.
It's always helpful to link pull reque

[2021-12-01 16:20] #2174 closed

[2021-12-06 14:03] anitacaron commented on #2169
This will be fixed with the new ODK release.

[2021-12-06 15:44] anitacaron opened #2203 "Unify all attribution to ORCID REF: pato#278"
REF: https://github.com/pato-ontology/pato/issues/278

[2021-12-10 14:37] cthoyt opened #2205 "Non-standard prefixes"
The following prefixes show up in various places in UBERON but they are not in the Bioregistry:

[code]

Any help figuring out what these are and how they're used would be appreciated!

[2021-12-10 19:19] patrick-lloyd-ray commented on #2205
I _think_ I might know some of these, as they look like Allen Institute-related prefixes:

DHBA = developing human brain atlas
HBA = human brain atlas
DMBA = developing mouse brain atlas
MBA = mouse brain atlas
ABA = Allen brain atlas
PBA = primate brain atlas (non-human)

I don't know the history of their usage very well (these prefixes pre-date my working at the Allen Institute), but I know they

[2021-12-10 19:25] cthoyt commented on #2205
@patrick-lloyd-ray that's an excellent start! thanks so much. For anyone who might be able to provide more contexts, I'm also looking for web references describing what these things are and if possible, some links to a list of the terms that go in each or ontology files if they exist

[2021-12-10 20:17] tgbugs commented on #2205
Here are the mappings that I have.
[code]
`ABA` refers to the very first version of the terminology that was modelled in owl using subClassOf instead of partOf. https://bioportal.bioontology.org/ontologies/ABA-AMB I think the mapping is
[code]

[2021-12-13 13:58] shawntanzk commented on #2129
There still seems to be some "." defs - eg UBERON_0004133

[2021-12-13 14:08] shawntanzk commented on #2129
@anitacaron to relook at this

[2021-12-13 14:13] shawntanzk commented on #2139
@shawntanzk to look back at random commits from the past and find if the images are there - do this in chunks - if it is there, can use the images from there

[2021-12-13 16:35] cmungall commented on #2205
Thanks @tgbugs and @patrick-lloyd-ray this is correct

I think we can replace all ABA xrefs and use MBA instead

As far as I know we don't have official prefixes for the allen atlases yet, @dosumis? As soon as we get these we should add to bioregistry. But until then these xrefs are vital.

[2021-12-13 16:37] cmungall commented on #2205
@tgbugs we of course wouldn't have NLXSUB in uberon but GO uses xrefs like `NIF_Subcellular:nlx_subcell_100315` - if NLXSUB is your preferred prefix let's register it and use in in GO!

[2021-12-14 08:21] paolaroncaglia commented on #1886
Hi @megbalk ,
Hope all's well. Assigning to you please. As far as I can see, the term hasn't been created yet. Thanks.
Paola

[2021-12-14 14:03] shawntanzk commented on #2139
going back far enough, i found the picture for urothelium in https://raw.githubusercontent.com/obophenotype/uberon/60ed1a61b3d7a168952fb30fad32867350a5feb1/uberon_edit.obo
property_value: http://xmlns.com/foaf/0.1/depicted_by http://upload.wikimedia.org/wikipedia/commons/9/91/Harnblase_Urothel.png
will see if there is a pattern I can follow

[2021-12-14 14:14] shawntanzk commented on #2139
property_value: http://xmlns.com/foaf/0.1/depicted_by http://upload.wikimedia.org/wikipedia/commons/8/83/Triceps_brachii.png

for

Triceps:brachii.png xsd:anyURI

[2021-12-14 14:20] shawntanzk commented on #2139
perhaps there is a way to
1) convert all X:X.png to X_X.png in the newer uberon-edit.obo
2) automatically search for all X_X.png from step 1 in https://raw.githubusercontent.com/obophenotype/uberon/60ed1a61b3d7a168952fb30fad32867350a5feb1/uberon_edit.obo
3) get the line and change `property_value: http://xmlns.com/foaf/0.1/depicted_by` to `property_value: depicted_by`
4) Remove old depicted by pro

[2021-12-14 14:28] dosumis commented on #2139
Use `sed` or a `Perl` one liner for regEx sub.  @rays22's good at this type of thing.

[2021-12-15 08:24] shawntanzk opened #2210 "multiple equivalent classes"
Currently there are multiple equiv classes on a bunch of uberon terms. I don't think that is allowed as it pops up on ROBOT report when I ran it on PCL -  I'm not sure I have the knowledge to pick one, or combine them etc.

Perhaps @cmungall or @dosumis could help with this?

I'll assign myself for now, but I 100% need help with this.

Level | Rule Name | Subject | Property | Value
-- | -- | -- |

[2021-12-15 17:37] cmungall opened #2211 "Review amphibian vasculature groupings"
The AAO grouping is suspect:

id: UBERON:0001611
name: sublingual artery
def: "**A branch of the lingual artery that supplies the sublingual gland.**" [http://orcid.org/0000-0002-6601-2165]
subset: uberon_slim
synonym: "arteria sublingualis" RELATED LATIN [Wikipedia:Sublingual_artery]
synonym: "sublingual branch of lingual artery" EXACT []
xref: AAO:0010491
xref: EMAPA:37115 {source="MA:th"}
xref:

[2021-12-15 17:51] cmungall opened #2212 "Ensure definitions of vessels precisely define boundaries"
Consider the relationship of the lingual artery (L) to the external carotid (EC):

![image](https://user-images.githubusercontent.com/50745/146237103-feda404c-3b58-4133-9919-8f0ed50dc718.png)

According to the scheme here, we have two (equally valid IMO) ways to model this mereologically

https://github.com/obophenotype/uberon/wiki/Branching-structures-Design-Pattern

![img](https://oborel.github.

[2021-12-16 08:22] paolaroncaglia commented on #1883
Hi @megbalk ,
Assigning to you. Feel free to close if you don't need the term any longer. Thanks,
Paola

[2021-12-16 09:47] anitacaron opened #2213 "changing created_by: [curators' group] to oboInOwl:source http://purl.obolibrary.org/obo/[ontology]"
Comes from suggestion in PR https://github.com/obophenotype/uberon/pull/2206

[2021-12-16 16:30] paolaroncaglia commented on #2186
Hi @cmungall / @dosumis ,
Would you have any objection please if I asserted UBERON:0008339 'microvascular endothelium' as a subclass of UBERON:0004638 'blood vessel endothelium'? Rationale in previous comment. Thanks!

[2021-12-16 17:32] dosumis commented on #2186
Short answer: No objection.

Longer answer:

'microvascular endothlium' is undefined both textually and logically and has an oddly specific classification given its general name:

![image](https://user-images.githubusercontent.com/112839/146418144-c679d0ad-78d6-4c0c-bc45-cfc34e67f428.png)

I think it makes sense to remove this specific classification and give it a logical definition that puts it u

[2021-12-16 22:19] balhoff opened #2214 "is 'zona limitans intrathalamica' really non-material?"
[zona limitans intrathalamica](http://purl.obolibrary.org/obo/UBERON_0009848) is defined as:

[code]

However GO is using this term in a way that requires it to be a material structure: [zona limitans intrathalamica formation](http://purl.obolibrary.org/obo/GO_0022006), and is causing a property range violation.

It doesn't sound immaterial [in Wikipedia](https://en.wikipedia.org/wiki/Zona_limitan

[2021-12-17 02:01] cmungall commented on #2214
_A narrow stripe of cells that lies between the prospective dorsal and ventral thalami. This boundary contains signals that pattern the prethalamic and thalamic territories of the future mid-diencephalon_

definitely not immaterial!

Go with junction. Border has only one subclass which is suspect. But the immediate priority is making this material

[2021-12-17 02:10] cmungall opened #2215 "Review all anatomical lines"
Extending #2214

I think many lines in uberon are not lines, causing cryptic incoherencies

Here is one strategy

First create explicit DPs for all line and boundary patterns

## line connecting patterns

 1. anatomical line connecting two distinct structures: `line connecting % to %`
 2. anatomical line connecting two paralogous structures of the same type (must use QCR, outside EL++). `inter-% l

[2021-12-17 11:40] shawntanzk opened #2216 "laminar subdivision of the cortex is currently not part_of neocortex"
**Uberon term**
UBERON:8440004 - laminar subdivision of the cortex

**Suggested revision of logical definition**
Add: 'part of' some 'cerebral cortex'

[2021-12-17 14:20] paola-scibite commented on #407
Please re-open this ticket. Most of the terms that @cmungall listed above (one-word classes from UBERON:3xxx, ie from AAO) are still in Uberon with the same labels, some of which are highly ambiguous (lacrimal, pedicel...).
If the classes are to be merged into others, the current labels may be kept as broad or related synonyms, or relational adjectives;
If the classes are to stay in Uberon in thei

[2021-12-17 15:10] balhoff opened #2218 "material structures needed to replace anatomical space fillers in GO logical definitions"
I'm trying to resolve all [reasoning violations in GO](https://github.com/geneontology/go-ontology/issues/16524) resulting from property range axioms. The remaining issues have to do with anatomical spaces used as targets of [results in development of](http://purl.obolibrary.org/obo/RO_0002296). Here are the GO terms and Uberon terms used:

- [ ] [subarachnoid space development](http://purl.obolib

[2021-12-17 17:26] dosumis commented on #2006
@rays22  - please check that this has fixed the inference problem in MP - MP:0009037 abnormal subarachnoid space development should not be under MP:0000913 abnormal brain development.  Ticket can then be closed and tracking spreadsheet updated.

[2021-12-17 17:29] dosumis commented on #2010
@rays22  - please check that this inference is no longer present in MP:
MP:0004671 long ribs subClassOf MP:0004695 increased length of long bones

[2021-12-17 18:47] sbello commented on #2010
@dosumis I just ran the ELK reasoner on the file and no longer see that inference so I think we are good (working on the MP today so I thought I would check)

[2021-12-20 18:18] megbalk commented on #1848
Here is the newest teeth pattern. I'd love feedback before testing it.

[2021-12-20 18:27] cmungall commented on #476
[code]

this is almost useless, no axioms other than anatomic space

see also https://github.com/obophenotype/uberon/issues/1524

[2021-12-20 18:29] megbalk commented on #1889
These have been added to fovt-skull branch, but not yet merged

[2021-12-20 18:29] megbalk commented on #1890
These have been added to fovt-skull but not yet merged

[2021-12-20 18:30] megbalk commented on #1870
@paolaroncaglia I'll add this to the agenda. Where do I find the agenda?

[2021-12-20 18:31] megbalk commented on #1888
@paolaroncaglia I did not see that term last time. I'll look into it.

[2021-12-20 18:43] megbalk commented on #1888
I have emailed marine mammal anatomist to see if this is the same structure.

[2021-12-20 18:45] megbalk commented on #1880
These have been merged.

[2021-12-20 18:45] #1880 closed

[2021-12-20 18:49] paolaroncaglia commented on #2058
At today's Uberon call, Chris confirmed that FMA xrefs are _not_ ingested automatically from Wikipedia.
The potential issue of duplicate "latin term" annotation property is of lower priority.
Chris suggests looking into TA (Terminologia Anatomica) annotations, but that's another project (not clear if the 2 versions of TA use the same ID or not, if they can be inspected programmatically etc.).
In t

[2021-12-20 18:51] megbalk commented on #1883
It's on fovt-skull but not yet merged. working on it now

[2021-12-20 19:02] #1890 closed

[2021-12-20 19:02] #1889 closed

[2021-12-20 19:02] #1883 closed

[2021-12-20 19:02] #1886 closed

[2021-12-20 19:03] megbalk commented on #2215
@cmungall are we going to discuss this at the next meeting? Maybe we could discuss midlines too?

[2021-12-20 19:21] gouttegd commented on #476
And the one axiom present is wrong, as the egg chamber is _not_ an anatomical space.

As discussed in the 2021/12/20 Uberon call, proposal is to retain the term (no obsoletion), fix the bogus classification, and add a proper definition to make this term the insect equivalent of `ovarian follicle` (which, as currently defined, is vertebrate-specific).

Then a new grouping term can optionally be add

[2021-12-21 10:03] ANiknejad opened #2224 "needs to harmonize 'parvicellular' and 'parvocellular' terms"
Hello,

both terms ('parvicellular' and 'parvocellular)' are used in Uberon class names, and I guess, there is none biological reason to make a difference, 'parvocellular' sounds to be the correct one, see https://en.wikipedia.org/wiki/Parvocellular_cell

UBERON:2002219 parvocellular preoptic nucleus

UBERON:0002938 parvocellular part of red nucleus

---> https://en.wikipedia.org/wiki/Parvocellula

[2021-12-21 10:22] paola-scibite opened #2225 "Please revise UBERON:0001850 lacrimal drainage system"
UBERON:0001850 lacrimal drainage system
has an editor note "TODO - resolve lacrimal canaliculus vs larcimal duct"
please see https://github.com/obophenotype/cell-ontology/issues/1392 for implications/consequences in CL too. Thanks!

[2021-12-21 13:51] #2058 closed

[2021-12-21 14:21] #1665 closed

[2021-12-21 15:03] paolaroncaglia commented on #1870
Hi @megbalk ,

It's [here](https://docs.google.com/document/d/1XvMbNvr0FEsdqGhg79BYCYEHSqUxRHMcvhbGizEAht8/edit#). Thanks!

[2021-12-21 15:30] #2216 closed

[2021-12-21 17:00] paolaroncaglia commented on #2150
Hi @sfexova ,
The new term is UBERON:8410068 capillary of small intestine.
I'm not sure when the next Uberon release containing this term will be - I'd expect after the holidays now.

[2021-12-21 17:00] #2150 closed

[2021-12-21 18:06] megbalk commented on #1870
done!

[2022-01-05 10:14] ANiknejad opened #2229 "mediodorsal thalamus parts, missing term 'MDM (medial part) of Mediodorsal thalamic nucleus' ?"
Hi Uberon Team,

Happy New Year to All of You!

Here a recent paper with mediodorsal thalamus (MD) subdivisions (medial, central, and lateral):
https://pubmed.ncbi.nlm.nih.gov/34184265/

So far in Uberon we have:

MDC (central part) -> UBERON:0035113 central part of mediodorsal nucleus of the thalamus
MDL (lateral part) -> UBERON:0035114 lateral part of mediodorsal nucleus of the thalamus
but none

[2022-01-06 17:09] megbalk commented on #1888
Seems to be the same structure. I'm closing the issue.

[2022-01-06 17:09] #1888 closed

[2022-01-07 11:51] dosumis opened #2230 "'glomerular visceral epithelium' should be part of (or merged with) glomerular visceral layer"
'glomerular visceral epithelium' currently has no definition.

The only reason I can see to keep both terms would be if we need to include basement membrane as part of the layer but not part of the epithelium, however, the basement membrane is currently separate and appears to be a composite structure coming from visceral epithelium and underlying endothelium, so probably not:

https://www.ebi.ac.

[2022-01-10 07:57] shawntanzk commented on #2094
Will close this ticket as ontologies start implementing base file approach. Please open tickets in own ontologies issue tracker for implementation there (happy to bring those tickets to tech board if need be)

[2022-01-10 07:57] #2094 closed

[2022-01-10 12:17] anitacaron commented on #2129
From the OWL artefacts, this issue is still present only in `uberon-base.owl`,`uberon-full.owl` and `basic.owl` files.

[2022-01-10 14:11] shawntanzk commented on #2129
the . defs are not in uberon.owl which is good, however, we might need to look into implementing this on -base file if these are going to be used for imports

[2022-01-10 14:14] shawntanzk commented on #2198
@rays22 to make smaller test file for @ubyndr to test on a branch

[2022-01-11 19:22] rays22 commented on #2198
@ubyndr ,
I have created two test files using [robot](https://oboacademy.github.io/obook/tutorial/robot_tutorial_1/) that differ only in taxon constraints. They could be used to generate the list of class IDs and labels that are excluded for the human-specific view.
1. [`test-master.obo`](https://raw.githubusercontent.com/obophenotype/uberon/issue2198t/src/ontology/test-master.obo) : This file is

[2022-01-12 13:49] shawntanzk opened #2233 "Error on uberon.makefile ln100"
[code]

The above is the command in the makefile where it is failing.

tmp/uberon-merged.owl seems to be built alright, but seems to be failing at the line that starts with $(OWLTOOLS)

`make: *** [uberon.Makefile:100: tmp/uberon-edit.owl] Error 1`

This is the same failure with trying to build imports and mirrors and trying to make tmp/uberon-edit.owl

making tmp/uberon-merged.owl is fine though

[2022-01-12 14:25] shawntanzk commented on #2233
full documentation of this: https://github.com/obophenotype/uberon/pull/2231#issuecomment-1011094937

[2022-01-12 14:30] dosumis commented on #2233
This is sufficient to prompt the error:

./run.sh owltools tmp/uberon-merged.owl  --expand-macros
(assuming  tmp/uberon-merged.owl is built).

hypothesis - this is caused by an issue in never_in_taxon AP axioms that have changed since the last release

@shawntanzk can you do a diff of  uberon-edit.owl since the last release and grep the results for never_in_taxon to see if any look odd?

[2022-01-12 14:49] shawntanzk commented on #2233
@dosumis not sure how to grep with old version and all, but the above is the diff between the last uberon release and current, the following are the ones that have never in taxon:

echolocation organ http://purl.obolibrary.org/obo/UBERON_0010053
Added
echolocation organ never_in_taxon "Euarchontoglires"^^string
exoskeleton http://purl.obolibrary.org/obo/UBERON_0006611
Added
exoskeleton never_in_ta

[2022-01-12 17:40] dosumis commented on #2233
Values should be classes, not strings!  Fixing now.

[2022-01-12 21:34] rays22 commented on #2139
I am going to add back the links according to this table:

current values | fixed values
-- | --
property_value: depicted_by 280px-Gill:slits.png xsd:anyURI | property_value: depicted_by https://upload.wikimedia.org/wikipedia/commons/thumb/2/22/Gill_slits.png/280px-Gill_slits.png xsd:anyURI
property_value: depicted_by Abdomal:organs.svg xsd:anyURI | property_value: depicted_by https://upload.wikim

[2022-01-13 09:43] #2139 closed

[2022-01-13 12:59] #2010 closed

[2022-01-14 20:54] balhoff opened #2235 "Harderian gland has inconsistent taxon constraints"
[Harderian gland](http://purl.obolibrary.org/obo/UBERON_0004187) says:
- [never in taxon](http://purl.obolibrary.org/obo/RO_0002161) [Carnivora](http://purl.obolibrary.org/obo/NCBITaxon_33554)
- [present_in_taxon](http://purl.obolibrary.org/obo/RO_0002175) [Canidae](http://purl.obolibrary.org/obo/NCBITaxon_9608)
- [present_in_taxon](http://purl.obolibrary.org/obo/RO_0002175) [Felidae](http://purl.

[2022-01-17 15:08] matentzn commented on #2129
Can someone figure out where they come from, i.e. from withing uberon-edit.obo? I am assuming these are from some import?

[2022-01-17 15:20] shawntanzk commented on #2129
just checked uberon-edit.obo - the . defs are there

[2022-01-17 15:23] matentzn commented on #2129
In an import or the actual file?

[2022-01-17 15:23] matentzn commented on #2129
ah sorry.. of course.. I am stupid. I meant, the . definitions that are still in uberon-base.owl, are they from uberon-edit or an import?

[2022-01-17 15:27] shawntanzk commented on #2129
I assume edit file given that I checked UBERON:0004133 and both edit and base file has the . def

[2022-01-17 15:34] matentzn commented on #2129
ok so it is an @anitacaron issue. Thanks for checking!

[2022-01-17 16:00] cmungall commented on #2235
Good catch! So glad to see the expansions fixed!

here it is with provenance

relationship: never_in_taxon NCBITaxon:33554 {source="PMID:7559104"} !
Carnivora
relationship: never_in_taxon NCBITaxon:9397 {source="PMID:7559104"} !
Chiroptera
relationship: never_in_taxon NCBITaxon:9443 {source="PMID:7559104"} !
Primates
relationship: never_in_taxon NCBITaxon:9606 {notes="may be transient in
embryos",

[2022-01-17 16:35] anitacaron commented on #2129
I read Chris' comment carefully and first need to modify `uberon-edit` file before deleting the 'dot definitions'.

- [ ] The phenoscape ones should be replaced by created-by
- [ ] GO and MP provide some kind of provenance
- [ ] The issues xrefs could be demoted to seeAlso
- [ ] the wikipedias could be turned to class xrefs but may as well just go
through and add defs quickly

Also, I checked uber

[2022-01-17 16:40] matentzn commented on #2129
tmp/uberon-edit.owl comes from uberon-edit.obo :)

Thanks @anitacaron for the breakdown!

[2022-01-17 16:49] anitacaron commented on #2129
The `delete-dot-definition` SPARQL query is only used in `tmp/uberon-edit.owl`; that's why they're still in the `uberon-edit.obo` file.

[2022-01-17 17:05] matentzn commented on #2129
Yeah the question is, how do they end up in uberon-base, or basic.owl? These are all derived from tmp/uberon-edit.owl..

[2022-01-18 11:01] #2080 closed

[2022-01-18 14:11] dosumis commented on #2126
@emquardokus - any progress on this?  I'm just discussing this with Paola.  One way to resolve this would be to ask reviewers whether they expect a query for cell types in the medulla to return cells in renal columns.  If the answer is yes, the we can use 'part of', of not, we should consider another relationship (and maybe question whether the table is correct as it is meant to imply part_of ?)

[2022-01-18 14:21] dosumis commented on #1940
Looks like this needs to be broken down  before we can start to make progress on this.  @JoshuaFortriede  -  are you happy to make a start or would you like to discuss further.

[2022-01-18 17:41] RDruzinsky commented on #2126
I believe it is more proper to make the renal columns 'part of' the cortex
rather than the medulla.
The columns are the borders of the renal lobes, but
https://doi.org/10.1016/0301-5629(86)90068-2  "cortical tissue in between
neighbouring pyramids."

describes them as
Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicag

[2022-01-18 18:18] emquardokus commented on #2126
@dosumis @paolaroncaglia sent email to Sanjay Jain (HuBMAP & KPMP) and M. Todd Valerius  (KPMP & GUDMAP) regarding this; however, I agree with R Druzinsky.

Based on the definition that I could find of renal column, it’s  part of the cortex that dips into the medullary area between the renal pyramids, so cortex and not medulla, correct?

Would any cell types be present in both locations?

"The ren

[2022-01-19 07:58] matentzn commented on #1964
We should probably either close this deliberatly or deal with it..

[2022-01-19 08:02] matentzn commented on #1936
This can be closed. @balhoff is dealing with the "expand" command in RO, and we have already implemented the SPARQL expansions for taxon constraints here.

[2022-01-19 08:02] #1936 closed

[2022-01-19 18:14] #2214 closed

[2022-01-20 09:48] matentzn commented on #1970
Needs to be done by the next master of Uberon pipeline.. Still important.

[2022-01-20 12:19] shawntanzk opened #2238 "[NTR] rostral periventricular region of the third ventricle"
**Preferred term label:**
rostral periventricular region of the third ventricle

**Synonyms**
RP3V

**Definition (free text, please give PubMed ID)**
a functional anatomical construct containing the key estrogen-regulated inputs to GnRH neurons necessary for estrogen positive feedback. [PMID:17604108]

also in that paper:

A population of neurons scattered through the anteroventral periventricular

[2022-01-20 16:56] cmungall commented on #1419
Just confirming current status

These are all consistent

 * http://api.brain-map.org/api/v2/structure_graph_download/10.json
 * My cache of the above from 2018 is identical to the current version
 * Our rendering of HBA.obo / HBA.owl

However, the IDs in the json bear no relationship to the IDs on the http://atlas.brain-map.org/ website

This poses the question of whether the JSON from the API be

[2022-01-20 19:33] nicolevasilevsky opened #2240 "surface structure is an asserted parent of cornea - coming from imports"
surface structure is an asserted parent of cornea but this has been removed as an asserted parent in https://github.com/monarch-initiative/mondo/issues/542. This assertion is coming from the NBO and PATO import.

This is causing an issue in Mondo: https://github.com/monarch-initiative/mondo/issues/542

Thanks!

[2022-01-20 19:37] matentzn commented on #2240
Not sure I understand - how is this an uberon issue if it comes from the PATO import? Is PATO simply out of sync with uberon? If this issue is still not fixed Uberon, you could simply fix it yourself!

[2022-01-20 19:41] nicolevasilevsky commented on #2240
Not sure - there are two asserted superclasses, one from NBO and one from PATO.
Can I refresh the PATO and NBO imports?

Otherwise, how do I fix it myself?

Thanks! :)

![image](https://user-images.githubusercontent.com/6722114/150410460-a9754f96-aa10-4e81-89f0-1b96ddb06f5e.png)

[2022-01-20 19:46] matentzn commented on #2240
Try doing a PATO release, and review wether the offending change gets removed. If it does, you can do the same for NBO - this needs to get a release anyways.. I am there to advice but I will try not do the actual work anymore - not because I am lazy (you know I love this stuff) but because I need to make myself redundant!

[2022-01-20 20:33] nicolevasilevsky commented on #2240
sure, I'll try to run a PATO release now :)

[2022-01-20 20:46] nicolevasilevsky commented on #2240
actually, looking into it further - PATO has been release since this issue has come up and it looks like it is not fixed:
https://github.com/pato-ontology/pato

[2022-01-20 20:47] matentzn commented on #2240
Did you check if PATO.owl has the offending axiom? If not, maybe you have to refresh the PATO import in Mondo?

[2022-01-20 20:48] nicolevasilevsky commented on #2240
![image](https://user-images.githubusercontent.com/6722114/150419853-46798d79-7b68-4368-8dfa-7383dd57167c.png)

I think this is an issue in PATO

Should I remove this assertion in PATO, then do a release?

[2022-01-20 20:51] balhoff commented on #2240
@nicolevasilevsky you are looking at a very old PATO. I don't see that in the current release. I do see this in NBO, which probably needs it's Uberon import refreshed.

[2022-01-20 20:51] nicolevasilevsky commented on #2240
Ah, okay, I'll try to do that. Thanks @balhoff!

[2022-01-20 21:07] nicolevasilevsky commented on #2240
<img width="1792" alt="Screen Shot 2022-01-20 at 1 06 02 PM" src="https://user-images.githubusercontent.com/6722114/150422259-017c582c-d84f-47aa-b57a-b45017fb174d.png">

I updated the Uberon import but I still see surface structure asserted in NBO

[2022-01-20 21:13] balhoff commented on #2240
It's coming back into Uberon via its own pato and nbo imports. I guess that's exactly what you started off saying here. Sorry! We need base files. 🥴

[2022-01-20 21:18] nicolevasilevsky commented on #2240
Is there anything I can do to help? I assume the need for base files is on the radar?

[2022-01-20 21:22] balhoff commented on #2240
It's a self-perpetuating axiom that lives entirely within a recursive import circle. I think a good place to start would be to change the Uberon build to at least filter external axioms from the PATO and NBO downloads, using something like this: https://github.com/INCATools/ubergraph/blob/a27eda415f2379ffdcdc563feaa466c0e3a16830/Makefile#L19-L25

[2022-01-20 23:26] nicolevasilevsky commented on #2240
@balhoff or @matentzn could either of you help me with this? thank you!

[2022-01-21 00:31] raymond91125 commented on #2111
"Apocrine sweat glands actually use a merocrine type secretion, or that mediated by exocytosis of secretory granules." I think this statement is not quite right.
<https://en.wikipedia.org/wiki/Apocrine_sweat_gland>
"Apocrine sweat glands were originally thought to use only apocrine secretion: vesicles pinch off from the secretory cells, then degrade in the secretory lumen, releasing their product.

[2022-01-21 07:31] matentzn commented on #1802
This is completely excluded from the currrent build so yes, we can close it:

https://github.com/obophenotype/uberon/blob/master/src/ontology/uberon.Makefile#L1553

[2022-01-21 07:31] #1802 closed

[2022-01-21 11:02] paolaroncaglia commented on #2230
I've looked at several images and I'm still not sure. I agree that the basement membrane is currently not included in the glomerular visceral epithelium (UBERON:0005751 'visceral layer of glomerular capsule' is defined as "...Lies just above the thickened glomerular basement membrane..."). @RDruzinsky please, your feedback on this would be greatly appreciated, thank you in advance!

[2022-01-21 14:22] paolaroncaglia commented on #2126
@RDruzinsky @emquardokus thanks for your feedback.
So the consensus for now is that  renal column should be part of the renal cortex.
This is in fact already in place in Uberon:
'renal column' 'part of' some 'outer cortex of kidney'
(and 'outer cortex of kidney' is subclass of 'cortex of kidney').
So unless we're missing something, the ontology seems to be correct, while the table may contain an i

[2022-01-21 14:50] paolaroncaglia commented on #2111
@raymond91125 thank you for your input:

I've looked for additional evidences in recent literature, but I'm still confused. How would you suggest to rephrase the curator note above? Would this have any consequence on the appropriate placement of the term? I.e. currently 'apocrine sweat gland' is a subclass of 'merocrine gland', but if a consensus isn't clear from the literature and/or both mechani

[2022-01-21 20:38] raymond91125 commented on #2111
An extensive and good reference review is PMID:18489347 A short history of sweat gland biology.
Apparently cosmetologists are more interested in these things ...

[2022-01-21 23:13] cmungall opened #2242 "Question: how should unspecified anatomical terms be provided in Cellosaurus"
Relaying a Q from Amos, before imposing my own view just putting this up for consensus, how should cellosaurus indicate in a cell line record where the anatomy is unspecified:

 * 😆   Add a new term "unspecified anatomical entity"
 * 🚀 Use the root term "anatomical entity" or "material anatomical entity"
 * 👀  recommend a separate vocabulary of unknown values and recommend an additional field in c

[2022-01-22 00:54] uberon commented on #2126
This may be an opportunity for more precise spatial axioms, e.g overlaps vs
part-disjoint-from

[2022-01-23 16:47] dosumis commented on #1980
HI @megbalk - would you be happy to have a go at changing this ? Changing classifications for bone specific structure(s) to 'surface of bone' ?

[2022-01-24 12:37] matentzn commented on #1985
Long since solved.

[2022-01-24 15:59] paolaroncaglia commented on #1978
@megbalk
I see that the synonym hasn't been added yet, so I'm commenting to prevent the issue from being closed, in case the synonym is indeed still wanted. Thanks.

[2022-01-24 16:07] addiehl commented on #2242
Use the term 'material anatomical entity' and some type of annotation (comment or editor's note or specialized annotation property) that indicates the anatomical sources is unknown.

[2022-01-24 17:16] paolaroncaglia commented on #650
All done. The new term is UBERON:8410069 lymphoid nodule.

[2022-01-24 17:16] #650 closed

[2022-01-24 18:14] megbalk commented on #1870
@bvarner-ebi suggested using [midsagittal plane](https://www.ebi.ac.uk/ols/ontologies/bspo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FBSPO_0000009), which I will look into.
@shawntanzk also suggested using "[middle](http://www.ontobee.org/ontology/FMA?iri=http://purl.obolibrary.org/obo/FMA_74544)"

[2022-01-24 18:14] #1870 closed

[2022-01-24 18:21] shawntanzk commented on #2215
Look at uberon 2x terms that are under anatomical line and see which are actually lines and which arent

[2022-01-24 18:24] cmungall commented on #2215
[code]

[2022-01-24 18:30] shawntanzk commented on #2215
non-abstract boundaries should use http://purl.obolibrary.org/obo/UBERON_0007651

[2022-01-24 18:32] shawntanzk commented on #2215
all uberon:2x except scale circulus should be changed to above

[2022-01-24 18:40] megbalk commented on #1978
made a pull request

[2022-01-24 18:40] #1978 closed

[2022-01-24 18:40] nicolevasilevsky commented on #2240
we discussed this on the Uberon call on 01/24/22.

This may be a makefile issue for Uberon.

once the NBO base file is added per https://github.com/obo-behavior/behavior-ontology/issues/117, we then need to change the makefile configuration in Uberon such as the NBO and PATO base files are used to make the imports in Uberon.

[2022-01-24 18:46] paolaroncaglia commented on #2230
Discussed at Uberon call today. @emquardokus will email 2 experts (thank you).

[2022-01-24 18:50] megbalk commented on #1980
@dosumis I can do that. Perhaps we can add the broader issue to discuss at the UBRON meetings?

[2022-01-24 18:52] paolaroncaglia commented on #2230
Also, @bvarner-ebi who's been looking at the related CL tickets might comment at a later time. Thank you.

[2022-01-24 18:52] bvarner-ebi commented on #2230
I will take a closer look at PMID:22410250 and add feedback...

[2022-01-24 19:15] megbalk commented on #1980
I am unsure what "nuchal groove" is, but emailed people that study amphibians.

[2022-01-24 19:45] megbalk commented on #1980
ok, made a pull request. Only found a couple of terms that were bones.

[2022-01-24 19:45] #1980 closed

[2022-01-24 20:28] shawntanzk commented on #2233
Fixed in #2248

[2022-01-24 20:28] #2233 closed

[2022-01-25 08:56] matentzn commented on #1969
mi-high priority, should probably not be killed.

[2022-01-25 09:17] shawntanzk opened #2249 "PR import broken"
Can't seem to get PR import to work in UBERON.
Did manage to RO import to work though so it seems specific to PR
could use some help, thanks :)

[code]

[2022-01-25 09:44] matentzn commented on #2249
@shawntanzk do you want to change PR import in Uberon to the PRO slim? This will make the process much slimmer as well.

Steps:

- [ ] change uberon-odk.yaml to refer to the slim (see PCL, CL)
- [ ] open src/ontology/imports/pr_terms_combined.txt (or src/ontology/tmp/seed.txt) and copy all PR references in there and add them to the PRO slim like you did last time (make sure no duplicates, use `cat

[2022-01-25 09:45] shawntanzk commented on #2249
will do :)

[2022-01-25 10:06] shawntanzk commented on #2249
@matentzn
Currently commenting out PRO stuff in uberon.makefile (assume that the same has to be done with mirror/pr.owl stuff too) and notice that mirror/aminoacid.owl will be affected - do you know what I should do with it? Thanks

[2022-01-25 10:36] #1754 closed

[2022-01-25 11:01] anitacaron commented on #2129
After look the graph generated from the makefiles, they all came from `uberon-edit.obo` defined on the main Makefile. They're not overridden on `uberon.makefile`.

[2022-01-25 11:02] #2249 closed

[2022-01-25 11:05] matentzn commented on #2129
That is the problem. its also a bit of a general problem with makefiles.. Ideally, we have

- Nothing in the makefile dependent on uberon-edit.obo, except tmp/uberon-edit.owl
- Everything that previously dependent on uberon-edit.obo (`$(SRC)`) now depending on tmp/uberon-edit.owl.

This is going to be hard, but if it works for Uberon, we can generalise this for ODK.

[2022-01-25 11:18] paolaroncaglia commented on #1977
Hi @matentzn (and @anitacaron ),
I think I saw a recent thread involving both of you about the same issue? Please feel free to close this if it's a duplicate (or if it's fixed). Thanks.

[2022-01-25 11:30] matentzn commented on #1977
There is no distinct ticket for this issue.. I don't expect this to be solved as a one off, just step by step as we clean up Uberon.

[2022-01-25 11:48] paolaroncaglia commented on #2126
@cmungall

I'm not sure what axiom exactly you're suggesting. Would that be between 'renal column' and 'outer cortex of kidney'? If the first is basically made of the same stuff than the second, how would 'overlap' apply? Honest question :-) there are so many spatial axioms I've never used.

[2022-01-25 11:50] paolaroncaglia commented on #2126
@dosumis @emquardokus we haven't heard back from the experts yet, and I think that this time Uberon's correct, can we close this ticket?

[2022-01-25 11:56] paolaroncaglia commented on #1959
@matentzn @cmungall should this ticket be added to the technical board for future action? I know it requires Chris.

[2022-01-25 11:57] paolaroncaglia commented on #1969
@matentzn tech board?

[2022-01-25 12:01] paolaroncaglia commented on #1938
Hi @ANiknejad , is this request still current? Also, please see Nico's comment above. Thank you, and best wishes!

[2022-01-25 12:28] matentzn commented on #1969
yep

[2022-01-25 12:29] matentzn commented on #1959
yes, can add to tech

[2022-01-25 16:36] bvarner-ebi commented on #2230
**Preface**
GBM = glomerular basement membrane
Assumption: UBERON:0005751 ‘visceral layer of glomerular capsule’ = glomerular visceral layer --_please advise if this assumption is not correct_

Some visualisations illustrating the distinct structures:

PMID:22410250, the glomerular filtration barrier is composed of: endothelium, GBM and podocyte.￼
![image](https://user-images.githubusercontent.com

[2022-01-25 17:16] uberon commented on #2126
close it!

On Tue, Jan 25, 2022 at 3:50 AM paolaroncaglia ***@***.***>
wrote:

[2022-01-25 17:56] dosumis commented on #2126
Seems like the ontology has spoken and wishes this ticket to be closed. :)

[2022-01-25 19:00] shawntanzk opened #2253 "Documentation for part_of and overlaps"
Currently the use of part_of and overlaps have some conventions, but they aren't documented well.
see https://github.com/oborel/obo-relations/issues/564#issuecomment-1021468745 for more details

[2022-01-26 02:43] nicolevasilevsky commented on #1838
@sabrinatoro do you have any expertise in this area? Or do you know someone from ZFIN that could potentially help? thanks!

[2022-01-26 15:06] paolaroncaglia commented on #2230
@bvarner-ebi thank you!
@emquardokus could you please email the experts and run Bradley's proposal by them? I saw that one of them replied to your other query. Thank you.

[2022-01-26 15:34] ybradford commented on #1838
@nicolevasilevsky @paolaroncaglia I can help. I might not be able to take action today but will make sure it gets changed. The suggested change seems reasonable.

[2022-01-26 15:35] sabrinatoro commented on #1838
@nicolevasilevsky and @paolaroncaglia
When  "DEL" is mainly used in zebrafish publication, everyone knows (or should know) what DEL refers to.

I took a look at the terms for the other blastomere layers. The labels are:
- 'yolk syncytial layer' (synonym: YSL) in ZFA --> corresponds to UBERON: 'yolk syncytial layer'
- 'EVL' (synonym: enveloping layer) in ZFA --> corresponds to UBERON: 'enveloping l

[2022-01-26 15:43] nicolevasilevsky commented on #1838
Thanks @ybradford and @sabrinatoro.
@sabrinatoro please go ahead and make the edits, thanks!

[2022-01-26 15:48] emquardokus commented on #2126
Reply from Kidney Precision Medicine Project expert Dr. Sanjay Jain:
Begin forwarded message:
From: "Jain, Sanjay" <sanjayjain@wustl.edu>
Subject: RE: HuBMAP: Question regarding relationship between renal column and renal medulla
Date: January 26, 2022 at 12:03:57 AM EST
To: "Quardokus, Ellen M" <ellenmq@iu.edu>, "M. Todd Valerius" <todd@valeriuslab.org>
Cc: David Osumi-Sutherland <davidos@ebi.ac.

[2022-01-26 16:46] paolaroncaglia commented on #1838
@ybradford @sabrinatoro thank you both! Yes, ideally we'd want to make the labels as unambiguous as possible. Also, for synonyms that are actually abbreviation/acronyms, you could add an annotation property has_synonym_type = abbreviation. My personal preference would be for DEL not to be an exact synonym, but rather broad or related, because it's potentially not unambiguous in the broader non-zeb

[2022-01-26 17:41] paolaroncaglia commented on #1835
@cmungall @dosumis please could one of you comment on the need/correctness of having a taxon (Cestoda) as a UBERON class?
If it's ok to have, feel free to close this ticket.
If it isn't and you wish to obsolete the term, please assign to someone other than me to avoid conflicts of interest :-)
Thanks!

[2022-01-26 18:00] dosumis commented on #1835
Agree it does not belong in Uberon

[2022-01-26 18:06] paolaroncaglia commented on #2126
@emquardokus @RDruzinsky cc @dosumis thank you. I agree with Robert that renal columns should (continue to) be represented in Uberon as part of renal cortex. OTOH I appreciate that there may be "folks on both sides of the aisle". The only options that come to my mind to reconcile two opposite views (renal columns are/aren't part of renal cortex) in the ontology are:
a) make renal columns part of _

[2022-01-26 21:20] RDruzinsky commented on #2126
I think choice 3 is the most reasonable.
I believe that Uberon should follow the biology as closely as possible, not
opinion based on the history of the terminology. The renal columns have
been thought of as part of the medulla only because they are in the inner,
medullary region rather than the outer, cortical region. In reality, they
are extensions of the cortex.

Robert E. Druzinsky, Ph.D.
Clin

[2022-01-26 22:21] dosumis commented on #2126
been thought of as part of the medulla only because they are in the inner,
medullary region rather than the outer, cortical region.

Potential compromise:  We make an additional term 'medullary region of kidney' which covers the pyramids and the columns?

[2022-01-27 00:39] RDruzinsky commented on #2126
@dosumis <https://github.com/dosumis>, if you think that would be a useful
approach, I have no objection.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website: www.peerj.com/RobertDruzinsky

On Wed, Jan 26, 2022 at 4:21 PM Dav

[2022-01-27 10:12] dosumis commented on #1835
@gouttegd - are you happy to obsolete?

[2022-01-27 10:17] gouttegd commented on #1835
Will do. :)

[2022-01-27 10:35] paolaroncaglia commented on #1834
Note to self: I forgot to link the PR, it's https://github.com/obophenotype/uberon/pull/2255.

[2022-01-27 10:35] #1834 closed

[2022-01-27 13:04] shawntanzk opened #2259 "Many taxon restrictions are in xsd:string instead of a relation"
eg
property_value: present_in_taxon "Homo sapiens" xsd:string

A couple of things we should do:
1) @shawntanzk will replaces all these with the appropriate
`relationship: present_in_taxon NCBITaxon_9606! Homo sapiens`
2) we should have a SPARQL check written up to disallow
property_value: present_in_taxon
property_value: only_in_taxon
property_value: never_in_taxon
property_value: ambiguous_for_ta

[2022-01-27 15:41] paolaroncaglia commented on #1904
@dosumis please confirm: I'll fix the "present in taxon" as per https://github.com/INCATools/ontology-development-kit/blob/b5ac0030c7523dccd57eab567fd85d6a0e807027/docs/TaxonRestriction.md. Correct? :-) Ta.

[2022-01-27 17:17] paolaroncaglia commented on #1819
Phenoscape people please :-)
Updating this ticket, as it appears that 2 of the 3 relevant terms have been edited by others in the meantime:
UBERON:4200169 process 2 ("Process on the humerus of basal tetrapods, anterior to the entepicondyle and associated with subscapularis muscle (based on Coates 1996).")
has an ambiguous label; no synonyms. It is sibling of
UBERON:4200170 'process 3 of entepicond

[2022-01-27 17:54] #1838 closed

[2022-01-27 19:05] matentzn commented on #2240
This issue will be solved by moving Uberon to base. Priority.

[2022-01-27 19:29] #1835 closed

[2022-01-27 19:55] nicolevasilevsky opened #2261 "remove subclassOf assertion from UBERON_0002349 myocardium"
**Uberon term**
UBERON_0002349 myocardium

**Suggested revision and reasons**
remove superclass Of assertion:
'part of' some 'musculature of body'

This assertion is biologically correct but seems too broad and is causing 'myocardial disorder' to be inferred as a child of musculoskeletal system disease in Mondo, which seems unintuitive clinically. See https://github.com/monarch-initiative/mondo/is

[2022-01-27 19:57] #2203 closed

[2022-01-28 09:34] matentzn opened #2263 "Uberon BASE is not a true BASE"
The Uberon base file contains external axioms. Something is wrong with the makefile, my suspicion it it has the to with some import merging step somewhere.

Please fix this before the next release.

[2022-01-31 11:46] paolaroncaglia commented on #1832
Following up on https://github.com/obophenotype/uberon/issues/1832#issue-858656801, a quick search suggests that 'iliotibialis _muscle_' is not found in human (the iliotibial tract/band is not the same thing). It may however be found in some birds, but I don't have full access to literature on the issue. As mentioned earlier, I'd be happy for someone else to look into this and do the edits. If not

[2022-01-31 12:56] matentzn commented on #2018
@anitacaron can you double check the remaining axioms in the list above wether they have not been wrongfully lost from Uberon?

[2022-01-31 14:35] #2238 closed

[2022-01-31 14:51] #1964 closed

[2022-01-31 14:55] shawntanzk opened #2266 "remove axioms that are breaking due to circular import"
use the following pattern to remove the appropriate things for #2240 as temp fix:

imports/cl_import.owl: mirror/cl.owl imports/cl_terms_combined.txt
	if [ $(IMP) = true ]; then $(ROBOT) query -i $< --update ../sparql/preprocess-module.ru \
		extract -T imports/cl_terms_combined.txt --force true --copy-ontology-annotations true --individuals include --method BOT \
		remove --select "<http://purl.o

[2022-01-31 16:03] shawntanzk opened #2267 "No dbxref on UBERON:7500073 and UBERON:7500074"
Was running some stuff and came upon and error that showed no dbxref on UBERON:7500073 and UBERON:7500074
I've currently fixed by putting the term_editor orcid as dbxref
Assigning to @ramonawalls as the ID falls in your ID range.
Assigning to @megbalk as the ORCID belongs to you.
If you are ok with the change I've made feel free to close this ticket.

[2022-01-31 16:15] gouttegd opened #2268 "New policy proposal to deal with PRs: absence of objection is tacit approval"
_Note: The following proposal would apply to CL as well as Uberon._

We still regularly have pull requests that are several weeks or even several months old and that are waiting to be merged because nobody jumped in to review them.

The “shepherding“ system put in place last summer is not enough, at least in part, I believe, because the “domains of responsibility” of available reviewers (as decide

[2022-01-31 17:18] #2266 closed

[2022-01-31 18:21] megbalk commented on #2267
It was strange, the database xref showed in protégé, but not in the text file. It should be fixed. I made a PR.

[2022-01-31 18:21] #2267 closed

[2022-01-31 18:38] anitacaron commented on #2259
Closing because #2241 and #2260 were merged.

[2022-01-31 18:38] #2259 closed

[2022-02-01 02:20] nicolevasilevsky commented on #1900
@megbalk let me know if you need any help with this :)

[2022-02-01 04:00] megbalk commented on #1900
This was redone on fovt-radius2, PR #2027. I'll close this now.

[2022-02-01 04:00] #1900 closed

[2022-02-01 07:38] pgaudet opened #2274 "Query UBERON_0006174 pronephric sinus"
**Uberon term**
UBERON_0006174 pronephric sinus

**Bug description**
UBERON_0006174 pronephric sinus  is causing some reasoning problems in GO (https://github.com/geneontology/go-ontology/issues/16524; GO:0039012 pronephric sinus development ), since it is classified as a space; however the definition, as well as the paper cited in GO (https://pubmed.ncbi.nlm.nih.gov/10535314/), describes a networ

[2022-02-01 08:56] matentzn opened #2275 "Documentation request: How to review an Uberon pull request"
We need to break our reliance on @cmungall and @dosumis for reviewing Uberon pull requests. Can we develop a definite recipe that we can follow that allow us to spread the load a bit to create more "experienced" Uberon editors, perhaps coupled with an intensive training for the entire editorial team?

[2022-02-01 08:57] matentzn commented on #2275
@cmungall can you hammer out a step by step guide on how to review an Uberon pull request reliably, with a few notes on warnings and pitfalls?

[2022-02-01 10:41] matentzn commented on #2025
@gouttegd do you agree the best way here is to:

- [ ] Create a new Uberon class with the same scope as the FBbt class
- [ ] Map new Uberon class to FBbt class
- [ ] Have as policy not ever to have any species specific identifiers in Uberon?

[2022-02-01 18:16] dosumis commented on #1829
I think the end product should be 2 checks:

1. that applies to subClassOf +  a limited set of relations.  @cmungall  - do you think we can we apply this to any transitive relation not marked symmetric?   Or do we need to enumerate which relations it applies to?
2. One that looks for any cycles across all relation types - this only needs to be applied to -basic.owl product (if there is one).

[2022-02-01 18:27] paolaroncaglia commented on #2025
@matentzn

In principle I agree, with the exception of terms that are clearly taxon-specific but whose labels are ambiguous, usually because they come from species-specific ontologies. See e.g. UBERON:6003624, previously labelled 'adult brain' (xref FBbt:00003624 and child of UBERON:6003007 'insect adult head'), and renamed 'insect adult brain' by Chris to disambiguate (https://github.com/obopheno

[2022-02-01 18:35] paolaroncaglia commented on #2025
@matentzn also recently in CL we agreed to let some terms be labelled 'human' (or similar) because they do represent human-specific types and it helps to have that info made explicit for those particular cells in that branch, see https://github.com/obophenotype/cell-ontology/issues/1279#issuecomment-966378826.

[2022-02-01 18:36] gouttegd commented on #2025
@paolaroncaglia My understanding of @matentzn ’s third point was that it is about using a species-specific term in the definition of an Uberon term or in a relationship with a Uberon term. That is, a Uberon term should never be a `SubClassOf`, be a `part_of`, or more generally have any kind of relationship with a term from a species-specific ontology (as in this example, where UBERON:600094 is `pa

[2022-02-01 18:36] cmungall commented on #1829
Agreed on both. And starting with your rule makes sense.

[2022-02-01 18:45] gouttegd commented on #2025
Regarding the first two points: In principle I would agree, but for _this_ issue specifically I would first question whether Uberon really needs a term such as `clypeo-labral anlage in statu nascendi`…

FYI, we have 7 different `anlage in statu nascendi` in FBbt. Two of them have corresponding classes in Uberon: this `clypeo-labral anlage in statu nascendi` and `insect visual anlage in statu nasce

[2022-02-01 18:53] cmungall commented on #2025
Agree 100%, and there is an actionable step here to create a check for such inter-ontology axioms

Agreed. There are a lot of issues with the 6x terms. The intent was to have generalization for terms that were typically referenced in GO but the initial import likely brought in too much, and many of the generalizations are pseudo-generalizations like the ZFA->TAO->Uberon:2x terms. We also need to r

[2022-02-02 09:33] matentzn commented on #2020
@cmungall can we use the owl-patterniser on Uberon? Would you be able to support @rays22 to do that (because we want to go that direction anyways not only for Uberon, but in general)?

[2022-02-02 10:04] matentzn commented on #2025
Do I understand it correctly then that:

- [ ] Add a check to avoid inter_ontology `part of` axioms (@anitacaron)
- [ ] Go with @gouttegd and obsolete `anlage in statu nascendi` terms in Uberon?

(@anitacaron @gouttegd lets not act on anything until we get confirmation)

[2022-02-02 10:39] gouttegd commented on #2025
I agree on fixing the 6x terms on a case-by-case basis for now (e.g. in this particular issue, obsolete `insect anlage in statu nascendi` and its two subclasses, as summarised in Nico’s last message).

I’ll still make a complete list of the 6x terms and try to see how many of them exactly can be considered problematic. When we know the extend of the problem we may decide whether it is reasonable t

[2022-02-03 10:14] paolaroncaglia opened #2276 "Merge 'descending thin limb' UBERON_0005096 and 'descending limb of loop of Henle' UBERON_0001289?"
@RDruzinsky please (of course, feedback from others is welcome too!)
For the ASCT+B work, we're looking at these two terms:

descending thin limb http://purl.obolibrary.org/obo/UBERON_0005096
descending limb of loop of Henle http://purl.obolibrary.org/obo/UBERON_0001289

There is currently no is_a, part_of or overlaps relationship between these 2 classes.
Wikipedia suggests that a nomenclature iss

[2022-02-03 10:58] paolaroncaglia commented on #2029
Hi @DanBerrios,
This issue is fixed now. The CP classes were being imported into Uberon from the Cell Ontology (CL), and they've now been obsoleted in CL.
Feel free to contact us again if you have any further queries. Thank you.

[2022-02-03 10:58] #2029 closed

[2022-02-03 11:00] paolaroncaglia commented on #2022
Hi @megbalk ,
Should this ticket be closed, please?
Thanks,
Paola

[2022-02-03 11:16] anitacaron commented on #2018
- [X] AnnotationAssertion(rdfs:label <http://purl.obolibrary.org/obo/UBERON_3010717> \"obsolete diverticulum\"^^xsd:string)

This axiom is present in the most recent UBERON release.

- [ ] AnnotationAssertion(rdfs:label <http://purl.obolibrary.org/obo/UBERON_3010730> \"pterygoideus\"^^xsd:string)

I didn't find the term UBERON:3010717 in the most recent release. It's present in the [2021-07-27 rel

[2022-02-03 11:26] matentzn commented on #2018
@anitacaron we need to reinstate all these terms.. Its a bit of a priority - I would like that done before the next Uberon release cc @shawntanzk

Do you feel comfortable with re-instating these terms?

[2022-02-03 11:26] matentzn commented on #2018
Ideally including all the metadata they had previously..

[2022-02-03 11:35] anitacaron commented on #2018
Could you create an issue to link and document the reason for the addition of these terms, please?

[2022-02-03 12:49] matentzn commented on #2018
This issue is sufficient I think: it's about reinstating the axioms lost above, in particular the terms.. I accidentally dropped them during a cleanup of the edit file..

[2022-02-03 14:07] #2057 closed

[2022-02-03 14:09] matentzn commented on #2018
- [ ] Can you ensure that UBERON:3010717 is present in uberon-edit.obo, not just uberon.owl?

[2022-02-03 14:30] anitacaron commented on #2018
Both are in the uberon-edit.obo

[2022-02-03 14:37] paolaroncaglia commented on #2126
To start with, I created UBERON:8410073 'medullary region of kidney', see https://github.com/obophenotype/uberon/pull/2279/files.
Next, I'll address 'renal column'.

[2022-02-03 14:57] Baytars opened #2281 "Bridge the gap between left subclavian artery and arch of aorta"
**Uberon term**
left subclavian artery (UBERON_0001584)

**Suggested revision and reasons**
Taxon notes of the term "left subclavian artery" (UBERON_0001584) say "in humans, branches off the arch of aorta", though, this is not reflected in the subclass relationships of left subclavian artery, where I saw no "[channels_from](https://www.ebi.ac.uk/ols/ontologies/uberon/properties?iri=http%3A%2F%2Fpu

[2022-02-03 14:59] paolaroncaglia commented on #2126
I edited 'renal column' to make it part of 'medullary region of kidney', modified definition and added comment, and revised/added def dbxrefs (the old one pointed to a link that's no longer active), see https://github.com/obophenotype/uberon/pull/2280/files.

[2022-02-03 15:02] paolaroncaglia commented on #2126
@dosumis @emquardokus @RDruzinsky
Hopefully this is fixed now. Let me know if you have additional suggestions for 'medullary region of kidney' and/or 'renal column'. Links to the pull requests (with details of the edits) are in my 2 previous comments.
If all is well as is, please close this ticket. Thanks.

[2022-02-03 15:20] paolaroncaglia commented on #2035
@dosumis cc @emquardokus
I don't have anything to add/update wrt what I outlined in my previous comments. If you have any updates or notes from offline discussions, please note them here for me if I can't join today's meeting. Thank you!

[2022-02-03 16:05] #2022 closed

[2022-02-03 16:58] nicolevasilevsky commented on #2261
This ticket may no longer be needed. I will close once we've discussed further in Mondo

[2022-02-03 17:20] RDruzinsky commented on #2126
Can we add something to medullary region that states that it is not an
exact synonym of renal medulla?

On Thu, Feb 3, 2022, 9:03 AM paolaroncaglia ***@***.***>
wrote:

[2022-02-04 09:17] paolaroncaglia commented on #2126
@RDruzinsky

Of course, thank you for suggesting that. I added rdfs:comments to both terms:

UBERON:0000362 renal medulla
comment: Note that 'renal medulla' is not synonymous with 'medullary region of kidney'. The former is composed of kidney pyramids only, while the latter covers kidney pyramids and renal columns, which are histologically different.

UBERON:8410073 medullary region of kidney
comm

[2022-02-04 09:49] paolaroncaglia opened #2283 "UBERON:0007685 'region of nephron tubule' is both part of and subclass of 'nephron tubule'"
**Uberon term**
UBERON:0007685 'region of nephron tubule'

**Bug description**
Is both (asserted) part of nephron tubule and (inferred) subclass of nephron tubule
Explanation in screenshot attached:

![Screenshot 2022-02-04 at 10 44 48](https://user-images.githubusercontent.com/4982516/152507409-67165469-dc1b-4e70-a367-cc7e26a8a228.png)

I came across this by chance.
- [ ] Are Uberon classes allow

[2022-02-04 09:51] paolaroncaglia commented on #2283
@matentzn could you please comment on the first 3 checkboxes or tag others as appropriate, and I'll address the 4th one (but I'll leave it as is for now in case it's useful to run checks). Thank you.

[2022-02-04 10:13] matentzn commented on #2283
Definitely not

Seems not! This is an important and quite advanced qc query for @anitacaron. Basically:

Look for
- all UBERON ids
- that have an existential restriction with a part-of property to some UBERON:A
- and are children (whether direct or indirect, use `*`) of UBERON:A

[2022-02-04 10:14] matentzn commented on #2283
One problem here is that we, again, have no access to the part of closure.. Maybe this can be solved with souffle rather than SPARQL?

[2022-02-04 10:34] bvarner-ebi commented on #2230
Hi, @emquardokus, checking in to see if your SME contacts provided feedback on the proposal detailed above. Thank you.

[2022-02-04 10:39] paolaroncaglia commented on #2283
Though so ;-) thanks @matentzn and @anitacaron for addressing this.

[2022-02-04 10:52] anitacaron commented on #2283
Actually, it's [relation-graph](https://github.com/balhoff/relation-graph/) that materialise and infer the existential axioms

[2022-02-04 10:58] matentzn commented on #2283
Its I think solvable with this: https://github.com/obophenotype/uberon/pull/2125

[2022-02-04 11:03] paolaroncaglia commented on #2224
Hi @ANiknejad ,

Thanks for bringing this up. Both "parvocellular" and "parvicellular" come from the Latin "parvus" (small) and are equally valid variants, but the former is found nearly 5 times more often than the latter in PubMed. I would suggest to

- [ ] Look at all Uberon classes whose label contain "parvo" or "parvi" (there are 11 and 8 now, respectively)
- [ ] Have all primary labels confor

[2022-02-04 15:25] balhoff commented on #2283
I might be misunderstanding the issue, but I think it would be quite common to be part of and also a subclass of certain classes, if you are including inferences in this. A bone is both part of an 'anatomical structure' and also is an 'anatomical structure'.

[2022-02-04 16:15] matentzn commented on #2283
Hmmm you are right.. Sorry it was I who was too hasty here. You can indeed have the same parent and be part of it - its just not very often.. Sorry. Maybe there is, after all, no _general_ check we can have that protects us here..

[2022-02-04 16:34] anitacaron commented on #2263
The Makefile seems good. It's getting directly from `uberon-edit.obo` and the FBbt mapping. No other override in `uberon.Makefile`.

<img width="1150" alt="Screenshot 2022-02-04 at 16 28 25" src="https://user-images.githubusercontent.com/2208124/152565913-3b6777b4-e217-436a-87d8-e035a2fc3015.png">

Do you know which external axiom was found?

[2022-02-04 16:37] matentzn commented on #2263
If you open uberon-base.owl, you will find that there are GO axioms in there! If you can figure out why they get in there.. That would be awesome!

[2022-02-04 16:39] paolaroncaglia commented on #2283
Hi @balhoff and @matentzn ,
I agree that at a _high_ level all UBERON classes will be anatomical structures/entities via is_a as well as part_of.
Is there a way to have a check in place at some lower level in the ontology?
The example that spurred this ticket is just intuitively incorrect, a region of a tubule can't really be a tube. :-)

[2022-02-04 16:41] matentzn commented on #2263
Sorry I meant RO, not GO!

[2022-02-04 16:54] anitacaron commented on #2263
If it's this kind of axioms, it seems they've always been there since the first release available here.

[code]

[2022-02-04 16:56] matentzn commented on #2263
Yes, they must have - it is still wrong though. A base file should not include any external axioms at all! Thank you for checking that! Dont get to stuck on this.. In contrast to all the things you have done this week already (THANK YOU) this is _not_ a high priority.

[2022-02-04 17:08] anitacaron commented on #2263
A `robot remove --terms RO` won't work to fix it?

[2022-02-04 17:17] matentzn commented on #2263
It would, but it should not even be necessary - the fact that there are RO axioms points to a more fundamental problem.

[2022-02-04 18:43] matentzn commented on #2283
I think investigating this is worth it, but I have a hard time figuring out how to draw the line between "upper" and "lower" level. Can a limb be part of a limb? Very hard to be sure..

It is probably better to solve this with logic, i.e. you identify some mid level classes for which the above is definitely false, and then we add an axiom saying: limb disjoint with part of limb.

[2022-02-07 08:34] shawntanzk commented on #2240
@nicolevasilevsky - I'm going to close this ticket (given we moved nbo and pato to base file). We will make a UBERON release this week. If there is still any issue, please reopen. Thanks!

[2022-02-07 08:34] #2240 closed

[2022-02-07 13:24] shawntanzk opened #2284 "Add DOSDP checks to CI config"
From @dosumis
" I hacked the main makefile test goal to in [this branch](https://github.com/obophenotype/uberon/pull/2231/files?file-filters%5B%5D=No+extension&show-deleted-files=false&show-viewed-files=false#diff-1376bbad1ef43bed6c9aed84b7d52471e63c87277b2b3f72ed0a5bdef481b638L61) ensure patterns were tested on PR, but I believe this needs to be set in CI config (Nico pointed out how to me somewh

[2022-02-07 13:29] shawntanzk commented on #2284
related to https://github.com/INCATools/ontology-development-kit/issues/534

[2022-02-07 13:42] gouttegd commented on #2284
Nothing to be done on the ODK side, the fix is already there.

In Uberon, this will be automatically fixed when we’ll update the repository after the next ODK release. What we can do in the meantime is to override the `test` goal in `uberon.Makefile`, but then we‘ll need to take care of removing the override when it’s no longer needed (when ODK 1.2.33 is out).

[2022-02-07 14:14] shawntanzk commented on #2284
@gouttegd will add a dev makefile for the time being that will implement the changes in 1.2.33 and will fix it

[2022-02-07 14:30] paolaroncaglia commented on #2276
@emquardokus , hi, could you please consult your collaborators on this issue? Thanks in advance.

[2022-02-07 14:35] paolaroncaglia commented on #2126
@dosumis @emquardokus cc @RDruzinsky
I'll close this ticket now. Not sure if anything needs to be done on the ASCT+B kidney table side. If any further edit is required in Uberon, please open a new ticket. Thanks!

[2022-02-07 15:22] shawntanzk opened #2287 "inconsistent def dbxref checks"
It seems that checks of missing dbxref in defs are showing up in some branches:
https://github.com/obophenotype/uberon/runs/5094525365?check_suite_focus=true
[code]
but not others (see this test branch with a xref removed):
https://github.com/obophenotype/uberon/pull/2286

Not sure what is going on and why this is the case?

[2022-02-08 20:47] dosumis opened #2292 "Remove character coding restrictions on Uberon"
@gouttegd noted:

We should be able to drop this restriction.  I think it dates back to OBO-Edit days and support for legacy DBs.  The world should all be UTF-8 compliant now, and if they're not, it's their problem.

Any objections?  @cmungall ?

[2022-02-08 21:00] balhoff commented on #2292
Speaking of OBO-Edit: https://github.com/geneontology/obo-edit/commit/907523ac6dda6a4bbd40774aaa0ffad31a6d6c79
😉

[2022-02-09 08:54] dosumis commented on #2292
2009 !!!! 😲

[2022-02-09 09:19] gouttegd commented on #2284
No longer relevant since PR #2231 was merged, and it contains a similar fix by David.

[2022-02-09 09:19] #2284 closed

[2022-02-09 11:32] paola-scibite commented on #1686
These terms have been added since, as
UBERON:7500083 greater palatine foramen
UBERON:7500084 lesser palatine foramen

[2022-02-09 11:32] #1686 closed

[2022-02-09 12:43] anitacaron opened #2293 "There are 6 unsatisfiable classes in the ontology"
When running `prepare_release` got this error when generating `materialized.owl` that uses `unreasoned.owl` as input.

[code]

The result of `robot explain`:

## [inferior external pudendal vein](http://purl.obolibrary.org/obo/UBERON_0009046) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [inferior external pudendal vein](http://purl.obolibrary.org/obo/UBERON_0009046) SubClass

[2022-02-09 12:53] dosumis commented on #2293
Will look into this as high priority later this afternoon.  But wondering why this is not being caught in PRs.

[2022-02-09 12:54] shawntanzk commented on #2293
@dosumis - I think this is wrong, as femoral vein extends beyond the limb
[femoral vein](http://purl.obolibrary.org/obo/UBERON_0001361) SubClassOf [part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [hindlimb](http://purl.obolibrary.org/obo/UBERON_0002103)
see https://upload.wikimedia.org/wikipedia/commons/thumb/c/cb/Blausen_0609_LegVeins.png/250px-Blausen_0609_LegVeins.png

[2022-02-09 12:55] dosumis commented on #2293
General issue with over-use of partonomy in representing vasculature.

[2022-02-09 12:57] shawntanzk commented on #2293
just about to give it a try

[2022-02-09 13:07] anitacaron commented on #2293
I'm going to include this check now.

[2022-02-09 13:59] shawntanzk opened #2294 "develops_from reflexive cause unsats"
Related to https://github.com/obophenotype/uberon/issues/2293

Trying to figure out the above, we realised that unsats only came in when components/reflexivity_axioms.owl is merged in
unstats are all due to develops_from reflexive (when removed unsats go away)

Questions

- Why does making develops_from reflexive cause unsats
- Do we really need develops_from to be reflexive

[2022-02-09 14:29] matentzn commented on #2294
I think this is the exact same as #2293. The difference in number of unsats is due to the different reasoner used (Elk 0.4.3 vs Elk 0.5)

[2022-02-09 14:46] dosumis commented on #2293
I thought ODK always checked consistency on PRs.  Did that change?

[2022-02-09 14:47] dosumis commented on #2293
From this https://github.com/obophenotype/uberon/issues/2294 I guess it does check but some axioms missing

[2022-02-09 14:51] shawntanzk commented on #2294
@dosumis it is coming from a component file unrelated (except for having axiom) to RO - if it isn't right maybe we just remove it?

[2022-02-09 16:49] dosumis commented on #2230
Discussed on call.  We agreed that expert input not needed.  Bradley's solution is good.  We can hold off on adding 'glomerular filtration barrier' unless/until it is needed.

[2022-02-09 16:55] emquardokus commented on #2230
Glomerular filtration barrier definition: "These three structures—the fenestrated endothelium, glomerular basement membrane, and glomerular epithelium—are the glomerular filtration barrier." "Each glomerular capillary loop forms a glomerular filtration barrier (GFB) comprising the glycocalyx and fenestrated glomerular endothelial cells (GECs), which block negatively charged molecules and plasma pr

[2022-02-09 17:27] zhengj2007 opened #2296 "Two 'anatomical entity' in Uberon"
**Uberon term**
Two term in UBERON, UBERON_0001062 and CARO_0000000 with same label 'anatomical entity'

**Bug description**
Are these terms same? If same, why do they have different super classes? If they are not equivalent, can they have different labels with definitions? So, we know which term we should use.

[2022-02-09 17:31] bvarner-ebi commented on #2230
Thanks, all, for the feedback! I will work on this as soon as I have an Uberon idrange (I will request this).

Solution:

[ ] Merge UBERON:0005751 ‘visceral layer of glomerular capsule’ with UBERON:0006852 ‘glomerular visceral epithelium’, obsoleting the former and keeping the latter

[ ] Add ‘visceral layer of glomerular capsule’ as an exact synonym.

[ ] Remove (‘has part’ some ‘basement membran

[2022-02-09 17:34] paolaroncaglia commented on #2230
@bvarner-ebi thanks for addressing this. FYI, I think strictly speaking you don't need a Uberon ID range for the edits you propose (as they don't include creation of new terms). :-)

[2022-02-09 17:42] bvarner-ebi commented on #2230
Thank you, @paolaroncaglia. That makes sense! I still put in a request, but as noted, an idrange is not needed for these edits :)

[2022-02-09 17:54] gouttegd commented on #2031
Keeping this open. I’ll close when I’ll bring the latest SSSOM file from FBbt, which will solve the most obvious of the issues.

For the “non-obvious” issues: we’re most likely _not_ going to tackle them in one big refactoring move, but we’ll address them  one at at time (as discussed in the comments of #2025).

[2022-02-10 16:36] cmungall commented on #2294
examples?

[2022-02-10 16:38] shawntanzk commented on #2294
ALOT of terms lol
![image](https://user-images.githubusercontent.com/76212760/153453606-37606a7b-5e9e-49d3-8328-242201988668.png)

[2022-02-10 16:52] shawntanzk commented on #2294
## [role](http://purl.obolibrary.org/obo/BFO_0000023) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [role](http://purl.obolibrary.org/obo/BFO_0000023) SubClassOf [realizable entity](http://purl.obolibrary.org/obo/BFO_0000017)
    - [realizable entity](http://purl.obolibrary.org/obo/BFO_0000017) SubClassOf [specifically dependent continuant](http://purl.obolibrary.org/obo/BFO_

[2022-02-10 21:47] matentzn opened #2300 "Add sparql update query to "attach xsd:string datatype" to oboInOwl properties"
Can you write a SPARQL update query that matches all oboInOwl properties w/o datatype string and then inserts the datatype?

[2022-02-11 09:39] matentzn commented on #2294
Ok, all of these unsats are correctly unsatisfiable. No problem IMO..

Can someone figure out when the Domain restriction for develops from was introduced into RO?

If we put BFO constraints together with that Domain restriction, then the UNSAT bomb is inevitable! The question is: why did that never happen before?

You cant have:

- develops from be reflexive
- develops from has a domain "independ

[2022-02-11 10:52] #2230 closed

[2022-02-11 11:04] dosumis commented on #2294
I feel like we're letting logic get in the way of sane modelling.  What's the argument against restricting develops_from to  independent continuant?  If I'd had my way it would have been restricted to cell/multicellular anatomical entity years ago and we'd use something more vague and general for the smaller number of situations we want to record something else (we already have a vague grouping te

[2022-02-11 11:30] matentzn commented on #2294
Thats right David, you are 100% correct that we should use SPARQL to induce local reflexivity rather than adding global reflexivity..

I totally agree with you, and Relexivity here is _wrong_ logic even.. Lets just drop it.

[2022-02-11 15:33] wdduncan opened #2301 "process vs. processual entity"
@cmungall @matentzn @dosumis @addiehl @diatomsRcool @johnwjudkins

Ontobee shows [UBERON](http://www.ontobee.org/ontology/UBERON) has both `process` and `processual entity` classes. Is the `processual entity` intended to be the same as [BFO1.1 processual entity](http://www.ontobee.org/ontology/BFO11?iri=http://www.ifomis.org/bfo/1.1/span%23ProcessualEntity)?

Ontobee didn't provide a definition fo

[2022-02-12 01:47] cmungall commented on #2294
yes drop it

not sure what you mean?

Centralized docs on local reflexivity here: https://oborel.github.io/obo-relations/reflexivity/

Comments welcome on PR: https://github.com/oborel/obo-relations/pull/570

[2022-02-12 08:13] matentzn commented on #2294
I meant, match develops from existentials and assert their reflexive counterparts (some self).. anyways no matter now :) let's drop and work out next week what is needed.

[2022-02-14 15:23] bvarner-ebi opened #2305 "[Typo/Error] Synonym appears as both exact AND broad or related for the same term"
**Uberon term**
Multiple terms.
For example, https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0013528 (and other Brodmann area terms).

**Bug description**
There are several instances where the same synonym is used as both an exact synonym and a broad synonym for the same term. There are also instances where a synonym is annotated as both an exa

[2022-02-15 09:26] dosumis commented on #2293
After inference over property & class hierarchy we get:

external pudendal vein part_of some trunk (via pelvic region of trunk)
external pudendal vein part_of some femoral vein. (via tributary_of relation)
femoral vein part_of some hindlimb
part_of some hindlimb disjointWith part_of some trunk

Questions:
 - is all of the femoral vein in the limb or is some of it in the pelvic region of the trunk?

[2022-02-15 09:56] matentzn commented on #1646
I wish in all honesty we had the time to deal with this.. Internationalisation would be such a massive move forward for our users..

[2022-02-15 10:20] shawntanzk commented on #2293
Looking at this question, another question I have is if pelvic region of trunk is a part of the pelvic complex - cause that isn't allowed (I don't think this is the case in the ontology, but just wondering in reality). If it is, the disjointness might be not right?

[Nothing](http://www.w3.org/2002/07/owl#Nothing) EquivalentTo ([part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [appendage]

[2022-02-16 12:43] matentzn commented on #2130
@shawntanzk We are ready to try this again I think, no need to wait for  the next ODK.

[2022-02-16 12:44] matentzn commented on #1969
Closed in favour of https://github.com/obophenotype/uberon/issues/1959

[2022-02-16 12:44] #1969 closed

[2022-02-16 12:51] shawntanzk commented on #2130
ran `sh run.sh make reports/uberon-edit.obo-obo-report.tsv` and seems the errors are gone:

[code]

I assume that it wont generated the report with no errors?

[2022-02-16 13:05] shawntanzk commented on #2130
btws related to https://github.com/obophenotype/uberon/issues/2305, heaps of these, a few examples:

<html xmlns:v="urn:schemas-microsoft-com:vml"
xmlns:o="urn:schemas-microsoft-com:office:office"
xmlns:x="urn:schemas-microsoft-com:office:excel"
xmlns="http://www.w3.org/TR/REC-html40">

<head>

<meta name=ProgId content=Excel.Sheet>
<meta name=Generator content="Microsoft Excel 15">
<link id=Main-

[2022-02-16 15:12] paolaroncaglia commented on #2276
@emquardokus , adding you as an assignee. When you have a chance, please let us know if you think you could get feedback from external experts on this issue. If you think that's unlikely, no problem, please mention that so we'll know we need to make a resolution on this ourselves. Thanks.

[2022-02-16 16:59] dosumis opened #2308 "Auto-deploy docs"
needs to be done manually right now - mkdocs command in Makefile.

[2022-02-16 18:01] dosumis commented on #2293
Suggested fix

[external pudendal vein](http://purl.obolibrary.org/obo/UBERON_0018253) SubClassOf [tributary of](http://purl.obolibrary.org/obo/RO_0002376) some [femoral vein](http://purl.obolibrary.org/obo/UBERON_0001361) [core.owl]
 tributary -> connected_to

[2022-02-16 18:26] #2130 closed

[2022-02-16 18:40] rays22 commented on #90
Hi @cmungall ,
Is this issue still relevant?

[2022-02-16 18:44] rays22 commented on #99
Hi @cmungall ,
Is this issue still relevant?

[2022-02-16 18:50] rays22 commented on #117
@cmungall , feel free to re-assign this issue.

[2022-02-16 19:48] shawntanzk commented on #2308
Fixed by: https://github.com/INCATools/ontology-development-kit/pull/550
Figured should do this through ODK if not it will get wiped and this shouldn't be specific to uberon anyway.
I saw that @gouttegd has already run a deploy docs this round so docs should be updated

[2022-02-16 20:05] shawntanzk commented on #2308
Will be fixed in next ODK release - for now we can just manually do this

[2022-02-16 20:05] #2308 closed

[2022-02-17 10:40] #2224 closed

[2022-02-17 15:40] #2215 closed

[2022-02-17 15:46] shawntanzk commented on #318
these terms look like they are already in uberon:
prosomere (UBERON:0014775) & midbrain neuromere (synonym: mesomere)(UBERON:0014776)

[2022-02-17 15:46] #318 closed

[2022-02-17 16:32] #2235 closed

[2022-02-17 17:49] cmungall opened #2313 "Add design patterns across whole ontology, using patternizer as seed"
Apologies if this is duplicative, I see issues for individual patterns, but not an over-arching obe

regenerated:
https://github.com/INCATools/owl_patternizer/tree/master/examples/uberon

usual caveats apply about auto-gen results

[2022-02-17 17:51] matentzn commented on #2313
Oh my, this is soooo cool @cmungall THANK YOU!

[2022-02-17 19:15] #2213 closed

[2022-02-21 14:43] shawntanzk commented on #2292
[code]

convert to UTF-8 instead of latin 15 here @gouttegd to check if this is alright

[2022-02-21 14:45] shawntanzk commented on #2287
update from master and check

[2022-02-21 14:53] shawntanzk commented on #2305
Suggestion:
whenever there is exact and something else - prefer something else? eg broad preferred
When people come by any terms that they don't think is right, they should make a ticket

[2022-02-21 14:56] shawntanzk commented on #2305
https://github.com/monarch-initiative/mondo/tree/master/src/sparql/update <- can use SPARQL query from here and modify.
Discuss in next CL/UBERON call and make decision on this

[2022-02-21 15:05] bvarner-ebi commented on #2305
In the example that prompted this ticket, the exact duplicate synonyms should be retained and the broad and related synonyms removed.

[2022-02-21 15:34] gouttegd commented on #2292
I confirm that attempting a “mock” conversion from UTF-8 to UTF-8 will still catch real encoding errors (e.g. use of invalid UTF-8 sequences), without forbidding the use of valid Unicode characters outside of the Latin-9 character set.

I’ll submit a PR to that effect, then we can see whether the presence of non-Latin-9 characters is breaking anything downstream.

[2022-02-22 09:53] paolaroncaglia commented on #1678
I'll close this as it's a duplicate of (part of) #2053 .

[2022-02-22 09:53] #1678 closed

[2022-02-22 09:54] #2062 closed

[2022-02-22 10:07] paolaroncaglia commented on #1698
Hi @wdahdul ,

Following up on this, I did review the PR and commented, see https://github.com/obophenotype/uberon/pull/2002. The PR had conflicts, and as it's been some time (and some Uberon releases since), it may be easier to re-do the edits please, but up to you. Thank you again for taking care of this ticket.

Best,
Paola

[2022-02-22 10:19] shawntanzk opened #2318 "Revert orcid-contributor-violation https check"
Undo this commit: https://github.com/obophenotype/uberon/commit/af0d05e64ae30c3ddce21c4709916937bdc7fbf8 when https://github.com/protegeproject/protege/issues/1045 is addressed

[2022-02-22 10:20] #1699 closed

[2022-02-22 10:22] #1704 closed

[2022-02-22 10:43] paolaroncaglia commented on #1533
I've commented on this issue previously. I'll remove my assignment now (as well as @cmungall 's). The ticket now has a "kidney" label (thank you @bvarner-ebi ), so it might be addressed as part of a project looking at other kidney-related issues, current and future.

[2022-02-22 10:47] paolaroncaglia commented on #1612
Closing this as it's a duplicate of (part of) #2035 - ethmoidal vein is one of many FMA terms that are missing in Uberon and that relate to vasculature, see https://github.com/obophenotype/uberon/issues/2035#issuecomment-951659040.

[2022-02-22 10:47] #1612 closed

[2022-02-22 10:48] #1574 closed

[2022-02-22 11:00] matentzn commented on #2268
Great!

[2022-02-22 15:35] paolaroncaglia opened #2320 "Add new lymph node Uberon terms for ASCT+B"
Based on https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=457494842.
Tagging @emquardokus FYI.
Note to self, the related CL ticket is https://github.com/obophenotype/cell-ontology/issues/1472.

[2022-02-22 17:43] paolaroncaglia commented on #2320
@emquardokus to start with, I added
UBERON:8410071 subcapsular sinus ceiling
UBERON:8410072 subcapsular sinus floor
I also added the new terms' IDs and labels in a new column (far right) in the [lymph node spreadsheet](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=457494842).

[2022-02-23 08:52] paolaroncaglia commented on #2038
This looks fixed, so I'll close.

[2022-02-23 08:52] #2038 closed

[2022-02-23 09:03] paolaroncaglia commented on #1674
Note to self: in addition to the information provided in comments above, this review is useful and contains a full list of synonyms:
PMID:30799440
(full text [here](https://www.pathologica.it/article/view/27))

[2022-02-23 09:34] paolaroncaglia commented on #1697
Looking at this thread again, based on the comment [here](https://github.com/obophenotype/uberon/issues/1697#issuecomment-889268233), this may be a non-issue, so I'll close it.

[2022-02-23 09:34] #1697 closed

[2022-02-23 10:06] #1749 closed

[2022-02-23 11:19] paolaroncaglia commented on #1795
@cmungall (and/or anyone else who'd be willing to double-check some human-centric anatomy terms)
I edited the placement of some former asserted children of 'anatomical junction' that didn't look like strict junctions to me. Tagging you as some of those terms were added by you. I went ahead and merged as I think those changes are fairly safe and I'm aware of the demands on your time. I'll leave thi

[2022-02-23 14:34] paolaroncaglia commented on #1819
In the absence of any objection, I went ahead and renamed UBERON:4200169 'process 2' as 'process 2 of entepicondyle' so it's less ambiguous (and kept 'process 2' as a broad synonym).

[2022-02-23 14:34] #1819 closed

[2022-02-23 16:40] paolaroncaglia commented on #2035
@dosumis let me know if you'd like me to help with anything from [my previous comment](https://github.com/obophenotype/uberon/issues/2035#issuecomment-951659040).

[2022-02-23 17:43] paolaroncaglia commented on #2053
@matentzn FYI I'll remove my assignment and add to the tech board. I hope the outline above helps ;-)

[2022-02-23 17:44] paolaroncaglia commented on #2305
Also see https://github.com/obophenotype/uberon/issues/2053

[2022-02-24 10:26] paolaroncaglia commented on #2283
This ticket is in the Todo list of the Tech board now, so I'll remove my assignment (won't edit the example I provided in case it's useful to run checks and also because a consensus hasn't been reached yet).

[2022-02-24 11:18] #2194 closed

[2022-02-24 12:06] paolaroncaglia commented on #2320
@emquardokus
UBERON:8410074 lymph node paracortical sinus
UBERON:8410075 lymph node paracortical cord
These complete the anatomy terms needed for the [lymph node spreadsheet](https://docs.google.com/spreadsheets/d/1BihrOU9vWrsA_wYjcbdPUr42_Sb22CO3gkBDieiYQPs/edit#gid=457494842).

[2022-02-24 12:06] #2320 closed

[2022-02-24 16:42] paolaroncaglia commented on #1674
UBERON:8410076 glomus coccygeum

[2022-02-24 16:42] #1674 closed

[2022-02-25 16:25] gouttegd commented on #2292
If anyone wants to test, there’s a branch (#2328) with some non-ASCII characters randomly introduced into a few terms (in labels, definitions, and synonyms).

The main release artefacts are built without errors, and so are the bridge files (which were my biggest concerns, as I was not sure the ~~dubious hacks~~ ingenious scripts we use to generate them would cope with non-ASCII stuff).

If you kno

[2022-02-25 18:45] anitacaron commented on #2263
Is there anything that I can do?

[2022-02-25 18:46] matentzn commented on #2263
Yeah, thanks.. We still dont know _why_ there are non-Uberon axioms in the uberon-base.owl! There should be 0 axioms that belong in other ontologies!

[2022-02-25 18:47] matentzn commented on #2263
Can we remove everything non-base and see how this impacts the class hierarchy?

[2022-02-28 14:40] matentzn commented on #2129
- [ ] Depends on https://github.com/INCATools/ontology-development-kit/issues/544

After this is solved than uberon-base will depend on tmp/uberon-edit and then the dot removal will work.

[2022-02-28 18:56] shawntanzk commented on #2305
Action: change all to exact and create a PR for review

[2022-02-28 19:19] #2292 closed

[2022-03-01 11:36] ANiknejad commented on #1938
Hi Paola, yes, the request is still current, and no, I am not trained to create a new class myself.
I am looking for a class describing the so-called 'crustacean eyestalk' which has an important role in hormonal regulation

https://www.sciencedirect.com/science/article/pii/S0016648018300856?via%3Dihub

[2022-03-02 22:12] dosumis commented on #1419
I think this comes down to confusion over which structuregraph file to use for which atlas.  The mapping table here is accurate:

https://docs.google.com/document/d/1GdtkOnjWSz0v0iirdn-1GPoUjyDvkXqvjwlgjDfg6ic/edit#

There are 3 adult human atlases, 2 of them use the DHBA (structureGraph):

Ontology name (Allen) | Allen StructureGraph ID | Atlases
-- | -- | --
"Human Brain Atlas" | [10](http://api

[2022-03-03 11:07] paolaroncaglia commented on #1933
Looks like this shouldn't be closed, so I added it to the agenda for the next editors' meeting. Or @dosumis please comment if you've had any follow-up discussion with @GriffinWeber offline. Thanks.

[2022-03-03 17:55] megbalk opened #2333 "depreciate FOVT lines"
**Uberon term**
line from caundal-sacral region of the vertebral column to the last vertebra
line from helix of outer ear to intertragus incisure
line from the distal-most end of the longest nail to the posterior-most part of the foot
line from the distal-most end of the longest phalax of the foot to the posterior-most part of the foot
line from tip of nose to the caudal-sacral region of the verte

[2022-03-04 14:14] paolaroncaglia commented on #1938
Uberon editors please: any volunteer to add an invertebrate-related term? See @ANiknejad 's request above. Thanks!

[2022-03-04 14:18] paolaroncaglia commented on #2333
Hi @megbalk ,
I assigned this ticket to you as I understand that you plan to do the obsoletions, but if not, please assign to others as appropriate.
Unassigned tickets tend to get lost ;-)
Thanks,
Paola

[2022-03-06 17:26] dosumis opened #2335 "major and minor kidney calyces miss-classified as renal venous blood vessel"
<img width="312" alt="image" src="https://user-images.githubusercontent.com/112839/156934304-0a2bc60f-cb47-4b69-bb9a-b856e0ef8fe6.png">

This is inferred from the domain of 'drains':

<img width="858" alt="image" src="https://user-images.githubusercontent.com/112839/156934348-ae1fa66e-dec6-42b1-b070-de21e2dd0b6d.png">

It's understandable why this relationships was added.

Short term fix: remove '

[2022-03-07 02:15] RDruzinsky commented on #2335
Hi,
Please forgive me if I have misinterpreted these relationships, but this
all seems wrong to me.

I don't think that the average anatomist would consider the calyces to be
'part of' the renal pelvis. I suppose if the wall of the calyx is 'part of'
the whole space that we call the renal pelvis then I guess it would be
correct, but that just seems odd to me. In any case, the problem is not so
muc

[2022-03-07 14:08] shawntanzk commented on #1823
Steps:
1) check in CARO if the caro#part_of is still there
2) change it accordingly if there is a mistake and make release
3) refresh bridge

[2022-03-07 14:40] shawntanzk opened #2337 "Figure out how to increase memory for GitHub actions"
see: https://docs.github.com/en/actions/using-github-hosted-runners/about-github-hosted-runners (mac-os image or something like that)

[2022-03-07 14:41] shawntanzk commented on #2337
related to https://github.com/pato-ontology/pato/blob/master/.github/workflows/imports.yaml

[2022-03-07 14:51] shawntanzk commented on #2313
This is a huge task - we need to portion this down
To start:
we can make a table on google sheets with patterns and slowly work through it. - @shawntanzk

[2022-03-07 15:21] bvarner-ebi opened #2338 "Review structures involved in 'drains' relationship (continued from #2335)"
See 'major and minor kidney calyces miss-classified as renal venous blood vessel #2335' for the origin and context of this ticket. Briefly, anatomical structures that are not veins were incorrectly included in axioms with the 'drains' relationship, which is currently restricted to the domain 'vein'.
#2335 / #2336 resolved the short-term fix. This ticket tracks investigation on the long-term fixes.

[2022-03-07 16:16] RDruzinsky commented on #2335
'minor calyx' part of some 'renal sinus'
'major calyx' part of some 'renal sinus'
'renal pelvis' part of some 'renal sinus'

'major calyx' drains some 'minor calyx'
'renal pelvis' drains some 'major calyx'
'ureter' drains some 'renal pelvis'

Does this work?

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S.

[2022-03-07 17:03] uberon commented on #2313
I wouldn't recommend this methodology, I think approach it more holistically

On Mon, Mar 7, 2022 at 6:51 AM Shawn Tan ***@***.***> wrote:

[2022-03-07 22:14] dosumis commented on #2335
Renal sinus is classified as a space right now, so not sure this will work.  @cmungall - thoughts?

[2022-03-08 01:47] RDruzinsky commented on #2335
Instead of 'part of' could we use 'located in' ?

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website: www.peerj.com/RobertDruzinsky

On Mon, Mar 7, 2022 at 4:15 PM David Osumi-Sutherland <
***@***.***> wrote:

[2022-03-08 10:36] shawntanzk opened #2340 "[NTR] anterior ectoderm anlage"
Currently there is a dangling term [FBbt_01000119](https://www.ebi.ac.uk/ols/ontologies/dpo/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FFBbt_01000119)
This should be added as a class in uberon and replaced.
@gouttegd would you mind handling this or passing this to someone who can - I would do it but i have no idea about fly stuff >.<
related to https://github.com/obophenotype/uberon/issues/

[2022-03-08 10:41] gouttegd commented on #2340
Duplicate of #2154 ;) Closing this one for clarity.

[2022-03-08 10:41] #2340 closed

[2022-03-08 10:42] shawntanzk commented on #2340
lol thanks, sorry about that, should have checked beforehand >.<

[2022-03-09 00:49] cmungall commented on #2313
Didn't you know the new version of Elk comes with added AI? I am now
sentient, and am about to achieve world domination, as soon as I can figure
out how to get around these non-simple object property restrictions that
prevent the necessary inferences.

But seriously not sure why the accidental sock puppet thing happens
sometimes when I email; but on reflection your strategy sounds good, I
would ju

[2022-03-09 00:50] cmungall commented on #2313
alright, it DIDN'T happen that time spoiling the fun, never mind..

[2022-03-09 12:20] matentzn commented on #2313
interesting things about the structure of. your ontology, but not
necessarily how it *should* be structured.

Yes, 100%! Thanks for clarifying, this is how we thought of it as well!

[2022-03-09 17:04] shawntanzk opened #2341 "uncinate fasciculus SubClassOf part_of some pontine tegmentum seems wrong"
Correct me if I'm wrong >.<

[uncinate fasciculus](http://purl.obolibrary.org/obo/UBERON_0003044) SubClassOf [part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [pontine tegmentum](http://purl.obolibrary.org/obo/UBERON_0003023) seems wrong

Uncinate fasciculus definition - "Pathway arising from the fastigial nucleus to the vestibular nuclei, reticular formation, motor neurons of brainstem a

[2022-03-09 17:44] shawntanzk commented on #2341
correction, this is probably in there, but uncinate fasiculus is just does not have part_of some forebrain - this is coming from an external axiom in our use case

[2022-03-10 09:18] shawntanzk commented on #2341
should be changed to "[uncinate fasciculus](http://purl.obolibrary.org/obo/UBERON_0003044) SubClassOf [overlaps](https://github.com/obophenotype/ABA_Uberon/issues/16) some [pontine tegmentum](http://purl.obolibrary.org/obo/UBERON_0003023)" (see https://github.com/obophenotype/ABA_Uberon/issues/16#issuecomment-1063828937)

[2022-03-10 10:05] matentzn commented on #1992
Huh, dont we have a check against that now?

[2022-03-10 10:06] shawntanzk commented on #1992
I think this is fixed? will check up on this later and if all good will close, but pretty sure our qc doesn't allow obsolete anymore

[2022-03-10 10:21] shawntanzk opened #2342 "Missing spatial disjointness: forebrain is allowed to be part of brainstem"
[Nothing](http://www.w3.org/2002/07/owl#Nothing) EquivalentTo ([part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [forebrain](http://purl.obolibrary.org/obo/UBERON_0001890)) and ([part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [brainstem](http://purl.obolibrary.org/obo/UBERON_0002298)) is missing

I wonder if it is something I should add as is, or if we should work up how high u

[2022-03-10 10:27] shawntanzk commented on #1992
seems all good - will close

[2022-03-10 10:27] #1992 closed

[2022-03-10 10:29] dosumis commented on #2342
I think fine to add this directly.  Don't think it makes sense to go higher up in this case.  Doing this more systemically for brain needs discussion with @cmungall.  Also a good topic for discussion with Allen and any experts they bring in to review.

[2022-03-10 10:44] shawntanzk commented on #2341
I just noticed that there is also 'uncinate fasciculus of the forebrain' in uberon, which im not sure is actually a useful term, but I see it is from NLX so I wouldn't merge it, but instead will link it to uncinate fasciculus

[2022-03-10 13:18] #2341 closed

[2022-03-10 13:18] #2342 closed

[2022-03-10 14:20] paolaroncaglia opened #2344 "UBERON:0001367 'external anal sphincter' isn't a subclass of 'anal sphincter'"
Quick placeholder ticket to look into what needs fixing here - what axioms may need revising/adding

**Uberon term**
UBERON:0001367 'external anal sphincter'

**Suggested revision and reasons**
Should be a subclass of 'anal sphincter'

Note for self - noticed while addressing an [HCA ticket](https://github.com/HumanCellAtlas/ontology/issues/103)

[2022-03-11 14:33] matentzn opened #2345 "Where are the axioms that connect CL with Uberon?"
Opening uberon.owl or cl.owl reveals no connection of the CL upper level with Uberon.

cc @dosumis @shawntanzk

[2022-03-11 14:33] matentzn commented on #2345
(at the very least I expect cell to be a subclass of anatomical entity?)

[2022-03-11 14:53] shawntanzk commented on #2345
def of anatomical entity:
'Biological entity that is either an individual member of a biological species or constitutes the structural organization of an individual member of a biological species.'
cell should be considered "an individual member of a biological species" right?
in which case what Nico said make sense

[2022-03-11 15:46] dosumis commented on #2345
If you just mean 'cell -> anatomical entity' - I think the link is through CARO.   CARO was always meant to knit all these together.  IN the absence of sufficient CARO imports to do this, I think it makes sense to have a direct link to uberon 'anatomical entity' in CL - maybe in a component file?

Presumably needed for uPheno pattern ranges to bridge across anatomical entity -> cell ?

[2022-03-14 12:52] #2154 closed

[2022-03-14 14:09] shawntanzk commented on #1874
Is this a protege problem then? should we write a ticket for Protege side to fix? If so does protege support the short links from the GO yaml?
I've added this to CL call.

[2022-03-14 14:22] shawntanzk commented on #2053
@shawntanzk to look into non-RO relations http://dashboard.obofoundry.org/dashboard/uberon/fp7.html

eg http://purl.obolibrary.org/obo/uberon/core#synapsed_by should be a RO term - look into why it is there

[2022-03-14 14:47] shawntanzk commented on #1823
Steps:

- [ ] refresh bridge
- [ ] if still in there - one of bridge sources still dependent on ontology that still has "bad axiom"

[2022-03-14 15:24] cmungall opened #2348 "replace metazoan-specific relationships on generic caro-equivalent structures with taxon GCIs"
There are a broader set of issues I will link to later about whether or not it is a good idea to have

uberon:anatomical_structure = caro:anatomical_structure and part-of some metazoa

for now people are using the uberon classes as if they were more general. Issues arise from this e.g. with starts-and-ends to zygote for anatomical structure where anatomical structure is pan-cellular organisms.

Le

[2022-03-14 15:42] cmungall commented on #2348
`obo-grep.pl -r 'xref: CARO' uberon-edit.obo | obo-grep.pl --neg -r obsolete - | obo-grep.pl -r relationship - | obo-filter-tags.pl -t id -t name -t relationship -`

I am annotating output with actions proposed:

[Term]
id: UBERON:0000026 ! appendage
name: appendage
relationship: only_in_taxon NCBITaxon:6072 ! Eumetazoa
^^ok

[Term]
id: UBERON:0000061 ! anatomical structure
name: anatomical struct

[2022-03-14 15:43] cmungall commented on #2296
See also

- #2348

[2022-03-14 15:44] cmungall commented on #1957
I think we need to fix this

[2022-03-14 15:45] cmungall commented on #2345
See also

- #2348

[2022-03-14 15:51] cmungall opened #2349 "Clarify CARO-Uberon connections"
We have two possible approaches:

1. CARO generalizes
2. CARO and Uberon are equivalent

clearly 1 was intended originally, but if we are serious about this, we need to make sure

- uberon generic terms are unique (prefixed with "metazoan")
- make sure bridge files are easy to compose with main uberon release

I am not sure of the value of 1 anymore. I think it would be much simpler if uberon were

[2022-03-15 13:53] gouttegd opened #2350 "Relation between "muscles" and "tendons""
In Uberon, `tendon` is textually defined as “dense regular connective tissue that connects muscle to bone”, and is a subclass of `connects some 'muscle organ'`.

Several individual tendon classes do fit that definition, such as `tendon of triceps brachii`, which is `attached to 'triceps brachii`, or `calcaneal tendon`, which `connects some 'muscle of leg'`.

However in some cases, the tendon term

[2022-03-16 10:06] #2268 closed

[2022-03-16 11:57] stevevanhooser opened #2352 "Guidance Requested - UBERON addition for ferret brain areas"
My name is Danielle Scafidi and I am a graduate student in Steve Van Hooser’s lab at Brandeis University. I am reaching out on behalf of the lab to ask for advice on an ontology project we are currently working on.

One aspect of the lab’s work is involved in developing analysis and database software for neuroscience, specifically working toward the streamlining of data exchange. The use of ontolo

[2022-03-16 11:58] stevevanhooser commented on #2352
Chris responded with:

Hi Danielle!

How would you feel about moving some of this discussion to the github issue tracker? Let u know if you need help getting a github account

You ask good questions with nuanced answers, but broadly speaking:

1. for primary visual cortex, I don't think we need to do anything. We could add an annotation that says this is present in the ferret and give you as attri

[2022-03-16 16:51] paolaroncaglia commented on #1786
Reopening to
- [ ] create a new Uberon term for 'airway submucosal gland' as a child of 'submucosal gland' (and parent of 'bronchus submucosal gland'), as requested by @sfexova in https://github.com/EBISPOT/efo/issues/880#issuecomment-1069039904
- [ ] remove the mapping to EFO:0010666 'airway submucosal gland' from Uberon 'bronchus submucosal gland', and add it instead to Uberon 'airway submucosal

[2022-03-16 20:10] sfexova commented on #1786
Hi @paolaroncaglia thanks for the quick reply! yes, respiratory tract is the right parent for this, I believe

[2022-03-17 07:03] stheil15 opened #2353 "add term request "teat skin""
**Preferred term label:**
"teat skin" from cow.

**Synonyms**

**Definition (free text, please give PubMed ID)**
In figure 1.1.
[publication](https://www.semanticscholar.org/paper/The-bovine-teat-canal%3A-Its-role-in-pathogen-and-of-Smolenski/c85c749158d33d751e115cf920f6e56e635212be)

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
[skin epidermis](http://purl.obolibrary.org/obo/

[2022-03-17 07:04] stheil15 commented on #2353
FoodOn term request :
https://github.com/FoodOntology/foodon/issues/193

[2022-03-17 19:27] cthoyt opened #2354 "Identified 20 nodes with invalid xrefs"
I'm putting together a tool for automatic analysis of the xrefs in a given ontology by using the Bioregistry. When I applied it to UBERON, it identified the following xrefs whose values were not CURIEs. Perhaps when this happens it means it's supposed to be a RO term? It seems to only be getting this issue for relations besides the two entries imported from CL

| node_id

[2022-03-18 13:27] LCCarmody opened #2356 "NTR: cranial arteries"
**Preferred term label:**
cranial arteries

**Synonyms**
set of arteries of head

cranial blood arteries

**Definition (free text, please give PubMed ID)**
Arteries that is part of a head

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
UBERON:0011362 cranial blood vasculature

**Your nano-attribution (ORCID)**
http://orcid.org/0000-0001-7941-2961

Need this for HPO term HP_00313

[2022-03-19 00:51] cmungall opened #2357 "serrated projection of ctenactinium is both an intromittent organ and a head bone"
https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0013677&viewMode=PreferredRoots&siblings=false

although this is an unusual organ https://www.fishbase.se/glossary/Glossary.php?q=priapium -- but I suspect something is not quite right here

[2022-03-21 09:28] paulacalipho opened #2358 "NTR: skin tissues"
**Comment**: The following terms are requested to indicate the origin of the tissues to establish cell lines annotated in Cellosaurus. Many thanks
_____________________________________________________________________________________________________________
**Preferred term label:** skin of breast

**Synonyms** breast skin

**Definition** A zone of skin that is part of the breast

**Parent term**
b

[2022-03-21 14:10] shawntanzk commented on #1874
@hkir-dev
There should be a place in protege that has short name to link (eg Wikipedia to http://en.wikipedia.org/wiki/)
We should add WikipediaVersioned as: "https://en.wikipedia.org/w/index.php?title="

@shawntanzk to think if there are any other expansions that should be inserted

[2022-03-22 16:54] #1823 closed

[2022-03-23 19:52] balhoff commented on #2348
@cmungall what taxon for `'anatomical structure' existence_starts_during_or_after 'zygote stage'`?

[2022-03-23 22:50] #2333 closed

[2022-03-24 13:26] #1698 closed

[2022-03-24 15:46] paolaroncaglia commented on #1786
@sfexova , the new term is UBERON:8410077 airway submucosal gland.
It will be available at the next Uberon release, scheduled for tomorrow if all goes well.

[2022-03-24 15:47] #1786 closed

[2022-03-24 16:15] RDruzinsky commented on #1873
I would argue that mammary glands and nipples (or teats) are 'part of' the
breast. Nipples or teats are not parts of the mammary glands.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website: www.peerj.com/RobertDruzinsky

On T

[2022-03-25 09:25] paolaroncaglia commented on #1873
@RDruzinsky @cmungall
Thanks for your feedback,

Exactly. Only the '_thoracic_ mammary gland' is part_of 'breast'. Nipples in mammals are generally located on the whole trunk, and cows' teats would be part_of 'abdominal mammary gland'...

But 'areola' and 'mammary fat pad' are - here's the current view:

![Screenshot 2022-03-25 at 10 13 13](https://user-images.githubusercontent.com/4982516/1600912

[2022-03-25 09:41] paolaroncaglia commented on #2276
@RDruzinsky ,

Could I please ask for your feedback on whether these 2 terms
descending thin limb http://purl.obolibrary.org/obo/UBERON_0005096
descending limb of loop of Henle http://purl.obolibrary.org/obo/UBERON_0001289
are the same thing or not? Details here: https://github.com/obophenotype/uberon/issues/2276#issue-1122893647

Thank you very much in advance!

Note to self/Uberon editor: if we

[2022-03-25 09:58] paolaroncaglia commented on #1795
There have been no objections, so I'll close now.

[2022-03-25 09:58] #1795 closed

[2022-03-25 10:35] #1904 closed

[2022-03-25 11:13] paolaroncaglia commented on #2069
Added as UBERON:8410078 right lymphatic duct

[2022-03-25 11:13] #2069 closed

[2022-03-25 16:20] #1990 closed

[2022-03-25 16:21] RDruzinsky commented on #2276
Hi,
I do not think that they are exact synonyms. There are thick and thin parts
of the descending limb and thick and thin parts of the ascending limb, and
I believe that there are functional differences between the various parts.
I am not at all sure about differences across species, although I know that
the thin parts vary in length.

I can do some research if that would be helpful.

Robert E. Dr

[2022-03-25 19:18] matentzn opened #2363 "Should synonym scopes be contextual?"
One thing I have never thought about is the fact that synonym scope (exact, broad, related, etc) is not an absolute truth, but depends on the context.

Consider this

![image](https://user-images.githubusercontent.com/7070631/160186816-050bba57-8eb0-438d-8095-af77bf09bfb7.png)

Brain stem is considered a synonym (sometimes referred to as...) to hindbrain, while in other sources, such as Uberon thi

[2022-03-25 19:23] #2006 closed

[2022-03-25 22:16] cmungall commented on #2363
V good points. Here is my quick simplistic picture:

There should be a special global context for a whole ontology, and the exact/narrow etc should always be interpreted in that scope. We need to do a better job of specifying that. For uberon it is pan-metazoan anatomy with a slight human bias, and sometimes with specific biases in terms of different subsystems like the brain, eg a preference for

[2022-03-26 12:51] matentzn opened #2367 "Taxon constraint violation after import updates"
<img width="747" alt="image" src="https://user-images.githubusercontent.com/7070631/160240263-1e3d06b3-ef5b-4cc9-aff8-4450ce6db40a.png">

Blocks release #2364

[2022-03-26 12:54] matentzn opened #2368 "How to relate ceiling to space?"
Given that the sinus = space I don't know that there is an adequate way to relate the ceiling to the space. Even assuming adjacent_to can be used between a material and immaterial entity it loses that this is the top portion and we will probably need to enter a term for the floor at some point.
You can say that this is part_of the lymph node, that much is accurate.
Note there is inconsistency in U

[2022-03-26 12:54] matentzn commented on #2368
See https://github.com/obophenotype/uberon/commit/0f9c44d6635a0734d42ee3a076f3d752003623e1

This may be wrong

[2022-03-27 13:14] shawntanzk commented on #2368
I would have just done part of lymph node - do we need to formalise the ceiling part?

[2022-03-27 13:25] shawntanzk commented on #2367
dont think I can be super helpful here, I have like ZERO idea bout fish let alone their eyes.
My guess is that jugular vein part_of some neck is over-restrictive.
Did a quick search and it seems fish do indeed have jugular veins and im guessing fishes don't have necks

[2022-03-27 13:27] shawntanzk commented on #2367
I would think removing the part_of neck would be the right thing to do, but I don't know how that would affect modelling, I'm guessing there's a reason that axiom is there? I guess inherent difficulty with multi-species anatomy ontology

[2022-03-28 07:45] shawntanzk commented on #2368
just relooking at this now, I think 'part of' some 'subcapsular sinus lymph node' is wrong too, given the sinus is a anatomical space.

Can we do:
'part of' some 'lymph node'
'upper side' (BSPO:0000001)/'superior side' (BSPO:0000022)* some 'subcapsular sinus lymph node'
'adjacent to' some 'subcapsular sinus lymph node'

* I'd be a bit careful with using superior side, as I think it assumes the cei

[2022-03-28 07:46] shawntanzk commented on #2367
shall I do this in the branch @matentzn

[2022-03-28 07:49] matentzn commented on #2367
Can you branch off from my branch and then make a pr to the branch? Same with the other ticket. You may have to undo changes I made previously

[2022-03-28 09:34] shawntanzk commented on #2287
seems fixed

[2022-03-28 09:34] #2287 closed

[2022-03-28 13:38] paolaroncaglia commented on #2368
For the specific case that gave rise to this ticket, see discussion in https://github.com/obophenotype/uberon/pull/2371#issuecomment-1080627577 and following comments

[2022-03-28 15:13] RDruzinsky commented on #2368
I think this is a good idea. Every space has material boundaries defined by
anatomists, so it makes sense to treat spaces as material entities for the
sake of simplicity.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website: w

[2022-03-28 16:34] sbello commented on #2368
The reason for the distinction between the space and the walls of the space as I understand it is that at times we want to talk about the walls of the space (the example that started this) and at other times we want to talk about the stuff within the space (e.g. lymph fluid, cerebrospinal fluid).  My guess s that whether a sinus is an immaterial space or material entity was probably driven by the

[2022-03-29 14:45] paolaroncaglia commented on #2276
(cc @dosumis and @emquardokus )
@RDruzinsky thank you for your feedback on the descending thin/thick limb terms.
Summing up, in support of _not_ merging
descending thin limb http://purl.obolibrary.org/obo/UBERON_0005096
descending limb of loop of Henle http://purl.obolibrary.org/obo/UBERON_0001289
we have not only @RDruzinsky 's feedback, but also some differences at the cellular and physiological

[2022-03-29 15:28] paolaroncaglia commented on #2344
Currently, UBERON:0001367 'external anal sphincter' is not a(n inferred) subclass of 'anal sphincter', like 'internal anal sphincter' is, because it isn't a subclass of 'sphincter muscle'. I'll assert the missing superclass.

[2022-03-29 18:27] cmungall commented on #2344
can you instead assert the part-of that will give us the inference

should mirror internal

<img width="1301" alt="image" src="https://user-images.githubusercontent.com/50745/160679977-cb0c0b8d-9b9c-4f7e-bc43-0fa0147843e6.png">

or even better investigate what is missing:

[code]

[2022-03-29 20:39] paolaroncaglia commented on #2344
@cmungall

Yep, that's what I said I'd do ;-)

Ah ok, could you please provide dbxrefs while you have them handy? So I can add an rdfs:comment to EAS to that extent, and I won't add the asserted sphincter muscle parent. Thanks.

[2022-03-29 21:49] uberon commented on #2344
tbh it may be simpler and less 'surprising' to be more, errm, relaxed with
the definition our sphincter term, we can just add a note to EAS that it's
sometimes considered to be not 'true'

it's a bit odd at the moment as IAS is a single-child of AS and those are
always bad.. design practice

On Tue, Mar 29, 2022 at 1:39 PM paolaroncaglia ***@***.***>
wrote:

[2022-03-30 15:02] paolaroncaglia commented on #2047
@matentzn @shawntanzk I suspect that this issue is already on your radar, I added it to the tech board to keep track if needed. Otherwise, please feel free to close.

[2022-03-30 20:08] balhoff opened #2373 "OBO file uses undeclared synonym type def"
`PRO-short-label` is used but not declared. This causes some OBO parsers to fail (correctly). Another I saw is `PRO-common-name`. These are properly declared in PRO.

[2022-03-31 11:56] paolaroncaglia commented on #2075
@matentzn @shawntanzk @dosumis
Tagging you as author and assignees respectively
Can this be closed? If not, I already added it to the tech board. Thanks.

[2022-03-31 12:44] shawntanzk commented on #2075
@paolaroncaglia will make sure it gets looked at next meeting

[2022-03-31 16:40] matentzn commented on #2367
Hmm.. Still a problem:

## [ZFA_0005829](http://purl.obolibrary.org/obo/ZFA_0005829) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [ZFA_0005829](http://purl.obolibrary.org/obo/ZFA_0005829) EquivalentTo [uterine horn](http://purl.obolibrary.org/obo/UBERON_0002247) and ([part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [Danio](http://purl.obolibrary.org/obo/NCBITaxon_7

[2022-03-31 16:43] matentzn commented on #2367
I have removed the mapping again, but invite you to reinstate it after the release. We can make another release fairly quickly

https://github.com/obophenotype/uberon/commit/3ecc9031cddbc4e34cf3841a2e5b972b24df83bf

[2022-03-31 16:44] shawntanzk commented on #2367
I'm guessing that uterine horn is a thing in fishes but fallopian tubes arent - this feels like an important connected to axiom, and it brings up the question on how mammalia centric is uberon

will look into this more either way, but im guessing its the above issue

[2022-03-31 17:12] paolaroncaglia commented on #2367
Briefly: Fallopian tube is strictly mammalian, the broader term is oviduct. Fish uterine horn should be connected to oviduct (if that's biologically the case).

[2022-03-31 17:19] shawntanzk commented on #2367
Thanks @paolaroncaglia, that was super useful - I guess then the question is if we should change uterine horn to connected to some oviduct instead - that way its accurate to fish too (will check if this is true)

don't want to hold up the release, so maybe keep the mapping removed and ill try to figure it outside of the release

[2022-04-01 05:58] matentzn opened #2374 "Include proper taxon constrait checking in general CI"
For debugging purposes, I am running:

[code]

Then pasting unsat.md in GitHub

_Originally posted by @matentzn in https://github.com/obophenotype/uberon/issues/2367#issuecomment-1084855364_

[2022-04-01 05:59] matentzn opened #2375 "Clean up repo"
Delete these from top level:

composite-aba.obo uberon-simple-rel.obo uberon-taxmod-amniote.obo uberon-with-isa.obo uberon.references

[2022-04-01 08:33] shawntanzk commented on #2352
Hi @stevevanhooser

Happy to take a look into this, thought I'll admit that because it is not directly part of our funding, the priority on this might be a bit lower. What you could help us with though is having simple actionable items in individual tickets.
Eg if you need a new term in uberon, you can create a ticket with [NTR] (new term request). When you create the issue, there should be a new

[2022-04-01 08:33] paolaroncaglia commented on #1997
@nicolevasilevsky and @dosumis tagging you as you've contributed to this ticket. Can this be closed - has the documentation been updated already - or are there action items left? Commenting to prevent closure in the latter case. Thanks.

[2022-04-01 08:34] shawntanzk commented on #2352
I assume Chris is @cmungall and hence he is involved in this too? - pinging you in case

[2022-04-01 08:35] shawntanzk commented on #2352
PS converting this to an epic as I assume it will have multiple individual actions to look into

[2022-04-01 11:52] stevevanhooser commented on #2352
We could break it down into multiple issues. Now we are raising issues that have arisen as we have begun to prepare our ferret areas for addition. (And yes, Chris answered our initial message, thanks for asking.)
Best
Steve

[2022-04-01 12:01] matentzn commented on #2374
Reinstate `xref: ZFA:0005829` to test this.

[2022-04-01 13:41] johnwjudkins commented on #1801
Following up. Any interest?

[2022-04-01 14:58] dosumis commented on #1801
Hi @johnwjudkins - apologies.  This seems to have fallen through the cracks.  Have now assigned an editor so we should be able to get this into the next release.

[2022-04-04 13:40] shawntanzk commented on #2075
Closing this - will also solve itself once we move to base module

[2022-04-04 13:40] #2075 closed

[2022-04-05 12:19] shawntanzk opened #2381 "Make a decision on Develops from property chain - accept or remove"
Develops from property chain removal (https://github.com/obophenotype/uberon/pull/1808) caused a lot of useful axioms to not be there.
While the removal was to solve some weird axioms @balhoff found, some of the axioms that it removed in uberon are still useful.
This leads to a bit of a conundrum on if we should remove it or not and needs discussion.
However, we cannot let this be a blocker anymor

[2022-04-05 13:26] matentzn opened #2382 "SPARQL taxon expansion does nothing"
Right now the goal to generate the intermediate uberon (processed version) looks like this:

[code]

[code]

Not only adds the correct Disjointness axioms, it also _removes_ the annotations that are being expanded. So, before

[code]

kicks in, the never_in_taxon has already been dropped: so it does nothing.

This ticket should be part of the great `makefile revision`. Maye we add a tag for that p

[2022-04-05 13:28] balhoff commented on #2382
Let's get this moving along: https://github.com/ontodev/robot/pull/964

I think I need to update the annotation property IRI with the one you added to OMO.

[2022-04-05 13:36] matentzn commented on #2382
Yeah agree.. If you change the IRI I will review the PR again, and get James to take a look as well.

[2022-04-05 15:01] nicolevasilevsky commented on #1997
I don't think this is done, I think the documentation still needs to be updated.

[2022-04-06 13:31] paolaroncaglia opened #2383 "Add Ellen's ORCID to Uberon terms from lymph node table"
Add https://orcid.org/0000-0001-7655-4833 to
UBERON:8410074 lymph node paracortical sinus
UBERON:8410075 lymph node paracortical cord
UBERON:8410071 subcapsular sinus ceiling
UBERON:8410072 subcapsular sinus floor

[2022-04-06 14:02] bvarner-ebi commented on #1801
Hi @johnwjudkins, thank you for your patience with this request.
We plan to add this new term after the in-progress Uberon release is finalised.
You can track the status on this PR: https://github.com/obophenotype/uberon/pull/2379

[2022-04-06 15:30] shawntanzk opened #2384 "ABA-Uberon bridge file updates"
We have some expert-curated stuff for ABA-uberon bridge files that need to be updated
[CCF_to_UBERON.xlsx](https://github.com/obophenotype/uberon/files/8428351/CCF_to_UBERON.xlsx)

- Ignore verify for now
- Remove mapping for nok  - @shawntanzk to find out what the alternative is (can we replace with something more generic for now)
- Change accordingly for gen

[2022-04-06 16:47] helenamachado opened #2385 "preorbital"
**Preferred term label:**

preorbital
**Synonyms**
periorbita

**Definition (free text, please give PubMed ID)**
Wiki: periorbita

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
SUBCLASSES: skeletal element of eye region, dermal bone, facial bone, prt of some orbit of skull

**Your nano-attribution (ORCID)**
0000-0001-8415-4848

[2022-04-06 16:52] helenamachado opened #2386 "preorbital fossa"
**Preferred term label:**
preorbital fossa:

**Synonyms**

**Definition (free text, please give PubMed ID)**
@megbalk will provide

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
bone fossa and part of some preorbital
subclass: cranial fossa

**Your nano-attribution (ORCID)**
0000-0001-8415-4848

[2022-04-06 16:59] matentzn commented on #2375
assert-equivalent-classes-module.owl
        composite-metazoan-basic.json
        composite-metazoan-basic.owl
        composite-vertebrate-basic.json
        composite-vertebrate-basic.obo
        composite-vertebrate-basic.owl
        ext.json
        ext.obo
        merged.obo
        status.txt

[2022-04-06 17:54] patrick-lloyd-ray commented on #2384
@shawntanzk, let me know if anything is unclear with the mappings or if you need anything at all.

[2022-04-06 19:20] patrick-lloyd-ray commented on #2384
If I could find a mapping that worked, I put it in column F. If F is empty, there should be 'add term' in G (meaning we would like to add a new term).

If column F is blank, then they are in need of verification. If there is a term in column F, that has been verified.

[2022-04-07 08:03] shawntanzk commented on #2384
Looks like many are fixed already - found some that aren't so will still go through the whole list and make the fixes.
New terms don't seem to have been added, will slowly get through them - might take awhile as I will need to do research on each of them and all

Some terms are confusing - if its sensible to change the status, I will:
eg <http://purl.obolibrary.org/obo/DMBA_16339> (intercalate nuc

[2022-04-07 08:43] shawntanzk commented on #2384
To verify @patrick-lloyd-ray
MBA_820 (inferior colliculus, dorsal nucleus) is mapped to the same as MBA_811 (inferior colliculus, central nucleus) - UBERON_0002563 (central nucleus of inferior colliculus)
Bridge file currently maps MBA_820 to UBERON_0002577 (pericentral nucleus of inferior colliculus) which seems more correct - I hence didnt want to change it.

[2022-04-07 09:14] shawntanzk commented on #2384
There are some marked "cerebellum" which dont seem to be in the bridge file.
The MBA stuff seem to require specific layers to be added to UBERON anyway.
My suggestion is that I add them to uberon and add them to bridge file after.

[2022-04-07 10:30] shawntanzk commented on #2384
MBA_985 (primary motor area) is mapped to primary motor cortex in uberon which is right from what I see in the brain atlas - it is marked ok but also has "add term" to it - will ignore it for now, but in case it means something, please do let me know

[2022-04-08 07:45] shawntanzk commented on #2384
DMBA Long list of terms to add (kept this separate as its really long and clustered together (some are 'HAS PARALLEL', not sure what this means, but best to check for mappings before adding anything anyway):

- [ ] blood vessels of spinal cord
- [ ] ventricular zone of SpA
- [ ] mantle zone of SpA
- [ ] ventricular zone of SpB
- [ ] mantle zone of SpB
- [ ] ventricular zone of SpF
- [ ] mantle zon

[2022-04-08 08:26] shawntanzk commented on #2384
spot checked on row 4670-5051 -> they don't seem to be in bridge file at all

[2022-04-08 11:26] #1801 closed

[2022-04-08 11:28] bvarner-ebi commented on #1801
@johnwjudkins, thank you for your contribution.

The new term UBERON:8470000 'placental blood' has been added to Uberon and should be reflected in the next release.

Please reach out if you have follow up questions or concerns.

[2022-04-11 09:59] paulacalipho opened #2391 "NTR anatomical space and cavity terms"
Comment: The following terms are needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** perianal space
**Definition** The spaces circumscribed by the muco-cutaneous lining of the anal canal and the muscular structures of the sphincter complex. [http://www.endoscopy-colon-explorer.com/anatomy-of-the-anal-region/]
**Par

[2022-04-11 10:08] paulacalipho opened #2392 "NTR: vasculature terms"
**Comment:** The following terms are needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** capillary of brain
**Synonyms** brain capillary
**Definition** A capillary that is part of the brain
**Parent term**
capillary UBERON:0001982
brain UBERON:0000955
**Your nano-attribution (ORCID)** 0000-0002-0819-0473

**Preferr

[2022-04-11 10:12] paolaroncaglia commented on #2091
@emquardokus
Is this term still needed? If yes, I can add it if you wish.

[2022-04-11 10:12] paulacalipho opened #2393 "NTR: stroma of the human mammary gland"
**Comment:**The following terms are needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** interlobular stroma of mammary gland
**Synonyms** interlobular stroma of breast (broad)
**Definition** The stroma of the human mammary gland lobule contains two distinctive types of connective tissue. The intralobular stroma con

[2022-04-11 10:13] paolaroncaglia commented on #2092
@emquardokus
Same as #2091 - I'm happy to add this term if it's still needed.

[2022-04-11 10:16] paolaroncaglia commented on #2090
cc @emquardokus
This typo hasn't been corrected yet. I'll do it next time I edit Uberon.

[2022-04-11 10:17] paulacalipho opened #2394 "NTR: developmental terms"
**Comment:** The following terms are needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** aorta gonad mesonephros region
**Synonyms**
aorta-gonad-mesonephros
embryonic aorta gonad mesonephros
**Definition** The aorta-gonad-mesonephros region is an area derived from splanchnopleura mesoderm identified in embryonic hu

[2022-04-11 10:20] paulacalipho opened #2395 "NTR: subserosa of uterine tube"
**Comment:** The following terms are needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** subserosa of uterine tube
**Synonyms** subserosa of fallopian tube
**Definition** Layer of the uterine tube composed of loose adventitious tissue, blood vessels and lymphatic tissue. [https://en.wikipedia.org/wiki/Fallopian_tub

[2022-04-11 10:22] paulacalipho opened #2396 "NTR: cervical transformation zone epithelium"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** cervical transformation zone epithelium
**Synonyms**
transformation zone of the cervix
cervix transition zone
**Definition** The cervix contains two kinds of cells: rectangular columnar cells and flat, scale-like squamous cells.

[2022-04-11 10:24] paulacalipho opened #2397 "NTR: menstrual blood"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** menstrual blood
**Parent term** blood UBERON:0000178
**Your nano-attribution (ORCID)** 0000-0002-0819-0473

[2022-04-11 10:29] paulacalipho opened #2398 "NTR: larynx posterior commissure"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** larynx posterior commissure
**Synonyms**
posterior portion of the glottis
posterior wall of the glottis
posterior end of the glottis
**Definition** The posterior commissure of the larynx is a name often given to the posterior por

[2022-04-11 10:31] paulacalipho opened #2399 "NTR: cartilage of long bone"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** cartilage of long bone
**Synonyms** long bone cartilage
**NOTE** Not sure if this term (FMA_32676) is synonym of "epiphyseal plate" that "is a hyaline cartilage, where new bone growth takes place, lengthening the bone prior to ad

[2022-04-11 10:31] shawntanzk commented on #2384
These mappings seem a bit odd - its MBA but mapped to Broadann area which can't be right yeah?

superclass_iri | subclass_name | subclass_iri | Analysis | Recommended   Mapping | Type of mapping   issue
-- | -- | -- | -- | -- | --
<http://purl.obolibrary.org/obo/UBERON_0010314> | prelimbic area, layer 6b | <http://purl.obolibrary.org/obo/MBA_132> | Verify | Brodmann (1909)   area 32 (http://purl.o

[2022-04-11 10:36] paulacalipho opened #2400 "NTR: fish terms"
**Comment:** The following terms are needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** meningeal myeloid tissue
**Synonyms** hemopoietic focus
**Definition** The meningeal myeloid tissue is bone marrow-like (myeloid) structure typical of sturgeon. It is mainly granulopoietic, but it also contains lymphoid element

[2022-04-11 10:40] paulacalipho opened #2401 "NTR: arthropod terms"
**Comment:** The following terms are needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** oka organ
**Synonyms**
penaeid lymphoid organ
Nakamura organ
**Definition** Lymphoid organ in penaeid prawns. [PMID: 20580831]
**Parent term** hemopoietic organ UBERON:0004177
**NOTE** The oka organ is a form of UBERON_0004177

[2022-04-11 10:42] paulacalipho opened #2402 "NTR: pelvic wall"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** pelvic wall
**Synonyms** wall of pelvis
**Definition** The pelvic wall includes the urogenital and pelvic diaphragm. [https://link.springer.com/chapter/10.1007/978-3-642-40006-3_7]
**Parent term**
anatomical wall UBERON:0000060
p

[2022-04-11 10:44] paulacalipho opened #2403 "NTR: retroauricular region"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** retroauricular region
**Synonyms** retroauricular area
**Definition** The retroauricular region separates the auricular region -the ear- from the neck. [https://www.imaios.com/en/vet-Anatomy/Vet-Anatomical-Part/Retroauricular-reg

[2022-04-11 10:46] paulacalipho opened #2404 "NTR: mucosa of rumen"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** mucosa of rumen
**Synonyms** rumen mucosa
**Definition** Rumen mucosa is a mucopolysaccharide-rich, parakeratotic, psoriatic, stratified squamous epithelium. [PMID: 4236739]
**Parent term** mucosa of stomach UBERON:0001199
**Your

[2022-04-11 10:48] paulacalipho opened #2405 "NTR: semitendinosus tendon"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** semitendinosus tendon
**Synonyms** tendon of semitendinosus
**Definition** The semitendinosus tendon inserts at the upper part of the medial surface of the tibia, behind the attachment of sartorius and infero-anterior to the atta

[2022-04-11 10:50] paulacalipho opened #2406 "NTR: subiliac lymph node"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** subiliac lymph node
**Synonyms**
sub-ilal lymph node
subiliac lymphocenter [https://lib.dr.iastate.edu/cgi/viewcontent.cgi?article=2350&context=iowastate_veterinarian]
precrural lymph node [https://www.mpi.govt.nz/dmsdocument/261

[2022-04-11 10:52] paulacalipho opened #2407 "NTR: sublumbar lymph node"
**Comment:** The following term is needed to indicate the origin of the tissues used establish cell lines annotated in Cellosaurus. Many thanks

**Preferred term label:** sublumbar lymph node
**Definition** A lymph node located under the spine. [Definition Source: NCI; NCIT_C77655]. The sublumbar lymph nodes include the medial iliac, internal iliac (previously termed hypogastric), and sacral. [PMI

[2022-04-11 11:45] bvarner-ebi commented on #2407
Hi @paulacalipho, thank you for all of your recent NTR tickets. Since this is a large volume of new requests, could you advise what your timeline is to have these terms added? Are there any that are more time-sensitive than others?
Would you also have any interest in learning how to add terms to the ontology yourself?

[2022-04-11 13:09] shawntanzk commented on #2337
https://github.com/obophenotype/uberon/pull/2408/files

[2022-04-11 13:15] ubyndr commented on #2337
[code]
We are using MacOs runner, and install docker and ODK image manually.

[2022-04-11 13:24] shawntanzk commented on #2205
Plan:

1) Start with creating a table

prefix | source
-- | --

2) remove those we don't want

3) register with bioregistry those that stay in (if not use bioregistry prefix)

[2022-04-11 13:27] shawntanzk commented on #2354
@shawntanzk to look into nifext_55 reference

[2022-04-11 13:52] shawntanzk commented on #2313
Plan: look through list, choose one pattern that makes sense, migrate it over to uberon, repeat.

[2022-04-11 13:56] shawntanzk commented on #2300
synonym, xref, source -> make xsd:string (conservative method)
When we find out more then add to above
make sure it is indeed string (eg not an IRI)

[2022-04-11 15:01] cmungall commented on #2090
This should be an easy fix

On Sat, Apr 9, 2022 at 7:29 PM github-actions[bot] ***@***.***>
wrote:

[2022-04-11 16:59] matentzn commented on #1501
@marcrr we are getting to this now.

As we are in the process of streamlining quite a lot in Uberon, can you tell us which exact files in uberon BGEE is depending on? For all your use cases? uberon.owl? homology.owl? composite-metazoan.owl?

[2022-04-11 18:33] patrick-lloyd-ray commented on #2384
eg http://purl.obolibrary.org/obo/DMBA_16339 (intercalate nucleus) - is nok and has add term but its mapped to exactly the same thing it uberon as http://purl.obolibrary.org/obo/HBA_9572 ( intercalate nucleus)

Yeah, that might be a problem that has since been fixed, the mapping file I received is a few years old, so it's possible some of these have gotten patched up since.

[2022-04-11 18:44] patrick-lloyd-ray commented on #2384
Yeah, that's a mistake -- they are supposed to be: prelimbic area, layer [X].

[2022-04-11 18:48] patrick-lloyd-ray commented on #2384
Yeah, there are going to be some of these too -- it's a lot of lines/structures to check, so I've surely made some mistakes trying to get these done sort-of quickly. I appreciate the verifications.

[2022-04-11 18:55] patrick-lloyd-ray commented on #2384
For these (and ones like them), the atlases are pretty fine-grained but this sounds like a fine solution for annotating cell location.

[2022-04-11 19:03] patrick-lloyd-ray commented on #2384
Yes, that is a typo.

[2022-04-11 19:03] stevevanhooser opened #2411 "Brain areas - should multi-modal areas be "part of" multiple modalities?"
A general question in preparing new brain areas:

There are areas in the brain that provide functionality for more than one sensory system. Should these areas be both “part of”, say, visual cortex and “part of” somatosensory cortex? We could not find an example of multi-modal areas being double classified in Uberon, but in cases such as these it would seem correct to do so.

As an example, the pos

[2022-04-11 19:14] stevevanhooser commented on #2411
Adding @shawntanzk

[2022-04-11 19:23] patrick-lloyd-ray commented on #2384
HAS PARALLEL means (as I was using it) that the structure is parallel to some other structure that already exists in UBERON. e.g., central glial substance is parallel to or surrounds the central canal.

[2022-04-11 19:24] shawntanzk commented on #2411
if an area is "part of" something, it must be true for the whole area - therefore something being "part of" two areas is probably problematic. Overlaps should probably be used instead.

Do note that the above is representing spatial relations - if it overlaps those two areas, the assumption is that the part spatially overlaps what is known as the visual and somatosensory cortex in the ferret. If h

[2022-04-11 19:26] shawntanzk commented on #2411
sorry for not getting to this faster - will try to get through it sometime soon, but breaking down to questions like this is super helpful for me, thanks heaps!

[2022-04-11 19:36] stevevanhooser opened #2412 "Bug category: is linking functional brain description with anatomical brain regions an error?"
In preparing material from the ferret brain to be added to Uberon (issue #2352), we came across a possible error in UBERON brain design, or at least a question on how to specify it. (@shawntanzk )

In some animals, functional areas are grouped by their association with an anatomical feature of the brain, such as a gyrus, sulcus, or lobe. We've run into a problem in that these relationships are not

[2022-04-11 19:47] shawntanzk commented on #2412
The joys of a multispecies ontology >.<  tagging @cmungall & @dosumis - need help on how to model here

I think there is something to be looked at with linking functional regions spatially, this doesn't seem super right in a multi-species ontology, but I'm guessing there is good use case reasons why it's done so, and changing it might break some stuff. I know there are certain species focus (eg hu

[2022-04-11 19:55] matentzn commented on #2373
If @shawntanzk refreshes the PRO import, this will be fixed.

[2022-04-12 07:07] fbastian commented on #1501
@matentzn we rely on composite-metazoan.owl to retrieve the full ontology, and ext.owl to compute the taxon constraints.

[2022-04-12 08:29] fbastian commented on #1501
We update Uberon only for major releases of Bgee, which we just did, so I won't know for a while!

[2022-04-12 08:44] anitacaron commented on #2354
In the first row, following https://www.wikidata.org/wiki/Q6058407, is H3.03.00.0.00012 a synonym of CL_0008047?

[2022-04-12 08:49] shawntanzk commented on #2354
guess so lol, maybe change that to exact synonym and add wikidata link as a dbxref AP on the synonym AP

[2022-04-12 10:38] #2373 closed

[2022-04-12 10:52] shawntanzk commented on #2384
I've changed the mapping for MBA_436 (columns of the fornix) to UBERON_0004680 (body of fornix - has exact synonym "columns of fornix") - it was previously mapped to body of fornix (UBERON_0004680) with "add term"

[2022-04-12 12:18] shawntanzk commented on #2210
just ran a report on latest release - not equiv class errors

[2022-04-12 12:18] #2210 closed

[2022-04-12 12:55] shawntanzk commented on #2367
Trying to fix this - changing connected to axiom still leaves part of some uterus as an issue
![Screenshot 2022-04-12 at 13 49 48](https://user-images.githubusercontent.com/76212760/162966078-76359985-e0f2-4879-92a8-a2a7cc6bc19d.png)
From a search Zebrafish defs have a uterine horn, but I guess they don't have uterus which I guess makes sense since they have ex uteri embryos
Is removing the part o

[2022-04-12 12:58] paolaroncaglia commented on #2096
Commenting to prevent staleness: this is a HuBMAP/ASCT+B ticket (linked to ASCT+B board in fact) and should not be closed.

[2022-04-12 13:16] shawntanzk commented on #2367
Take this back, the paper was talking about mice lol - actually that's a good question, if zebrafish do not have uterus, do they have a uterine horn?

[2022-04-12 13:19] shawntanzk commented on #2367
Ok should have done this at the start, just checked, ZFA_0005829 is schlemm's canal which is "Vessel that drains aqueous humor from the eye" - this is almost certainly not equiv to uterine tube
It should be mapped to http://purl.obolibrary.org/obo/UBERON_0004029 instead

[2022-04-12 13:58] stevevanhooser commented on #2411
Thanks for your messages. I think we are getting somewhere on this topic.

I guess it comes down to what one means by "visual cortex". The notion that I am most familiar with is expressed in this [University of Washington web page](http://braininfo.rprc.washington.edu/CentralDirectory.aspx?ID=1911&questID=1934):

"The term visual cortex (rodent) refers to a set of cytoarchitecturally defined areas

[2022-04-12 14:01] stevevanhooser commented on #2411
Also, maybe these are already in the ontology, but I find the relation

'capable of' some 'sensory perception of smell'

problematic..the animal is capable of sensory perception of smell, but to say that a brain area is capable of perception sounds weird to me. A brain area can exhibit responses to stimuli that correlate with perception but to say that the area is capable of it seems like an impos

[2022-04-12 14:37] cmungall commented on #2367
It may be odd for human use cases for the jugular not to be part of the neck

Taxonomy gci would be a little better

I think the best solution would be to generalize neck in a way that keeps
the fish people happy. Fish may lack a neck proper but they have an
analogous region of the craniocervucal region with the same skeletal
elements

On Sun, Mar 27, 2022 at 6:27 AM Shawn Tan ***@***.***> wrote:

[2022-04-12 14:51] shawntanzk commented on #2411
This is an imported GO term - the definition does technically allow for this imo:
"The series of events required for an organism to receive an olfactory stimulus, convert it to a molecular signal, and recognize and characterize the signal."
But yeah its not consistently applied and I totally understand your point. But yes, let's not get sidetracked - as long as it isn't wrong, I think we can leave