[2020-12-14 17:37] paolaroncaglia commented on #1661
@ngeorgeebi
I will add this as follows, similar to the existing ‘middle colic vein’:

UBERON:NEW right colic vein
Equivalent to:
portal vein and drains some ascending colon and tributary_of some superior mesenteric vein
A portal vein that drains the ascending colon. It is a tributary of the superior mesenteric vein, and travels with its corresponding artery, the right colic artery.
https://en.wiki

[2020-12-14 17:40] paolaroncaglia commented on #1658
Yes, it's the top Uberon result when searching OLS. Cheers.

[2020-12-14 17:40] #1658 closed

[2020-12-14 17:55] paolaroncaglia commented on #1688
Note for self, Marion's paper is PMID:32327715.

[2020-12-15 02:53] computationdoc opened #1694 "Mapping external references"
UBERON conveniently provides multiple external references within UMLS Metathesaurus with each code. e.g. FMA, MSH, and often also CUIs. We are combining multiple ontologies for the HuBMAP program into a Knowledge Graph and when ingesting UBERON we find that if we use all of the external references, then each UBERON code may have multiple CUIs (the CUI(s) of the provided external reference code(s)

[2020-12-15 10:02] paola-scibite opened #1695 "Typo in def of UBERON:0011933 vibrissa unit"
**Uberon term**
UBERON:0011933 vibrissa unit

**Bug description**
"A pilosebaceuous unit that contains a strand of _virbissa_ hair..."
Please correct to "vibrissa".

Thanks,
Paola

[2020-12-15 10:15] paola-scibite opened #1696 "Typo in synonym of UBERON:0018133 monotreme bill"
**Uberon term**
UBERON:0018133 monotreme bill

**Bug description**
has related synonym: _montreme_ beak
Should read "monotreme".

[2020-12-15 19:03] matentzn commented on #1694
Super interesting question/subject! I suspect there is no easy answer, but I would like to be part of that discussion!

[2020-12-15 21:47] mellybelly commented on #1694
Short answer but definitely worth a lot more discussion. You may want to leverage Uberon's xrefs in a standardized way as primary, and then fill in with the other sources codes, but to do so, you'll want to reconcile their xrefs/mappings in some manner with a set of rules and potentially algorithmic evaluation. We've done something similar originally to populate mondo for diseases using @cmungall'

[2020-12-16 16:10] dosumis commented on #1664
Is it even present outside of Mammals? I'd change to part_of unless there are really good examples of species we need to represent where this is not true.

[2020-12-16 16:25] dosumis commented on #1664
CC @emquardokus  - is this covered in the ASCT-b tables?

[2020-12-16 16:58] paolaroncaglia commented on #1664
Update: as agreed at the CL meeting today, unless others comment, I'll make a pull request following @dosumis ' comment, and ask @cmungall to review.

[2020-12-16 17:15] emquardokus commented on #1664
@dosumis the female reproductive organs have only just been added to HuBMAP, so we are reaching out to those groups now for completing ASCT-B tables for them.

[2020-12-17 10:29] paola-scibite opened #1697 "Some "buccal" terms missing part_of parent"
All "buccal" terms should be (also) part of mouth. The following are only part of cheek:
UBERON:0012167 buccal fat pad
UBERON:0017654 buccal gland

(https://orcid.org/0000-0002-2825-0621)

[2020-12-17 10:49] paola-scibite opened #1698 "UBERON:0018306 bulge and UBERON:0010188 protuberance"
**Uberon term**
UBERON:0018306 bulge and UBERON:0010188 protuberance

**Suggested revision and reasons**
UBERON:0018306 bulge: "expanded and swollen region of a surface that is otherwise relatively flat [ PHENOSCAPE:Nizar ]"
Subclass of 'surface structure'
Has a UBERONTEMP dbxref

UBERON:0010188 protuberance: "A roughly circular bulge in a surface."
Subclass of 'zone of organ'
Editor note: require

[2020-12-17 12:02] paola-scibite opened #1699 "UBERON:4200179 manual claw"
**Uberon term**
UBERON:4200179 manual claw

**Suggested revision and reasons**
Currently part of some skeleton of manus, which looks incorrect.
Should the term be merged with UBERON:0009565 nail of manual digit?

https://orcid.org/0000-0002-2825-0621

[2020-12-17 15:01] paolaroncaglia opened #1700 "Add subset for HCA in Uberon"
Similarly to https://github.com/obophenotype/cell-ontology/issues/826, as agreed with @dosumis , @zoependlington and Human Cell Atlas curators, I'll add an annotation property in Uberon (subclass of subset_property) called "added_for_HCA".

[2020-12-18 11:35] paola-scibite opened #1701 "UBERON:7500041 tip of digit"
**Uberon term**
UBERON:7500041 tip of digit

**Suggested revision and reasons**
Digits are called digits in both hand and feet (manus and pes more broadly), so why is UBERON:7500041 'tip of digit' ("The distal-most point of a digit.") equivalent to "anatomical point and distalmost_part_of some phalanx of pes"?
"tip of digit" is also an exact synonym of UBERON:0009551 'distal segment of digit'. Per

[2020-12-18 17:34] ngeorgeebi opened #1702 "NTR: left colic artery"
**Preferred term label:**
left colic artery

**Synonyms**

**Definition (free text, please give PubMed ID)**
The first branch of the inferior mesenteric artery is the left colic artery. The left colic artery supplies blood flow to the distal third of the transverse colon and the entirety of the descending colon. Once diverging from the IMA, the left colic artery runs anterior to the left ureter, l

[2020-12-18 17:36] ngeorgeebi commented on #1702
@paolaroncaglia please tag with HCA, thank you!

[2020-12-18 17:46] ngeorgeebi opened #1703 "NTR: right colic artery"
**Preferred term label:**
right colic artery

**Synonyms**

**Definition (free text, please give PubMed ID)**
The right colic artery may arise directly from the superior mesenteric artery (SMA) but often arises from a common trunk with the ileocolic artery or middle colic artery.  It supplies the ascending colon.  Paperback ISBN: 9780443103735

**Parent term (use https://www.ebi.ac.uk/ols/ontologi

[2020-12-18 17:46] ngeorgeebi commented on #1703
please tag with HCA, @paolaroncaglia thanks!

[2020-12-21 09:39] paola-scibite opened #1704 "UBERON:4200132 tuber"
**Uberon term**
UBERON:4200132 tuber

**Reason for deprecation**
Label is ambiguous, there are no annotations, and it's very likely the same as the better defined UBERON:0005813 'tubercle'.

**Suggested replacement or term to consider**
UBERON:0005813 'tubercle'

[2020-12-21 15:02] balhoff commented on #1704
Which annotations are you looking at?

I think this term is used in paleontological literature, but maybe only in Latin labels. @alex-dececchi @wdahdul is there any distinction between this 'tuber' and 'tubercle'?

It's used in Phenoscape data, but we could migrate to tubercle.

[2020-12-21 15:20] paolaroncaglia commented on #1704
I meant no annotation properties, other than "created by: AD". Sorry if I was unclear. Also if it helps, I just looked up "tuber" in a Latin dictionary book and I confirm that "tubercle" is one of its meanings. Thanks.

[2020-12-21 16:36] balhoff commented on #1704
Oh! Thanks, I just wanted to make sure I wasn't missing an Uberon annotation corpus. AD is @alex-dececchi but he isn't active in Uberon anymore.

[2020-12-22 15:50] paolaroncaglia commented on #1662
@ngeorgeebi
Could you please provide a reference for jejuno-ileal junction? Thanks. I'll add the term with your ORCID anyway.

Notes for self:
subclass of anatomical junction
part of small intestine
https://orcid.org/0000-0003-4183-8865

[2020-12-22 20:42] megbalk opened #1710 "UBERON module"
I’d like to build an ontology module as part of FOVT (FuTRES application ontology) for UBERON that is separate but could be imported. Is there a naming convention for the module that I should use?
For example, should the module ontology be called "UBERON-FOVT"?
And, should we use UBERON terms or our own ids that get imported if wanted?

[2020-12-22 21:10] matentzn commented on #1710
Hey @megbalk sounds great. Could you provide some details about scope (domain, number of terms) and some examples for the kind of terms? What is the reason to not directly add these terms to Uberon?

[2020-12-22 21:50] megbalk commented on #1710
FOVT will be an application ontology, pulling trait terms from OBA. We are adding many (300+) trait terms, which require hyper-specific definitions of structures (e.g., the proximal-most point of the ventral tubercle of a humerus), which likely aren't of much use to those that use UBERON regularly. These structure terms then become lines and lengths of lines in OBA.

[2020-12-23 09:39] matentzn commented on #1710
Thank you @megbalk thats very interesting - I will make sure that @dosumis looks at this ticket in early January!

[2020-12-23 12:17] ngeorgeebi commented on #1662
Hi @paolaroncaglia sorry about the missing references. Information I used for this term can be found here: https://www.sciencedirect.com/science/article/pii/B9781437722062000683 and here: https://www.ncbi.nlm.nih.gov/pmc/articles/PMC3210370/

[2020-12-23 13:40] paolaroncaglia commented on #1662
Thanks @ngeorgeebi !
Notes for self: the dbxrefs above are:
https://doi.org/10.1016/B978-1-4377-2206-2.00068-3
PMID:21802415

[2020-12-23 14:56] paolaroncaglia commented on #1664
@mshadbolt
@dosumis
Looking at [uterine tube infundibulum](http://purl.obolibrary.org/obo/UBERON_0003984) more carefully, it has an annotation property "present in taxon: Aves" and a general class axiom "'uterine tube infundibulum' and ('part of' some Mammalia) SubClassOf 'part of' some 'fallopian tube'". (Marion, this axiom is not visible in OLS.) This suggests that the structure does exist outsi

[2020-12-24 20:00] computationdoc commented on #1694
Great responses - very appreciated. We have taken an approach in the general direction as Melissa ( @mellybelly ) suggested, but more conservatively (postulating no new maps and adding relations among CUIs only for directly asserted Code-CUIs by the ontology creator) that appears to work for any ontology, not just UBERON. We found that our Knowledge Graph could accommodate without schema change th

[2020-12-24 20:18] computationdoc commented on #1694
Oh, one more comment to precisely clarify why we "suggest" these mappings. Simple example opportunities that emerge include mostly things like "musculature of body" to "Entire musculature" and "colonic epithelium" to "Colonic Epithelium", but also few things like "wing" to "Wings, Animal" and "adult mammalian kidney" to "Kidney" and "cell layer" to "anatomic layer" so we well understand that all o

[2020-12-28 20:41] cmungall commented on #1694
Thanks!

We have paid much more attention to curating the mappings to open ontologies/vocabularies, over closed systems like UMLS. We should make this more obvious in our mapping metadata via SSSOM files in the future, it's kind of insider knowledge at the moment which is not good.

You can see though through the metadata on the mappings that a lot of the UMLS mappings are inferred from the NCIT m

[2021-01-05 11:53] paola-scibite opened #1715 "UBERON:0012424 brush border layer"
**Uberon term**
UBERON:0012424 brush border layer

**Suggested revision of textual definition**
Defined as "The microvilli-covered surface of simple cuboidal epithelium and simple columnar epithelium cells found in certain locations of the body. Found in small intestine and kidney"
Has related synonyms: brush border membrane, brush border
Please consider disambiguating from GO_0005903 brush border

[2021-01-07 09:17] dosumis commented on #1710
Hi Megan - sounds very interesting & timely.  We may need similar terms for human traits - which we've just hired someone to work on.  We should meet to look at possibilities for co-ordinating soon.

[2021-01-07 20:31] megbalk commented on #1710
sounds good! I'll send a message to coordinate!

[2021-01-11 11:03] paola-scibite opened #1719 "Typo in UBERON:0001860 endolymphatic duct"
**Uberon term**
UBERON:0001860 endolymphatic duct

**Bug description**
Has relational adjective "endoymphatic", please correct to "endolymphatic". Thank you.

[2021-01-11 11:12] paola-scibite opened #1720 "UBERON:0006558 lymphatic part of lymphoid system"
**Uberon term**
UBERON:0006558 lymphatic part of lymphoid system

**Synonym to be added**
The term has related synonym lymporeticular system and has relational adjective lymporeticular. At first I thought it was a typo for "lymphoreticular", but Google has examples of both spellings. However, "lymphoreticular" returns ~1k more matches than "lymporeticular", so you may wish to add
has related synon

[2021-01-11 11:29] paola-scibite commented on #1720
Similarly, please consider adding
has relational adjective proepicardial
to UBERON:0004160 proepicardium (atm it only has "propepicardial", only 73 results in Google).

[2021-01-13 15:19] dosumis opened #1722 "Intestinal junction"
Rationale:

Intestinal junctions are currently classified as  'anatomical junction', which is correct, but a bit too generic.  There should be a better grouping term for intestinal junctions that indicates that they are subdivisions of the intestinal tract, with all the layers etc this structure has.
**Preferred term label:**
intestinal junction

(bit clunky? investigate if something more standard

[2021-01-13 16:10] cmungall commented on #1722
Seems reasonable. We may need to do more clarification on what intestinal
subdivision is. The original intent was to have this be classic textbook
subdivisions, but there is an argument for it being any cross section. But
in that case how many junctions are there? Infinite?

On Wed, Jan 13, 2021, 07:20 David Osumi-Sutherland <notifications@github.com>
wrote:

[2021-01-14 00:02] cmungall commented on #1722
current subclasses of subdivision of 'digestive tract':

https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0004921

![image](https://user-images.githubusercontent.com/50745/104527018-9e1d5d00-55b8-11eb-97f2-3b9b72c2fd27.png)

pattern for layers:

https://github.com/obophenotype/uberon/blob/master/patterns/mucosal_layers.yaml

we need a pattern fo

[2021-01-14 09:16] paolaroncaglia commented on #1664
@mshadbolt
FYI, my suggestion in https://github.com/obophenotype/uberon/issues/1664#issuecomment-750336501 was approved and committed. It will be visible in the next Uberon release. Thanks.

[2021-01-14 09:22] #1664 closed

[2021-01-14 09:25] dosumis commented on #1722
How about:

subdivision of digestive tract
.    segment of digestive tract
.    .    major segment of digestive tract
.    .   .   Ileum
.    .    junction between major segments of digestive tract' (also asserted subclassOf anatomical junction)
.   layer of digestive tract

Not sure about patterns.  This might be safe enough:

EquivalentTo: 'anatomical junction' and connected_to some 'major segme

[2021-01-14 20:11] RDruzinsky commented on #1722
I don't know if this makes sense or makes any difference at all, but an
anatomical junction is not really a subdivision of a structure itself, is
it? It is a point at which two subdivisions meet. It is an anatomical
landmark, often very poorly defined.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulin

[2021-01-14 21:23] cmungall commented on #1722
anatomical boundary:
the way we have modeled it is as a structure, albeit with poorly defined
boundaries. We do have 'anatomical line' for true 1d boundaries. The
structures are more useful for the majority of uberon users, as genes can't
be expressed in lines

happy to entertain a different name for the same concept, e.g. anatomical
boundary region, anatomical boundary structure, ...?

On Thu, Ja

[2021-01-14 21:24] cmungall commented on #1722
this makes sense - do you have someone to implement.. i can try but may be.
a few days

On Thu, Jan 14, 2021 at 1:26 AM David Osumi-Sutherland <
notifications@github.com> wrote:

[2021-01-14 21:53] dosumis commented on #1722
Even if the boundaries are poorly defined, there presumably is some transition zone. These terms are requested for the EBI scAtlas anatamograms.  I don't think they want to them to refer to abstract 1D planes.

I think @paolaroncaglia should be able to work on this sometime soon.

[2021-01-15 04:47] RDruzinsky commented on #1722
I see your point, David, if you want the junction to have some structure or
substance rather than be an abstract point or line.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
druzinsk@uic.edu

Office: 312-996-0406
Lab: 312-996-0629
Website: www.peerj.com/RobertDruzinsky

On Thu,

[2021-01-15 15:07] paolaroncaglia commented on #1665
Note for self: left to do:
- [ ] Add subset tag "added_for_HCA" to UBERON:8410010 fimbria of uterine tube

[2021-01-15 16:37] #1700 closed

[2021-01-15 18:19] paolaroncaglia commented on #1722
I will look into implementing these suggestions next week hopefully. Thank you all for the precious feedback.

[2021-01-18 14:28] cthoyt opened #1724 "Xrefs without prefixes"
**Uberon term**

`UBERON:0004361` (and many others)

**Bug description**

There is an xref appearing in OBO as `xref: Stylohyoid:ligament`. This doesn't have an apparent prefix, but uses the colon so `Stylohyoid` gets parsed as the prefix. This happens hundreds of times throughout UBERON. I think it's possible that this is the Wikipedia page, but with the underscores replaced by colons (maybe an a

[2021-01-18 21:15] ANiknejad opened #1725 "EHDAA2:0001090 medulla oblongata alar plate (human), wrong part_of relationship"
Not sure I am at the right place, but...

[Term]
id: EHDAA2:0001090
name: medulla oblongata **alar plate** (human)
is_a: AEO:0001012 ! neuronal grey matter
is_a: UBERON:0004121 ! ectoderm-derived structure
is_a: UBERON:0005291 ! embryonic tissue
is_a: UBERON:0010314 ! structure with developmental contribution from neural crest
relationship: develops_from EHDAA2:0000924 ! myelencephalon alar plate

[2021-01-19 00:32] cmungall commented on #1725
I think someone will have to go into the ehdaa2 repo and make a PR there

On Mon, Jan 18, 2021 at 1:15 PM Anne Niknejad <notifications@github.com>
wrote:

[2021-01-19 10:06] fbastian commented on #1725
Are you sure this relation comes from EHDAA2 @cmungall? Because in ehdaa2-edit.obo I only see `part_of EHDAA2:0001093 ! medulla oblongata mantle layer`
(plus anyway you're the sole contributor to https://github.com/obophenotype/human-developmental-anatomy-ontology :p)

[2021-01-20 11:44] paola-scibite opened #1726 "UBERON:0007379 shelled egg"
**Uberon term**
UBERON:0007379 shelled egg

**Suggested revision of textual definition**
Current def: The hard-shelled reproductive body produced by a _bird_ and especially by the common domestic chicken; also: its contents used as food. [ http://en.wikipedia.org/wiki/Egg_(biology) http://purl.obolibrary.org/obo/BTO_0000369 ]
but eggs produced by reptiles and monotremes are shelled too. See the su

[2021-01-20 16:40] dosumis opened #1727 "Duplicate 'latin' annotation properties"
Uberon has two APs for latin synonym types.  Only one is a synonym type property.  Delete the one that is not.

See https://github.com/obophenotype/uberon/pull/1707

[2021-01-21 09:46] paola-scibite opened #1728 "UBERON:0006871 embryonic footplate - change synonym scope"
**Uberon term**
UBERON:0006871 embryonic footplate

**Bug description**
Has _exact_ synonyms footplate and foot plate. Please consider changing the scope to broad or related, as a footplate is something else in common speak. Thanks.

[2021-01-21 12:05] ngeorgeebi opened #1729 "NTR: arteriole of small intestine"
**Preferred term label:**
arteriole of small intestine

**Synonyms**
small intestine arteriole

**Definition (free text, please give PubMed ID)**
Arteriole of villus of small intestine. Arterioles are the smallest division of artery located between the muscular arteries and the capillaries[GO]. [ http://amigo.geneontology.org/amigo/term/GO:0014830 ]. Arterioles rapidly respond to vasoconstrictor a

[2021-01-21 12:12] ngeorgeebi opened #1730 "NTR: venule of small intestine"
**Preferred term label:**
venule of small intestine

**Synonyms**
small intestine venule

**Definition (free text, please give PubMed ID)**
Venule located in the small intestine. One of the minute vessels that collect deoxygenated blood from the capillary plexuses returns it to the veins [ MP:0004125 MESH:A07.231.432.952 ]. Venules are the smallest division of the venous system.  They are usually

[2021-01-21 12:13] ngeorgeebi commented on #1729
@paolaroncaglia please tag with SCA thanks!

[2021-01-21 12:13] ngeorgeebi commented on #1730
@paolaroncaglia please tag with SCA thank you!

[2021-01-21 12:16] ngeorgeebi opened #1731 "NTR: lymphatic capillary of small intestine"
**Preferred term label:**
lymphatic capillary of small intestine

**Synonyms**
small intestine lymphatic capillary

**Definition (free text, please give PubMed ID)**
Lymphatic capillary that is located in the small intestine. Microvessel of the lymphatic system lined with a single layer of overlapping endothelial cells. Joins to form the lymphatic vessels. [ ZFA:0005252 ]

**Parent term (use https

[2021-01-21 12:16] ngeorgeebi commented on #1731
@paolaroncaglia sorry for the spam - SCA tag please :)

[2021-01-21 12:26] ngeorgeebi opened #1732 "NTR: lymphatic vessel of small intestine"
**Preferred term label:**
lymphatic vessel of small intestine

**Synonyms**
small intestine lymphatic vessel

**Definition (free text, please give PubMed ID)**
A lymphatic vessel that supplies the small intestine. A vessel that contains or conveys lymph, that originates as an interfibrillar or intercellular cleft or space in a tissue or organ, and that if small has no distinct walls or walls compo

[2021-01-21 12:27] ngeorgeebi commented on #1732
@paolaroncaglia please tag with SCA. Can discuss with @dosumis if this is better for EFO?

[2021-01-21 12:52] ngeorgeebi opened #1733 "NTR: arteriole of large intestine"
Preferred term label:
arteriole of large intestine

Synonyms
large intestine arteriole

Definition (free text, please give PubMed ID)
Arteriole of villus of large intestine. Arterioles are the smallest division of artery located between the muscular arteries and the capillaries[GO]. [ http://amigo.geneontology.org/amigo/term/GO:0014830 ]. Arterioles rapidly respond to vasoconstrictor and vasodilat

[2021-01-21 12:52] ngeorgeebi commented on #1733
@paolaroncaglia please add SCA tag

[2021-01-21 12:54] ngeorgeebi opened #1734 "NTR: venule of large intestine"
Preferred term label:
venule of large intestine

Synonyms
large intestine venule

Definition (free text, please give PubMed ID)
Venule located in the large intestine. One of the minute vessels that collect deoxygenated blood from the capillary plexuses returns it to the veins [ MP:0004125 MESH:A07.231.432.952 ]. Venules are the smallest division of the venous system. They are usually mirrored with

[2021-01-21 12:55] ngeorgeebi commented on #1734
SCA tag needed please @paolaroncaglia

[2021-01-21 13:04] ngeorgeebi opened #1735 "NTR: lymphatic vessel of large intestine"
Preferred term label:
lymphatic vessel of large intestine

Synonyms
large intestine lymphatic vessel

Definition (free text, please give PubMed ID)
A lymphatic vessel that supplies the large intestine. A vessel that contains or conveys lymph, that originates as an interfibrillar or intercellular cleft or space in a tissue or organ, and that if small has no distinct walls or walls composed only of

[2021-01-21 13:07] ngeorgeebi opened #1736 "NTR: lymphatic capillary of large intestine"
Preferred term label:
lymphatic capillary of large intestine

Synonyms
large intestine lymphatic capillary

Definition (free text, please give PubMed ID)
Lymphatic capillary that is located in the large intestine. Microvessel of the lymphatic system lined with a single layer of overlapping endothelial cells. Joins to form the lymphatic vessels. [ ZFA:0005252 ]

Parent term (use https://www.ebi.ac.

[2021-01-21 13:07] ngeorgeebi commented on #1736
SCA tag please @paolaroncaglia

[2021-01-22 13:35] matentzn commented on #1681
Pipeline in #1739 ready for review and ready to go.

[2021-01-22 13:45] ngeorgeebi opened #1740 "NTR: afferent lymphatic vessel valve"
**Preferred term label:**
afferent lymphatic vessel valve

**Synonyms**
valve of afferent lymphatic vessel

**Definition (free text, please give PubMed ID)**
Valves are essential for the correct flow of fluid through a system. Valves in the afferent lymphatic vessel manage the flow of lymphatic fluid into the lymph node carrying immune cells. (original text)

**Parent term (use https://www.ebi.ac.

[2021-01-22 13:45] ngeorgeebi commented on #1740
@paolaroncaglia please add an SCA tag :)

[2021-01-22 13:58] ngeorgeebi commented on #1740
query whether parent term should be lymphatic valve: http://purl.obolibrary.org/obo/UBERON_0034949 instead?

[2021-01-22 14:11] ngeorgeebi opened #1741 "NTR: efferent lymphatic vessel valve"
**Preferred term label:**
efferent lymphatic vessel valve

**Synonyms**
valve of efferent lymphatic vessel

**Definition (free text, please give PubMed ID)**
Valves are essential for the correct flow of fluid through a system. Valves in the afferent lymphatic vessel manage the flow of lymphatic fluid out of the lymph node carrying immune cells. (original text)

**Parent term (use https://www.ebi.a

[2021-01-22 14:11] ngeorgeebi commented on #1741
@paolaroncaglia please tag with SCA

[2021-01-22 15:39] ngeorgeebi opened #1749 "NTR: trabecular sinus of lymph node"
**Preferred term label:**
trabecular sinus of lymph node

**Synonyms**
lymph node trabecular sinus

**Definition (free text, please give PubMed ID)**
The trabecular sinus is the lymph filled space inside the trabeculae between lobules of the lymph node. This is a continuation of the subcapsular sinus which receives the afferent vessels and is present beneath the capsule. This space is traversed by

[2021-01-22 15:40] ngeorgeebi commented on #1749
@paolaroncaglia please add SCA tag:
Also - need to make trabeculae of lymph node NTR?
needs to have part of: lymph node for anatomograms

[2021-01-22 17:15] paolaroncaglia commented on #1657
@ngeorgeebi
I created UBERON:8410000 duodeno-jejunal junction, it will be in the next Uberon release (there isn't a precise scheduled date yet, but I will ask at the editors' call on Monday). Thanks.

[2021-01-22 17:16] #1657 closed

[2021-01-22 17:19] dosumis commented on #1727
It turns out that these are coming from CL - where they have slightly different IRIs to the Uberon ones due to a defect in the OBO2OWL conversion.   The solution is, I think, to use the Uberon IRIs in both cases - I will make a ticket to this effect for CL.

[2021-01-22 17:19] #1692 closed

[2021-01-22 17:44] paolaroncaglia commented on #1727
@dosumis

Thanks for looking into this. I'll close this ticket then as a duplicate of https://github.com/obophenotype/cell-ontology/issues/893.

[2021-01-22 17:44] #1727 closed

[2021-01-25 22:39] sfexova opened #1752 "NTR: medullary arteriole of lymph node"
**Preferred term label:**
 medullary arteriole of lymph node

**Synonyms**
arteriole of medulla of lymph node

**Definition (free text, please give PubMed ID)**
Arterioles that arise from the hilar artery of a lymph node and radiate centrifugally, branching in the medulla.  PUBMED ID: https://pubmed.ncbi.nlm.nih.gov/17067937/

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
medul

[2021-01-25 22:57] sfexova opened #1753 "NTR: medullary venule of lymph node"
**Preferred term label:**
medullary venule of lymph node

**Synonyms**
venule of medulla of lymph node

**Definition (free text, please give PubMed ID)**
Medullary venules are a continuation of high endothelial venules which condense repeatedly in the interfollicular cortex and peripheral deep cortical unit and then transition to medullary venules at the corticomedullary junction. The medullary ve

[2021-01-26 09:30] sfexova opened #1754 "NTR: high endothelial venule"
**Preferred term label:**
high endothelial venule

**Synonyms**

**Definition (free text, please give PubMed ID)**
High endothelial venules are specialized blood vessels adapted for lymphocyte trafficking. They form a spatially organized network, which controls both the type of lymphocyte and the site of entry into lymphoid tissues. Uniquely, high endothelial venules express vascular addressins th

[2021-01-26 09:46] sfexova commented on #1754
Hi, we need this term connected to lymph node for the anatomograms, but it is a general feature of all lymphoid organs, so probably cleanest to create another term specific to lymph node?

[2021-01-26 10:10] sfexova opened #1755 "NTR: high endothelial venule of lymph node"
**Preferred term label:**
high endothelial venule of lymph node

**Synonyms**

**Definition (free text, please give PubMed ID)**
High endothelial venule (a specialized blood vessel adapted for lymphocyte trafficking) that is part of a of lymph node. https://pubmed.ncbi.nlm.nih.gov/28217126/

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
high endothelial venule (new term, reques

[2021-01-26 16:51] #1719 closed

[2021-01-26 20:54] megbalk commented on #559
I've added abbreviations for what we use in non-human anatomy: we use the letter (e.g., p in premolar) to denote if it is upper or lower (P for upper, p for lower) not "U" or "L"

[2021-01-26 20:57] megbalk opened #1757 "consistency in tooth terms"
**Uberon term**
Molar tooth or Premolar tooth. Some have "tooth" in the name, some don't. Some have the number written out (fourth) and some have the number itself (4). Which is preferred? I'm happy to edit it and submit a pull request (for my own use it'd be helpful if they were consistent).

**Bug description**

[2021-01-26 21:01] megbalk commented on #1593
It looks like these have been fixed, is that correct?

[2021-01-27 02:45] nicolevasilevsky commented on #1726
I revised the def.

I'm not sure about yolks, I don't know of them existing outside of eggs.

[2021-01-27 14:02] paola-scibite opened #1759 "UBERON:6003007 insect adult head"
**Uberon term**
UBERON:6003007 insect adult head

**Suggested revision and reasons**
Is currently not a child of UBERON:6000004 insect head.
Also, if these FBbt terms are to stay in Uberon, please consider disambiguating the labels of the descendants of UBERON:6003007 'insect adult head' to refer to insects explicitly. E.g., UBERON:6003624 'adult brain' (xref FBbt:00003624) should be renamed 'inse

[2021-01-27 20:57] cmungall commented on #1759
here is why it doesn't classify

[code]

this is a good example of the ragged lattice issue, and why making taxon-specific classes is a bad idea

we should have done this all differently, but given we have this legacy, some incremental steps

 - [ ] fix labels as suggested above
 - [ ] mark things in this subset that are required by GO
 - [ ] obsolete things that are poor fits for uberon.

[2021-01-27 20:57] cmungall commented on #1759
So it turns out we added a lot of these for use in GO axiomatization... but we never finished this

[code]

no logical def... cc @balhoff @ukemi

[2021-01-28 15:10] anuwatpe opened #1761 "Adding 'distal common bile duct'"
**Preferred term label:**
distal common bile duct

**Synonyms**
distal bile duct

**Definition (free text, please give PubMed ID)**
The section of the tube-like structure carrying bile that is closest to the intestine and furthest from the hepatic and cystic ducts.
Here is an NCIT ID: http://purl.obolibrary.org/obo/NCIT_C60801
NCIT dictionary term: https://www.cancer.gov/publications/dictionaries/

[2021-01-28 22:48] cmungall commented on #1710
I'm worried about confusion about which term belongs where - also what is the direction of imports? modularization is hard. I am more of a lumper than others. I appreciate there may have been issues getting timely releases of uberon in the past but we are getting better!

[2021-01-28 23:01] megbalk commented on #1710
We (@ramonawalls, @matentzn, @balhoff, Istvan, and @dosumis) had a discussion back in Nov. about how to best and where to add terms. For a few reasons (need to import more from BSPO and RO; limitations in nesting for axioms) we decided it'd be best to create a module as an option for UBERON users. The terms we are creating are lines for OBA to call lengths of, so not likely something more anatomis

[2021-01-29 11:21] ngeorgeebi opened #1762 "NTR: lymph node germinal center mantle zone"
**Preferred term label:**
germinal center mantle zone

**Synonyms**
lymph node germinal center mantle zone; mantle zone of lymph node germinal center; mantle zone of germinal center; germinal center mantle zone

**Definition (free text, please give PubMed ID)**
After an immune response B cells multiply and differentiate into B cell blasts. This proliferation displaces the IgM and IgD positive B ce

[2021-01-29 11:22] ngeorgeebi commented on #1762
@paolaroncaglia tagged and assigned you :)

[2021-01-29 11:38] ngeorgeebi opened #1763 "NTR: lymph node germinal center light zone"
**Preferred term label:**
germinal center light zone

**Synonyms**
light zone of germinal center; lymph node germinal center light zone; light zone of lymph node germinal center

**Definition (free text, please give PubMed ID)**
Lymph node germinal centers contain two microenvironments - the light zone and the dark zone. The light zone is sparsely populated with B cells and includes additional cel

[2021-01-29 11:39] ngeorgeebi commented on #1763
thanks @paolaroncaglia

[2021-01-29 11:43] ngeorgeebi opened #1764 "NTR: lymph node germinal center dark zone"
**Preferred term label:**
germinal center dark zone

**Synonyms**
dark zone of germinal center; lymph node germinal center dark zone; dark zone of lymph node germinal center

**Definition (free text, please give PubMed ID)**
Lymph node germinal centers contain two microenvironments - the light zone and the dark zone. The dark zone is densely populated with B cell blasts and reticular cells.PMID: 2

[2021-01-29 11:43] ngeorgeebi commented on #1764
thanks @paolaroncaglia

[2021-01-29 11:50] ngeorgeebi opened #1765 "NTR: high endothelial venule of Peyer's patch"
Preferred term label:
high endothelial venule of Peyer's patch

Synonyms

Definition (free text, please give PubMed ID)
High endothelial venule (a specialized blood vessel adapted for lymphocyte trafficking) that is part of a Peyer's patch in the small intestne. https://pubmed.ncbi.nlm.nih.gov/28217126/

Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)
high endothelial venule (new ter

[2021-01-29 11:50] ngeorgeebi commented on #1765
thanks @paolaroncaglia equivalent term to high endothelial venule of lymph node @sfexova created so putting her ORCID ID in as well

[2021-01-29 14:44] ngeorgeebi opened #1767 "NTR: lymph node follicle marginal zone"
**Preferred term label:**
lymph node follicle marginal zone

**Synonyms**
marginal zone of lymph node; marginal zone of lymph node follicle; lymph node marginal zone

**Definition (free text, please give PubMed ID)**
Histologically, the marginal zone pattern of the lymph node is characterized by lymphoid follicles with three distinct layers. The inner layer is composed of follicular center zones,

[2021-01-29 14:45] ngeorgeebi commented on #1767
Thanks @paolaroncaglia  and sorry for the long description.

[2021-01-29 14:47] ngeorgeebi commented on #1767
dunno whether we should make this a child of mesenteric lymph node too?

[2021-01-29 14:53] ngeorgeebi opened #1768 "Synonym: lymph node paracortex"
**Uberon term**
lymph node T cell domain

**Synonym to be added**
lymph node paracortex

**broad/exact/narrow/related ?**
exact

[2021-01-29 14:58] ngeorgeebi commented on #1768
@paolaroncaglia sorry to be a pain. Ideally we would really like for lymph node paracortex to be the main term for this with the original existing term to be the synonym.
We would also recommend that the definition be changed:
Potential definition:
The lymph node paracortex is the middle layer of the lymph node and is mostly populated by T cells and dendritic cells. The paracortex also contains sp

[2021-01-29 14:59] ngeorgeebi commented on #1768
feel free to also add my ORCID ID ;) orcid.org/0000-0003-4183-8865/

[2021-01-29 15:08] ngeorgeebi opened #1769 "Synonym: lymph node follicular corona"
**Uberon term**
lymph node follicular corona http://purl.obolibrary.org/obo/UBERON_0010420

**Synonym to be added**
lymph node follicular mantle zone; lymph node follicle mantle zone

**broad/exact/narrow/related ?**
exact

[2021-01-29 15:09] ngeorgeebi commented on #1769
Dear both: this is me being pendantic - sorry! It's to fit in with the new term request for lymph node follicle mantle zone :)

[2021-01-30 16:23] paolaroncaglia commented on #1659
@ngeorgeebi
Your request has been added as follows:

[Term]
id: UBERON:8410016
name: descending sigmoid junction
def: "The anatomical junction between the descending colon and the sigmoid colon." [https://orcid.org/0000-0003-4183-8865, PMID:27233374]
synonym: "descending-sigmoid colon junction" EXACT []
synonym: "descending-sigmoid junction" EXACT []
synonym: "sigmoid junction" BROAD []
intersecti

[2021-01-30 16:23] #1659 closed

[2021-01-30 16:31] paolaroncaglia commented on #1660
@ngeorgeebi
Your request was added as

[Term]
id: UBERON:8410017
name: left colic vein
def: "A portal vein that drains the descending colon. It is a tributary of the inferior mesenteric vein, and follows the path of its corresponding artery, the left colic artery." [https://orcid.org/0000-0003-4183-8865, WikipediaVersioned:Left_colic_vein&oldid=964575339]
xref: FMA:15394
intersection_of: UBERON:00

[2021-01-30 16:31] #1660 closed

[2021-01-30 16:32] paolaroncaglia commented on #1661
@ngeorgeebi
Your request was added:

[Term]
id: UBERON:8410018
name: right colic vein
def: "A portal vein that drains the ascending colon. It is a tributary of the superior mesenteric vein, and travels with its corresponding artery, the right colic artery." [https://orcid.org/0000-0003-4183-8865, WikipediaVersioned:Right_colic_vein&oldid=870898828]
xref: FMA:15407
intersection_of: UBERON:0002017 !

[2021-01-30 16:32] #1661 closed

[2021-01-30 16:33] paolaroncaglia commented on #1662
@ngeorgeebi
Last one for today, will be in the next Uberon release:

[Term]
id: UBERON:8410019
name: jejuno-ileal junction
def: "The area where the jejunum ends and the ileum part of the intestine begins. Although there is no clear distinct section, the ileum is narrower and has smaller villi than the jejunum." [DOI:10.1016/B978-1-4377-2206-2.00068-3, https://orcid.org/0000-0003-4183-8865, PMID:21

[2021-01-30 16:33] #1662 closed

[2021-02-02 09:22] ANiknejad opened #1772 "UBERON:0000023 wing has taxon constraint never_in_taxon NCBITaxon:8457 "Sauropsida""
UBERON:0000023 "wing"
never_in_taxon NCBITaxon:8457 "Sauropsida"

this is present in the last .owl version (as seen by @fbastian ) because in the .obo file, these 'never_in_taxon' information do no more appear (bug?)

[2021-02-03 09:54] mkeays commented on #1652
Other serosa in UBERON are children of [serous membrane](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000042) -- will use this as parent and add `part_of` relationship to [liver](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0002107).

[2021-02-03 10:40] mkeays commented on #1651
Adding as child of [liver parenchyma](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0001280) with `part_of` relationship to [liver](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0002107), `adjacent_to` relationship to [capsule of liver](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?i

[2021-02-03 10:43] mkeays commented on #1651
Added UBERON:8400024.

[2021-02-03 10:43] mkeays commented on #1653
Added UBERON:8400023.

[2021-02-03 10:44] mkeays commented on #1652
Added UBERON:8400021.

[2021-02-04 10:59] paolaroncaglia commented on #1729
Hi @ngeorgeebi ,
A few questions please:

Thanks, but we don't need to include details about arterioles in general here - they'd pertain to 'arteriole' UBERON:0001980. If you know of any publication (possibly associated to a dataset) that looks at/analyses this particular anatomical location, please provide its PMID, otherwise I'll just use your ORCID.

A new term 'digestive system arteriole' is n

[2021-02-04 11:15] paolaroncaglia commented on #1730
@ngeorgeebi
I presume that these are located more specifically in the _villi_ of small intestine? I.e. rather than in the small intestine in general.
Also please see my questions in #1729 . Thank you!

[2021-02-04 11:23] paolaroncaglia commented on #1731
@ngeorgeebi
Could you please confirm if the term you need is broader than the existing one Uberon:0018410 'lacteal' "a lymphatic capillary that absorbs dietary fats in the villi of the small intestine.".
If yes, my questions in #1729 apply. Thanks.

[2021-02-04 11:30] paolaroncaglia commented on #1732
@ngeorgeebi
My general questions in #1729 apply please.

[2021-02-04 11:33] paolaroncaglia commented on #1732
@ngeorgeebi
@dosumis

I think we've agreed to keep anatomy terms in Uberon (similarly to cell type terms in CL) rather than EFO, as long as we tag and axiomatise appropriately to ensure that classification is maintainable. David, please shout otherwise. :-)

[2021-02-04 12:08] paolaroncaglia commented on #1733
@ngeorgeebi
Your suggested def says "Arteriole of _villus_ of large intestine". Could you please confirm that you meant to refer to/have anatomical evidence for villi in the large intestine? Asking because the Uberon def of 'large intestine' says "A subdivision of the digestive tract that connects the small intestine to the cloaca or anus. _Lacks or has few villi_[Kardong]." and the existing Ubero

[2021-02-04 12:12] paolaroncaglia commented on #1729
Note for self: I've started to add this term and its "siblings" in an uncommitted branch "Nancys_NTRs_1729_to_1736".

[2021-02-04 12:22] paolaroncaglia commented on #1740
@ngeorgeebi

Yes indeed.
My questions in #1729 apply please.

[2021-02-04 12:27] paolaroncaglia commented on #1740
Note for self: I've started to add to an uncommitted branch "issues_1740_1741".

[2021-02-04 14:12] dosumis commented on #1759
CC @Clare72

[2021-02-04 14:14] dosumis opened #1779 "Cornea should not be part of integument"
![image](https://user-images.githubusercontent.com/6722114/106823515-f08cef00-6635-11eb-940d-17bcb9e4402e.png)

Ticket motivated by: https://github.com/monarch-initiative/mondo/issues/542

Poss fixes:
 - Remove classification as 'surface structure' (this is a dubious term anyway)
 - 'surface structure' part_of integument -> integument is_a 'surface structure'

[2021-02-04 14:31] dosumis commented on #1681
Progress on importing connections here: #1780

[2021-02-04 21:47] sfexova opened #1782 "NTR: lymph node vein"
**Preferred term label:**
lymph node vein

**Synonyms**
vein of lymph node, hilar vein of lymph node

**Definition (free text, please give PubMed ID)**
Lymph node venules condense and form lymph node vein which exits at the lymph node hilum and is also called hilar vein. PMID: 17067937

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
lymph node http://purl.obolibrary.org/obo/UBER

[2021-02-04 21:54] sfexova opened #1783 "NTR: lymph node artery"
**Preferred term label:**
lymph node artery

**Synonyms**
artery of lymph node, hilar artery of lymph node

**Definition (free text, please give PubMed ID)**
Lymph node artery enters the lymph node at the hilum and branches into smaller arterioles. PMID: 17067937

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
lymph node http://purl.obolibrary.org/obo/UBERON_0000029

**Your nano

[2021-02-05 09:52] paolaroncaglia commented on #1783
Notes for self:
1) No xref available in FMA, NCIT or other. But PMID provided should suffice. I'd also add
WikipediaVersioned:Lymph_node&oldid=1001655735#Structure
which includes this bit: "The hilum is an indent on the concave surface of the lymph node where lymphatic vessels leave and blood vessels enter and leave."
2) Synonyms should be entered as suggested. "hilar artery" alone is ambiguous (m

[2021-02-05 09:54] paolaroncaglia commented on #1782
Notes for self:
1) No xref available in FMA, NCIT or other. But PMID provided should suffice. I'd also add
WikipediaVersioned:Lymph_node&oldid=1001655735#Structure
which includes this bit: "The hilum is an indent on the concave surface of the lymph node where lymphatic vessels leave and blood vessels enter and leave."
2) Synonyms should be entered as suggested. "hilar vein" alone may be ambiguous.

[2021-02-05 10:55] RLovering opened #1785 "His-Purkinje system"
**Uberon term**
UBERON:0004146 His-Purkinje system and child term revisions

**Suggested revision and reasons**
The GO ontology term GO:0086069 bundle of His cell to Purkinje myocyte communication is not accurate because the left and right bundle branches are not considered to be part of the bundle of His rather they are branches from the bundle of His. David Hill has asked me to request a revisio

[2021-02-05 14:59] paolaroncaglia commented on #1702
@ngeorgeebi
UBERON:8410022 left colic artery will be in the Uberon release - coming very soon.

[2021-02-05 14:59] #1702 closed

[2021-02-05 15:00] paolaroncaglia commented on #1703
@ngeorgeebi
UBERON:8410023 right colic artery
will be in the next Uberon release.

[2021-02-05 15:00] #1703 closed

[2021-02-05 15:16] paolaroncaglia commented on #1688
@mshadbolt
Your requested term
UBERON:8410021 inguinal region skin
will be in the next Uberon release - coming very soon. (The next HCAO release is planned for Feb 18th, so the term should be in there too and visible in OLS ~Feb 20th.)

[2021-02-05 15:19] #1688 closed

[2021-02-05 15:47] paolaroncaglia commented on #1665
Note for self:
- [ ] Fix synonym type property, see https://github.com/obophenotype/uberon/pull/1770#pullrequestreview-584219190

[2021-02-05 16:00] paolaroncaglia commented on #1782
Hi @sfexova ,
Your requested new term
UBERON:8410033 lymph node vein
will be in the next release of Uberon, which should happen very soon.

[2021-02-05 16:01] #1782 closed

[2021-02-05 16:02] paolaroncaglia commented on #1783
@sfexova
UBERON:8410034 lymph node artery
will be in the next Uberon release.

[2021-02-05 16:02] #1783 closed

[2021-02-05 16:36] paolaroncaglia commented on #1665
@mshadbolt
UBERON:8410010 fimbria of uterine tube
(with synonyms fimbriae of uterine/fallopian tube)
will be in the next Uberon release.

[2021-02-08 16:57] paolaroncaglia opened #1786 "NTR: airway submucosal gland"
Stemming from https://github.com/EBISPOT/efo/issues/880:

**Preferred term label:**
airway submucosal gland

Subclass of UBERON:0011148 submucosal gland
Part of some bronchus (as per EFO term specs)

Exact synonyms:
bronchus submucosal gland, bronchial submucosal gland

**Definition (free text, please give PubMed ID)**
A submucosal gland located in a bronchus.
@ngeorgeebi and/or @sfexova could you

[2021-02-08 20:50] cmungall commented on #1785
I agree with these changes

[2021-02-08 22:20] RLovering commented on #1785
great, will you be submitting these revisions as this is not something I can do

[2021-02-08 23:27] nicolevasilevsky commented on #1785
Hi @RLovering, I can work on this! :)

[2021-02-09 00:55] nicolevasilevsky commented on #1785
Revised labels:
- [ ] His-Purkinje system (add synonyms: ventricular conduction system, VCS
- [ ] atrioventricular bundle -change label to bundle of His (add synonyms: atrioventricular bundle, AVB, His bundle)
- [ ] left branch of atrioventricular bundle - change label to left bundle branch
- [ ] right branch of atrioventricular bundle - change label to right bundle branch

@RLovering, to clarify,

[2021-02-09 16:41] nicolevasilevsky commented on #1785
@RLovering another question- did you also want to change some of the relationship types too? If yes, could you please outline the changes for me, I'd be happy to implement.

[2021-02-09 17:37] RLovering commented on #1785
Hi Nicole
I had misinterpreted the figure above as clearly the  atrioventricular junction is not part of the conduction system. I have asked a heart morphology expert here about the whether there is a name for the part of the bundle of his where the RBB and LBB branches initiate, from all the figures I have seen I don't think this point has a name. Unfortunately the expert hasn't got back to me so

[2021-02-09 19:33] nicolevasilevsky commented on #1785
Done: (on PR)

- bundle of His (synonyms: atrioventricular bundle, AVB, His bundle)
- left bundle branch
  - synonyms: left branch of atrioventricular bundle, LBB
  - part of some His-Purkinje system
- right bundle branch
  - synonyms: right branch of atrioventricular bundle, RBB
  - part of some His-Purkinje system
- New term: Purkinje fibre network
Does this look correct @RLovering?
![image](htt

[2021-02-09 19:37] RLovering commented on #1785
Im not very good at reading these, but the cardiac Purkinje fiber needs to be a part of child of Purkinje fiber network as the Purkinje fiber network is made up of lots of Purkinje fibers.

and yes Purkinje fiber network is a part of child to His-Purkinje system

does that make sense?

[2021-02-09 20:45] paolaroncaglia opened #1789 "Typos in def of UBERON:4200120 puboischiadic plate + do spell-checking?"
**Uberon term**
UBERON:4200120 puboischiadic plate

**Bug description**
Def contains several typos
"A broad _expnase_ of bone _incorperating_ both the pubis and the ischium. Origin site for ventral limb muscle including the _pubioishciofemoralis_ externus. Modified from Romer 1956"

I spotted this randomly while looking at the diff for the release. I recall that the discussion on implementing some

[2021-02-09 21:28] nicolevasilevsky commented on #1785
yes, makes sense! I made this change.

[2021-02-11 13:24] mkeays opened #1790 "Revise relationships between functional zones of hepatic acinus and structural regions of liver lobule"
**Uberon term**
The three zones of the hepatic acinus and the three regions of liver lobule.
UBERON:8400001
UBERON:8400002
UBERON:8400003
UBERON:8400006
UBERON:8400007
UBERON:8400008

**Suggested revision of logical definition**
The acinus and its zones are functional concepts while the lobule and its regions are structural, though there is overlap between them and they are often used interchangea

[2021-02-11 14:01] #1759 closed

[2021-02-11 14:05] #1726 closed

[2021-02-11 15:41] paolaroncaglia commented on #1670
@rachadele
These terms have been added to Uberon and will be available in the upcoming Uberon release:
UBERON:8410025 transition zone of prostate
UBERON:8410026 peripheral zone of prostate
UBERON:8410027 central zone of prostate
They should be automatically imported in the next HCAO release (sceduled for Feb. 18th).
Thanks,
Paola

[2021-02-11 15:42] #1670 closed

[2021-02-11 21:05] #1651 closed

[2021-02-11 21:23] #1715 closed

[2021-02-11 21:26] dosumis commented on #1785
Hi Ruth - are you happy with this now?  If so we could get it into the new release.

[2021-02-12 09:50] sfexova opened #1793 "NTR: venule of lymph node"
**Preferred term label:**
venule of lymph node

**Synonyms**

**Definition (free text, please give PubMed ID)**
A venule (a very small vein that collects blood from capillaries) that is part of a lymph node. PMID: 17067937

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
lymph node http://purl.obolibrary.org/obo/UBERON_0000029
venule http://purl.obolibrary.org/obo/UBERON_0001979

[2021-02-12 09:54] sfexova opened #1794 "NTR: arteriole of lymph node"
**Preferred term label:**
arteriole of lymph node

**Synonyms**

**Definition (free text, please give PubMed ID)**
An arteriole (a very small artery that leads and delivers blood to capillaries) that is part of a lymph node. PMID: 17067937

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
lymph node http://purl.obolibrary.org/obo/UBERON_0000029
arteriole http://purl.obolibrary.org

[2021-02-12 14:09] RLovering commented on #1785
Hi Both

I am happy with what has been set up. But I also have found one more term that is required. Andrew Cook here at UCL has requested that we add the Uberon term:
branching atrioventricular bundle
synonym: branching bundle
Definition: The part of the His-Purkinje system where the atrioventricular bundle bifurcates to the right bundle branch and the left bundle branch

Note that this term is n

[2021-02-12 14:32] paolaroncaglia opened #1795 "Review asserted children of 'anatomical junction'"
Stemming from https://github.com/obophenotype/uberon/pull/1774#issuecomment-771704481, copying here as a quick reminder to take a look:

Looking at the asserted children of 'anatomical junction',
- [x] I wonder if 'perineal body' is indeed a junction (def says it's located at a junction, which doesn't necessarily make it a junction?)
- [x] should 'angle of oral opening' be better axiomatised?
- [x

[2021-02-12 15:35] #1785 closed

[2021-02-12 15:38] dosumis commented on #1785
Hi all.  I've merged changes so far so this makes it into the new release. Please open a new ticket for the missing term and anything (if any) missed.

[2021-02-16 10:21] matentzn opened #1797 "Check in null.owl"
The composite files need a file called `null.owl` which currently cant be found. @cmungall can you check it in?

[code]

[2021-02-21 12:41] #1797 closed

[2021-02-21 12:47] matentzn opened #1799 "How to debug unsat in composite?"
[code]

This whole block is very hard for me to understand - What should I do if `unreasoned-composite-%.owl` fails because of an unsatisfiable class?

For example, I get:

[code]

Now because `SpeciesMergeUtil` needs the reasoner, I cant dump an intermediate ontology that I can look and debug. Whats the best way to inspect this problem?

[2021-02-21 16:26] matentzn commented on #1799
Found a way to debug:

[code]

[2021-02-21 16:29] matentzn commented on #1799
If anyone can see any obvious problems here, please let me know @cmungall @balhoff @dosumis

## [forebrain (prosencephalon)](http://purl.obolibrary.org/obo/DHBA_10156) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [forebrain (prosencephalon)](http://purl.obolibrary.org/obo/DHBA_10156) SubClassOf [part of](http://purl.obolibrary.org/obo/BFO_0000050) some [brain](http://purl.ob

[2021-02-21 16:38] matentzn commented on #1799
This looks suspicious:

- [reproductive structure](http://purl.obolibrary.org/obo/UBERON_0005156) EquivalentTo [connected anatomical structure](http://purl.obolibrary.org/obo/UBERON_0000061) and ([part of](http://purl.obolibrary.org/obo/BFO_0000050) some [reproductive system](http://purl.obolibrary.org/obo/UBERON_0000990)) [ext.owl]
- [reproductive structure](http://purl.obolibrary.org/obo/UBERON_

[2021-02-21 16:53] matentzn commented on #1799
Ignore this ticket. Found the proble I think.

[2021-02-21 18:48] matentzn commented on #1799
Update to self: seems poro carries in disjoint axioms.

[2021-02-22 08:46] dosumis commented on #1799
This doesn't look right to me:

brain SubClassOf part of some neural tube [ext.owl]

[2021-02-22 11:36] #1653 closed

[2021-02-22 11:36] #1652 closed

[2021-02-22 13:50] matentzn commented on #1799
@dosumis where did you see this? I don't see that axiom (anymore?) it was there in the first version of the ticket, but I have corrected that since.

[2021-02-26 11:53] fbastian opened #1800 "life-stages-minimal cannot be found"
The subset life-stages-minimal is not accessible, e.g., http://purl.obolibrary.org/obo/uberon/subsets/life-stages-minimal.obo

[2021-03-01 17:12] paolaroncaglia commented on #1749
@ngeorgeebi

No, this already exists as UBERON:0002195 'trabecula of lymph node'. However, I could
- [ ] add exact synonyms "trabeculae of lymph node" and "lymph node trabeculae" (with synonym type = plural)
- [ ] (less urgent) do the same for 'trabecula' and any of its children that don't have them already.

[2021-03-01 17:50] paolaroncaglia commented on #1749
@ngeorgeebi

Based on the figures and text in https://en.wikipedia.org/wiki/Lymph_node, and consistently with the book reference above, the sinus would be the space _outside_ the trabeculae, not inside. It should be modelled similarly to UBERON:0005463 'subcapsular sinus of lymph node':

'anatomical space' and ('part of' some 'lymph node') and ('adjacent to' some 'trabecula of lymph node')

That w

[2021-03-01 17:55] dosumis commented on #1729
* Agree that grouping terms could get excessively abstracted.  I'd limit them to where they are useful.  Danger of combinatorial explosion otherwise.   So hold of on arteriole of digestive system unless required (by SCA).
* I'd be interested to see how effective definitions of the form x_part_of some  y are for grouping the vasculature by location.  Other relations are sometimes used.  This should

[2021-03-01 19:53] johnwjudkins opened #1801 "NTR: placental blood"
**Preferred term label:**
placental blood

**Definition (free text, please give PubMed ID)**
Blood located in the placenta.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
blood

**Your nano-attribution (ORCID)**
0000-0001-6595-0902

I also suggest the subclass axiom "located_in some placenta", similar to the axiom for 'umbilical cord blood'. I am developing for a project that d

[2021-03-02 10:12] paolaroncaglia commented on #1729
Notes for self:
- [ ] Look more in depth at logical defs for vasculature by location (what relations are used; does reasoner classify effectively);
- [ ] Add location_grouping subset tag in Uberon [same as done previously for CL](https://github.com/obophenotype/cell-ontology/pull/808/commits/5663e000847a9b23aa79402fb1ad6add0493a37f).

[2021-03-04 12:05] paolaroncaglia commented on #1786
Note for self,
- [ ] Fix typo in label of UBERON:0008989 submocosal esophageal gland (should be submucosal).

[2021-03-05 11:35] ngeorgeebi commented on #1786
@ngeorgeebi ORCID: 0000-0003-4183-8865
@sfexova ORCID: 0000-0003-3440-1876

sorry for the delay @paolaroncaglia

[2021-03-05 11:49] ngeorgeebi commented on #1729
thanks @paolaroncaglia  and @dosumis for the questions sorry for the delayed reply!
To answer your questions:
1. PMID - we don't have a specific publication specifically for arterioles in the digestive system - so please just use my orcid ID
2. We do need this term for SCA as there is an image for it that requires the tag

Hope this answers everything but feel free to ping me if more :)

[2021-03-05 11:56] ngeorgeebi commented on #1749
Thanks @paolaroncaglia apologies for the mistake. All your comments look good so i'm happy with that 👍

[2021-03-05 12:16] ngeorgeebi commented on #1740
Thanks @paolaroncaglia for looking into this and for the questions.
As with #1729 - no specific publication, so please just use my ORCID ID and yes, we would like it for SCA as it will be part of the anatomograms.

Apologies for the delayed reply

[2021-03-05 12:19] ngeorgeebi commented on #1733
Thanks @paolaroncaglia and once again I'm sorry for the delayed reply.  As for your question, the zoom in for the large intestine focuses on one of the villi located in the tract - hence the requirement for the term. One of the research focuses for the Gut Atlas is the role of villi in the large intestine - they are morphologically distinct to those in the small intestine.
Therefore it may make se

[2021-03-05 12:21] ngeorgeebi commented on #1732
Thanks @paolaroncaglia and again apologies for delayed reply.  Same answers to the previous
1. No specific PMID reference - this is part of the Gut Cell Atlas queries - so please just use my ORCID
2. It will be part of the Gut anatomograms in SCEA so a term is needed :)
Best
Nancy

[2021-03-05 12:24] ngeorgeebi commented on #1731
Thanks @paolaroncaglia - apologies for not getting back to this sooner! Yes I think you're right - this term is synonymous to lacteal.
No specific PMID reference but I think if the term already exists, I don't need my ORCID ID added ;)
Yes it will be part of the anatomograms

Many thanks!
Nancy

[2021-03-05 12:27] ngeorgeebi commented on #1730
Thanks @paolaroncaglia yes, you are correct this is a cross section image of a small intestinal villus with the associated vessels - lymph and blood shown.
With regards to a specific PMID - none so please just use my ORCID ID
We will be using this as part of the anatomogram to confim

Many thanks
Nancy

[2021-03-06 12:09] matentzn opened #1802 "Chris to commit"
- [ ] ABA-src.obo

[2021-03-06 18:57] cmungall commented on #1802
Wait where is this required. We renamed ABA to MBA. Anyway I can check this in later when I'm at computer but need to check with @dosumis on Allen atlas strategy

[2021-03-08 14:22] fbastian opened #1803 "Merkel nerve ending incorrectly part of Merkel cell?"
The following term have a part_of relation to a cell type and I suspect it might be incorrect:

[code]
Seems to me that Merkel cell is part_of Merkel nerve ending, not the other way around?

[2021-03-08 23:30] fbastian commented on #651
New ones:

[code]

[2021-03-09 00:49] cmungall commented on #651
1+2: I think these are OK?

3+4: there is a general issue here that uberon follows fma in making precise divisions between elements + stuff (e.g. vessels/muscles vs vasculature/musculature). other ontologies are a bit looser. This results in oddities like this. I'm afraid I don't have an immediate fix. It's not clear we want to keep the shadows in uberon long term; we may prefer to just keep the e

[2021-03-11 11:26] paolaroncaglia opened #1804 "NTR: ductal plate"
Quick notes for self: stemming from https://github.com/obophenotype/cell-ontology/pull/964#issuecomment-791452632; necessary for https://github.com/obophenotype/cell-ontology/issues/840.

**Preferred term label:**
ductal plate

**Definition (free text, please give PubMed ID)**
In human, ductal plate is a double-layered cylindrical structure of bile duct epithelium that surrounds the portal ramific

[2021-03-16 10:38] paolaroncaglia commented on #1790
Hi @mkeays ,
I'd suggest the following strategy:
- [ ] Use the 'overlaps' object property as @dosumis suggested. See the "Class Usage" tab in Protege for syntax. There is even a more granular property, 'spatially coextensive with', but it may be too stringent for your case as it's defined "x spatially_coextensive_with y if and inly if x and y have the same location". (@dosumis who should we ask to

[2021-03-16 11:54] mkeays commented on #1790
Thanks @paolaroncaglia , I thought I had tried to use 'overlaps' and Protege didn't allow it but now I've tried again it has autocompleted and seems to work!

[2021-03-16 13:55] mkeays commented on #1790
I think the concept is known about at least in mammalian livers, possibly birds as well, so not sure which taxa to include. E.g. this from WikiVet, covering various mammals and avian liver: https://en.wikivet.net/Liver_-_Anatomy_%26_Physiology#Acinus

[2021-03-16 14:10] mkeays commented on #1790
More on taxa, from [Hardman et al (2007)](https://anatomypubs.onlinelibrary.wiley.com/doi/full/10.1002/ar.20524):

So, probably acinus is just a concept used for mammalian livers then. So I could add `'in taxon' some Mammalia` ?

[2021-03-16 15:10] paolaroncaglia commented on #1790
@mkeays
I think the correct property to use is the annotation property 'present in taxon' rather than the object property 'in taxon'. Based on their class usage in Protege. I agree that it's slightly confusing.

[2021-03-16 15:32] paolaroncaglia commented on #1804
@dosumis
Could you please review my suggestions above? In this case, there are enough questions that it may be worth addressing them here rather than in a pull request. Thanks!

[2021-03-16 16:31] mkeays commented on #1790
Thanks @paolaroncaglia , I see it now.

I'm also wondering if I should revise the definition of [metabolic zone of liver](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_8400005) now because it refers to this acinus concept which now I understand to be only relevant in mammals although other non-mammalian species also have metabolic zonation of

[2021-03-16 16:44] paolaroncaglia commented on #1790
@mkeays

Yes, always safer to keep terms as species-agnostic as possible, and there's no current taxon annotation on the term. My suggestions:
"Any of the metabolic zones found in the hepatic acinus [replace "hepatic acinus" with "liver" as you propose]. Liver tissue is heterogenous at the level of morphometry and histochemistry. This heterogeneity is linked to the position of a cell within the fu

[2021-03-16 20:49] dosumis commented on #1790
@paolaroncaglia wrote:

@cmungall - I'm using 'in taxon' elsewhere.  IIRC we working working on centralising doc for this.  Can you point us to the latest?

[2021-03-16 22:30] balhoff commented on #1790
A 'present in taxon' annotation would translate to a some-some, instance-level assertion of `in_taxon`. "There exists some instance of this structure `in_taxon` X." We are using this in GO to assert that a term is meant to be usable in a particular taxon, in case there is a chance that someone might later make an `in_taxon` class axiom on a related class that could conflict with this usage. We hav

[2021-03-16 22:38] dosumis commented on #1790
I think that is the intent here.  It certainly is for the cell types we're adding.

[2021-03-17 08:29] paolaroncaglia commented on #1790
@dosumis
@balhoff
Good morning and thank you both for your feedback. For the benefit of the broader curator community, may I please suggest that

- Documentation is made available on the above, and if it exists already, please remind us where to find it :-)
- Documentation includes at least one practical example (ideally one each of cases where one should and shouldn't use a particular property) (

[2021-03-17 08:52] dosumis commented on #1790
Thanks @paolaroncaglia  - your description makes clear that 'present in taxon' would be the correct one to use.  Strongly agree we need centralised doc.  We have this: https://ontology-development-kit.readthedocs.io/en/latest/TaxonRestriction.html. but clearly not sufficient.  Lets put it on an meeting agenda.

[2021-03-17 09:41] paolaroncaglia commented on #1790
Thanks @dosumis , I added to today's CL editors meeting agenda.

[2021-03-17 10:17] mkeays commented on #1790
Thanks @paolaroncaglia ! Will add some more about the metabolic zonation concept and species from original papers.
Weird about the date, thanks for spotting it, I've fixed it in my checkout now.

[2021-03-17 10:21] paolaroncaglia commented on #1729
Note for self: I confirmed with Nancy that they don't need 'digestive system arteriole'.

[2021-03-17 11:06] paolaroncaglia commented on #1729
Note for self:
- [ ] I might need to come back to this when the [villus of small/large intestine issue](https://github.com/obophenotype/uberon/issues/1733#issuecomment-773259573) is resolved.

[2021-03-17 11:07] paolaroncaglia commented on #1730
Note for self:
- [ ] I might need to come back to this when the [villus of small/large intestine issue](https://github.com/obophenotype/uberon/issues/1733#issuecomment-773259573) is resolved.

[2021-03-17 15:46] ngeorgeebi opened #1809 "NTR: lymph node interfollicular cortex"
**Preferred term label:**
lymph node interfollicular cortex

**Synonyms**
interfollicular cortex of lymph node

**Definition (free text, please give PubMed ID)**
Follicules in the lymph node are surrounded and separated by the interfollicular cortex. Together with the lymph node follicle, the interfollicular cortex of the lymph node lobule make up the superficial cortex of the lymph node. Capillar

[2021-03-17 17:51] matentzn opened #1810 "Make urine a subclass of bodily fluid"
**Uberon term**
[Urine](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0001088)

**Suggested revision and reasons**
Should be a subclass of "Bodily Fluid"

[2021-03-17 18:01] balhoff commented on #1810
Consider this issue with birds: https://github.com/geneontology/go-ontology/issues/11025#issuecomment-142579033

[2021-03-17 19:03] cmungall commented on #1810
proposal:

 * excreta UBERON:0000174
     * renal excretion NEW (=excreta and produced-by some renal system); syn "urine"
         * kidney excretion NEW (=excreta and produced-by some kidney) <-- inherits only-in vertebrata
               * urine UBERON:0001088 <-- never in aves
               * non-fluid kidney excretion NEW <-- found in aves... maybe other vertebrates?
         * Malpighian tub

[2021-03-18 11:38] #1790 closed

[2021-03-18 13:22] sfexova opened #1811 "NTR: venule of appendix"
**Preferred term label:**
venule of appendix

**Synonyms**
vermiform appendix venule
venule of vermiform appendix

**Definition (free text, please give PubMed ID)**
Venule located in the appendix vermiformis. One of the minute vessels that collect deoxygenated blood from the capillary plexuses returns it to the veins [ MP:0004125 MESH:A07.231.432.952 ]. Venules are the smallest division of the ven

[2021-03-18 13:28] sfexova opened #1812 "NTR: arteriole of appendix"
**Preferred term label:**
arteriole of appendix

**Synonyms**
vermiform appendix arteriole
appendix vermiformis arteriole
arteriole of appendix vermiformis

**Definition (free text, please give PubMed ID)**
Arteriole of villus of appendix vermiformis. Arterioles are the smallest division of artery located between the muscular arteries and the capillaries[GO]. [ http://amigo.geneontology.org/amigo/

[2021-03-18 13:29] ANiknejad opened #1813 "ZFA integration to CL, only one xref is reported so far"
https://raw.githubusercontent.com/obophenotype/uberon/master/bridge/cl-bridge-to-zfa.owl

in composite-metazoan.obo, we only see so far

CL:0002377
xref: ZFA:0001725

[2021-03-18 13:38] sfexova opened #1814 "NTR: lymphatic capillary of appendix"
**Preferred term label:**
lymphatic capillary of appendix

**Synonyms**
lymphatic capillary of appendix vermiformis
lymphatic capillary of vermiform appendix

**Definition (free text, please give PubMed ID)**
Lymphatic capillary that is located in the appendix vermiformis. Microvessel of the lymphatic system lined with a single layer of overlapping endothelial cells. Joins to form the lymphatic ve

[2021-03-18 13:42] sfexova opened #1815 "NTR: lymphatic vessel of appendix"
**Preferred term label:**
lymphatic vessel of appendix

**Synonyms**
lymphatic vessel of appendix vermiformis
lymphatic vessel of vermiform appendix

**Definition (free text, please give PubMed ID)**
A lymphatic vessel that supplies the large intestine. A vessel that contains or conveys lymph, that originates as an interfibrillar or intercellular cleft or space in a tissue or organ, and that if sm

[2021-03-18 14:33] sfexova opened #1816 "NTR: muscularis mucosae of appendix"
**Preferred term label:**
muscularis mucosae of appendix

**Synonyms**
muscularis mucosae of appendix vermiformis
muscularis mucosae of vermiform appendix

**Definition (free text, please give PubMed ID)**
A muscularis mucosa that is part of a vermiform appendix. Muscularis mucosa is a thin layer of smooth muscle found in most parts of the gastrointestinal tract, located outside the lamina propria

[2021-03-18 14:40] sfexova opened #1817 "NTR: crypt of Lieberkuhn of vermiform appendix"
**Preferred term label:**
crypt of Lieberkuhn of vermiform appendix

**Synonyms**
crypt of Lieberkuhn of appendix vermiformis

**Definition (free text, please give PubMed ID)**
Crypt of Lieberkuhn that is located in the vermiform appendix. Crypt of Lieberkuhn is the tubular intestinal glands found in the mucosal membranes [ https://www.worldcat.org/search?q=bn%3A0-683-40008-8 MP:0000490 https://gi

[2021-03-18 14:42] #1817 closed

[2021-03-18 15:10] sfexova commented on #1817
found a similar term already exists

[2021-03-18 21:01] sfexova commented on #1816
other child terms of the vermiform appendix term only have 'appendix' in the term label, so changed it here to correspond

[2021-03-18 21:03] sfexova commented on #1811
other child terms of the vermiform appendix term only have 'appendix' in the term label, so changed it here to correspond

[2021-03-18 21:04] sfexova commented on #1812
other child terms of the vermiform appendix term only have 'appendix' in the term label, so changed it here to correspond

[2021-03-18 21:08] sfexova commented on #1814
other child terms of the vermiform appendix term only have 'appendix' in the term label, so changed it here to correspond

[2021-03-18 21:09] sfexova commented on #1815
other child terms of the vermiform appendix term only have 'appendix' in the term label, so changed it here to correspond

[2021-03-19 09:40] sfexova opened #1818 "NTR: high endothelial venule of appendix"
**Preferred term label:**
high endothelial venule of appendix

**Synonyms**
high endothelial venule of vermiform appendix
high endothelial venule of appendix vermiformis

**Definition (free text, please give PubMed ID)**
High endothelial venule that is located in the vermiform appendix. High endothelial venules are specialized blood vessels adapted for lymphocyte trafficking. They form a spatially

[2021-03-22 18:33] paolaroncaglia commented on #1804
Discussed with Chris on today's Uberon editors' call. Agreed to make a pull request as outlined above plus
- [ ] part_of UBERON:0002394 bile duct
- [ ] taxon or editor note to the extent of "Temporal stages still need to be fully researched across species"

[2021-03-23 11:23] paola-scibite opened #1819 "Ambiguous labels"
UBERON:4200169 process 2
UBERON:4200170 process 3
UBERON:4200171  process 4
Defined respectively as:
Process on the humerus of basal tetrapods, anterior to the entepicondyle and associated with subscapularis muscle (based on Coates 1996)
Process on the humerus of basal tetrapods, anterior to the entepicondyle (see Coates 1996)
Process on the humerus of basal tetrapods, anterior to the entepicondyl

[2021-03-23 22:29] cmungall commented on #541
OK, am closing this for now.

We should do a `robot validate-profile -p DL -i ONT` over ALL ontologies. Will make an ODK ticket.

[2021-03-23 22:29] #541 closed

[2021-03-26 11:14] paolaroncaglia commented on #1804
Note for self:
- [ ] Add subset tag "added_for_HCA" to UBERON:8410003 ductal plate

[2021-03-26 11:32] #1804 closed

[2021-03-26 12:09] paolaroncaglia commented on #1729
@ngeorgeebi
Your requested term is UBERON:8410004 small intestine arteriole.
Will be available at the next Uberon release.
Note for self:
- [ ] When the [villus of small/large intestine issue](https://github.com/obophenotype/uberon/issues/1733#issuecomment-773259573) is resolved, see if the "intersection_of: part_of UBERON:0001213 ! intestinal villus" for UBERON:8410004 small intestine arteriole n

[2021-03-26 13:19] balhoff opened #1823 "bridge files introduce extra part_of property"
It seems like they're trying to map to an old property from CARO, but I don't see this in the CARO release anymore.

[code]

[2021-03-26 15:24] NatalieThurlby opened #1824 "Human subset uberon 0 byte file?"
**Bug description**
[This file](https://raw.githubusercontent.com/obophenotype/uberon/master/subsets/human-view.obo) in the repo seems empty, it's linked from [this page](https://uberon.github.io/downloads.html#subsets) of the website (under taxon subsets).

[2021-03-26 17:23] cmungall commented on #1823
maybe some old stale version of caro somewhere - I think this may be fixed by the refactor @matentzn is doing

[2021-03-26 17:39] paola-scibite opened #1825 "Revise label of UBERON:2001275 sublingual"
UBERON:2001275 sublingual
"Endochondral bone that is the median element of the ventral hyoid arch, generally lying between the paired ventral hypohyals. [ TAO:je ]"

The label is ambiguous (think e.g. sublingual gland, sublingual administration of drugs...). Please consider revising to e.g. sublingual bone and adding taxon properties/notes. The term does have in fact a provenance note:
"This class

[2021-03-26 17:48] wdahdul commented on #1825
Yes, I agree. I'll fix this in phenoscape-ext. Thanks!

[2021-03-27 14:25] fbastian commented on #651
No problem, I report them all here for our pipeline, we can't accept cycles in Bgee for now. Other ones:

[code]

[2021-03-27 19:39] fbastian commented on #651
Also, we have
[code]
While I think WBbt:0005780 should be is_a UBERON:0001135. The current relation seems incorrect:
[code]

[2021-03-28 18:03] uberon commented on #651
On Sat, Mar 27, 2021 at 7:26 AM fbastian ***@***.***> wrote:

WBbt mappings will fix

formally correct, these are equivalent in frogs (which don't progress
beyond pronephros, AFAICR)

will fix

I think we need to merge the ext edit file in first then fix this, Nico is
on it

it's not clear why this subclass was added for ext in the first place

fixed in PR

[2021-03-29 08:42] paola-scibite commented on #1825
Thank you @wdahdul

[2021-03-30 16:21] paola-scibite opened #1827 "Typo in label of UBERON:0008902 lateral recess of third vetricle"
**Uberon term**
UBERON:0008902 lateral recess of third vetricle

**Bug description**
Please correct vetricle to ventricle, thanks.

[2021-03-30 22:03] wdahdul commented on #1825
Fixed in phenoscape-ext: https://github.com/obophenotype/uberon-phenoscape-ext/commit/8c0a28332a1b79fd15c9bde534944e9109e05028

I'll make another ticket to address revisiting the compatibility of teleost_anatomy terms with Uberon

[2021-03-30 22:03] #1825 closed

[2021-03-30 22:05] wdahdul opened #1828 "Review teleost_anatomy terms for compatibility with uberon conventions"
See comments here: https://github.com/obophenotype/uberon/issues/1825

In addition to labels, defintions, and provenance notes, will review to ensure consistent use of "skeletal element" terms  (e.g., sublingual bone and sublingual cartilage need "sublingual element" parent)

[2021-04-01 17:14] plasticfist commented on #1824
Adding comment that this isn't the only zero length subset file, there are others

you beat me to it. human-view.obo is zero length
https://github.com/obophenotype/uberon/blob/master/subsets/human-view.obo

[2021-04-01 17:29] plasticfist commented on #703
bump.
I'm interested in reading how others are doing this, now.  Some of the best links in this thread are now dead (e.g. thinklab links are all dead)

Note: UBERON lists a file called human-view.obo but it is zero length (as are human-view.owl, and some other views)

[2021-04-01 20:24] dhimmel commented on #703
I updated those links to the current URLs. Thanks for the notification.

[2021-04-06 20:48] matentzn opened #1829 "QC: Need cycle detection on basic.owl"
We need to check basic for cycles ideally in basic file. High priority. Maybe ontobio. The old command is deprecated:

[code]

[2021-04-07 04:02] uberon commented on #1829
How about using relation-graph? Already in odk. We should make materialized
inferred triple files for the relation set in basic anyway

On Tue, Apr 6, 2021, 13:48 Nico Matentzoglu ***@***.***>
wrote:

[2021-04-07 22:12] bgood-d4c commented on #1824
Yup same here.

[2021-04-08 12:32] matentzn commented on #1824
Sorry all, I was doing a lot of work on migrating the Uberon pipeline and I seem to have broke the mouse and human subsets - I have hotfixed this for now by uploading the last working version again, but will work on getting the updated subsets in asap. Thanks for noting, and big sorry for not seeing this earlier! Should you notice any other oddities in Uberon, please tag me directly if you remembe

[2021-04-08 14:57] plasticfist commented on #1824
Thank you! @matentzn I'll go grab a copy, and I have a (noob?) question I hope you can help with.  I've not been able to find a definition of what each subset is meant to include (and more importantly what they mean to exclude).  e.g. organ_slim, uberon_slim, pheno_slim, but also other subsets like upper_level, non_informative, grouping_class.
Also, how does human-view compare to the following (I

[2021-04-08 16:53] bgood-d4c commented on #1824
Thanks @matentzn !  I'm just looking at the current hotfix file.  I see there are 13341 subclasses of anatomical entity in the human_view versus 14034 in my other copy of the main ontology.  human_view does seem to contain some non-human terms though, like 'fish scute' and 'bony plate'.  Both have inferred 'part of' relations to Homo sapiens. I'm wondering if these inferences might be improved in

[2021-04-08 16:56] matentzn commented on #1824
Note that the current "hotfixed" file is really just last years last release.. Some some variation in number of subclasses is expected.

The non-human terms sound more urgent - I will see that I take at least a look at these! Thanks for noticing :)

[2021-04-08 16:59] bgood-d4c commented on #1824
Right, I was comparing to the full ontology so I was happy that there were less ;).

BTW is there a uberon_human_view_ext version that includes the relevant CL terms ?  I guess if not its easy to add the import.

[2021-04-08 18:45] plasticfist commented on #1824
@matentzn, I would second the request for uberon_human_view_ext,  I am currently using ext.obo (for the CL terms), and then attempting to trim back down to human (9606 Homo Sapiens) only.

[2021-04-09 08:08] matentzn commented on #1824
Hey all, it seems to me that human-view.owl is already based on ext:

[code]

I am not that firm on the actual contents of Uberon, so perhaps I am wrong. In light of this: what exactly is it that you would like to have?

[2021-04-09 09:19] matentzn opened #1830 "Uberon ext coherency"
There are currently 600+ unsats in ext.owl (in the new build pipeline). Here is one explanation, and a breakdown of the most frequent axioms across a sample of 20 different explanations:

## [compound eye photoreceptor cell](http://purl.obolibrary.org/obo/CL_2000019) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [compound eye photoreceptor cell](http://purl.obolibrary.org/obo

[2021-04-09 12:08] balhoff commented on #1830
`anatomical structure SubClassOf part of some Homo sapiens` seems a bit presumptuous. 😄 Did that get added by accident?

[2021-04-09 14:22] matentzn commented on #1830
now solved - its part of the magic sauce. thanks Jim!

[2021-04-09 14:22] #1830 closed

[2021-04-09 16:02] bgood-d4c commented on #1824
The main use case for the integrated cl + uberon for me is connecting cell types to body parts.  It would be nice if the cell types contained in a human_view_ext were limited to human cells.

[2021-04-09 16:02] bgood-d4c commented on #1824
@matentzn how is it going with the new build of the subsets?  Anything I might be able to help with?

[2021-04-09 18:18] matentzn commented on #1824
@bgood-d4c

Right now, I am only concerned with reviving the old human-view.owl; I think I have this, but I need some input from @cmungall on Monday to verify its all correct.

CL + Uberon:
I can see CL and Uberon classes in the human-subset (which is based on ext); but the process here relies on taxon restrictions to actually exclude non-human classes also relies on taxon restrictions which are o

[2021-04-09 18:19] matentzn commented on #1824
not to self
- [ ] check the human context actually contains CL restrictions

[2021-04-09 18:40] bgood-d4c commented on #1824
@matentzn at a quick glance there are a lot of fish specific terms in there.  Terms with names that include one of the strings: 'fin', 'scute', 'tail', 'scale', 'gill', 'barbel' are starting points.

I found a bunch of them under the 'surface structure' group.

The definition for 'scale' includes a bunch of restrictions like - 'never in carnivora' .  Pretty sure we could move that up the hierarchy

[2021-04-09 18:44] bgood-d4c commented on #1824
Also terms that include 'insect', 'tail', 'wing'

[2021-04-09 21:36] bgood-d4c commented on #1824
@matentzn here is a list for your convenience:

pelvic fin lepidotrichium | UBERON:4000173
-- | --
caudal fin skeleton | UBERON:4000173
dorsal fin basal cartilage (elasmobranchs) | UBERON:4000167
dorsal fin proximal radial element 4 | UBERON:4300019
anal fin distal radial bone | UBERON:2105381
insect embryonic antennal segment | UBERON:2000646
paired limb/fin field | UBERON:6000160
forelimb wing b

[2021-04-10 02:56] plasticfist commented on #1824
snake parts...

[Term]
id: UBERON:0013078
name: venom-injecting tooth
def: "A fang that is used to inject venom into prey, through either a tube or a groove" [https://orcid.org/0000-0002-6601-2165]
synonym: "fang" RELATED []
synonym: "grooved fang" RELATED []
synonym: "tubular fang" RELATED []
synonym: "tubular tooth" RELATED []
is_a: UBERON:0001091 ! calcareous tooth

[Term]
id: UBERON:0013113
na

[2021-04-12 06:50] dinozof opened #1831 "Protege & Uberon"
Hi everybody,

I'm having a bit of trouble while trying to open Uberon with Protege.
The thing is most of the classes coming from imported Ontologies (mostly GO and PRO) do not have any attribute (labels or whatsoever).
So it gets difficult to navigate the ontology.

I tried opening the source owl since in the same directory is located the catalog.xml but it doesn't seem to get better.
Am I doing

[2021-04-12 16:40] cmungall commented on #1824
Hi all,

I think @matentzn's job here should be to restore the file and ensure it is built using the correct procedure:

 - we should use the OWL reasoning based procedure
 - we should ensure that all TCs from uberon and upstream ontologies are encoded consistently (historically there has been variation in how this has been done, in particular never-in-taxon). This is the ticket for centralizing t

[2021-04-12 16:42] cmungall commented on #1824
Additionally, CL has historically lacked TCs, but I have added some high level ones recently

We will soon see influxes of species-specific CL terms specifically from scSeq, some can be determined by the ensembl ID, but this shouldn't be necessary. See some of the linked tickets in CL in this GH project.

[2021-04-13 16:49] cmungall commented on #1831
thanks for your report!

Are you looking at the publicly released main uberon file? I'm guessing you are looking at something different, like the edit version?

[2021-04-13 16:55] balhoff commented on #1831
I checked the current release at `http://purl.obolibrary.org/obo/uberon/ext.owl`; I can confirm there are quite a few dangling GO and PR terms, as well as some others. However, `http://purl.obolibrary.org/obo/uberon.owl` looks much cleaner.

[2021-04-14 06:59] dinozof commented on #1831
Thanks for the response!
I checked uberon.owl and in fact seems cleaner than the ext but it loses lots of information which is valuable like "only_in_taxon" restrictions.

[2021-04-15 08:55] paola-scibite opened #1832 "UBERON:0014888 iliotibialis muscle: taxon notes + typos in def and synonyms"
UBERON:0014888 iliotibialis muscle
currently has
A muscle in amphibians that connects originates in the ilium and inserts in the tibia. [ https://www.worldcat.org/search?q=bn%3A0073040584 ]
exact syn: m. iliotibilias
broad synonym: iliotibilias

- [ ] A taxon note should be added to restrict to amphibians, if that's the case
- [ ] The label may be disambiguated accordingly, if desired
- [ ] "conne

[2021-04-15 15:38] paolaroncaglia commented on #1824
Hi @cmungall , @matentzn , @nicolevasilevsky  et al,
The Human Cell Atlas (HCA) is interested in a human-centric (or mammalian-applicable) Uberon slim, for import into the HCA application ontology. So we’re very keen on keeping the ball rolling and I could help with improving/adding some taxon constraints to Uberon if you’d like. Would we need to arrange a meeting with representatives from Uberon/

[2021-04-15 16:03] paolaroncaglia commented on #1831
Hi @dinozof ,
As an interim solution, if you’re interested in Uberon-specific (anatomy) classes, including their taxon restrictions, the version at http://purl.obolibrary.org/obo/uberon/ext.owl that @balhoff  pointed to doesn’t have any Uberon dangling classes as far as I can see, so you could use that.

@cmungall
@balhoff
The dangling GO and PR terms seem to come from the CL import.

[2021-04-15 16:12] paolaroncaglia commented on #1831
However @cmungall and @balhoff the editors' file uberon_edit.obo displays a number of UBERON dangling terms even after reasoning:
![Screen Shot 2021-04-15 at 18 12 04](https://user-images.githubusercontent.com/4982516/114902516-30323d00-9e16-11eb-88a8-aa83344c0492.png)

[2021-04-15 16:23] paolaroncaglia commented on #1824
@bgood-d4c (and FYI @matentzn )
The list you very kindly provided in https://github.com/obophenotype/uberon/issues/1824#issuecomment-816985001 seems to have some formatting or rendering issues. There are duplicate labels which are not, in fact, duplicate terms, and the last line is incomplete. Would it be possible to have the list as a tab-delimited file or Google spreadsheet please?
Thanks!

[2021-04-15 16:30] bgood-d4c commented on #1824
It looks like the labels were shifted down.  Here is a tab-delimited version.  Note that this is really just a sample - collected through string matching some key non-human signals in labels.  Thanks!
[non-human-uberon-sample.txt](https://github.com/obophenotype/uberon/files/6319550/non-human-uberon-sample.txt)

[2021-04-16 08:12] matentzn commented on #1824
@paolaroncaglia This is great!

I will help with the technical parts. I would say you can start with a Google sheet with @bgood-d4c suggestions, and start adding NCBI taxon ids to them - we can then import those using ROBOT template. Note that if you have

[code]

and

[code]

you don't need to say anything about A - so basically just have Uberon open and find the most general class you can assign

[2021-04-16 11:17] paola-scibite opened #1833 "Typo in annotation of UBERON:0001893 telencephalon"
**Uberon term**
UBERON:0001893 telencephalon

**Bug description**
has relational adjective telenencephalic
should be telencephalic

Thanks

[2021-04-16 14:24] paolaroncaglia commented on #1824
Thanks @bgood-d4c and @matentzn . I'll keep you posted.

[2021-04-16 14:34] paolaroncaglia commented on #1824
To start with, here's the [spreadsheet](https://docs.google.com/spreadsheets/d/12k5of6NsPc9nCb9sv40HsLP-e3KkqogUUWLiSl710Pc/edit#gid=1251256373) with @bgood-d4c 's suggestions, with duplicate lines removed, and sorted by Uberon ID.

[2021-04-16 15:31] matentzn commented on #1824
before you go to far @paolaroncaglia lets make sure with @cmungall that "never in taxon" annotations are good here. I will ping him on slack.

[2021-04-16 15:50] nicolevasilevsky commented on #1824
@paolaroncaglia I'd love to have a meeting to outline the tasks and assign tasks. Could you let me know when you are ready to get started and we can arrange to meet?
Thanks!

[2021-04-16 17:01] balhoff commented on #1824
You all may find my [OBO taxon constraints plugin](https://github.com/geneontology/protege-taxon-constraints) for Protégé useful in seeing what effective taxon constraint the reasoner knows about for the selected term (and you can get explanations). Just keep in mind that it can be SLOW. :-)

[2021-04-16 18:03] cmungall commented on #1824
Yes, never_in_taxon annotations are good.

But remember these need to be expanded to be seen by the reasoner. Note there are multiple alternative logical representations:

 1. direct: C subClassOf not in-taxon some T
 2. Nothing equivalentTo C and in-taxon some T
 3. disjointness: C disjointWith in-taxon some T

Form 1 is the most explicit but is outside EL

Form 2 should be deprecated. It is an a

[2021-04-16 22:42] jahilton commented on #1463
In case others have the same issue & come across this ticket, it looks like releases are now being tracked here https://github.com/obophenotype/uberon/releases/

[2021-04-19 12:17] paolaroncaglia commented on #1824
Hi @nicolevasilevsky ,

Sure! I'll message you on Slack. Thank you.

[2021-04-20 08:34] paola-scibite opened #1834 "UBERON:0002323 coelemic cavity lumen and UBERON:0003886 future coelemic cavity lumen"
**Uberon term**
UBERON:0002323 coelemic cavity lumen
UBERON:0003886 future coelemic cavity lumen

**Bug description**
"coelemic" is a less frequent spelling of "coelomic". For consistency with usage (including elsewhere in Uberon), I'd suggest making "[future] coelemic cavity lumen" an exact synonym, and "[future] coelomic cavity lumen" the primary label. Thanks.

(Update: on further inspection, U

[2021-04-21 10:50] paola-scibite opened #1835 "UBERON:0018387 cestode"
**Uberon term**
UBERON:0018387 cestode

**Reason for deprecation**
"Any of a class (Cestoda) of bilaterally symmetrical flatworms parasitic especially in the intestines of vertebrates. [ http://purl.obolibrary.org/obo/BTO_0005278 ]"
Subclass of larva
This looks incorrect and feels like it should be replaced by NCBITaxon:6199 Cestoda. There's another existing term to represent a cestode larva, thou

[2021-04-21 12:47] paola-scibite opened #1836 "Typo in synonym of UBERON:0004122 genitourinary system"
**Uberon term**
UBERON:0004122 genitourinary system

**Bug description**
has related synonym Urogenitalsystem
Should be urogenital system.
Thanks
Paola

[2021-04-21 19:45] anuwatpe commented on #1761
Is it possible to add the new term?

[2021-04-23 14:55] paola-scibite opened #1837 "UBERON:0000177 pus"
**Uberon term**
UBERON:0000177 pus

**Reason for deprecation**
"Pus is a bodily fluid consisting of a whitish-yellow or yellow substance _produced during inflammatory responses_ of the body that can be found _in regions of pyogenic bacterial infections_. Pus is produced from the dead and living cells which travel into the intercellular spaces around the affected cells. [ http://en.wikipedia.org/wi

[2021-04-23 15:05] paola-scibite opened #1838 "UBERON:2000711 DEL"
**Uberon term**
UBERON:2000711 DEL

**Suggested revision of label**
Comes from ZFA: "A multilayer of deep cells of fairly uniform thickness that forms during early epiboly (at dome stage; upon conversion of the blastodisc to the blastoderm); during gastrulation the DEL (deep cell layer) gives rise to the epiblast and hypoblast. Kimmel et al, 1995."
has exact synonym: deep cell layer, DEL cells
Ple

[2021-04-27 17:02] AnnekarinaPerl opened #1839 "Pulmonary Submucosal Gland"
**Preferred term label:**
Pulmonary Submucosal Gland

**Synonyms**
Pulmonary SMG

**Definition (free text, please give PubMed ID)**
[GLANDULAR EPITHELIUM.docx](https://github.com/obophenotype/uberon/files/6386280/GLANDULAR.EPITHELIUM.docx)
PMID:26336032

SMGs are present within the connective tissues lining the cartilaginous airways and are a major source of the protective mucus layer critical to

[2021-04-27 17:30] AnnekarinaPerl commented on #1839
Synonym: Airway submucosal gland

[2021-04-29 19:50] sfexova opened #1840 "NTR: vein of appendix"
**Preferred term label:**
vein of appendix

**Synonyms**
vein of appendix vermiformis
vein of vermiform appendix

**Definition (free text, please give PubMed ID)**
Vein that is part of a vermiform appendix.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
vermiform appendix http://purl.obolibrary.org/obo/UBERON_0001154
vein http://purl.obolibrary.org/obo/UBERON_0001638

**Your na

[2021-04-29 19:53] sfexova opened #1841 "NTR: artery of appendix"
**Preferred term label:**
artery of appendix

**Synonyms**
artery of appendix vermiformis
artery of vermiform appendix

**Definition (free text, please give PubMed ID)**
Artery that is part of a vermiform appendix.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
vermiform appendix http://purl.obolibrary.org/obo/UBERON_0001154
artery http://purl.obolibrary.org/obo/UBERON_0001637

[2021-04-29 20:25] sfexova opened #1842 "NTR: smooth muscle circular layer of appendix"
**Preferred term label:**
smooth muscle circular layer of appendix

**Synonyms**
smooth muscle circular layer of appendix vermiformis
smooth muscle circular layer of vermiform appendix

**Definition (free text, please give PubMed ID)**
A circular muscle layer of muscular coat that is part of a vermiform appendix smooth muscle.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
verm

[2021-04-29 20:28] sfexova opened #1843 "NTR: smooth muscle longitudinal layer of appendix"
**Preferred term label:**
smooth muscle longitudinal layer of appendix

**Synonyms**
smooth muscle longitudinal layer of appendix vermiformis
smooth muscle longitudinal layer of vermiform appendix

**Definition (free text, please give PubMed ID)**
A longitudinal muscle layer of muscular coat that is part of a vermiform appendix smooth muscle.

**Parent term (use https://www.ebi.ac.uk/ols/ontologie

[2021-04-29 20:39] sfexova opened #1844 "NTR: serosal nerve fibre of appendix"
**Preferred term label:**
serosal nerve fibre of appendix

**Synonyms**
serosal nerve fibre of appendix vermiformis
serosal nerve fibre of vermiform appendix

**Definition (free text, please give PubMed ID)**
Nerve fibre that is located in the serosa of appendix vermiformis.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
serosa of appendix http://purl.obolibrary.org/obo/UBERON_

[2021-04-29 20:47] sfexova opened #1845 "NTR: myenteric nerve plexus of appendix"
**Preferred term label:**
myenteric nerve plexus of appendix

**Synonyms**
myenteric nerve plexus of appendix vermiformis
myenteric nerve plexus of vermiform appendix

**Definition (free text, please give PubMed ID)**
Myenteric nerve plexus that is located in the appendix

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
myenteric nerve plexus http://purl.obolibrary.org/obo/UBERON

[2021-04-29 20:52] sfexova opened #1846 "NTR: submucous nerve plexus of appendix"
**Preferred term label:**
submucous nerve plexus of appendix

**Synonyms**
submucous nerve plexus of appendix vermiformis
submucous nerve plexus of vermiform appendix

**Definition (free text, please give PubMed ID)**
Submucous nerve plexus that is located in the vermiform appendix.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
submucous nerve plexus http://purl.obolibrary.org

[2021-05-03 09:49] paola-scibite opened #1847 "Typos in 2 obsolete labels"
**Uberon term**
http://purl.obolibrary.org/obo/UBERON_2005235 | obsoelte UCoD
http://purl.obolibrary.org/obo/UBERON_2005177 | obsoelte VeLD

**Bug description**
You may want to correct "obsoelte" in "obsolete" please. Thanks.

[2021-05-06 16:54] megbalk opened #1848 "teeth terms in uberon"
I've been working on the teeth terms for FOVT, and they are inconsistent in their axioms and their labels. Below are a couple of examples as well as a suggestion for some patterns. I come from a paleo/modern biology background (i.e., not human or model organisms) so it'd be great to get feedback if I'm using terms that are particular to just my field.

### Issues with teeth:

- do we need to inclu

[2021-05-06 16:59] megbalk opened #1849 "sagittal crest"
**Uberon term**
Sagittal crest is currently used to define a skull structure. However, sagittal crest is a more general anatomical term and used for other bones (e.g., sagittal crest of humerus).

**Suggested solution**
- Fix sagittal crest label to be about the skull
- Create a more general sagittal crest term

[2021-05-06 17:01] megbalk commented on #1848
@nicolevasilevsky suggested that I tag @markengelstad for feedback

[2021-05-06 17:56] markengelstad commented on #1848
Thanks for including me. I've been building a knowledge graph that includes all dental concepts including dental anatomy so I've been thinking about this for a while and you have hit one some good issues/ modeling decisions.

let's have a zoom call -- might be too much to type.  I have some standards that I've built into my graph (which is designed to be used by clinicians, not zoologists but hope

[2021-05-08 16:15] althonos opened #1850 "Invalid syntax in several UBERON terms, including external terms"
Hi @matentzn ,

the current release of `uberon.obo` has some syntax errors, some of which originate from external terms (the ones in `ext.obo`). Normally I'd fix the relevant files directly, but here I'm not sure how these are created and what the release process is.

Here are the issues I found:

- in `UBERON:2000660`: the xref for the definition is in free-text format. The orginal term is `ZFA:0

[2021-05-11 09:25] paolaroncaglia commented on #1762
Hi @ngeorgeebi ,
Apologies for the delay. I think that your NTR 'lymph node germinal center mantle zone' may be the same as the existing term [UBERON:0010420 'lymph node follicular corona'](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0010420) ("A part of the secondary follicle in which naive B cells reside along with some helper T cells, ma

[2021-05-14 07:21] sfexova opened #1851 "arteriole of anal canal"
**Preferred term label:**
arteriole of anal canal

**Synonyms**
anal canal arteriole

**Definition (free text, please give PubMed ID)**
Arteriole that is located in the anal canal

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
anal canal http://purl.obolibrary.org/obo/UBERON_0000159
arteriole http://purl.obolibrary.org/obo/UBERON_0001980

**Your nano-attribution (ORCID)**
0000-

[2021-05-14 07:23] sfexova opened #1852 "NTR: venule of anal canal"
**Preferred term label:**
venule of anal canal

**Synonyms**
anal canal venule

**Definition (free text, please give PubMed ID)**
Venule that is located in the anal canal

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
anal canal http://purl.obolibrary.org/obo/UBERON_0000159
venule http://purl.obolibrary.org/obo/UBERON_0001979

**Your nano-attribution (ORCID)**
0000-0003-3440-18

[2021-05-14 08:23] sfexova opened #1853 "NTR: myenteric nerve plexus of anal canal"
**Preferred term label:**
myenteric nerve plexus of anal canal

**Synonyms**
anal canal myenteric nerve plexus

**Definition (free text, please give PubMed ID)**
Myenteric nerve plexus that is located in the anal canal

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
myenteric nerve plexus http://purl.obolibrary.org/obo/UBERON_0002439
anal canal http://purl.obolibrary.org/obo/UBE

[2021-05-14 08:25] sfexova opened #1854 "NTR: submucous nerve plexus of anal canal"
**Preferred term label:**
submucous nerve plexus of anal canal

**Synonyms**
anal canal submucous nerve plexus

**Definition (free text, please give PubMed ID)**
Submucous nerve plexus that is located in the anal canal

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
submucous nerve plexus http://purl.obolibrary.org/obo/UBERON_0005304
anal canal http://purl.obolibrary.org/obo/UBE

[2021-05-14 08:40] sfexova opened #1855 "transitional glandular epithelium of anal canal"
**Preferred term label:**
transitional glandular epithelium of anal canal

**Synonyms**
anal canal transitional glandular epithelium

**Definition (free text, please give PubMed ID)**
Glandular epithelium of the anal transition zone. The anal transition zone is defined loosely as the tissue interposed between the uninterrupted squamous epithelium of the anoderm and the uninterrupted mucosal epithe

[2021-05-14 08:42] emquardokus opened #1856 "intercondylar fossa"
**Uberon term**
intercondylar fossa http://purl.obolibrary.org/obo/UBERON_4200096

trochlear groove of femur Uberon:3000785 is "obsolete" term. (see upload from Protege)
<img width="1047" alt="Screen Shot 2021-05-13 at 3 30 01 PM" src="https://user-images.githubusercontent.com/47257000/118245218-8672ba00-b46e-11eb-8f37-4bf11c25b2f1.png">

**Synonym to be added**
https://en.wikipedia.org/wiki/Inter

[2021-05-14 09:44] paolaroncaglia commented on #1856
Note for self: ideally the synonyms should be available by mid-June. Need to factor release plans in.

[2021-05-17 15:07] paolaroncaglia opened #1858 "Can't find UBERON:4200096 intercondylar fossa in uberon_edit.obo"
**Uberon term**
UBERON:4200096 intercondylar fossa

**Bug description**
This term is in OLS: http://purl.obolibrary.org/obo/UBERON_4200096, stemming from https://github.com/obophenotype/uberon/issues/1856
But I can't find it in uberon_edit.obo. I last edited the file on March 26th. I can see my latest edits as well as edits done by Chris after that date, but no trace of UBERON_4200096. I couldn't

[2021-05-17 15:37] paolaroncaglia commented on #1730
Hi @ngeorgeebi ,
The new term is
UBERON:8410001 small intestine venule.
It will be available in the next Uberon release, which I think will happen shortly, and if not, I already made a note to ask at the next Uberon/CL editors meeting (day after tomorrow).
Thanks,
Paola

[2021-05-17 15:38] balhoff commented on #1858
It looks like this term is edited here: https://github.com/obophenotype/uberon-phenoscape-ext/blob/master/phenoscape-ext.owl

The plan is to integrate this back into the main repo (https://github.com/obophenotype/uberon-phenoscape-ext/issues/18).

[2021-05-17 16:22] paolaroncaglia commented on #1858
Thanks @balhoff for clarifying!

Ok. @emquardokus asked if synonyms could be added to UBERON:4200096 in time to be released/public by mid-June, needed for the CCF-ASCT tables. Should I ask phenoscape editors to address #1856 please? Or will https://github.com/obophenotype/uberon-phenoscape-ext/issues/18 be addressed and committed in time for me to edit UBERON:4200096 in the merged file, and (have

[2021-05-17 17:12] paolaroncaglia commented on #1731
Hi @ngeorgeebi ,
As agreed, I added the following exact synonyms to UBERON:0018410 'lacteal', with your ORCID as a dbxref:
"lymphatic capillary of small intestine"
"small intestine lymphatic capillary"
The synonyms will be visible at the next Uberon release.
The link to 'digestive system' is already implied via the term's axioms.
Thanks for your patience,
Paola

[2021-05-17 17:12] #1731 closed

[2021-05-17 17:14] paolaroncaglia commented on #1732
Hi again @ngeorgeebi ,
The new term is
UBERON:8410002 small intestine lymphatic vessel
Link to digestive system already implied.
Thanks,
Paola

[2021-05-17 17:14] #1732 closed

[2021-05-17 18:35] balhoff commented on #1858
@wdahdul could you add the synonym in #1856?

[2021-05-17 20:58] wdahdul commented on #1858
I added the synonyms to ext (https://github.com/obophenotype/uberon-phenoscape-ext/commit/cfde6012b8cde1b4e7e14f05475dbaba72cca5d8).

[2021-05-17 20:59] wdahdul commented on #1856
I just added the list above of synonyms to the term in ext. Let me know if anything might still missing. Thanks!

[2021-05-18 15:13] paolaroncaglia commented on #1858
@wdahdul (and @balhoff )

Thank you very much!
Paola

[2021-05-18 15:18] paolaroncaglia commented on #1858
I'm closing this ticket now. I retrospectively assigned it to @wdahdul and @balhoff  for their contribution. Thanks again.

[2021-05-18 15:18] #1858 closed

[2021-05-18 15:24] paolaroncaglia commented on #1856
@wdahdul thanks for adding those synonyms. I'll add you as an assignee.
@emquardokus the synonyms will be available at the next Uberon release, not sure when exactly, but I've asked about a timeline (added to the agenda for tomorrow's CL/Uberon editors meeting).
Best,
Paola

[2021-05-18 15:24] #1856 closed

[2021-05-18 16:40] emquardokus commented on #1856
Thanks to all!

[2021-05-19 15:07] paolaroncaglia commented on #1855
@sfexova
UBERON:8410005 transitional glandular epithelium of anal canal
Will be available at next Ub. release (release date in discussion at today's anatomy editors' meeting).

[2021-05-19 15:07] #1855 closed

[2021-05-20 08:06] paolaroncaglia commented on #1851
Hi @sfexova ,
The new term is
UBERON:8410009 anal canal arteriole
The wording is consistent with existing sibling terms in Uberon, but I kept 'arteriole of anal canal' as an exact synonym.
The term will be available in the next Uberon release, which is planned to be completed by June 1st at the latest.
Thanks,
Paola

[2021-05-20 08:06] #1851 closed

[2021-05-20 08:07] paolaroncaglia commented on #1852
@sfexova
UBERON:8410008 anal canal venule

[2021-05-20 08:07] #1852 closed

[2021-05-20 08:07] paolaroncaglia commented on #1853
@sfexova
UBERON:8410007 myenteric nerve plexus of anal canal

[2021-05-20 08:07] #1853 closed

[2021-05-20 08:08] paolaroncaglia commented on #1854
@sfexova
UBERON:8410006 submucous nerve plexus of anal canal

[2021-05-20 08:08] #1854 closed

[2021-05-20 08:26] paolaroncaglia commented on #1845
@sfexova
UBERON:8410011 myenteric nerve plexus of appendix

[2021-05-20 08:26] #1845 closed

[2021-05-20 08:26] paolaroncaglia commented on #1846
@sfexova
UBERON:8410012 submucous nerve plexus of appendix

[2021-05-20 08:26] #1846 closed

[2021-05-20 16:29] paolaroncaglia commented on #1740
Hi @ngeorgeebi ,
The new term is
UBERON:8410013 afferent lymphatic vessel valve
and will be available with the next Uberon release, scheduled to happen by June 1st at the latest.
Thanks for your patience,
Paola

[2021-05-20 16:29] #1740 closed

[2021-05-20 16:30] paolaroncaglia commented on #1741
@ngeorgeebi
UBERON:8410014 efferent lymphatic vessel valve
Thanks,
Paola

[2021-05-20 16:30] #1741 closed

[2021-05-21 08:59] sfexova opened #1866 "NTR: lymphatic capillary of anal canal"
**Preferred term label:**
lymphatic capillary of anal canal

**Synonyms**
anal canal lymphatic capillary

**Definition (free text, please give PubMed ID)**
Lymphatic capillary that is located in the anal canal.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
anal canal http://purl.obolibrary.org/obo/UBERON_0000159
lymphatic capillary http://purl.obolibrary.org/obo/UBERON_0006842

[2021-05-21 10:52] sfexova opened #1867 "NTR: myenteric nerve plexus of colon"
**Preferred term label:**
myenteric nerve plexus of colon

**Synonyms**

**Definition (free text, please give PubMed ID)**
Myenteric nerve plexus that is part of the colon.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
myenteric nerve plexus http://purl.obolibrary.org/obo/UBERON_0002439
colon http://purl.obolibrary.org/obo/UBERON_0001155

**Your nano-attribution (ORCID)**
0000

[2021-05-21 10:55] sfexova commented on #1867
I think the current colon definition "Last portion of the large intestine before it becomes the rectum." is not correct - it's not just the last part of large intestine before rectum, it's pretty much all of it, sin't it - we have ascending, transverse, descending and sigmoidal colon

[2021-05-21 11:08] sfexova opened #1868 "NTR: submucous nerve plexus of colon"
**Preferred term label:**
submucous nerve plexus of colon

**Synonyms**

**Definition (free text, please give PubMed ID)**
Submucous nerve plexus that is part of a colon.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
colon http://purl.obolibrary.org/obo/UBERON_0001155
submucous nerve plexus http://purl.obolibrary.org/obo/UBERON_0005304

**Your nano-attribution (ORCID)**
0000-0

[2021-05-21 14:59] paolaroncaglia commented on #1867
@sfexova

My understanding is that the above is not the case in all vertebrates, while Uberon 'colon' is meant to cover all vertebrates, and may need some editing to that extent. See the following in the right-hand panel of the [OLS entry](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0001155):

editor note: TODO - abstract this such that it

[2021-05-24 15:45] paolaroncaglia opened #1869 "Revise UBERON:0001153 'caecum' and UBERON:0001155 'colon'"
Background/rationale:
Our collaborators at the Single Cell Expression Atlas (EBI) are working on anatomograms to visualize human data.
In particular, they’re addressing the large intestine. As discussed previously, due to the technical details of their anatomograms set-up, they need to ensure that there is a distinction among cell types located in
a) the appendix
b) the anal canal
c) the colon.
Fo

[2021-05-24 17:54] megbalk commented on #1848
Here is the new patterns I have made. Feedback would be great! @markengelstad

[teeth-pattern.txt](https://github.com/obophenotype/uberon/files/6534101/teeth-pattern.txt)

[2021-05-24 18:13] megbalk opened #1870 "defining midpoints or midlines parts"
What is the best practice for defining a midpoint of some structure?

[2021-05-24 19:05] cmungall commented on #1869
I agree with all the above

[2021-05-24 19:15] sfexova commented on #1869
Hi @paolaroncaglia thanks very much for looking into this and for the very useful discussion we've had on this topic earlier today.
Yes, exactly for the anatomograms we need to have three sets of cell type/tissue annotations that are at the same level ontologically (not parent/child) for appendix, anal canal and 'everything else'. As said I thought we could call the 'everything else' group 'colon'

[2021-05-25 10:42] paolaroncaglia commented on #1869
Update: @sfexova and I discussed further offline. Silvie will ask their expert (a gut surgeon and researcher) to help us clarify whether the rectum should be included in the colon proper or not. I think not, but it's hard to say because most diagrams I find online seem to use colon interchangeably with large intestine (they depict appendix and caecum too). Perhaps one of us may also look up an aut

[2021-05-25 17:37] balhoff opened #1871 "Does 'anatomical surface' need to be under 'immaterial anatomical entity'?"
I am working on some mappings to NCIt. Material vs. immaterial is causing some issues here. To me the surface of something is a material thing, in common usage.

[2021-05-26 15:05] paolaroncaglia opened #1872 "NTR: anorectum"
As requested by @sfexova after offline discussion, for use in the Single Cell Expression Atlas anatomograms:

**Preferred term label:**
anorectum

**Synonyms**
anorectal canal [narrow]
anorectal [relational adjective]

**Definition (free text, please give PubMed ID)**
A subdivision of the digestive tract in humans that includes the rectum, the anal canal and the anus.
https://link.springer.com/cha

[2021-05-26 15:58] paolaroncaglia commented on #1869
Update: @sfexova heard back from Mark Arends (University of Edinburgh):
"Based on anatomical and pathological textbooks (I have looked through many of both) and widespread usage in both anatomy and pathology,  the colon includes ileo-caecal valve (caecal component), caecum, ascending colon, hepatic flexure, transverse colon, splenic flexure, descending colon, sigmoid colon.
Colon does not include

[2021-05-26 16:08] paolaroncaglia commented on #1872
@cmungall
Would you or others have any objection to the creation of a grouping term for 'anorectum' as described in https://github.com/obophenotype/uberon/issues/1872#issue-902530452? Sorry for pestering, I'd like to get the edits in for SCA, in time for the next Uberon release. Thanks!

[2021-05-26 17:16] RDruzinsky commented on #1869
I think that you could define colon as part of the large intestine that has
omental appendages, since the vermiform appendix, caecum, and rectum do not
(well, most of the time). For vermiform appendix I like continuous with
some caecum rather than connected to.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801

[2021-05-27 09:09] sfexova commented on #1872
Hi @paolaroncaglia - thank you! Just one question, sorry if it's a dumb one - I know you mentioned offline that rectum cannot be made part of anorectum because that wouldn’t be true for species that don’t have an anal canal but where exactly does the current definition and relationships place this term in the ontology? - Is this term going to be under 'large intestine' and have children 'rectum',

[2021-05-27 10:38] paola-scibite opened #1873 "UBERON:0002030 nipple should be part_of UBERON:0001911 mammary gland"
**Uberon term**
UBERON:0002030 nipple

**Suggested revision and reasons**
UBERON:0002030 nipple isn't linked to mammary gland (other than indirectly via
develops_from some mammary ridge
and
mammary duct channels_into some nipple).
Please consider adding
nipple part_of mammary gland
because in species that have nipples, these are always part of a mammary gland.

Thanks,
Paola

Update: on further an

[2021-05-27 14:04] paolaroncaglia opened #1874 "Check that WikipediaVersioned links resolve"
Stemming from https://github.com/obophenotype/cell-ontology/pull/1078
Note for self: double-check that WikipediaVersioned links resolve for the Uberon terms I created (e.g. 'left colic vein'). Check in OLS; Protege may be a different issue.

[2021-05-27 14:45] paolaroncaglia commented on #1872
Hi @sfexova ,

I created the term in Protege so I can show you how it would appear after running the reasoner. I also opened a pull request so that the edit may be reviewed by others and commented/approved as appropriate. The term won't be committed to the live Uberon ontology until then. So, please see the image attached:

![Screen Shot 2021-05-27 at 16 31 36](https://user-images.githubuserconten

[2021-05-27 15:11] paolaroncaglia commented on #1872
So I tested addition of
anorectum 'part of' some 'large intestine'
Nothing breaks in Uberon pipeline checks, but I'm still really not sure that anus is meant to be included in the definition of large intestine.

[2021-05-27 15:47] paolaroncaglia commented on #1869
Hi @RDruzinsky ,

Many thanks for your feedback! The only concern with omental appendages would be that it'd exclude the caecum from the colon as you say, while other resources include it. So I'd rather avoid the potential conflict caused by "omental" if that makes sense. I do appreciate your advice though.

Best wishes,
Paola

[2021-05-27 15:56] RDruzinsky commented on #1869
You're welcome. However, I would caution that many anatomists and
authoritative textbooks, including the British Gray's, do not consider the
caecum to be part of the colon.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website:

[2021-05-27 16:02] paolaroncaglia commented on #1872
Note for self:
- [ ] double-check that DOIs resolve

[2021-05-27 16:05] paolaroncaglia commented on #1869
Yes, I'm realizing that clear-cut partonomy consensus is not always easy to achieve...

[2021-05-27 16:09] RDruzinsky commented on #1869
You aren't kidding!

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website: www.peerj.com/RobertDruzinsky

On Thu, May 27, 2021 at 11:05 AM paolaroncaglia ***@***.***>
wrote:

[2021-05-27 16:24] paolaroncaglia commented on #1814
@sfexova
FYI, please note that 'lymphatic capillary of appendix' will be a child of 'lymphatic vessel of appendix'.
I assume this won't cause issues in the anatomograms, but please shout otherwise. :-)

[2021-05-27 16:41] paolaroncaglia commented on #1811
@sfexova
I added
UBERON:8410020 venule of appendix
as requested. Will be visible in the next Uberon release (which was originally planned for around this weekend, but I suspect there may be some delay as I haven't heard from my colleagues. I'm not sure if you'd prefer me to push for a release or rather wait until next week so we can fix the issues with the large intestine-related anatomograms?).
T

[2021-05-27 16:41] #1811 closed

[2021-05-27 16:41] paolaroncaglia commented on #1812
@sfexova
UBERON:8410028 arteriole of appendix

[2021-05-27 16:41] #1812 closed

[2021-05-27 16:42] paolaroncaglia commented on #1814
@sfexova
UBERON:8410029 lymphatic capillary of appendix

[2021-05-27 16:42] #1814 closed

[2021-05-27 16:43] paolaroncaglia commented on #1815
@sfexova
UBERON:8410030 lymphatic vessel of appendix

[2021-05-27 16:43] #1815 closed

[2021-05-27 23:04] megbalk commented on #1848
@cmungall feedback on these patterns would be great. If they're good, I can start making terms and standardizing how we define teeth.

[2021-05-27 23:32] megbalk opened #1877 "trochlear sulcus of humerus"
**Uberon term**
trochlear groove of humerus

**Synonym to be added**
trochlear sulcus of humerus

**broad/exact/narrow/related ?**
exact

[2021-05-27 23:32] megbalk commented on #1877
@nicolevasilevsky I'll make a new branch and do this

[2021-05-27 23:34] megbalk opened #1878 "trochlear ridge of humerus"
**Preferred term label:**
trochlear ridge of humerus

**Synonyms**

**Definition (free text, please give PubMed ID)**
The ridge in the middle of a trochlea of a humerus.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
trochlea of humerus

**Your nano-attribution (ORCID)**

[2021-05-27 23:34] megbalk commented on #1878
I'll make a new branch and do this

[2021-05-28 00:05] megbalk opened #1879 "tibial tuberosity"
**Preferred term label:**
tibial tuberosity

**Synonyms**
fossa digitalis

**Definition (free text, please give PubMed ID)**
The tibial tuberosity is on the anterior side of a tibia and is where a patella ligament attaches.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
epiphysis of tibia

**Your nano-attribution (ORCID)**

[2021-05-28 00:05] megbalk commented on #1879
I will create a branch and do this.

[2021-05-28 00:55] megbalk opened #1880 "trochlea of talus and its parts"
**Preferred term label:**
1. trochlea of talus
2. trochlear groove of talus
3. condyle of talus
4. medial condyle of talus
5. lateral condyle of talus
6. ridge of medial condyle of talus
7. ridge of lateral condyle of talus

**Synonyms**
1. trochlea tali; trochlea for tibia; trochlea of astragalus
2. trochlear groove of astragalus
3. condyle of astragalus
4. medial condyle of astragalus
5. lateral

[2021-05-28 00:55] megbalk commented on #1880
I will create a new branch and add these.

[2021-05-28 01:09] megbalk opened #1881 "sulcus tali"
**Preferred term label:**
sulcus tali

**Synonyms**
sulcus for flexor hallucis longus tendon

**Definition (free text, please give PubMed ID)**
A depression that runs between the two facets of a talus that interact with a calcaneum.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
talus

**Your nano-attribution (ORCID)**

[2021-05-28 01:09] megbalk commented on #1881
adding this term on the fovt-talus branch

[2021-05-28 01:13] megbalk opened #1882 "astragalus head"
**Uberon term**
astragalus head

**Synonym to be added**
talus head

**broad/exact/narrow/related ?**
exact

[2021-05-28 01:13] megbalk commented on #1882
I will do this on the fovt-talus branch

[2021-05-28 01:14] megbalk commented on #1882
this term is missing from the edit file

[2021-05-28 01:14] megbalk commented on #1877
this term is missing from the edit file

[2021-05-28 06:57] megbalk opened #1883 "rostrum"
**Preferred term label:**
rostrum

**Synonyms**
related synonyms: snout, muzzle, beak

**Definition (free text, please give PubMed ID)**
Rostrum is a common term used to describe forward protrusions from an animal's face. In vertebrates, this includes the part of the cranium (skull) in front of the zygomatic arches that also holds the teeth, palate, and nasal cavity. In invertebrates it is the for

[2021-05-28 06:58] megbalk commented on #1883
I will create a new branch and do this

[2021-05-28 07:02] megbalk opened #1884 "add sides to nasal bones"
**Preferred term label:**
left nasal bones
right nasal bone

**Synonyms**

**Definition (free text, please give PubMed ID)**
The nasal bone on anatomic side of an animal.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
nasal bone

**Your nano-attribution (ORCID)**

[2021-05-28 07:02] megbalk commented on #1884
I will do this on my branch (fovt-skull)

[2021-05-28 07:03] #1884 closed

[2021-05-28 14:56] paolaroncaglia commented on #1883
Hi @megbalk ,
May I please suggest to add a taxon constraint to indicate that 'rostrum' is never found in Homo sapiens.
I think it could be safely broadened to 'never in Euarchontoglires' too, but haven't checked fully.
Useful for producing a human-focused version of Uberon.
I'd also suggest adding an exact synonym "animal rostrum".
Thanks!
Paola

[2021-05-28 15:21] balhoff commented on #1877
@megbalk it could be in the Phenoscape ext: https://github.com/obophenotype/uberon-phenoscape-ext/blob/master/phenoscape-ext.owl

[2021-05-28 15:22] balhoff commented on #1877
(feel free to submit pull requests there until the repos get merged!)

[2021-05-28 16:24] paolaroncaglia commented on #1816
@sfexova
UBERON:8410031 muscularis mucosae of appendix
Have a great long weekend,
Paola

[2021-05-28 16:24] #1816 closed

[2021-05-28 17:16] megbalk commented on #1883
Hi @paolaroncaglia, yes! How do I add a taxon constraint? It'd be helpful for other things I'm doing as well.

[2021-05-28 17:17] megbalk commented on #1877
@balhoff does that not get pulled in with uberon? It's in the URL version (so last release) but not the edit version. Should I suggest a synonym at the phenoscape ext?

[2021-05-28 18:12] megbalk commented on #1877
ok!

[2021-05-28 18:17] megbalk commented on #1882
@balhoff is this the same issue where this resides in the other ontology? How do you figure that out for future?

[2021-05-28 18:23] megbalk opened #1886 "antorbital notch"
**Preferred term label:**
antorbital notch

**Synonyms**

**Definition (free text, please give PubMed ID)**
The antorbital notch is a prominence of bone located anteriolaterally of the antorbital fenestra.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'bone fossa'
'part of' some skull

**Your nano-attribution (ORCID)**

[2021-05-28 18:23] megbalk commented on #1886
I will create a branch and add this term. I suspect this term also needs taxon constraints.

[2021-05-28 18:35] balhoff commented on #1882
I think you just need to see if it's in uberon_edit.obo, or else see if it's phenoscape-ext. If you open phenoscape-ext in Protege, the terms defined there will be bold.

[2021-05-28 18:50] megbalk opened #1887 "parietal bone"
**Preferred term label:**
parietal bone

**Synonyms**
has_related_synonym 'frontoparietal bone'

**Definition (free text, please give PubMed ID)**
The parietal bones form the sides and roof of the cranium and are joined. In humans, they are adjacent to the frontal  bone, sphenoid, temporal bone, and occipital bone. In other tetrapods, the frontal bone and parietal bone form the frontoparietal bone

[2021-05-28 18:51] megbalk commented on #1887
Found it as "tetrapod parietal bone"

[2021-05-28 18:51] #1887 closed

[2021-05-28 18:59] megbalk opened #1888 "preorbital process"
**Preferred term label:**
preorbital process

**Synonyms**

**Definition (free text, please give PubMed ID)**
The preorbital process is a projection of bone close to the nasal bones and anterior to the orbital bone.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'part of' some cranium
'anatomical projection'

**Your nano-attribution (ORCID)**

[2021-05-28 18:59] megbalk commented on #1888
I will add this to fovt-skull

[2021-05-28 19:06] megbalk opened #1889 "left and right nasal bone"
**Preferred term label:**
left nasal bone
right nasal bone

**Synonyms**

**Definition (free text, please give PubMed ID)**
Nasal bone on the left side of an organism when in anatomical position.
Nasal bone on the right side of an organism when in anatomical position.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
nasal bone and (in_left_side_of some 'multicellular organism')
n

[2021-05-28 19:06] megbalk commented on #1889
I will add this to fovt-skull

[2021-05-28 19:10] megbalk opened #1890 "sides of zygomatic arch"
**Preferred term label:**
left zygomatic arch
right zygomatic arch

**Synonyms**

**Definition (free text, please give PubMed ID)**
Zygomatic arch on the left side of an organism when in anatomical position.
Zygomatic arch on the right side of an organism when in anatomical position.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'zygomatic arch' and (in_left_side_of some 'mult

[2021-05-28 19:10] megbalk commented on #1890
I will add this to fovt-skull

[2021-06-01 08:38] paolaroncaglia commented on #1883
Hi @megbalk ,

Sure. You can add a "never in taxon" constraint as an annotation property. In Protege, highlight the newly created class 'rostrum', then click on the green "+" next to "Annotations", and from the list select "never in taxon" (there are two, select the one in bold). Then, in the text box ("Literal" tab), fill in 'Homo sapiens'. I'll leave it to you please to check if 'rostrum' can be

[2021-06-01 13:24] paolaroncaglia commented on #1749
@ngeorgeebi
The term you requested is
UBERON:8410032 trabecular sinus of lymph node
It'll be available with the next Uberon release (not 100% sure when that will be, but probably in a week or so).
Thanks,
Paola

[2021-06-01 13:28] paolaroncaglia commented on #1749
Note for self: leaving this ticket open as a reminder to do https://github.com/obophenotype/uberon/issues/1749#issuecomment-788116928.

[2021-06-01 14:01] paolaroncaglia commented on #1752
@sfexova
This will be UBERON:8410035 medullary arteriole of lymph node
in the next Uberon release. Thanks,
Paola

[2021-06-01 14:01] #1752 closed

[2021-06-01 14:02] paolaroncaglia commented on #1753
@sfexova
UBERON:8410036 medullary venule of lymph node

[2021-06-01 14:02] #1753 closed

[2021-06-02 00:18] megbalk opened #1894 "patellar surface"
**Preferred term label:**
trochlea of femur

**Synonyms**
patellar surface of femur

**Definition (free text, please give PubMed ID)**
A trochlea on the distal end of a femur that interacts with the patella.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'part of' some 'distal epiphysis of femur'

**Your nano-attribution (ORCID)**

[2021-06-02 00:18] megbalk commented on #1894
i will create a branch and create this term

[2021-06-02 00:34] megbalk commented on #1883
Thank you!

[2021-06-02 00:35] megbalk commented on #1886
@paolaroncaglia does this need a taxon constraint too?

[2021-06-02 00:35] megbalk commented on #1888
@paolaroncaglia does this need a taxon constraint too?

[2021-06-02 18:23] megbalk commented on #1848
@mellybelly I heard from @nicolevasilevsky that you started the teeth terms, so your input is definitely welcomed!

[2021-06-03 00:05] megbalk opened #1898 "radial styloid process"
**Preferred term label:**
radial styloid process

**Synonyms**
has_exact_synonym: radial condyle
has_exact_synonym: radial styloid notch

**Definition (free text, please give PubMed ID)**
A condyle on the distal end and lateral side of a radius.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'condyle' and ('part of' some 'distal epiphysis of radius')

**Your nano-attribution (O

[2021-06-03 00:05] megbalk commented on #1898
I will create a new branch and create this.

[2021-06-03 00:07] megbalk opened #1899 "ulnar notch of radius"
**Preferred term label:**
ulnar notch of radius

**Synonyms**

**Definition (free text, please give PubMed ID)**
A condyle on the distal end and medial side of a radius that interacts with the ulna.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'mesoderm-derived structure'
'part of' some 'distal epiphysis of radius'

**Your nano-attribution (ORCID)**

[2021-06-03 00:07] megbalk commented on #1899
I will add this to fovt-radius

[2021-06-03 00:09] megbalk opened #1900 "articular surface for carpals"
**Preferred term label:**
articular surface for carpals

**Synonyms**
distal articular surface of radius

**Definition (free text, please give PubMed ID)**
The articular surface on the distal end of a radius that interacts with carpals.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'articular surface'
'part of' some 'distal epiphysis of radius'

**Your nano-attribution (ORCID)

[2021-06-03 00:09] megbalk commented on #1900
I will add this to fovt-radius

[2021-06-03 00:10] megbalk opened #1901 "proximal articular surface of radius"
**Uberon term**
humeral facet on radius

**Synonym to be added**
proximal articular surface of radius

**broad/exact/narrow/related ?**
exact

[2021-06-03 00:10] megbalk commented on #1901
I will add this to fovt-radius

[2021-06-03 00:26] megbalk commented on #1900
Can't find 'articular surface' or 'surface of bone'

[2021-06-03 00:27] megbalk commented on #1901
I suspect this is in phenotype-ext

[2021-06-03 07:46] paolaroncaglia commented on #1754
Note to self:
- [ ] Add HEV as an acronym-type synonym (based on same PMID provided above)

[2021-06-03 08:31] paolaroncaglia commented on #1754
Hi @sfexova ,

Yes, I see you've made separate requests for 'high endothelial venule of lymph node/Peyer's patch/appendix' and that's correct. The PMID you provided states that "high endothelial venules (HEVs) perform this function in all lymphoid organs except the spleen", so I can't link 'high endothelial venule' to 'lymphoid tissue' as you initially asked, because lymphoid tissue includes splee

[2021-06-03 10:03] paolaroncaglia commented on #1765
Hi @ngeorgeebi and/or @sfexova ,
Nancy originally requested 'high endothelial venule of Peyer's patch' defining it as "High endothelial venule (a specialized blood vessel adapted for lymphocyte trafficking) that is part of a Peyer's patch in the _small_ intestine". Could you please confirm if the requested term should be linked to 'Peyer's patch' or to its child 'small intestine Peyer's patch'? If

[2021-06-03 10:15] paolaroncaglia commented on #1765
Note to self:
I created 'high endothelial venule of Peyer's patch' as part of generic Peyer's patch while I wait for SCA's reply.
If they ask to make it part of small intestine Peyer's patch instead,
- [ ] I'll need to state that in the term's label, synonym(s), textual definition, and logical definition.

[2021-06-03 10:25] paolaroncaglia commented on #1754
@sfexova
The new term is
UBERON:8410037 high endothelial venule

[2021-06-03 10:26] paolaroncaglia commented on #1754
Note to self:
I'll keep this ticket open to address the remaining edits in https://github.com/obophenotype/uberon/issues/1754#issuecomment-853658757.

[2021-06-03 10:28] paolaroncaglia commented on #1755
@sfexova
UBERON:8410038 high endothelial venule of lymph node

[2021-06-03 10:28] #1755 closed

[2021-06-03 10:30] paolaroncaglia commented on #1765
@ngeorgeebi and @sfexova
The new term is UBERON:8410040 high endothelial venule of Peyer's patch, but please see my 2 comments above.
I'll leave this ticket open until they've been addressed. Thanks.

[2021-06-03 10:31] paolaroncaglia commented on #1818
@sfexova
UBERON:8410039 high endothelial venule of appendix

[2021-06-03 10:31] #1818 closed

[2021-06-03 11:20] paolaroncaglia commented on #1886
Hi @megbalk ,

Good point; when creating new terms, it's always useful to consider that. You don't provide references or usage examples, and I'm not sure what species have an 'antorbital notch'. However, it may be that the _parent_ terms you suggest already have the appropriate taxon constraints. In this case, the new term would inherit the taxon rule "only in Vertebrata" via 'bone fossa' and its

[2021-06-03 11:23] paolaroncaglia commented on #1888
@megbalk

Please see https://github.com/obophenotype/uberon/issues/1886#issuecomment-853793717. This new term would only inherit a taxon constraint for Chordata, so yes possibly it could be restricted further (I see it's in a subset called "vertebrate_core").

[2021-06-03 13:40] paolaroncaglia commented on #1886
@megbalk
Just a note to say that details of how to formalize taxon constraints are currently under discussion (there's a whole GitBub project board [here](https://github.com/orgs/obophenotype/projects/2#card-58876023)). In particular, 'only in taxon' is being considered for obsoletion, possibly in favor of 'in taxon', but I wasn't involved in the most recent discussion. So perhaps best to make a n

[2021-06-03 14:15] paolaroncaglia commented on #1793
@sfexova
UBERON:8410041 venule of lymph node

[2021-06-03 14:15] #1793 closed

[2021-06-03 14:16] paolaroncaglia commented on #1794
@sfexova
UBERON:8410042 arteriole of lymph node

[2021-06-03 14:16] #1794 closed

[2021-06-03 15:48] paola-scibite opened #1904 "NTR: levatores costarum"
**Preferred term label:**
levatores costarum

**Synonyms**
levatores costarum muscle
levatores costarum muscles
musculi levatores costarum [latin term]

**Definition (free text, please give PubMed ID)**
Adapt from Wikipedia: "The Levatores costarum (/ˌlɛvəˈtɔːriːz kəˈstɛərəm/), twelve in number on either side, are small tendinous and fleshy bundles, which arise from the ends of the transverse proc

[2021-06-03 16:31] nicolevasilevsky opened #1905 "revise classification of UBERON:0001844 cochlea?"
**Uberon term**
UBERON:0001844 cochlea

**Suggested revision and reasons**
Uberon is placing all of the cochlea under the skeleton but is this correct? Would you consider the cochlear hair cells to be part of the skeleton? Similar issue for UBERON:0002371 bone marrow and skeleton (bone marrow is part of bone element).

_From Phenotype editors call 03 June 2021_

[2021-06-03 19:11] megbalk commented on #1888
Thank you!

[2021-06-03 19:12] megbalk commented on #1886
Thank you!

[2021-06-04 10:01] paolaroncaglia commented on #1786
Note to self and FYI @ngeorgeebi and @sfexova :
As resolved in https://github.com/EBISPOT/efo/issues/880, I created the term
UBERON:8410043 bronchus submucosal gland (synonym: "airway submucosal gland")
so that in the future it may replace EFO:0010666 'airway submucosal gland'.
However, as agreed, this replacement won't happen until plenty of advance warning is given to SCA (see https://github.com

[2021-06-04 15:14] paolaroncaglia commented on #1763
@addiehl please
(cc @ngeorgeebi and @sfexova )

Nancy requested terms for ‘lymph node germinal center light zone’ (this ticket) and ‘lymph node germinal center dark zone’ (#1764 ). She suggested the following definitions based on [PMID:25656706](https://www.ncbi.nlm.nih.gov/pmc/articles/PMC4399774/),  I’ve collated them:
“Lymph node germinal centers contain two microenvironments - the light zone a

[2021-06-04 15:15] paolaroncaglia commented on #1764
See https://github.com/obophenotype/uberon/issues/1763#issuecomment-854805286.

[2021-06-04 16:15] paolaroncaglia commented on #1767
@addiehl may I ask for your feedback here please?
(Cc @ngeorgeebi and @sfexova )

Nancy requested 'lymph node follicle marginal zone' for the Single Cell Atlas anatomograms, see https://github.com/obophenotype/uberon/issues/1767#issue-796938230. I'm unsure if this is in scope for Uberon as the two references provided seem to refer to pathologies (I don't have access to their full texts at the mome

[2021-06-04 16:17] paolaroncaglia commented on #1767
Actually, even if it's in scope, it couldn't be a child/descendant of 'lymph node follicle' as it's not observed in all lymph nodes, as per suggested definition.

[2021-06-04 16:32] paolaroncaglia commented on #1872
Note to self, I'm stuck until @sfexova confirms if we can exclude 'anus' from 'anorectum' or, better, 'anorectal canal', see discussion in https://github.com/obophenotype/uberon/pull/1875#issuecomment-849775182.

[2021-06-04 16:36] paolaroncaglia commented on #1869
Note to self: I'll go ahead with the edits outlined in https://github.com/obophenotype/uberon/issues/1869#issuecomment-848896632.

[2021-06-04 16:38] paolaroncaglia commented on #1867
Note to self, the colon discussion was moved to #1869 .

[2021-06-04 16:46] paolaroncaglia commented on #1809
Note to self:
Nancy requested lymph node interfollicular cortex;
1) UBERON:0010417 'lymph node T cell domain' is defined as "The paracortex and interfollicular cortex of the lymph node in which T lymphocytes home to survey dendritic cells";
so should the new term be part_of it?
2) The recently created, not-yet-released UBERON:8410036 'medullary venule of lymph node' is defined as "Medullary venule

[2021-06-04 16:53] paolaroncaglia commented on #1769
Hi @ngeorgeebi (cc @sfexova ),

I presume you refer to lymph node germinal center mantle zone #1762 ?
If so, please see discussion there, I think that lymph node germinal center mantle zone is in fact the same as lymph node follicular corona. If so, would you like me to add
lymph node follicular mantle zone; lymph node follicle mantle zone
as exatc synonyms of lymph node follicular corona?

Thanks

[2021-06-04 16:56] paolaroncaglia commented on #1768
Note to self, this should be looked at along with https://github.com/obophenotype/uberon/issues/1809.

[2021-06-06 20:58] sfexova commented on #1872
Hi @paolaroncaglia, sorry was busy with preparing for a workshop we ran last week. I went through a number of papers and book chapters that I could find but I still am not clear on this. When talking about anorectum they usually refer to it as rectum + anus but clearly meaning anus sensu lato: e.g. 'The last part of the gastrointestinal canal, the rectum and the anus'
I will have to consult Mark o

[2021-06-06 21:32] RDruzinsky commented on #1872
Take a look at the British Gray's Anatomy and see what you think.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website: www.peerj.com/RobertDruzinsky

On Sun, Jun 6, 2021 at 3:59 PM sfexova ***@***.***> wrote:

[2021-06-07 08:38] paola-scibite opened #1908 "Typo in def of UBERON:0001890 forebrain"
**Uberon term**
UBERON:0001890 forebrain

**Bug description**
"The most anterior region the brain including both the telencephalon and diencephalon."
should read
"The most anterior region _of_ the brain including both the telencephalon and diencephalon."
please.

[2021-06-07 13:53] paolaroncaglia commented on #1872
Hi @sfexova and @RDruzinsky ,
Thank you both for your feedback. I don't have access to the British Gray's Anatomy at the moment, but I suspect it may be in line with what @RDruzinsky summarized in https://github.com/obophenotype/uberon/pull/1875#issuecomment-849754983. @sfexova , if it helps, please keep in mind that when resources/references don't universally agree on nomenclature or partonomy, w

[2021-06-07 14:00] sfexova commented on #1872
Thanks all for your feedback, it really is a tricky one and I unfortunately also do not have access to specialist literature beyond what is available online. I have however heard back from Mark (Arends) regarding this and his view is the following:

[2021-06-07 14:29] paolaroncaglia commented on #1869
@sfexova
I edited the Uberon term for 'vermiform appendix' so that it can't be inferred to be part of the colon.
It's part of the large intestine, but not of the colon.
Shall I go ahead and address the SCA tickets for appendix-related terms, or would you prefer me to wait further? Either is fine with me, as long as we're sure and I can ideally avoid to edit terms twice :-)
Thanks,
Paola

[2021-06-07 14:29] #1869 closed

[2021-06-07 14:37] sfexova commented on #1869
@paolaroncaglia
yes, there are - to my knowledge - no outstanding issues with the appendix cohort of terms and we should be good to go there

[2021-06-07 14:46] paolaroncaglia commented on #1872
@sfexova
cc @RDruzinsky
I think if I add a taxon constraint to 'anorectum' (i.e. a computational rule to restrict use of 'anorectum' to the species we're focusing on), and some explanatory text, it might be ok to make anorectum part of large intestine without breaking anything.
To play it safe, and for the sake of brevity, I'd make anorectum present in taxon Homo sapiens.
If you or others have any

[2021-06-07 14:50] paolaroncaglia commented on #1872
For reference for other editors, here's the full reply from Mark Arends:
"1. Anorectum includes anus, anal canal, anorectal junction (including transitional zone), and rectum - anatomically speaking - this is what the international anatomical and pathological literature uses and supports, which we should use in the anatomogram.
The term "anus proper” is almost never used anatomically or in medical

[2021-06-07 15:06] sfexova commented on #1872
https://orcid.org/0000-0002-6826-8770 I believe

[2021-06-07 16:48] paolaroncaglia commented on #1840
@sfexova
UBERON:8410044 vein of appendix

[2021-06-07 16:48] #1840 closed

[2021-06-07 16:49] paolaroncaglia commented on #1841
@sfexova
UBERON:8410045 artery of appendix

[2021-06-07 16:49] #1841 closed

[2021-06-07 16:51] paolaroncaglia commented on #1842
@sfexova
UBERON:8410046 appendix smooth muscle circular layer

[2021-06-07 16:51] #1842 closed

[2021-06-07 16:51] paolaroncaglia commented on #1843
@sfexova
UBERON:8410047 appendix smooth muscle longitudinal layer

[2021-06-07 16:51] #1843 closed

[2021-06-07 16:56] paolaroncaglia commented on #1844
Note to self: I need to address a conflict in the PR

[2021-06-07 17:20] matentzn opened #1912 "Make sure uberon odk is not recreating every time"
purge phony goals

[2021-06-08 13:56] paolaroncaglia commented on #1844
@sfexova
UBERON:8410049 serosal nerve fiber of appendix
(Note, "fiber" instead of "fibre", to conform to the American spelling used in Uberon. I've added exact synonyms with the "fibre" spelling.)

[2021-06-08 13:56] #1844 closed

[2021-06-08 13:58] balhoff opened #1915 "UUID IRI used in six axioms"
There is a term `http://purl.obolibrary.org/obo/D96882F1-8709-49AB-BCA9-772A67EA6C33` with no label or any other annotations which is used in six axioms for 'immature basophil', 'immature eosinophil', and 'immature neutrophil'.

These are all meant to have some unknown thing as a part.

[2021-06-08 14:53] balhoff commented on #1915
Oh! Good question; this is actually in the CL import.

[2021-06-08 20:09] addiehl commented on #1762
I agree with Paola, that 'lymph node germinal center mantle zone' is equivalent to UBERON:0010420 'lymph node follicular corona' and that her suggested synonyms should be added.
--Alex

[2021-06-08 20:20] addiehl commented on #1762
I'm wondering also if "mantle" is a more common usage than "corona" for this portion of microanatomy.

[2021-06-08 20:55] addiehl commented on #1763
Use PMID:8011279 as a reference.

I don't think we should include axioms specifying when the these zones appear; it's an unnecessary complication. What is true is that when light and dark zones are present, they are part of the lymph node germinal center.

'lymphoid tissue' seems like an appropriate parent.

I agree with the adjustment of the synonyms.
--Alex

[2021-06-08 21:01] addiehl commented on #1764
Similar comments to #1763.

Use PMID:8011279 as a reference (in addition to the one above).

'lymph node dark zone' part of 'lymph node germinal center'.

'lymphoid tissue' seems like an appropriate parent.
-- Alex

[2021-06-08 21:02] addiehl commented on #1769
Agree with Paola and the discussion in #1762.
-- Alex

[2021-06-08 21:23] addiehl commented on #1809
1. I agree this new term should be part_of 'lymph node T cell domain', based on that term's definition.

2. I don't think there's a need to link 'lymph node interfollicular cortex' to 'medullary venule of lymph node' because the latter term refers to a blood vessel that seemingly may span multiple parts of the lymph node. But I don't fully understand the definition of 'medullary venule of lymph no

[2021-06-09 02:17] addiehl commented on #1767
The marginal zone is present in mesenteric lymph nodes and can be found in other lymph nodes (and the spleen).  It is a natural part of the lymph node anatomy, though not present in all lymph nodes.  It is true that B-cell lymphomas can accumulate in the marginal zone due to aberrant cellular targeting signals, but this does not mean the marginal zone does not belong in Uberon, as it is not a path

[2021-06-09 09:07] ngeorgeebi commented on #1762
I would say that mantle is probably more used

[2021-06-10 08:55] paolaroncaglia opened #1917 "UBERON:0008978 anal sac not part_of anus"
**Uberon term**
UBERON:0008978 anal sac

**Suggested revision of logical definition**
This is currently

subclass of organ part
part of some anus
(only in taxon some Mammalia)

But the anus is just the orifice, and anal sacs are not part of it - they are next to it. I propose revising to

subclass of sac? or organ? I'll go with both (but not subclass of gland, because the anal sac _contains_ gland

[2021-06-10 09:05] paolaroncaglia commented on #1917
Actually, even "adjacent to some anus" doesn't feel entirely correct as "x adjacent to y if and only if x and y share a boundary".

[2021-06-10 11:18] paolaroncaglia commented on #1872
@sfexova
Here it goes:

id: UBERON:8410050
name: anorectum
def: "A subdivision of the digestive tract in humans that includes the rectum, the anal canal and the anus." [DOI:10.1007/978-3-319-26938-2_8, DOI:10.1148/rg.2015150037, http://orcid.org/0000-0002-6826-8770, http://orcid.org/0000-0003-3440-1876, PMID:29742860]
synonym: "anorectal canal" NARROW []
intersection_of: UBERON:0004921 ! subdivisi

[2021-06-10 11:30] #1872 closed

[2021-06-10 15:08] paolaroncaglia opened #1920 "UBERON:0001154 'vermiform appendix' - partonomy and taxon rule"
**Uberon term**
UBERON:0001154 'vermiform appendix'

**Suggested revision and reasons**
Background: while working on terms needed for anatomograms for the Single Cell Expression Atlas, Mark Arends wrote to @sfexova:
"Based on anatomical and pathological textbooks ... and widespread usage in both anatomy and pathology, ...
Colon does _not_ include rectum, anal canal or _appendix_.
Large intestines

[2021-06-10 16:32] paolaroncaglia commented on #1762
I confirm that a quick look at PubMed hits shows that "mantle" is a more common usage than "corona" for this portion of microanatomy, so I will
- [ ] make lymph node germinal center mantle zone the primary label
- [ ] make lymph node follicular corona an exact synonym
- [ ] add Alex' ORCID to def dbxref

[2021-06-10 16:47] paolaroncaglia commented on #1762
@ngeorgeebi
@addiehl
FYI, all edits done as above, will be in the next Uberon release. Thanks.

[2021-06-10 16:47] #1762 closed

[2021-06-11 09:14] paolaroncaglia commented on #1920
So with @RDruzinsky 's approval, I committed the changes for UBERON:0001154 vermiform appendix to be part of large intestine instead of lower digestive tract. Full diff [here](https://github.com/obophenotype/uberon/pull/1921/commits/cc47e70677a5e900376d3d58c1bf9be3ffc3b23e).
cc @sfexova
Thanks

[2021-06-11 09:14] #1920 closed

[2021-06-11 09:46] paolaroncaglia commented on #1767
Hi @addiehl ,

Thanks for your feedback. I made a pull request. One last question though, if 'lymph node follicle marginal zone' is part_of 'lymph node' rather than 'lymph node follicle', should the label be 'lymph node marginal zone' instead, with 'lymph node follicle marginal zone' being a narrow synonym? Or did you mean that 'lymph node follicle marginal zone' should be part_of 'lymph node _fol

[2021-06-11 16:27] paolaroncaglia commented on #1763
@ngeorgeebi
I created this term as UBERON:8410052 lymph node germinal center light zone. This is a less ambiguous label than the suggested 'germinal center light zone', which I kept as a broad synonym.

@addiehl
Thanks again for your feedback. I also changed the scopes of the other terms' synonyms as agreed.

[2021-06-11 16:27] #1763 closed

[2021-06-11 16:29] paolaroncaglia commented on #1764
@ngeorgeebi
This is now added as UBERON:8410053 lymph node germinal center dark zone.
'germinal center dark zone' stays as a broad synonym.
Thanks,
Paola

[2021-06-11 16:29] #1764 closed

[2021-06-15 09:24] sfexova commented on #1855
hi @paolaroncaglia, can we please change this term to 'transitional glandular epithelium of anorectum' and make it a child term of anorectum - UBERON:8410050 anorectum

[2021-06-15 09:26] sfexova commented on #1854
hi @paolaroncaglia, can we please change this term to 'submucus nerve plexus of anorectum' and make it a child term of anorectum - UBERON:8410050 anorectum

[2021-06-15 09:28] sfexova commented on #1853
hi @paolaroncaglia, can we please change this term to 'myenteric nerve plexus of anorectum' and make it a child term of anorectum - UBERON:8410050 anorectum

[2021-06-15 09:29] sfexova commented on #1852
hi @paolaroncaglia, can we please change this term to 'venule of anorectum' and make it a child term of anorectum - UBERON:8410050 anorectum

[2021-06-15 09:29] sfexova commented on #1851
hi @paolaroncaglia, can we please change this term to 'arteriole of anorectum' and make it a child term of anorectum - UBERON:8410050 anorectum

[2021-06-15 09:31] sfexova commented on #1866
hi @paolaroncaglia, can we please change this term to 'lymphatic capillary of anorectum' and make it a child term of anorectum - UBERON:8410050 anorectum

[2021-06-15 09:59] sfexova commented on #1735
hi @paolaroncaglia, can we please change this term to 'lymphatic vessel of colon' and make it a child term of colon  - UBERON:0001155 colon

[2021-06-15 10:00] sfexova commented on #1736
hi @paolaroncaglia, can we please change this term to 'lymphatic capillary of colon' and make it a child term of colon  - UBERON:0001155 colon

[2021-06-15 10:01] sfexova commented on #1733
hi @paolaroncaglia, can we please change this term to 'arteriole of colon' and make it a child term of colon  - UBERON:0001155 colon

[2021-06-15 10:02] sfexova commented on #1734
hi @paolaroncaglia, can we please change this term to 'venule of colon' and make it a child term of colon  - UBERON:0001155 colon

[2021-06-15 13:30] paolaroncaglia commented on #1851
@sfexova done

[2021-06-15 13:32] paolaroncaglia commented on #1852
@sfexova done

[2021-06-15 13:32] paolaroncaglia commented on #1853
@sfexova done

[2021-06-15 13:32] paolaroncaglia commented on #1854
@sfexova done

[2021-06-15 13:33] paolaroncaglia commented on #1855
@sfexova and done.

[2021-06-15 14:09] paolaroncaglia commented on #1733
@sfexova
UBERON:8410015 arteriole of colon

[2021-06-15 14:09] #1733 closed

[2021-06-15 14:10] paolaroncaglia commented on #1734
@sfexova
UBERON:8410048 venule of colon

[2021-06-15 14:10] #1734 closed

[2021-06-15 14:10] paolaroncaglia commented on #1735
@sfexova
UBERON:8410051 lymphatic vessel of colon

[2021-06-15 14:10] #1735 closed

[2021-06-15 14:11] paolaroncaglia commented on #1736
@sfexova
UBERON:8410054 lymphatic capillary of colon

[2021-06-15 14:11] #1736 closed

[2021-06-15 14:11] paolaroncaglia commented on #1866
@sfexova
UBERON:8410055 lymphatic capillary of anorectum

[2021-06-15 14:11] #1866 closed

[2021-06-15 14:51] sfexova opened #1927 "NTR: muscularis mucosae of colon"
**Preferred term label:**
muscularis mucosae of colon

**Synonyms**
muscularis mucosa of colon

**Definition (free text, please give PubMed ID)**
Muscularis mucosae that is part of colon.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
muscularis mucosa http://purl.obolibrary.org/obo/UBERON_0006676
colon http://purl.obolibrary.org/obo/UBERON_0001155

**Your nano-attribution (ORC

[2021-06-15 14:55] sfexova opened #1928 "NTR: smooth muscle circular layer of colon"
**Preferred term label:**
smooth muscle circular layer of colon

**Synonyms**

**Definition (free text, please give PubMed ID)**
A circular muscle layer of muscular coat that is part of a colon smooth muscle.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
intestine smooth muscle http://purl.obolibrary.org/obo/UBERON_0004221
colon http://purl.obolibrary.org/obo/UBERON_0001155

*

[2021-06-15 14:59] sfexova opened #1929 "NTR: smooth muscle longitudinal layer of colon"
**Preferred term label:**
smooth muscle longitudinal layer of colon

**Synonyms**

**Definition (free text, please give PubMed ID)**
A longitudinal muscle layer of muscular coat that is part of a colon smooth muscle.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
colon http://purl.obolibrary.org/obo/UBERON_0001155
intestine smooth muscle http://purl.obolibrary.org/obo/UBERON_00

[2021-06-15 15:02] wdahdul commented on #1573
Closing - this was updated a while ago to the correct label.

[2021-06-15 15:02] #1573 closed

[2021-06-15 15:18] sfexova opened #1930 "NTR: capillary of colon"
**Preferred term label:**
capillary of colon

**Synonyms**
blood vessel capillary of colon

**Definition (free text, please give PubMed ID)**
Capillary that is part of a colon.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
capillary http://purl.obolibrary.org/obo/UBERON_0001982
colon http://purl.obolibrary.org/obo/UBERON_0001155

**Your nano-attribution (ORCID)**
0000-0003-344

[2021-06-15 15:21] sfexova opened #1931 "NTR: capillary of anorectum"
**Preferred term label:**
capillary of anorectum

**Synonyms**
blood vessel capillary of anorectum

**Definition (free text, please give PubMed ID)**
Capillary that is part of anorectum.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
capillary http://purl.obolibrary.org/obo/UBERON_0001982
anorectum UBERON:8410050

**Your nano-attribution (ORCID)**
0000-0003-3440-1876

[2021-06-16 15:10] megbalk commented on #1886
See "[better doc](https://obofoundry.github.io/obo-patterns.github.io/key-topics/taxon_constraints/)"

[2021-06-17 16:38] dosumis commented on #1905
The non boney bit is the 'organ of Corti' (AKA 'spiral organ of cochlea').  Is it not sufficient that this is 'located in' the cochlea rather than part of it?

[2021-06-17 23:59] megbalk commented on #1883
@paolaroncaglia do I use the annotation "never in taxon" or "never_in_taxon"? Or does it not matter?

[2021-06-18 13:43] balhoff commented on #1883
You want the one with IRI `http://purl.obolibrary.org/obo/RO_0002161`. I see in uberon_edit there is something with IRI `http://www.geneontology.org/formats/oboInOwl#never_in_taxon`—this is just a mistake and should be replaced.

By the way I have the impression that "rostrum" is used with monkeys at least.

[2021-06-18 13:52] balhoff commented on #1883
@megbalk I got rid of the extra property: #1932 It was being created via a typo combined with an unfortunate feature of the OBO parser.

[2021-06-24 17:25] LCCarmody opened #1933 "New grouping terms for large/small arteries and veins"
**New Uberon terms/groupings**
These are the suggested UBERON terms:
Large arteries
medium-sized arteries
small arteries
peripheral arteries
lower extremity peripheral artery
middle cerebral artery
(tunica) media of large arteries
(tunica) media of medium-sized arteries
(tunica) media of small arteries
cranial artery (cranial blood vasculature as a parent)
cranial vein

**Suggested revision and re

[2021-06-24 17:25] LCCarmody commented on #1933
@matentzn @cmungall

[2021-06-24 18:49] emquardokus commented on #1933
@dosumis Can Griffin Weber's work from HuBMAP Vasculature help at all here?  We have vasculature experts we could leverage.

[2021-06-24 19:08] dosumis commented on #1933
@emquardokus  - good idea. Is Griffin on GitHub?

[2021-06-24 19:23] emquardokus commented on #1933
@dosumis Link to this open uberon issue: Vasculature template + compiled OWL #1780
Griffin Weber Github: @GriffinWeber

[2021-06-28 08:06] ANiknejad opened #1934 "CL:0000187 muscle cell, only part of muscle organ in Danio, why?"
[Term]
id: CL:0000187
name: muscle cell
relationship: part_of UBERON:0001630 {gci_relation="part_of", gci_filler="NCBITaxon:7954"} ! muscle organ => why only in danio ?

Kind regards,

Anne

[2021-06-28 11:57] ANiknejad commented on #1927
I am sorry to put the question here, but why creating such term, instead of using composite annotation with UBERON:0006676 muscularis mucosa AND UBERON:0001155 colon ? I thought, it was in Uberon goals to avoid having to much terms. Thank you in advance for clarification.

Anne

[2021-06-28 18:24] matentzn opened #1936 "Expand macros using sparql"
Expand macros using sparql

Distinguish assertions and expressions

eg

[code]

[code]

[2021-06-29 09:18] ANiknejad opened #1937 "UBERON:6007018 and UBERON:6004640 do not exist, while cited in UBERON:6007150"
UBERON:6007150 segment of leg

def: "Any appendage segment (UBERON:6007018) that is part of some leg (UBERON:6004640)." [FBC:auto_generated_definition]

[2021-06-29 11:22] ANiknejad opened #1938 "eyestalk"
I am currently in the process of annotating some new crustaceans RNA-seq libraries for bgee.org, see for examples these recent papers:

https://www.ncbi.nlm.nih.gov/pmc/articles/PMC5796769/

https://advances.sciencemag.org/content/7/26/eabe8290

and I am looking for some crustacean or even arthropod or decapod structures that are obviously missing, such as 'eyestalk' , or eye-bearing antenna

It e

[2021-06-30 18:48] #1937 closed

[2021-06-30 21:02] cmungall opened #1940 "Add structures in LMHA and not in uberon"
See https://github.com/mapping-commons/lmha-obo-mappings/issues/1

|subject_id|subject_label|subject_category|
|---|---|---|
|LMHA:00645|visceral afferent sensory nerve terminal|AnatomicalSystem|
|LMHA:00378|subendothelial connective tissue cell|AnatomicalSystem|
|LMHA:00516|left anterior bronchus|AnatomicalStructure|
|LMHA:00546|respiratory autonomic nervous system|AnatomicalSystem|
|LMHA:00525|l

[2021-07-01 09:16] paolaroncaglia commented on #1927
Hi @ANiknejad ,

Sure. Yours is a very valid question, and I confirm that the compositional approach you refer to would be the preferred choice. However, the application that this term (and many others, for both anatomy and cell types) have been requested for, i.e. the anatomograms for the Single Cell Expression Atlas, or SCA, can't currently work with post-composed terms for technical reasons, so

[2021-07-01 10:15] paolaroncaglia commented on #1931
Hi @sfexova ,
I added UBERON:8410056 capillary of anorectum. It will be available at the next Uberon release.
Thanks,
Paola

[2021-07-01 10:15] #1931 closed

[2021-07-01 10:32] paolaroncaglia commented on #1930
@sfexova
UBERON:8410057 capillary of colon

[2021-07-01 10:32] #1930 closed

[2021-07-01 12:04] paolaroncaglia commented on #1927
Hi @sfexova ,
Uberon already has UBERON:0007178 'muscularis mucosae of colon', with "muscularis mucosa of colon" as exact synonym, see OLS entry [here](http://purl.obolibrary.org/obo/UBERON_0007178). It is part of some colonic mucosa, which is part of colon, so it should work well for the anatomograms. I'll close this ticket, but feel free to re-open it (or comment) if you have any concern. Thanks

[2021-07-01 12:04] #1927 closed

[2021-07-01 12:38] paolaroncaglia commented on #1867
@sfexova
UBERON:8410058 myenteric nerve plexus of colon

[2021-07-01 12:38] #1867 closed

[2021-07-01 12:39] paolaroncaglia commented on #1868
@sfexova
UBERON:8410059 submucous nerve plexus of colon

[2021-07-01 12:39] #1868 closed

[2021-07-01 12:39] paolaroncaglia commented on #1928
@sfexova
UBERON:8410060 colon smooth muscle circular layer

[2021-07-01 12:39] #1928 closed

[2021-07-01 12:47] paolaroncaglia commented on #1929
@sfexova
I created UBERON:8410061 colon smooth muscle longitudinal layer.
However, it seems that UBERON:0012419 'taenia coli' ([here](http://purl.obolibrary.org/obo/UBERON_0012419)) should be a subclass of the new term above, if not the same thing altogether. 'taenia coli' has clear textual links to colon and to longitudinal muscle layer, but no formal relationship. Are there other known instances

[2021-07-01 13:08] paolaroncaglia commented on #1809
Note to self:
- [ ] Add as subclass of (_not_ equivalent to) 'cortex' and part of 'lymph node T cell domain'
- [ ] Address Alex' question on medullary venules separately.

[2021-07-02 09:30] sfexova commented on #1765
Hi @paolaroncaglia, I thought Peyer's patches are specific to small intestine (illeum) - e.g here - page 195 'PPs are specialized SLOs [secondary lymphoid organs] located in the lamina propria of the mucosa and extending into the submucosa of the ileum.':
[1-s2.0-S1877117310920085-main.pdf](https://github.com/obophenotype/uberon/files/6753621/1-s2.0-S1877117310920085-main.pdf)
I have never seen a

[2021-07-02 09:44] sfexova opened #1945 "NTR: myenteric nerve plexus of small intestine"
**Preferred term label:**
myenteric nerve plexus of small intestine

**Synonyms**

**Definition (free text, please give PubMed ID)**
Myenteric nerve plexus that is part of the small intestine.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
small intestine http://purl.obolibrary.org/obo/UBERON_0002108
myenteric nerve plexus http://purl.obolibrary.org/obo/UBERON_0002439

**Your n

[2021-07-02 09:49] sfexova opened #1946 "NTR: submucous nerve plexus of small intestine"
**Preferred term label:**
submucous nerve plexus of small intestine

**Synonyms**

**Definition (free text, please give PubMed ID)**
Submucous nerve plexus that is located in the small intestine.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
small intestine http://purl.obolibrary.org/obo/UBERON_0002108
submucous nerve plexus http://purl.obolibrary.org/obo/UBERON_0005304

**You

[2021-07-02 11:52] paolaroncaglia commented on #1765
Hi @sfexova ,
Thanks for your feedback.
- [ ] I'll edit UBERON:8410040 'high endothelial venule of Peyer's patch' so it is part of small intestine Peyer's patch, see https://github.com/obophenotype/uberon/issues/1765#issuecomment-853757900.
- [ ] I'll open a separate ticket to improve the Peyer's patch branch, and will link it here FYI.

Thanks.

[2021-07-02 12:10] paolaroncaglia opened #1947 "Does the 'Peyer's patch' branch need review?"
Stemming from https://github.com/obophenotype/uberon/issues/1765.

@sfexova writes:
"I thought Peyer's patches are specific to small intestine (illeum) - e.g here - page 195 'PPs are specialized SLOs [secondary lymphoid organs] located in the lamina propria of the mucosa and extending into the submucosa of the ileum.':
1-s2.0-S1877117310920085-main.pdf
I have never seen a paper with Peyer's patche

[2021-07-02 12:39] paolaroncaglia commented on #1765
Hi again @sfexova ,
I revised the term, it is now
UBERON:8410040 high endothelial venule of small intestine Peyer's patch
def: "A high endothelial venule that is located in a Peyer's patch in the small intestine." [http://orcid.org/0000-0003-3440-1876, http://orcid.org/0000-0003-4183-8865/, PMID:20800822, PMID:28217126]
synonym: "high endothelial venule of Peyer's patch" BROAD []
synonym: "high en

[2021-07-02 12:39] #1765 closed

[2021-07-02 13:35] paolaroncaglia commented on #1945
@sfexova
UBERON:8410063
name: myenteric nerve plexus of small intestine

[2021-07-02 13:35] #1945 closed

[2021-07-02 13:35] paolaroncaglia commented on #1946
@sfexova
UBERON:8410064
name: submucous nerve plexus of small intestine

[2021-07-02 13:35] #1946 closed

[2021-07-02 13:40] #1729 closed

[2021-07-02 13:41] #1730 closed

[2021-07-02 14:00] paolaroncaglia commented on #1767
Hi @ngeorgeebi (and @sfexova ),
The new term is UBERON:8410065 lymph node follicle marginal zone.
Will be available with the next release of Uberon.

[2021-07-02 14:03] paolaroncaglia commented on #1767
Hi @addiehl ,
I created UBERON:8410065 'lymph node follicle marginal zone' as follows:

id: UBERON:8410065
name: lymph node follicle marginal zone
def: "Histologically, the marginal zone pattern of the lymph node is characterized by lymphoid follicles with three distinct layers. The inner layer is composed of follicular center zones, the middle layer of darkly stained mantle zones, and the outer l

[2021-07-02 14:21] paolaroncaglia commented on #1768
@ngeorgeebi and @sfexova
As per Alex Diehl's recommendation, I have created
UBERON:8410066 lymph node paracortex.

[2021-07-02 14:21] #1768 closed

[2021-07-02 14:22] paolaroncaglia commented on #1809
@ngeorgeebi and @sfexova
UBERON:8410067 lymph node interfollicular cortex

[2021-07-02 14:22] paolaroncaglia commented on #1809
Note to self: left to do:
- [ ] Address Alex' question 2 here https://github.com/obophenotype/uberon/issues/1809#issuecomment-857165004.

[2021-07-02 14:29] paolaroncaglia commented on #1769
@ngeorgeebi and @sfexova
I think this was addressed as part of #1762 , so I'll close this ticket as a duplicate, but if I have missed anything please feel free to open a new ticket or re-open this one. Thank you.
Paola

[2021-07-02 14:29] #1769 closed

[2021-07-04 13:57] matentzn opened #1952 "New unsats in metazoan composite"
Help needed:

## [first polar body](http://purl.obolibrary.org/obo/EHDAA2_0000541) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [first polar body](http://purl.obolibrary.org/obo/EHDAA2_0000541) SubClassOf [part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [polar bodies](http://purl.obolibrary.org/obo/EHDAA2_0004716)
    - [polar bodies](http://purl.obolibrary.org/obo

[2021-07-06 09:57] paolaroncaglia opened #1955 "Typo in def of UBERON:0002007 'medulla of lymph node'"
**Uberon term**
UBERON:0002007 'medulla of lymph node'

**Bug description**
Def reads "The _mdeullary_ portion of the lymph node...",
should be "medullary". Thanks.

[2021-07-06 19:37] cmungall opened #1957 "composite-metazoan and AEO"
CM includes:

[code]

First, there is no use case for including AEO explicitly, as it is redundant with uberon/caro. However, it comes in by way of EHDAA2

if we do bring it in, we need to make sure it gets merged

we have the xref

[code]

and the header

[code]

however, I believe the bridge axioms are not brought in during CM building

[2021-07-06 19:45] cmungall opened #1958 "invalid owl expressions being brought in to composite-metazoa"
[code]

e.g.

[code]

in cm.owl:

[code]

I am not sure where these are introduced.

I suggest as a first pass filtering these

See also https://github.com/ontodev/robot/issues/878

[2021-07-06 19:49] cmungall commented on #1958
note these are not present in the last release

[2021-07-06 19:52] cmungall commented on #1958
here is a comparison with EHDAA2 (which never changes)

old:

[code]

new:

[code]

[2021-07-06 19:59] cmungall opened #1959 "composite-metazoan: review use cases, strategy"
CM is incredibly ambitious. It attempts:

 - to account for every single ID in every single ontology
 - to retain all axioms from those ontologies (as GCIs, if term merged)
 - to try and make a single consistent coherent structure despite the fact that the underlying ontologies are massively different in design
 - to do the merge in automated way

Note that it is not the fact that we are integrati

[2021-07-14 15:58] paolaroncaglia commented on #1809
Discussed at curators meeting today, @ngeorgeebi  will address. Thanks.

[2021-07-14 15:59] paolaroncaglia commented on #1929
@sfexova
Apologies, I can't remember if you mentioned something about this ticket on our call earlier? The sound wasn't very good so I might have missed it. Thanks.

[2021-07-19 14:49] paolaroncaglia opened #1961 "Typo in def of UBERON:0005725 olfactory system"
**Uberon term**
UBERON:0005725 olfactory system

**Bug description**
"A sensory system that is capable of olfacttion..." should read "olfaction".

[2021-07-20 08:23] matentzn opened #1962 "All Uberon release files should be merged"
After the mega PR #1798 is merged, we should tackle this

[2021-07-20 17:45] matentzn opened #1963 "Make sure no dangling entities"
After #1798  is merged, we need to fix some of the dangling issues.

[2021-07-21 09:09] matentzn opened #1964 "Pipeline ordering issues"
- [ ] The stage pipeline does not require imports to be refreshed first - this mean that if you are not careful, only old versions of the imports are used
- [ ] Document need to run `sh run.sh make dirs` on first run

[2021-07-21 10:22] #1540 closed

[2021-07-21 19:06] tutajm opened #1967 "circular references"
In July 6, 2021 release, and in todays' release, there is a circular reference between these two terms:

[Term]
id: UBERON:0002354
name: cardiac Purkinje fiber
relationship: part_of UBERON:8000009 ! Purkinje fiber network

[Term]
id: UBERON:8000009
name: Purkinje fiber network
relationship: part_of UBERON:0002354 ! cardiac Purkinje fiber

Is this intended? We did not see this issue before. We use

[2021-07-22 09:10] matentzn commented on #1967
Thank you @tutajm we will deal with this shortly.

[2021-07-22 09:13] matentzn opened #1968 "Ensure circular references (part-of) check re-instated"
see #1967

The quality checking is currently very limited compared to what it was. Need to re-instate.
@cmungall which of the checks was responsible for checking for this?

[2021-07-22 09:14] matentzn opened #1969 "Review and update composite files"
We have stopped upgrading composite files until @cmungall had a chance to look them over.

See also:
- https://github.com/obophenotype/uberon/issues/1959

[2021-07-22 09:16] matentzn opened #1970 "Ensure quality checking is run by `make test`"
Too many quality checks are not being run by GitHub actions..
See https://github.com/obophenotype/uberon/issues/1968

Need to re-instate.

[2021-07-22 10:04] matentzn opened #1971 "Uberon release diffs are so large, they cant be reviewed"
Right now, the Uberon release diff are syntactically so enormous that Github does not even allow them to be reviewed. This not only precludes a quick review, but also increases the size of the repo drastically with each release.

First ideas:
- [ ] Use standard JSON goals from ODK to standardise JSON order
- [ ] run xsd:string normalisation by default?

@dosumis @cmungall

[2021-07-22 10:05] matentzn commented on #1912
Fixed in #1798

[2021-07-22 10:05] #1912 closed

[2021-07-22 10:07] matentzn commented on #1936
- [ ] Doing this now - but needs to be documented somewhere.

[2021-07-22 11:49] matentzn commented on #1971
From CL:

[code]

[2021-07-22 14:32] paolaroncaglia commented on #1967
Dear @tutajm ,
Many thanks for bringing this to our attention. It should be fixed now (Purkinje fiber network has_part cardiac Purkinje fiber, instead of part_of). However, the fix won't be visible until Uberon is released again.
@matentzn @nicolevasilevsky @cmungall should we do a patch release? I see that Nico's working on re-instating a check for circular refs, are there any others that might h

[2021-07-22 22:04] nicolevasilevsky opened #1975 "mouth part of digestive system"
on the Mondo call today, the issue came up if the mouth is properly a part of the digestive system?

In Mondo, lip herpes is inferred to be a digestive system infectious disease, which seems odd.

![image](https://user-images.githubusercontent.com/6722114/126715277-b66ee3f2-eecc-4f3e-a7a1-51c1f3ed4aae.png)

cc @sabrinatoro

[2021-07-22 23:02] cmungall commented on #1968
originally this was a simple graph cycle check in prolog. This check should now be done with relation-graph

Two formal ways to do this:

 - part-of should be declared locally reflexive. Then a cycle will be caught by robot as it there will be an equiv-btwn-NCs entailment
 - declare part-of antisymmetric-- though this may only work on instance level?

unfortunately reflexivity is gnarly, see RO do

[2021-07-23 08:37] matentzn commented on #1968
Ok, this is all a bit too much for me at the moment, but this way I found your Prolog checks seeking to reinstate these for now:

https://github.com/obophenotype/uberon/pull/1976

[2021-07-23 09:04] paolaroncaglia commented on #1975
Hi @nicolevasilevsky ,

I came across a similar issue while working on the Therapeutics Areas for Open Targets (Zoë release a version of EFO for them every month). Here's the solution we adopted:
"The UBERON term we can refer to, as location for ‘gastrointestinal disorder’, is UBERON:0005409 ‘alimentary part of gastrointestinal system’, defined as “The part of the digestive system that excludes th

[2021-07-23 09:06] matentzn commented on #1970
Right now very few checks are being run compared to the original Uberon QC pipeline (which can run because of resource limitations). We need to identify a minimum number of critical tests to be run.

- [X] We just re-introduced cycle checking on `basic`, for example

These make goals are being run for now:

- `odkversion'.
- `sparql_test'.
- `reports/uberon-edit.obo-obo-report.tsv'. (no fail setti

[2021-07-23 09:58] matentzn opened #1977 "QC logs are too verbose"
Goals like

[code]

produce a huge amount of noise, making the QC Logfile hard to use. This needs to be reduced.

[2021-07-23 10:09] matentzn commented on #1968
I will close now because advanced cycle checking needs to be done through a grant. It works now again!

[2021-07-23 10:09] #1968 closed

[2021-07-23 10:10] matentzn commented on #1967
Yes, your fix worked @paolaroncaglia.. I will see we have another release soon!

[2021-07-23 18:06] megbalk opened #1978 "scapula neck synonym"
**Uberon term**
neck of scapula

**Synonym to be added**
collum scapulae

**broad/exact/narrow/related ?**
exact

[2021-07-23 18:06] megbalk commented on #1978
I will create a new branch and do this.

[2021-07-24 20:40] matentzn commented on #1967
Can you check whether this is fixe now in the latest release @tutajm ?

[2021-07-25 10:18] dosumis opened #1980 "incorrect classification of bone surfaces under 'surface structure'"
'surface structure': 'Anatomical structure that overlaps the outer epithelial layer and is adjacent to the space surrounding the organism.'

Is used to classify surface structures of bones:

e.g.

![image](https://user-images.githubusercontent.com/112839/126895596-2e79d1a8-1c36-41d7-bc0a-ff11b1977d6d.png)

These should instead be under 'surface of bone'.  It may also be useful to have more groupin

[2021-07-26 15:38] nicolevasilevsky opened #1985 "ID range file is at the top level but should be under src/ontology"
there is another ID file under src/ontology that should be removed?

(per Slack conversation)

[2021-07-26 16:56] matentzn opened #1986 "Request for removing efo-slim (Uberon)"
The efo-slim in Uberon is causing a lot of problems for me in my attempt to manage the diff size of Uberon.

Asking for permission to remove this from Uberon!

[2021-07-26 17:05] matentzn commented on #1986
EFO is not using efo - slim

[2021-07-26 17:14] matentzn commented on #1986
Call: yes, you can delete.

[2021-07-26 17:16] matentzn opened #1987 "Make report on unswered issues and try to respond"
Using Github API maybe

[2021-07-26 17:21] #9 closed

[2021-07-26 17:21] #12 closed

[2021-07-26 17:21] matentzn opened #1988 "Close all issues that have not seen activity in last 3 years"
From Uberon call:
- [x] Chris is doing a pass
- [x] tag all issues with `autoclosed-unfixed`
- [x] Add comment to issue: "This issue was close because its old. Please reopen if you still need this to be fixed, as we are now getting resources to deal with these."

[2021-07-26 17:21] #56 closed, assigned to nobody

[2021-07-26 17:23] #419 closed

[2021-07-26 17:24] #54 closed

[2021-07-26 17:26] paolaroncaglia commented on #650
@addiehl
Could you please check if this ticket is now out of date? Thanks.

[2021-07-26 17:27] #1326 closed

[2021-07-26 17:27] paolaroncaglia commented on #1524
@dosumis
Could you comment on this one, please?
Thanks.

[2021-07-26 17:28] cmungall commented on #122
we're currently treating as the same class, we'll keep this way for now

[code]

[2021-07-26 17:28] #122 closed

[2021-07-26 17:29] matentzn commented on #1988
- [ ] Check wether tagging is enough to mean "active"

[2021-07-26 17:31] paolaroncaglia commented on #1689
@cmungall
@dosumis
Shall we close this?

[2021-07-26 17:38] cmungall commented on #306
This is still not done, but we are closing old issues. Current defs:

[code]

[2021-07-26 17:38] #306 closed

[2021-07-26 17:41] addiehl commented on #650
My conclusion stands that "lymph node" should be restricted to 'Mammalia'.  Per the papers previously cited, as well as a Google review, proper lymph nodes are only found in mammals, and not in birds, reptiles, amphibians, or fish.

Someone should make this change.

[2021-07-26 17:42] paolaroncaglia commented on #1947
Note to self - ask Alex Diehl for feedback.

[2021-07-26 17:46] cmungall commented on #117
This is an old ticket but I think we should look at this again

[2021-07-26 17:47] paolaroncaglia commented on #650
Thanks @addiehl . 'lymph node' is currently never_in_taxon Teleostei and Serpentes. Looks like a couple more restrictions could still be added. I'll assign this ticket to myself as I've worked on lymph node terms for the SCA anatomograms - how do I make sure it's not auto-closed?

[2021-07-26 17:48] cmungall commented on #175
This is an important ticket for thinking about future composite merge strategies

[2021-07-26 17:49] paolaroncaglia commented on #1533
Note to self: see if this is fixed or good as is.

[2021-07-26 17:51] cmungall commented on #133
closing for now but will need to be readdressed as part of symbiote-merge strategy

[2021-07-26 17:51] #133 closed

[2021-07-26 17:51] cmungall commented on #135
I think placodes are in good shape

[2021-07-26 17:51] #135 closed

[2021-07-26 17:52] paolaroncaglia commented on #1612
@dosumis who's the best person for vascular terms please?

[2021-07-26 17:53] paolaroncaglia commented on #1617
Note to self - see if this is out of date now

[2021-07-26 17:53] addiehl commented on #650
I think only items with no activity in the last three years will be autoclosed.  So this ticket is safe now (and even closed tickets can be reopened at will).

[2021-07-26 17:56] nicolevasilevsky commented on #1347
@balhoff is this something we still need for CCDH? Looks like maybe this has been done in your spreadsheet above?

[2021-07-26 17:58] paolaroncaglia commented on #1620
Any volunteer for adding 'tarsal tunnel' please? :-)

[2021-07-26 17:58] paolaroncaglia commented on #1620
Any volunteer for adding 'tarsal tunnel' please? :-)

[2021-07-26 17:59] nicolevasilevsky commented on #1510
I don't know what page this is referring to. Closing.

[2021-07-26 17:59] #1510 closed

[2021-07-26 17:59] paolaroncaglia commented on #1646
Hi, any volunteer to address my non-english synonyms question please?

[2021-07-26 18:00] paolaroncaglia commented on #1680
Hi, any volunteer to add 'episcleral vein', please?

[2021-07-26 18:15] cmungall commented on #650
Do we have evidence that lymph nodes are only in mammals

Older literature talks of lymph nodes in water fowl (swans, geese), e.g
https://journals.sagepub.com/doi/pdf/10.1177/014107687907200914

https://www.aavac.com.au/files/1989-20.pdf

of course it is always possible to state "True Xs are only in T", where the definition of "True X" has T as a differentia. But ideally we would have a definition

[2021-07-26 18:19] RDruzinsky commented on #1612
This is correct. In humans there are, typically,  anterior and posterior
ethmoidal arteries,  accompanied by the ethmoidal veins.

On Thu, Jun 4, 2020, 5:55 AM paola-scibite ***@***.***> wrote:

[2021-07-26 18:42] matentzn commented on #1987
Hey @gouttegd I am assigning you here only since you are already working on API stuff.

Basically it would be great to have a small script that generates a markdown table like:

| Issue | Person | Uberon team? | Assignee |
| --- | ---- | ----- | ---- |
|  [Close all issues that have not seen activity in last 3 years](https://github.com/obophenotype/uberon/issues/1988) | @matentzn | Yes | @gouttegd

[2021-07-26 19:50] balhoff commented on #1646
Dealing with languages has been under active discussion led by @matentzn in OBO recently: https://github.com/OBOFoundry/OBOFoundry.github.io/issues/479

[2021-07-27 09:18] matentzn commented on #1789
It may be best split this ticket in two (general spell checking and typo) - reviving spell checking is probably low down the list of priorities for us though.. I don't know what easy solutions there are for that..

[2021-07-27 09:48] matentzn commented on #1646
I would like to build proper language profiles for Uberon - but I was going to do that first for HPO. My suggestion is this:
- [ ] We remove all language tagged terms from Uberon for now (#1984)
- [ ] Adding them to a separate language profile (#1894)
- [ ] Eventually, when we get to it, make proper language translations using wikidata.

Right now we have only 83 translated synonyms, which does no

[2021-07-27 10:05] matentzn commented on #1971
Notes to self

# Diff analysis Uberon

## Non-determinism in the rendering of a handful of synonyms and defs in OBO:

### Simple case
[code]

[code]

Suggested fix:

[code]

[code]

### Annotated case

[code]

Suggested fix: normalise redundant.

## xsd:string in hasDbXref on axiom annotations

[code]

[code]

## xsd:string on oio:source

[code]

## JSON order non-determinism

[code]

## TSV anyno

[2021-07-27 11:23] dosumis opened #1990 "insect specific class is parent of panarthropod class"
**Uberon term**

insect anterior-posterior subdivision of organism
Go to external page http://purl.obolibrary.org/obo/UBERON_6057001

-> arthropod (or pan arthropod?)  anterior-posterior subdivision of arthropod (or pan arthropod)?

Alternatively, just obsolete term - how useful it is as a grouping?

**Bug description**

insect specific class is parent of panarthropod class

![image](https://user-

[2021-07-27 20:58] gouttegd commented on #1987
I have a first draft that does most of the job. It gives issues that were last updated more than 180 days ago (truncated here to the first 50 such issues).

For now, the author of an issue is considered to be part of the "Uberon team" if that user either is a member of the _Obophenotype_ organization (_member_) or has been invited to contribute to the repository (_contributor_). This is the easies

[2021-07-27 21:02] gouttegd commented on #1987
I have a first draft that does most of the job. It gives issues that were last updated more than 180 days ago (truncated here to the first 50 such issues).

For now, the author of an issue is considered to be part of the "Uberon team" if that user either is a member of the Obophenotype organization (member) or has been invited to contribute to the repository (contributor). This is the easiest way

[2021-07-27 21:15] gouttegd commented on #1988
It seems that _any_ activity on a issue resets the `updated_at` attribute: commenting, assigning to the issue to someone (or un-assigning), tagging with a label. So we can easily “protect” old issues from auto-closing if we find some issues that we know we’d want to keep open.

[2021-07-27 21:26] gouttegd commented on #1988
Importantly, merely _mentioning_ issue _XXX_ from another issue or pull request (be it by using the `#XXX` syntax or by using the full URL of the issue) does _not_ count as an “activity” on issue _XXX_, even though the mention does appear on the page for that issue.

[2021-07-28 12:03] matentzn commented on #1987
No, I think you are doing the right thing - this is perfect. Let's make this all a bit more organised:

All people that are part of the wider Uberon team should be in
https://github.com/orgs/obophenotype/teams/uberon-curators

I have sent out some invites. Check only that team - if you are listed in there (and only then), you are considered core team. I will update the list when I see the names co

[2021-07-28 12:19] matentzn commented on #1988
That is perfect @gouttegd this is both as I would prefer it to be. I will chase @cmungall on slack to do his "pass". Are you in principle ready to roll with the script?

[2021-07-28 13:11] gouttegd commented on #1988
The script is nowhere near ready, in principle or in reality! :) But go ahead and have Chris do his pass. Just tick the checkbox when it's done so that I know I can run script whenever it's ready.

[2021-07-28 13:23] matentzn commented on #1988
Hahha sorry :P  Of course! No rush at all on this :)

[2021-07-28 13:23] matentzn commented on #1986
Removed.

[2021-07-28 13:23] #1986 closed

[2021-07-28 13:26] matentzn commented on #1799
Superceded.

[2021-07-28 13:26] #1799 closed

[2021-07-28 13:29] matentzn commented on #1938
Would you be able to add the terms you need yourself? I don't know how much you have been trained in adding terms to Uberon - but if we set you up to deal with your own term additions, and reduce other peoples involvement to reviewing pull requests, you can drastically increase the speed at which you get new terms :)

[2021-07-28 14:13] paolaroncaglia commented on #1728
- [ ] To do: for UBERON:0006871 embryonic footplate, change scope of synonyms "footplate" and "foot plate" from exact to broad.

[2021-07-28 14:18] paolaroncaglia commented on #1704
@wdahdul @megbalk
Could you please comment on the suggestion to obsolete UBERON:4200132 tuber and replace it with UBERON:0005813 'tubercle'? See discussion above. Thanks.

[2021-07-28 14:20] paolaroncaglia commented on #1701
@cmungall
When you have a chance, could you comment on this issue please? Thanks.

[2021-07-28 14:21] paolaroncaglia commented on #1699
@cmungall
This ticket is also related to digits. Thanks in advance for taking a look.

[2021-07-28 14:25] paolaroncaglia commented on #1698
Volunteer needed please, not sure who the best person is. Thanks!

[2021-07-28 14:27] paolaroncaglia commented on #1697
@megbalk , may I assign this ticket to you, please?
If not, please assign someone else as appropriate, thanks.

[2021-07-28 14:37] paolaroncaglia commented on #1690
- [ ] 'scale' has a long list of TCs, check if they address this ticket.

[2021-07-28 14:39] paolaroncaglia commented on #1687
Volunteer needed for 'right gastric artery', please. Thanks!

[2021-07-28 14:40] paolaroncaglia commented on #1686
@megbalk I'll tentatively assign this ticket to you, let me know if that's an issue. Thanks.

[2021-07-28 14:41] paolaroncaglia commented on #1685
Volunteer needed for 'Tenon capsule', please. Thank you!

[2021-07-28 14:42] paolaroncaglia commented on #1683
'periosteum of orbit' also needs a volunteer to comment, please.

[2021-07-28 14:44] paolaroncaglia commented on #1679
@addiehl could you comment on 'epitrochlear lymph node', please? Thanks.

[2021-07-28 15:14] paolaroncaglia commented on #1678
@cmungall @dosumis
I'm happy to close this, but perhaps you'd like to comment first?
Thanks.

[2021-07-28 15:15] paolaroncaglia commented on #1677
@cmungall @dosumis
Similarly to #1678 , I'm ok with closing unless you'd want to comment.

[2021-07-28 15:17] paolaroncaglia commented on #1675
Hi, can anyone comment on 'ganglion impar' please? Thanks.

[2021-07-28 15:18] paolaroncaglia commented on #1674
@megbalk
Could you comment, please? Thanks.

[2021-07-28 15:20] paolaroncaglia commented on #1669
@dosumis @matentzn
Assigning to you as possibly pattern-related, please.

[2021-07-28 15:22] paolaroncaglia commented on #1668
@addiehl
Could you please add a definition to 'lymphoid follicle'? Thanks.

[2021-07-28 15:23] paolaroncaglia commented on #1623
@megbalk may I please assign 'endodontium' to you? Thanks.

[2021-07-28 15:28] paolaroncaglia commented on #1987
Hi @gouttegd and @matentzn ,
I have followed up on all tickets above opened by my alter ego paola-scibite. She won't join obophenotype for now ;-) (notifications go to yet another email account, I'd rather keep everything in one place...). Thanks for your work on this!

[2021-07-28 15:34] paolaroncaglia commented on #1819
@cmungall
I'm happy to do quick edits for this issue, but please let me know if you or others have any comments. Thanks.

[2021-07-28 15:37] paolaroncaglia commented on #1832
@cmungall
May I assign to you please? Or could you 'volunteer' someone else? :-)

[2021-07-28 15:39] paolaroncaglia commented on #1835
@gouttegd @dosumis
Perhaps one of you could address this, please? Thanks.

[2021-07-28 16:17] paolaroncaglia commented on #1838
Hi, who could I ask for feedback on a term that came from ZFA/teleost curators, please? Thanks.

[2021-07-28 16:19] nicolevasilevsky commented on #1838
Maybe @ybradford could help.

[2021-07-28 17:04] matentzn opened #1992 "Fix use of obsolete classes"
[code]

[2021-07-28 17:08] matentzn commented on #1677
I will do this.

[2021-07-28 17:41] matentzn commented on #1669
Note to self:

Regex:
[code]

Replace:

[code]

I have fixed all these (and more, see regex above) now in #1995 but I am not aware of patterns generating anything automatically.

[2021-07-28 17:44] matentzn commented on #1669
Thanks a ton @paolaroncaglia your tickets have really just helped me quickly made thousands of improvements to Uberon. You can assign everything like mass typos etc always to me as well!

[2021-07-28 17:49] wdahdul commented on #1698
I can take this one. 'bulge' was added by a Phenoscape curator, and we have annotations to it, and to protuberance, in the Phenoscape KB. I agree the terms can probably be merged, but I will check against our annotations. Thanks!

[2021-07-28 18:00] wdahdul commented on #1701
Tagging @megbalk here, as her orcid ID is attached to the term. In Phenoscape, we use 'distal segment of digit' to annotate the tip or distal region of a digit (foot or hand). I agree about obsoleting 'tip of digit'.

[2021-07-28 18:19] wdahdul commented on #1699
I think this term was created by a Phenoscape curator, based on the ID range assignment. We don't have existing annotations to it, but I'll try to follow up with the person who created it. Thanks.

[2021-07-28 18:19] wdahdul commented on #1699
Will assign myself to keep track of it

[2021-07-28 18:23] wdahdul commented on #1699
Also check on 'pedal claws" http://purl.obolibrary.org/obo/UBERON_4100008 created by a Phenoscape curator

[2021-07-28 18:30] megbalk commented on #1701
@wdahdul @cmungall this term can be obsoleted.

[2021-07-28 18:46] gouttegd commented on #1987
@matentzn The script will be available in [this repo](https://github.com/gouttegd/grainyhead).

It's in a very rough shape for now, but it already works (for some definition of "works", anyway: for example there's absolutely no error checking of any kind) for what you want to do.

If you want to try it to get the list you want:
1. Create an [access token](https://docs.github.com/en/github/authenti

[2021-07-28 19:31] nicolevasilevsky commented on #1992
GO_0044464 has two labels, one which is obsolete cell part

[2021-07-28 20:25] megbalk commented on #1623
@paolaroncaglia is there a good text definition for this?

[2021-07-28 20:26] megbalk commented on #1697
@paolaroncaglia Currently cheek only refers to the exterior portion of the side of the face. Are these both interior (mouth) and exterior (cheek)? If so, I'll add " 'part of' some mouth", if not, which should it be (mouth or cheek)?

[2021-07-28 20:27] megbalk commented on #1686
done! made pull request.

[2021-07-28 20:28] matentzn commented on #1987
This is amazing! Will come back to this next week - now I am on vacation ;) supper cooool.

[2021-07-28 20:38] megbalk commented on #1674
@paolaroncaglia is this an appropriate equivalency:

gland and ('part of' some 'coccygeus muscle')?

[2021-07-28 20:38] nicolevasilevsky opened #1997 "documentation: xrefs for defs"
Need documentation about how to write and reference definitions. I drafted some text below

Text definitions should follow the recommendations outlined here:

All text definitions in Uberon should have a database_cross_reference (dbxref). They dbxref could be a PubMed ID, a DOI to a book, a Wikipedia link or an ORCID for the person who requested and/or added the term. Examples of the preferred for

[2021-07-28 20:44] megbalk commented on #1704
it seems tubercle (UBERON:0005813) in UBERON is specific to a growth resulting from tuberculosis. Can we rename this term to something more specific and then create a synonym for "tuber" that is "tubercle"?

[2021-07-28 20:48] megbalk commented on #1704
I clarified the definition of tubercle, made "tuber" an exact synonym, and obsoleted "tuber".

[2021-07-28 20:48] megbalk commented on #1704
done. created pull request.

[2021-07-28 23:56] wdahdul commented on #1698
I created a pull request addressing this issue, and added you as a reviewer.

[2021-07-29 12:57] paolaroncaglia commented on #1699
Thanks @wdahdul !

[2021-07-29 13:01] paolaroncaglia commented on #1701
Thanks @wdahdul and @megbalk for your feedback.
I will tentatively assign this ticket to @wdahdul and @nicolevasilevsky (if help is needed with obsoletions).

[2021-07-29 13:11] paolaroncaglia commented on #1623
Hi @megbalk ,

To play it safe, I'd suggest "A multicellular anatomical structure that is a part of calcareous teeth and is composed of dentine and dental pulp.". More gloss could be added based on the abstract of https://pubmed.ncbi.nlm.nih.gov/29345716/ and https://pubmed.ncbi.nlm.nih.gov/30725797/. Thanks!

[2021-07-29 13:18] paolaroncaglia commented on #1697
Hi @megbalk ,

The issue may be a bit more complicated then.
'buccal fat pad' is defined as "The Buccal fat pad is one of several encapsulated fat masses in the cheek. It is a deep fat pad located on either side of the face between the buccinator muscle and several more superficial muscles. It should not be confused with the malar fat pad, which is directly below the skin of the cheek. It should a

[2021-07-29 13:19] paolaroncaglia commented on #1686
Thanks @megbalk .

[2021-07-29 15:42] nicolevasilevsky commented on #1701
i'll obsolete this

[2021-07-29 15:51] balhoff opened #2004 "subset location_grouping is not defined"
This should be an OBO parse error.

[2021-07-29 15:54] matentzn commented on #2004
I tried to run an obo validation (see prs). There are dozens of obo parse errors. We just use "check false" everywhere..

[2021-07-29 15:59] RDruzinsky commented on #1697
"Buccal" is a word that refers to the cheek. The buccinator muscle forms
part of the wall of the cheek, the buccal fat pad is superficial to the
buccinator muscle, etc. Buccal is also used as term of anatomical
orientation, as in the buccal surface of a tooth is the surface towards the
cheek, and the lingual surface is towards the tongue.

Buccal fat pads are only "external" in the sense that they

[2021-07-29 16:03] paolaroncaglia commented on #1674
Hi @megbalk ,

I'm afraid not, because that equivalence would mean that _any_ gland located in the coccygeus muscle is a glomus coccygeum. Also, I'm really unsure about defining a "vestigial structure" as a gland.
@RDruzinsky , could we ask for your thoughts, please?
Thank you both.
Paola

[2021-07-29 16:48] nicolevasilevsky commented on #1997
From @dosumis  on Slack:

I think this needs better standardisation.  It seems we're gradually normalizing using full URLs in dbxrefs.  I understand why given how broken our curie system is, but I'd rather fix that as moving to URLs makes it hard to use IDs to build out linked data.  One obvious example is DOIs. You can use a doi to pull Biblio data from multiple sources (e.g. EuroPMC).  That's ha

[2021-07-29 17:01] RDruzinsky commented on #1674
I don't think that is either a gland or a vestigial structure. See 2017
https://doi.org/10.1002/ar.23615

Note that coccygeal body and glomus coccygeum are synonyms.

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina
Chicago, IL 60612
***@***.***

Office: 312-996-0406
Lab: 312-996-0629
Website: www.pe

[2021-07-29 18:57] dosumis opened #2006 "Subarachnoid space should not be part of brain"
**Uberon term**

subarachnoid space
http://purl.obolibrary.org/obo/UBERON_0000315

**Bug description**

![image](https://user-images.githubusercontent.com/112839/127549261-8c612589-bd55-4714-8283-d70ceccf6c15.png)

The meninges and the various membranes and spaces that comprise it are the outer part of both the brain and spinal cord.  They therefore should be part_of the CNS, not the brain.

https