[2022-04-12 14:58] uberon commented on #2354
No not a synonym of course, it’s a TH xref missing its prefix

I think we should just delete this and auto add all TH, TA xrefs to uberon
and cl en masse

On Tue, Apr 12, 2022 at 1:49 AM Shawn Tan ***@***.***> wrote:

[2022-04-12 15:09] shawntanzk commented on #2367
Happy to add a taxonomy GCI, not sure how to generalize neck to fish.
I'm guessing taxonomy gci should be on mammalia? so like:
[code]

[2022-04-12 17:14] patrick-lloyd-ray commented on #2384
I think @lydiang would like to be in the loop here.

[2022-04-12 20:06] tgbugs commented on #2354
NIFEXT:55 expands to http://uri.neuinfo.org/nif/nifstd/nifext_55 and resolves to http://uri.interlex.org/base/ilx_0107375. The prefix rule is `@prefix NIFEXT: <http://uri.neuinfo.org/nif/nifstd/nifext_> .`.

[2022-04-13 12:41] matentzn commented on #1501
cc @cmungall related to #2032

[2022-04-13 12:41] #1501 closed

[2022-04-13 12:51] shawntanzk commented on #2367
FBdv unsats is caused by:
[occurrent](http://purl.obolibrary.org/obo/BFO_0000003) DisjointWith [part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [continuant](http://purl.obolibrary.org/obo/BFO_0000002)

All are similar patterns which is:
[FBdv_00005336](http://purl.obolibrary.org/obo/FBdv_00005336) EquivalentTo [larval stage](http://purl.obolibrary.org/obo/UBERON_0000069) and [instar larv

[2022-04-13 13:05] shawntanzk commented on #2367
@matentzn i think this is with all developmental axioms in bridge actually:

  - [HsapDv_0000006](http://purl.obolibrary.org/obo/HsapDv_0000006) EquivalentTo [blastula stage](http://purl.obolibrary.org/obo/UBERON_0000108) and ([part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [Homo sapiens](http://purl.obolibrary.org/obo/NCBITaxon_9606))
  - [ZFS_0000044](http://purl.obolibrary.org/obo/ZF

[2022-04-13 13:17] dosumis commented on #2367
Looks like that part_of should be changed to in_taxon.  Is this coming from a bridging file?

[2022-04-13 13:38] dosumis commented on #2367
NCBI taxon terms are are subclasses of 'organism', which I think makes sense (I am an instance of and organism and an instance the class Homo sapiens).  But that means you cannot use part_of to link an occurrent (in the above case a stage) to a continuant (an organism).

[2022-04-13 14:23] shawntanzk commented on #2367
Shall we change all bridge file `intersection_of: part_of NCBITaxon:` to `intersection_of: in_taxon NCBITaxon:` (or whatever in_taxon OP is in obo, and of course changing the owl file too?) or just those with unsats?
Also not sure how the bridges are generated - if we make a change they wont get overridden right?

[2022-04-13 16:02] matentzn commented on #2367
Need to sharen in obo slack uberon channel and tag @cmungall

[2022-04-13 16:24] shawntanzk commented on #2384
For layers:
general class with part relations to both

eg primary somatosensory area, barrel field, layer 1
Regional part of cerebral layer and part of "Primary somatosensory area, barrel field" and part of "layer 1"

[2022-04-14 00:50] tgbugs commented on #2412
I think that making function and region fully orthogonal is a good idea. The tendency to conflate the naming of a region with its apparent function is common in neuroanatomy, and leads to exactly the issue that @stevevanhooser describes here. Even more confusingly, there are likely to be cases where parts of the cortex in some species will be called "visual cortex" but it will be a regional name,

[2022-04-14 08:09] shawntanzk commented on #2412
I think this is something worth spending some time discussing - I've placed this on the agenda for the next uberon call. This will come back again when looking into adding terms to fix some of the ABA-Uberon bridge mappings. Something like auditory or visual area is in the brain atlas, and hence actually mapped to a spatial area, yet it would probably be more sensible to have them functionally def

[2022-04-14 08:44] shawntanzk opened #2417 "Make Neck more generalizable"
Currently Fish cannot have a neck because of taxon constraints

@cmungall commented (https://github.com/obophenotype/uberon/issues/2367#issuecomment-1096815312):
"I think the best solution would be to generalize neck in a way that keeps
the fish people happy. Fish may lack a neck proper but they have an
analogous region of the craniocervucal region with the same skeletal
elements"

For now, we are

[2022-04-14 09:29] shawntanzk commented on #2384
@patrick-lloyd-ray - looking to start adding stuff to bridge file and want to provide provenance to the source of mapping. I'm guessing it isn't just you who looked at it and there isn't a easy way to separate who did what - Could we put source as allen institute using https://ror.org/03cpe7c52

[2022-04-14 11:42] paulacalipho commented on #2407
Dear @bvarner-ebi, thanks for your message. We would like to release the mapping to UBERON beginning 2023. There are no special priorities among the terms, and there will be probably more request terms. I will be happy to learn how to add terms to ontology myself, thanks for proposing

From: bvarner-ebi ***@***.***>
Sent: Monday, April 11, 2022 1:46 PM
To: obophenotype/uberon ***@***.***>
Cc: Paul

[2022-04-14 13:01] stevevanhooser commented on #2411
I'm starting to have a stronger opinion about the definition of "primary visual cortex" and "visual cortex", for your consideration.

The current definition of "primary visual cortex", UBERON_0002436 is

"A subdivision of the cytoarchitecturally defined occipital region of cerebral cortex in the human. Defined by the band of Gennari, which gives it the name striate (furrowed) area, it occupies the

[2022-04-14 13:06] stevevanhooser commented on #2411
...continuing, I think a definition of "visual cortex" (UBERON

which is now

"The part of the cerebral cortex responsible for processing visual information."

should be something like:

"The term visual cortex refers to a region of the[ cerebral cortex](http://braininfo.rprc.washington.edu/CentralDirectory.aspx?ID=39&questID=1911) that exhibits responses to retinal stimulation and that are segmen

[2022-04-14 15:18] shawntanzk commented on #2384
@tgbugs - this is the ticket. See this comment for meeting https://github.com/obophenotype/uberon/issues/2384#issuecomment-1098796442

[2022-04-14 15:20] patrick-lloyd-ray commented on #2384
I can make the call on the 25th. If we need a separate call, then that would be fine as well.

Absolutely.

[2022-04-14 20:10] matentzn commented on #2407
@paulacalipho if you are interested in real training, I think your best bet is to joining the Monarch OBO training; you can send me an email (@bvarner-ebi has it) to add you to the list of invites.

However, training is a lengthy process. In my experience with HPO, the best thing would be to provide @paulacalipho with ROBOT templates to populate and add the terms, and have uberon core developers d

[2022-04-14 20:54] shawntanzk commented on #2407
Happy to provide or help with a "new term" robot template on google sheets. Will get to it after the long weekend :)

[2022-04-14 20:54] shawntanzk opened #2419 "Create a ROBOT template for paulacalipho"
see https://github.com/obophenotype/uberon/issues/2407#issuecomment-1099581695

[2022-04-15 00:03] ddooley opened #2420 "Proper use of 'derives from' in referencing UBERON anatomical parts for FoodOn"
In FoodOn we need to reference plant and animal parts and products derived from them without necessarily implying they are connected to the anatomy of whole organisms.  Currently our pattern is:

    organism part: equivalentTo [anatomical part] and 'derives from' some [NCBITaxon organism term]

e.g.

    'cow heart (whole)': equivalentTo heart and ‘derives from’ some ‘Bos taurus’

Some email deba

[2022-04-15 00:10] ddooley opened #2421 "multicellular organism and organism substance should be disjoint"
It came up in discussion with @cmungall  that currently there is no disjunction between multicellular organism and organism substance.  Since NCBITaxon terms correspond to multicellular organisms, someone can define a 'human heart' as an axiom like:

'human milk': equivalentTo 'milk and 'Homo Sapiens'

and not get a logical contradiction.

**Suggested revision of logical definition**

Can we make

[2022-04-15 00:25] ddooley commented on #2420
Note as well that even though "milk" is a "bodily fluid", by virtue of "organism substance" it is "part of" some "multicellular organism".  So FoodOn, in referencing milk, needs to define "harvested milk" to reference milk that has been separated from the animal?

[2022-04-15 02:03] cmungall commented on #2384
I'll be there!

On Thu, Apr 14, 2022 at 8:20 AM Patrick Lloyd Ray ***@***.***>
wrote:

[2022-04-15 02:05] cmungall opened #2422 "http://purl.obolibrary.org/obo/uberon/subsets/life-stages-composite.obo has disappeared"

[2022-04-18 09:38] matentzn opened #2423 "Some bridge checks fail because of invalid taxon constraints"
[code]

We need to get these cleaned up and add them back to QC.

I think the errors may relate to what you are investigating @shawntanzk so if you can look at this at the same time!

Note: _This issue block bridge generation_.

[2022-04-18 09:41] matentzn commented on #2423
<img width="993" alt="image" src="https://user-images.githubusercontent.com/7070631/163790128-70d9516b-d1c7-4522-8460-d42bda88d608.png">

[2022-04-18 09:43] matentzn commented on #2423
[code]

results in:

<details>
<summary>10 random unsatisfiable classes</summary>

## [blastula embryo Ce](http://purl.obolibrary.org/obo/WBls_0000005) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [blastula embryo Ce](http://purl.obolibrary.org/obo/WBls_0000005) EquivalentTo [blastula stage](http://purl.obolibrary.org/obo/UBERON_0000108) and ([part_of](http://purl.obolibrary

[2022-04-18 09:45] vasvir opened #2424 "uberon polysemy issues"
Hi,

Trying to use UBERON (uberon-simple.obo from https://github.com/obophenotype/uberon/releases/download/v2022-04-05/uberon-simple.obo) for text mining when I noticed the following polysemy issues.

The following terms are assigned in more than one UBERON Ids using only the term name and the EXACT synonym tags.

**Uberon terms**

      | Gasserian ganglion |   2 | UBERON:0001675, UBERON:3011045

[2022-04-18 09:53] matentzn commented on #2424
Thank you @vasvir!

How comfortable are you editing text files?

If you make a pull request in this file:

https://github.com/obophenotype/uberon/blob/master/src/ontology/uberon-edit.obo

[2022-04-18 12:03] matentzn commented on #2422
These are the subsets that have not been included in the last years:

https://github.com/obophenotype/uberon/tree/master/subsets

Any subset/release you want included needs to be added there. If you make a pr on that config file, I can take care of the rest for you.

[2022-04-18 12:17] shawntanzk commented on #2423
yeah its the same thing -> we need to change 'part of' to 'in taxon'

[2022-04-18 12:21] matentzn commented on #2423
Thanks @shawntanzk!

[2022-04-18 17:45] cmungall commented on #2422
what is the conf file?

[2022-04-18 19:24] matentzn commented on #2422
https://github.com/obophenotype/uberon/blob/master/src/ontology/uberon-odk.yaml#L65

[2022-04-18 19:38] matentzn commented on #2423
Reactivate checks and add to CI:

- [ ] $(REPORTDIR)/taxon-constraint-check.txt
- [ ] $(REPORTDIR)/bridge-check-caro.txt
- [ ] $(REPORTDIR)/bridge-check-wbls.txt

[2022-04-18 20:40] daniscafidi commented on #2412
To address the integration of ferret visual areas as new terms in Uberon, Steve and I discussed the use of a ferret specific preferred label (such as “ferret third visual area”) rather than “third visual cortical area”.

Similar naming conventions have been used across species, generating duplicate area names for areas that are not, or are not currently known to be, homologous across said species.

[2022-04-19 08:15] shawntanzk commented on #2106
ill leave this on stale as we might forget to close it, but I rmbr there being discussion on this on omo workshop on what standard way we do this.

[2022-04-19 08:36] shawntanzk commented on #2412
I remember @cmungall mentioning using something like (sensu Mustela putorius) which would be basically what @daniscafidi is suggesting above. If someone gives the go ahead for this plan, happy to work with you to create a template spreadsheet that can be easily consumed into the ontology and walk you through it :)

[2022-04-19 08:59] shawntanzk commented on #2419
See https://docs.google.com/spreadsheets/d/1mAu30Lzy4ZAxBE0AhlAM0FFxd51SePaNMF2LqtajWew/edit?usp=sharing
Also added a row for the linked ticket as example
@bvarner-ebi or I will be happy to help with going through what needs to be done
PS @matentzn could you help make sure I didn't do anything stupid lol >.<

[2022-04-19 09:33] bvarner-ebi commented on #2407
Hi @paulacalipho, with regard to the definition for this term, can you clarify what is meant by "**under** the spine"?
Could you select an appropriate anatomical term to replace 'under', such as 'inferior', 'posterior', etc?

[2022-04-19 09:44] bvarner-ebi commented on #2305
Checking in on the status of this... not sure what "Icebox" is.
Will the synonyms in question have to be fixed manually?

[2022-04-19 09:50] shawntanzk commented on #2305
@bvarner-ebi - its in icebox as it depends on discussions here https://github.com/obophenotype/uberon/issues/2363 will put it in the agenda for cl/uberon call

[2022-04-19 09:58] shawntanzk commented on #2423
@matentzn - any action items for me here?
PS need an answer to https://github.com/obophenotype/uberon/issues/2367#issuecomment-1098115053 to make any progress on changes

[2022-04-19 10:00] matentzn commented on #2423
Right now only nagging the people that can make the choice, with private slack messages if necessary..

[2022-04-19 10:44] paulacalipho commented on #2407
Hi @bvarner-ebi, I understand that "under" means ventral. Another proposal for definition:
The sublumbar lymph nodes include the medial iliac, internal iliac (previously termed hypogastric), and sacral. This lymph center is located within the caudal abdomen and pelvis, on the ventral side of the lumbar region [PMID: 32655159]
We will use this mapping for cell lines derived from dogs. I do not know

[2022-04-19 10:47] dosumis commented on #2367
longer term I am favoring generalizing neck - can you make a separate

Isn't this a separate issue?

[2022-04-19 10:49] shawntanzk commented on #2367
@dosumis it is - problem shifted from that part_of -> in_taxon (initial problem was neck stuff). Anyway I've created another ticket for the neck stuff.

[2022-04-19 10:51] shawntanzk commented on #2407
Hi @paulacalipho I've created a google sheet here:
https://docs.google.com/spreadsheets/d/1mAu30Lzy4ZAxBE0AhlAM0FFxd51SePaNMF2LqtajWew/edit#gid=0
I think (big emphasis on think) it has everything needed for the term additions.
Happy to go through with you on how to handle it etc. if you need any guidance.
After addition of terms, I guess @bvarner-ebi will co-ordinate the review of them and I will

[2022-04-19 10:54] shawntanzk commented on #2407
Training wise, you are very welcome to join us.
You can see https://oboacademy.github.io/obook/courses/monarch-obo-training/ for more details.
We run ongoing training every other Tuesday at 4pm UKT, today being one of the weeks we have a session. If you are interested @matentzn can invite you on the calendar :)

[2022-04-19 13:52] bvarner-ebi commented on #2407
Thank you, @paulacalipho.

Let me know if you need assistance with sheet that Shawn created.

For the term definition, what do you think of the following:  A lymph node with a lymph center located within the caudal abdomen and pelvis, on the ventral side of the lumbar region. Includes the medial iliac, internal iliac (previously termed hypogastric) and sacral lymph nodes.  [PMID: 32655159]

[2022-04-19 13:55] paulacalipho commented on #2407
Many thanks, definition is OK.

I will go asap through the google sheet and let you know

[2022-04-19 15:10] ddooley opened #2427 "Proper use of 'in taxon' vs derives from"
Related to #2420, in FoodOn say we want to talk about a cow heart.  So far we've been saying:

`'cow heart': equivalentTo heart and ('derives from' some 'Bos taurus' and 'derives from' only 'Bos taurus')`

According to RO, the '**in taxon**' definition is shorthand allowing for one of "part of (reflexive), developmentally preceded by, derives from, secreted by, expressed.", though 'secreted by' an

[2022-04-19 16:51] cmungall commented on #2350
Can we have a look at how the pattern varies across ontologies, particularly FMA - we should not be beholden to what has been done but I think this can be informative

[2022-04-19 16:56] cmungall commented on #2367
Here's my summary

- make a taxon GCI for now to be able to move forward and close this issue and make a release
- flip it back to a full relationship if we decide to generalize on neck as per #2417.
- for the decision as to whether to change the pattern in bridge axioms - this is pretty huge and we have to be able to work through the implications. This deserves its own issue (AFAICR we were also

[2022-04-19 17:03] shawntanzk commented on #2367
the part_of axioms in bridge are now a blocker for making a release without a hack that @matentzn implemented right?

[2022-04-19 17:44] rays22 commented on #2350
The word
1. `muscle` can mean a type of tissue. Alternatively, the word
2. `muscle` is used in a broader sense: an anatomical/physiological unit composed of contractile and other tissues, for example tendons. In this sense, an anatomical `muscle` unit is the result of the subdivision of a complex organ composed of various tissue types.

When `muscle` is used in the sense of
[skeletal muscle tissue

[2022-04-19 18:47] matentzn commented on #2367
There is no hack - I cant run a release at the moment!

[2022-04-19 18:53] shawntanzk opened #2428 "Developmental bridge files causing unsats"
Unsats caused by:
[occurrent](http://purl.obolibrary.org/obo/BFO_0000003) DisjointWith [part_of](http://purl.obolibrary.org/obo/BFO_0000050) some [continuant](http://purl.obolibrary.org/obo/BFO_0000002)

Follows the following pattern:
[FBdv_00005336](http://purl.obolibrary.org/obo/FBdv_00005336) EquivalentTo [larval stage](http://purl.obolibrary.org/obo/UBERON_0000069) and [instar larval stage](ht

[2022-04-19 19:04] matentzn commented on #2428
Share with Chris on slack, this blocks everything right now. I vote for 1, and Anita can do it.

[2022-04-20 01:09] cmungall commented on #2428
I don't understand 3, I think the choice is between 1 and 2

In OWL it's hard to have rules like "if X in-taxon T, and X is a continuant, then X part-of T". So implementing (1) could lose inferences. These will likely affect composite-metazoan.. but then we don't have composite metazoan anyway..

I think the best solution is to add two axioms

1. equivalentTo T and in-taxon T
2. subClassOf R some

[2022-04-20 07:13] shawntanzk commented on #2428
Just to confirm does this mean something like:

[HsapDv_0000006](http://purl.obolibrary.org/obo/HsapDv_0000006) EquivalentTo [blastula stage](http://purl.obolibrary.org/obo/UBERON_0000108) and in_taxon some [Homo sapiens](http://purl.obolibrary.org/obo/NCBITaxon_9606)
[HsapDv_0000006](http://purl.obolibrary.org/obo/HsapDv_0000006) subClassOf occurs-in some [Homo sapiens](http://purl.obolibrary.org

[2022-04-20 07:15] shawntanzk commented on #2428
Note to self: this has implications on https://github.com/obophenotype/uberon/issues/2384

[2022-04-20 09:59] gouttegd commented on #2350
Thank you both for your inputs.

In FMA, [tendon](http://purl.org/sig/ont/fma/fma9721) is defined as an “organ component of muscles”. All tendon classes I have looked at seem to be consistent with that definition, as they are `constitutional part of` the associated muscles (e.g., [distal tendon of deltoid](http://purl.org/sig/ont/fma/fma298635) `constitutional part of` [deltoid](http://purl.org/si

[2022-04-20 15:47] shawntanzk commented on #2363
CL call discussion:

Possible solutions:
- One synonym on a single class with multiple scopes, not allowed unless provenance is attached.  (different provenance for different scopes?)
- One synonym on multiple classes with exact scope -
     - Allowed but only for abbreviations (must be typed).
- One synonym on multiple classes, with any other scope - allowed
- Abbreviations:
     - Should be tagg

[2022-04-21 04:53] tgbugs commented on #2119
Why is there a stale bot on this repo? There are long standing issues that are years old that have not been fixed, and they should not be closed just to make the numbers look smaller ....

[2022-04-21 06:46] dosumis commented on #2119
It's there to prompt us into action.  IIRC, discussion on the ticket is enough to keep it open - so your objection already helped.  Shall we make a plan for how to fix modelling and work more closely with SPARC?  We could revise the call we planned before Christmas, which I dropped the ball on.

[2022-04-21 17:39] bgyori commented on #698
Wow, I just bumped into this issue today and found that @dhimmel noticed it 7 years ago. The issue of MeSH tree numbers - many of which do not point to currently existing tree numbers - being provided as xrefs still exists. These xrefs are not formally differentiated from xrefs that point to MeSH term IDs, i.e., UBERON contains a mixture of xrefs of the form 'MESH:D020667` and `MESH:A08.186.211.73

[2022-04-22 08:40] paolaroncaglia commented on #698
@cmungall @shawntanzk @matentzn
I'll add this to the tech board, but I'm also pinging Chris in case he has time, as he [addressed](https://github.com/obophenotype/uberon/commit/6ad5129a28b440f844e309bd6a605cf354f609eb) part of this issue previously, and had a [plan](https://github.com/obophenotype/uberon/issues/698#issuecomment-105758057) for the rest if that still applies.

[2022-04-22 08:49] dosumis commented on #698
Hi @paolaroncaglia  - thanks for the background.  @bgyori PR looks good.  Have approved but asked Ray to eyeball it too.  Presumably Chris' ancient PR will be much harder to merge.

[2022-04-22 08:52] shawntanzk commented on #698
wow 2015 lol, ill add it to the tech board, but @bgyori has fixed a huge part of it already (thanks heaps!). I see that there are still unmapped terms that gilda couldn't do, I guess that @rays22 will look into those too? Anyway Just a heads up, merging that PR will automatically close this ticket, so either do all the fixes there or make sure to reopen after merging :)

[2022-04-22 08:53] shawntanzk commented on #698
btws @paolaroncaglia we are using this now: https://github.com/orgs/obophenotype/projects/11/views/1

[2022-04-22 09:02] paolaroncaglia commented on #698
@shawntanzk

Exactly, requires a decision on priority level etc that I'd rather leave to you :-) Thanks for confirming though!

[2022-04-22 09:04] shawntanzk commented on #698
@paolaroncaglia oh right, will discuss if we need a triage section :) but I think you can also just put it whatever you think is right, we will move it when we come across it if we want to prioritize/deprioritize it anyway :)

[2022-04-22 12:44] #476 closed

[2022-04-22 12:50] gouttegd commented on #1524
This is the same issue than #476 and obophenotype/cell-ontology#589, which have now been fixed.

[2022-04-22 12:50] #1524 closed

[2022-04-22 14:57] rays22 commented on #698
I am looking into those.

[2022-04-22 18:50] rays22 commented on #698
There are still 75 unmapped terms that gilda could not match.
- [ ] TASK: map the remaining 75 UBERON terms to MeSH terms manually.

[2022-04-25 11:42] cthoyt opened #2434 "Remove OpenCyc xrefs"
As far as I can tell, OpenCyc has not existed for over a decade. Its identifiers look like some kind of hash, but are very confusing and not actionable. I think it would reduce complexity and confusion if these could be removed.

[2022-04-25 11:52] cthoyt commented on #2205
I added several Allen Brain Atlas prefixes suggested by @patrick-lloyd-ray in https://github.com/biopragmatics/bioregistry/commit/1cfd0ff4788940974d20548228c2c877d0d7df55 (though not `ABA` since Chris said these should be upgraded)

[2022-04-25 11:53] cthoyt commented on #2205
I am very worried about stuff like this because of the amount of redundant prefix usage. Why isn't this just `NIF_Subcellular:00315`?

[2022-04-25 11:54] shawntanzk commented on #2205
Thanks heaps @cthoyt - sorry I havent managed to get around to doing this, really appreciate the help! :)

[2022-04-25 12:36] dosumis commented on #2205
I guess that means trying to request obolibrary status for the ontologised versions of ABA structuregraphs.  As these are unlikely to fulfill QC required (e.g. they will never have text defs), isn't this unlikely?

[2022-04-25 13:22] shawntanzk commented on #2384
Bridge files generated from using xrefs through https://github.com/obophenotype/uberon/blob/master/src/scripts/make-bridge-ontologies-from-xrefs.pl

[2022-04-25 13:45] shawntanzk opened #2436 "Add automated diff to uberon"
now that we have figured a way to do this, we should implement this

[2022-04-25 13:51] #2337 closed

[2022-04-25 16:16] cmungall commented on #2205
I think we can add to bioregistry independently (I think the URLs resolve..?)

but ideally they could be regularly deposited on something like OLS/BP/Ontobee too

[2022-04-25 16:27] cthoyt commented on #2205
@cmungall yes already done

[2022-04-25 16:35] anitacaron opened #2437 "Fix nifext_55 suffix"
NIFEXT:55 expands to http://uri.neuinfo.org/nif/nifstd/nifext_55 and resolves to http://uri.interlex.org/base/ilx_0107375. The prefix rule is `@prefix NIFEXT: <http://uri.neuinfo.org/nif/nifstd/nifext_> .`.

_Originally posted by @tgbugs in https://github.com/obophenotype/uberon/issues/2354#issuecomment-1097164518_

[2022-04-25 16:39] anitacaron opened #2438 "Fix TH xref prefix"
No not a synonym of course, it’s a TH xref missing its prefix

I think we should just delete this and auto add all TH, TA xrefs to uberon
and cl en masse*

_Originally posted by @uberon in https://github.com/obophenotype/uberon/issues/2354#issuecomment-1096841678_

* Before auto add all TH, need some discussion in tech call

[2022-04-25 17:39] shawntanzk commented on #2384
Differentiate provenance from those that came originally from the bridge file to those that come from the ABA experts.
Original bridge - credit to Chris Mungall; Approved by experts using Allen Brain Institute ROR - using another annotation. @shawntanzk to pick whatever AP for now, and we can change this when we discuss further.

[2022-04-25 17:45] shawntanzk commented on #2412
uberon call:
We should use sensu terms for specific - makes it a bit easier to handle modelling -> ideally should high up in the taxon as far as it is accurate. (eg can we do Mustela in general or higher up the taxon?)
@shawntanzk to work with the group to create a ROBOT template for adding terms.

[2022-04-25 17:56] shawntanzk commented on #2381
`develops_from o part_of -> develops_from` - this is ok (though it should be restricted to anatomical entity on the left side too)
`part_of o develops_from -> develops_from` - is ok if left side is restricted to anatomical entity
Difficulty in expressing in owl?

For now:

- Get rid of 2nd one, but add back the first one
- Make a ticket on 2nd one to decide how to handle

[2022-04-25 18:00] balhoff commented on #2381
It is easy to restrict to anatomical entity using rolification. Not sure if that works in Elk, but it does work in Whelk. I still think both chains are incorrect. In any case the chains should be added to RO and not Uberon.

[2022-04-25 18:47] matentzn commented on #2205
You can secure a prefix in bioregistry w/o being an ontology and/or in OBO!

[2022-04-25 18:58] shawntanzk commented on #2412
@daniscafidi & @stevevanhooser happy to work with you to come up with a template that we can use our tools to automatically add to the ontology. The plan would be for me to create a google spreadsheet and go through with you how/what to add, and from there you can add all the terms and I will add it to the ontology and get it reviewed. Does this sound good for your side?

[2022-04-25 19:41] stevevanhooser commented on #2412
@shawntanzk , thanks this does sound good. I'll ask @daniscafidi to include the rest of the spreadsheet for you so you can see the scope.

[2022-04-25 20:48] daniscafidi commented on #2412
@shawntanzk Here is the link to the Google spreadsheet with the visual brain areas in the ferret.

https://docs.google.com/spreadsheets/d/1UkmMa9jFNjPgOLIhuCgzNCVxVquNXrCIlCz5YWVjTc8/edit?usp=sharing

[2022-04-26 07:56] emquardokus commented on #2092
@paolaroncaglia  yes, please; thank-you

[2022-04-26 08:18] shawntanzk commented on #2412
Thanks @daniscafidi - I've created a template with an example on it. Would you mind helping me fill it up accordingly please? https://docs.google.com/spreadsheets/d/1M7QLZFFs0w78SPWvUytGEABSAxLoazzuB34HmcTz9Hk/edit?usp=sharing Happy to help clarify anything that is unclear.

[2022-04-26 08:25] shawntanzk commented on #2412
@dosumis - should we use 'in historical homologous relation with' for homologous structure in uberon - I'm guessing its not the most accurate thing, but it is at least a link?

@stevevanhooser @daniscafidi - I notice an empty column for that in the sheets - will these be used?

[2022-04-26 09:18] dosumis commented on #2412
Can you give an example of what you have in mind here? This relationship is for making links between terms for structures in different taxa,  asserting a common evolutionary origin.

[2022-04-26 09:25] shawntanzk commented on #2412
'ferret third visual cortical area' in_historical_homologous_relation_with some 'visual cortex'
'ferret third visual cortical area' in_historical_homologous_relation_with some 'visual association cortex'

My logic is that the terms in uberon now species biased (thought not explicitly so) and my assumption (big one here) is that they do indeed come from the same place evolutionarily (correct me if

[2022-04-26 09:49] dosumis commented on #2412
I think we should only consider this if taxon specificity is explicit.

[2022-04-26 12:12] stevevanhooser commented on #2412
Note: The only area in visual cortex that has clear homology across species is primary visual cortex. There's a great paper on this by Rosa and Krubitzer (1999): https://pubmed.ncbi.nlm.nih.gov/10354599/

All other homologies are open questions, except that presumably they came from neocortex. "visual cortex" is a functional definition..the areas of the cerebral cortex that respond to visual stimu

[2022-04-26 20:01] tgbugs commented on #2205
Because the expansion is completely different.

[code]

The `NIF_Subcellular` prefix expands to ancient fragment based identifiers that cannot be resolved by the server (make bad assumptions about the design of the document and system that hosts the ontology ids) and which redirect via a bit of javascript to a proper resolver.

[2022-04-27 18:40] patrick-lloyd-ray commented on #2384
Yes, MBA_911 should be mapped to UBERON_0002618 because the synonyms for UBERON_0002618 more closely align with MBA_911 than UBERON_0001644 (i.e., MBA_911 is closer to 'trochlear nerve tract' or 'trochlear nerve fibers' than the entire nerve -- just a difference in atlas/ontology terminology, I believe, not any fundamental disagreement in structure).

MBA_911 is marked 'IVn' in this diagram, if th

[2022-04-27 18:51] shawntanzk commented on #2384
thanks! thats super helpful :) will map accordingly

[2022-04-27 19:12] cmungall commented on #286
For people arriving here, let's centralize on this issue #298

[2022-04-27 19:12] cmungall commented on #2384
I think if we resolve this issue

- #286.

then some of this becomes easier

[2022-04-27 20:50] RDruzinsky commented on #286
Can you explain the difficulties with root vs. tract? Tracts are bundles of
fibers within the CNS and roots and rootlets are in the PNS, although I
admit there may be a few exceptions in common usage. The axons that form
rootlets in the PNS enter and leave the CNS in regions called entry and
exit zones, respectively. Where are the ontological issues?

Robert E. Druzinsky, Ph.D.
Clinical Associate

[2022-04-28 09:57] shawntanzk opened #2439 "lateral tuberal nucleus is specific to humans and primates"
NEEDS MORE RESEARCH

lateral tuberal nucleus (UBERON:0000435) should be specific to humans and higher primates
From PMID:1362279:

This is repeated in multiple books https://www.sciencedirect.com/topics/immunology-and-microbiology/tuberal-nucleus

The homologous region in mammals is tuberal nucleus (https://www.science.org/doi/10.1126/science.aar4983#core-R2).

Currently lateral tuberal nucleus ha

[2022-04-28 10:59] shawntanzk commented on #2439
Solution:

- [ ] We can add a sensu term specific for rodentia to map mba to
- [ ] Add taxon restriction to primates to current lateral tuberal nucleus
- [ ] Check if ZFA has a bridge (cause taxon restriction will break that) - if so maybe need to remap or add a term for fish too

[2022-04-28 11:46] dosumis commented on #2439
Please also add comments and references describing evidence for and against homology between these different structures and detailing any terminological confusion.

[2022-04-28 12:23] shawntanzk commented on #2384
MBA_634 (nucleus of the posterior commissure) was given ok for both diencephalic nucleus UBERON_0006569 and nucleus of the posterior commissure UBERON_0002711. I've picked nucleus of the posterior commissure UBERON_0002711.

MBA_1019 corticospinal tract, crossed is mapped to both corticospinal tract UBERON_0002707 and lateral corticospinal tract UBERON_0002589 - I have chosen lateral corticospinal

[2022-04-28 14:23] shawntanzk commented on #2439
**New terms:**

Label: tuberal nucleus (sensu Rodentia)
Exact Synonym: lateral tuberal nucleus (sensu Rodentia) [PMID:29976812]
Broad Synonym: lateral tuberal nucleus (sensu Rodentia) [http://braininfo.rprc.washington.edu/centraldirectory.aspx?ID=1890]
Definition: A hypothalamic region in rodents that is homologous to the lateral tuberal nucleus in humans and higher primates and is involved in ene

[2022-04-28 15:40] balhoff opened #2440 "Uberon is obsoleting external terms.. Should it?"
In Uberon `http://purl.obolibrary.org/obo/uberon/releases/2022-04-18/ext.owl` it appears that EMAPA [future neurohypophysis](http://purl.obolibrary.org/obo/EMAPA_16647) is merged (obsoleted) into Uberon [future neurohypophysis](http://purl.obolibrary.org/obo/UBERON_0034876).

Uberon should not be obsoleting other ontologies' terms. This is causing automatic migrations of GO annotations from EMAPA

[2022-04-28 17:20] patrick-lloyd-ray commented on #2439
Yes, that's right. The solution you have here looks like a good one to me!

[2022-04-29 07:24] shawntanzk commented on #2439
Whoops, take it back about ZFA:0000227 - mistakenly went to the wrong term and saw the xref, it isn't there of NLT

[2022-04-29 09:16] matentzn commented on #2440
I fixed this in #2442

But I will repurpose this ticket now to the general question:

There are 33 such cases in Uberon (search regex: `alt_id: [^U].*`):

[code]

I would like to remove all of these. @cmungall any objections? Maybe I am missing some strategic thing here.

[2022-04-29 12:34] #2198 closed

[2022-05-01 10:01] #2155 closed

[2022-05-01 10:02] shawntanzk commented on #1963
Closing this as its not very useful a ticket given we want to move to base migration

[2022-05-01 10:02] #1963 closed

[2022-05-02 09:08] shawntanzk commented on #2434
@anitacaron - could you bring this up in tech call (will assign you, as with other tickets, but please change accordingly if needed) Thanks!

[2022-05-02 09:10] shawntanzk commented on #2427
Will place this in uberon call agenda, but if you need this more urgently, slack might be faster. Am assigning myself to this for now (trying to make sure newer tickets all get assigned)

[2022-05-02 09:13] shawntanzk commented on #2424
will assign ticket to you @vasvir (please let us know if you need help etc.) as I'm trying to make sure tickets are assigned in uberon :) thanks

[2022-05-02 09:15] shawntanzk commented on #2421
added to uberon agenda, will assign you

[2022-05-02 09:16] shawntanzk commented on #2420
similar to https://github.com/obophenotype/uberon/issues/2427 - will assign you, already in agenda

[2022-05-02 09:20] shawntanzk commented on #2358
@paulacalipho - just to make sure, these will be added to the template too yeah?

[2022-05-02 09:21] shawntanzk commented on #2357
added to agenda, assigning myself, will follow up once I have actionable items

[2022-05-02 09:23] shawntanzk commented on #2353
assigning myself, but its low priority for me, happy for someone to take over if its more urgently needed.

[2022-05-02 09:24] shawntanzk commented on #2350
@gouttegd assigning this to you, hope you don't mind

[2022-05-02 09:27] shawntanzk commented on #2349
added to agenda, hope it's alright if I assign this ticket to you for now @cmungall (trying to make sure all relatively recent tickets have someone assigned) - happy to make changes once there's an action plan. Thanks

[2022-05-02 09:27] shawntanzk commented on #2348
assigning you @cmungall, same as https://github.com/obophenotype/uberon/issues/2345

[2022-05-02 09:28] shawntanzk commented on #2301
added to agenda, will try to get an response to this

[2022-05-02 09:31] shawntanzk commented on #2296
@cmungall assigning to you as it relates to the other tickets, also added to agenda. PS I'm guessing using the UBERON term is more straightforward, but defs need more clarity on this.

[2022-05-02 09:33] cthoyt commented on #2440
I'm going to add an OBO-wide check for this scenario in https://github.com/cthoyt/oquat

[2022-05-02 09:39] shawntanzk commented on #2281
Hi @Baytars sorry this took so long to get to, I'm now shepherding tickets in uberon.
I don't have a good answer for now, but channels_from is a custom uberon relation and we are trying to move all relations to using RO terms.
I see that there is already a connected_to axiom, however I do understand that that is not specific.
I think that the options here are:
1) request a term in RO that fromaliz

[2022-05-02 09:41] shawntanzk opened #2445 "Moving channels_from/channels_to to RO"
currently uberon has custom OP channels_from/to
We should move this to RO if we want to continue using it.
If not we should replace with an existing RO term.
Related to https://github.com/obophenotype/uberon/issues/2281

[2022-05-02 09:43] shawntanzk commented on #2274
@bvarner-ebi assigning this to you - please bring up in meetings etc. if need be. Thanks

[2022-05-02 09:43] matentzn commented on #2440
I think this may be very tricky to do in general.. OBO format is very idiosyncratic here. @cthoyt  how would you formulate the test independently of the specific syntactic conventions of the OBO format? The majority of ontologies are using OWL and are only transformed to OBO after the fact, so wouldn't create `alt_ids`.

[2022-05-02 09:49] shawntanzk commented on #2218
@balhoff - has this ticket been addressed with the GO ticket? or is it something we need to look into for a proper fix?

[2022-05-02 09:52] shawntanzk commented on #2212
I see a merged PR with this - is this fixed?

[2022-05-02 09:56] shawntanzk commented on #2199
Hi @tgbugs, I'm starting to shepherd the tickets in Uberon. Will assign this to you as it seems like a bit of a tracking ticket. If there is anything I can help with, do let me know, thanks!

[2022-05-02 09:57] shawntanzk commented on #2177
@cmungall - is there any follow up on this? will assign this to you for now, but happy to help with anything specific. Thanks!

[2022-05-02 09:59] shawntanzk commented on #2165
@anitacaron - could you help bring this up in tech call (I've placed it on the board, just wont be around for the next meetings and all)

[2022-05-02 11:44] #2383 closed

[2022-05-02 13:17] paolaroncaglia commented on #2090
@emquardokus FYI, I fixed the typo.

[2022-05-02 13:17] #2090 closed

[2022-05-02 18:03] ddooley commented on #2420
I don't actually know when UBERON curation meetings take place - is that in the thursday UPHENO call? It would be great to attend as you discuss...

[2022-05-02 18:09] shawntanzk commented on #2420
@ddooley uberon call details can be found here: https://docs.google.com/document/d/1XvMbNvr0FEsdqGhg79BYCYEHSqUxRHMcvhbGizEAht8/edit

but actually looking at this, given its a relation question, I've moved it to the RO call tmr (also cause uberon call is not for awhile :p). I guess you'll be at that call anyway?

[2022-05-02 18:20] balhoff commented on #2218
We do still need to address this. I took a look, and we're only avoiding unsatisfiable classes at the moment due to a lack of connections from Uberon into CARO and BFO (at least what we have imported into GO).

[2022-05-02 18:45] ddooley commented on #2420
Yes, will do, thx.

[2022-05-02 19:58] stevevanhooser commented on #2412
OK, we are almost ready with our spreadsheet. We have one (class) of remaining question.

We are thinking of how to specify primary visual cortex. The use case is, if someone wants to know all of the nodes that correspond to primary visual cortex in any species, one would be able to search UBERON for a list. The current UBERON entry for primary visual cortex (UBERON_0002436) is that of the macaque

[2022-05-02 20:06] shawntanzk commented on #2412
I think this is the solution we have to go with. Homology link might be tricky though - as @dosumis mention, we shouldnt add homology links unless species is specific. I think the only link has to be
"capable of part of" some "visual perception" which should also be added to current uberon term visual cortex if it doesn't already have it. Would that work for your side?

Any thoughts on this @dosum

[2022-05-02 21:10] stevevanhooser commented on #2412
Or is the better action to redefine the current UBERON primary visual cortex to be something more species generic, and then we could just express “exists in taxon X”, “exists in taxon Y”, etc….

[2022-05-02 21:11] stevevanhooser commented on #2412
Every examined mammal has a primary visual cortex (plenty of citations for this)

[2022-05-03 07:47] shawntanzk commented on #2412
@stevevanhooser perhaps a good middle ground solution is converting all the axioms in the primary visual cortex that are primate specific to taxon GCIs - would that work @cmungall?

[2022-05-03 07:56] shawntanzk commented on #2412
note: primary visual cortex is HIGHLY specific to humans atm - it is a subclass of Brodmann area which is human specific, and its definition and synonyms suggest its human specific too.

[2022-05-03 08:14] tgbugs commented on #2412
The Brodmann relationship probably comes from old modelling in NIF and is an artifact. Not sure what the best solution would be, but if there aren't any axioms then relaxing the constraints is probably the right thing to do rather than creating a more general class.

[2022-05-03 09:11] shawntanzk commented on #2412
Note to self:

having an equivalent class for visual cortex being: `('part of' some 'cerebral cortex') and ('capable of part of' some 'visual perception')` is problematic as it infers that `inferior temporal gyrus` is a subclass of it, which most people would not expect.

[2022-05-03 09:40] paolaroncaglia commented on #2148
@cmungall please

Would you like to keep this ticket open? Cheers.

[2022-05-03 09:49] shawntanzk commented on #2412
Potential solution:

- [ ] Create a term for function `cortical visual area` that is just used
- [ ] Broaden `primary visual cortex` by removing human specific stuff
- [ ] Check if `primary visual cortex` can still have part_of some occipital lobe
- [ ] Broadmann area 17 -> subclass of primary visual cortex and add taxon restriction
- [ ] Create an EPIC ticket for making all Broadmann areas primat

[2022-05-03 09:50] dosumis commented on #2412
I think we should definitely have a general class then.  Is there some common structure/location we can add to this general definition (e.g. part_of occipital lobe)?

It looks like Brodman area 17 would then be a human (or primate?) specific subclass.

[2022-05-03 10:12] shawntanzk opened #2449 "Broadmann area should have taxon restrictions"
Related to https://github.com/obophenotype/uberon/issues/2412

Broadmann area in uberon currently does not have any restrictions on taxon
This has resulted in terms like primary visual cortex being a subclassof Broadmann area which makes it over specific to humans/primates.
Adding taxon restriction to Broadmann area however might break some stuff, hence we should add the restriction (probably prim

[2022-05-03 11:49] paolaroncaglia commented on #2091
@emquardokus the new term is UBERON:8410079 'red bone marrow of iliac crest'.

[2022-05-03 11:49] #2091 closed

[2022-05-03 11:50] paolaroncaglia commented on #2092
@emquardokus the new term is UBERON:8410080 'red bone marrow of sternum'.

[2022-05-03 11:50] #2092 closed

[2022-05-03 12:00] #2436 closed

[2022-05-03 12:08] stevevanhooser commented on #2412
@dosumis : I think the question of whether the general class should be "part_of occipital lobe" is an interesting question. In some species, there is consensus as to a definition of an occipital lobe / temporal lobe, etc., but in other species there haven't been parcellations, or if they have been, it's just one or two authors. In all mammals, primary visual cortex is posterior to primary somatose

[2022-05-03 12:09] stevevanhooser commented on #2412
(For example, the ferret brain has no commonly accepted division into "lobes" as does the macaque and human. One could certainly make up such a division, but there is no tradition of it in the literature.)

[2022-05-03 12:20] shawntanzk commented on #2412
The current definition of occipital lobe is sort of similar (Posterior part of the cerebral hemisphere).
Perhaps what we can do is to add a comment in primary visual cortex stating
"In some species, parcellations of lobes are not well defined or at all. The primary visual cortex being part of the occiptal lobe hence refers to being part of the most posterior region of the mammalian cerebral cortex

[2022-05-03 13:57] #2344 closed

[2022-05-03 13:57] paolaroncaglia commented on #2276
@dosumis @emquardokus FYI this is fixed now.

[2022-05-03 13:57] #2276 closed

[2022-05-03 14:04] shawntanzk commented on #2449
Only attempt after https://github.com/obophenotype/uberon/pull/2450 is merged in (fixes there has major impact on this)

[2022-05-03 14:15] shawntanzk commented on #2445
Can we replace channels_from with (supplies)[http://purl.obolibrary.org/obo/RO_0002178] and channels_to with (drains)[http://purl.obolibrary.org/obo/RO_0002179]

Examples of channels from:
<img width="699" alt="Screenshot 2022-05-03 at 15 13 57" src="https://user-images.githubusercontent.com/76212760/166470065-6ded9d01-4a0d-4e35-b7a6-7ed39872d663.png">

Examples of channels_into
<img width="616" a

[2022-05-03 19:09] patrick-lloyd-ray commented on #2384
Sounds good!

Yes, that works.

Yep, that's fine.

Yes, UBERON_0002782 is right for that one.

Yes, that makes sense to me.

Yes, it should be UBERON_0011176.

Yes, should be UBERON_0001920.

Yes, that makes sense to me.

Yes, that works.

Yes, that works too.

Okay, that works.

Yes, UBERON_0002317 works best.

Yes, UBERON_0014615 makes sense for this mapping. #298 might affect this but I'll defe

[2022-05-03 19:55] #2348 closed

[2022-05-04 07:48] paolaroncaglia commented on #2149
@shawntanzk no rush, but perhaps you might take this if it's still needed, to keep track? Thanks.

[2022-05-04 15:34] cmungall opened #2452 "Create a coherent collected-metazoa ontology that includes all bridging axioms"
I realize there may be smaller issues for this but I think we should tackle this as a whole

We want all metazoan ssAOs plus bridge axioms plus Uberon to have no unsatisfiable classes

This may need some compromise on the uberon side. We may need to relax some disjointness axioms (these can be retained as something that is used internally to check uberon, but are dropped from the main release). Ha

[2022-05-04 19:34] anitacaron opened #2453 "Logical axioms from external relationships found in edit file"
After I did cleansing in #2377, some logical axioms are only present in UBERON.

[Typedef]
id: capable_of
name: capable of
xref: RO:0002215
is_a: functionally_related_to ! functionally related to

[Typedef]
id: connected_to
name: connected to
xref: RO:0002170
is_a: transitively_connected_to ! transitively_connected to

[Typedef]
id: continuous_with
name: continuous with
xref: RO:0002150
is_symmetr

[2022-05-05 07:30] matentzn commented on #2453
Just to say it, fantastic work on the non-base axioms @anitacaron.

@cmungall @dosumis it is now up to you to decide which axioms should go in RO, and which ones should be discarded. Once we know (just edit @anitacaron comment to indicate if something is bad), just comment "ok to move the rest to RO" and we will take care of the rest

- [ ] deleting the axioms from Uberon
- [ ] adding them to RO/B

[2022-05-05 08:42] paolaroncaglia commented on #1873
This ticket was opened by me while working on SciBite stuff, i.e. I noticed this issue by chance; it isn't strictly required for any of the EBI projects I contribute to. However, [Chris thinks that Uberon should address this](https://github.com/obophenotype/uberon/issues/1873#issuecomment-1077811859). So I'll leave the ticket open, I'll remove my assignment, but I won't assign others - I'll add to

[2022-05-05 09:11] paolaroncaglia commented on #2035
Update:
As fare as I'm aware, the missing terms described [here](https://github.com/obophenotype/uberon/issues/2035#issuecomment-951659040) are still missing, except for 17 new terms that Nico added, listed [here](https://github.com/obophenotype/uberon/commit/49154a41a5e976bb6fd2860fbcbb205e4473719b).
It's been some time, so the original list may need reviewing to know exactly what terms are still

[2022-05-05 09:33] paolaroncaglia commented on #2111
@dosumis FYI

The GO term was added as GO:0160022 'apocrine secretion' [here](https://github.com/geneontology/go-ontology/commit/a36ded0da2c9c3425cbcce63b88d8132c0260694).

[2022-05-05 11:09] #2111 closed

[2022-05-05 11:10] paulacalipho commented on #2358
@shawntanzk They have been already added

[2022-05-05 11:18] dosumis commented on #2453
This is already in RO (indirectly)

-----

transitively_connected_to is not in RO.  Having a transitive superProperty of connected_to is dangerous for reasoning.  It can make pre-reasoning of existentials blow up massively.  So, I'd be reluctant to include it in RO.  @cmungall ?

-----

This should be added to RO

-----

seems reasonable to add to RO

---

OK with me to add to RO, or do we want th

[2022-05-05 20:00] paolaroncaglia commented on #2186
Note to self:
- [ ] change the equivalence for 'capillary' to point to blood microvessel instead of blood vessel, then close.

[2022-05-06 00:39] megbalk commented on #2333
depreciating more terms:
tip of tail (already exists)
tip of digit (not needed)
posterior of pes

[2022-05-06 01:03] megbalk opened #2458 "synonym for astragalus head"
**Uberon term**
astragalus head

**Synonym to be added**
articular surface for central metatarsal

**broad/exact/narrow/related ?**
exact

[2022-05-06 01:04] #2458 closed

[2022-05-06 01:05] megbalk opened #2459 "revise definition for astragalus head"
**Uberon term**
astragalus head

**Suggested revision of textual definition**

The region of the astragalus/ talus that carries the articular surface for the navicular **or central metatarsal.**

[2022-05-06 16:32] #2459 closed

[2022-05-06 19:06] #2186 closed

[2022-05-09 14:53] gouttegd commented on #2165
`GO:excretion` is referenced by three terms in Uberon:

* `excreta`, defined as `'organism substance' and (output_of some excretion)`
* `excreted gas`, defined as `'bodily gas' and (output_of some excretion)`
* `renal system`, defined as `organ system and (capable_of some excretion)`

The last one is the most problematic in my opinion as `excretion` in GO has a definition that goes beyond what is

[2022-05-10 06:53] shawntanzk commented on #1873
assigning myself as I'm trying to not let tickets go unassigned. happy to make the changes once it is discussed and there's a clear actionable item here.

[2022-05-10 10:34] bvarner-ebi commented on #2407
@paulacalipho, thank you again to beginning to populate the the [template](https://docs.google.com/spreadsheets/d/1mAu30Lzy4ZAxBE0AhlAM0FFxd51SePaNMF2LqtajWew/edit#gid=0).
Would you like to review the tab 'bv-suggestions'? I highlighted some cells orange and would like to get your input on them. Also, if you would like to propose equivalence axioms (column D) for your terms, that could help expedi

[2022-05-10 10:38] paulacalipho commented on #2407
@***@***.***>, thanks for reviewing the terms. How do you prefer I work on this table? Creating a new (3rd) one? Making comments on your table?

From: bvarner-ebi ***@***.***>
Sent: Tuesday, May 10, 2022 12:35 PM
To: obophenotype/uberon ***@***.***>
Cc: Paula Duek ***@***.***>; Mention ***@***.***>
Subject: Re: [obophenotype/uberon] NTR: sublumbar lymph node (Issue #2407)

@paulacalipho<https://gi

[2022-05-10 10:43] bvarner-ebi commented on #2407
@paulacalipho, may I suggest you could make edits directly on the 'bv-suggestions' tab (we could rename it to something like 'working-version' or something like that). You could simply overwrite my questions with your response/edits. Happy to also arrange a zoom meeting if we get to a point where that will be more efficient.

[2022-05-11 13:54] #2263 closed

[2022-05-12 07:30] paolaroncaglia commented on #2171
@rays22 @dosumis I presume that you wouldn't want this ticket to go stale - or has it been addressed already? Thanks.

[2022-05-12 07:34] dosumis commented on #2171
Reassigning to @bvarner-ebi as part of work on taxons.

@bvarner-ebi - don't worry about doing anything until we discuss strategy.

[2022-05-12 09:02] shawntanzk commented on #2384
@patrick-lloyd-ray is sublaterodorsal nucleus (SLD) the same as sublaterodorsal tegmental nucleus? (from literature that's all I seem to be able to find and the acronym is the same)

[2022-05-13 13:41] bvarner-ebi commented on #2274
@pgaudet, could you briefly summarise the reasoning problem related to this specific term? I skimmed https://github.com/geneontology/go-ontology/issues/16524, but it's not clear to me what the reasoning problem is that involves 'pronephric sinus'.

**Notes:**

from https://pubmed.ncbi.nlm.nih.gov/10535314/:

![Screenshot 2022-05-13 at 14 06 25](https://user-images.githubusercontent.com/95643797/16

[2022-05-13 13:49] balhoff commented on #2274
@bvarner-ebi I think this issue is subsumed by #2218.

[2022-05-13 13:52] bvarner-ebi commented on #2274
Thank you, @balhoff. In that case, should this issue be closed?

[2022-05-13 13:56] bvarner-ebi commented on #2274
Thank you, @balhoff.
@pgaudet, kindly advise how you would like to proceed.

[2022-05-16 09:03] paolaroncaglia commented on #2032
@matentzn can this be closed? If not, it's already in the (old) tech board, does it need moving or prioritising?
Thanks.

[2022-05-16 09:08] matentzn commented on #2032
Can't be closed, will be dealt with later this year by @cmungall himself :)

[2022-05-16 11:22] rays22 commented on #698
I did some manual mapping of the remaining 75 MeSH to UBERON terms in the table below. I am going to add the 66 `skos:exactMatch` MeSH IDs to UBERON as xrefs.
I intend to leave out the remaining 9 MeSH terms until a future more comprehensive alignment of UBERON and MeSH.

uberon_id | uberon_name | old_mapping | method | new_mapping | new_mapping_name | new_mapping_url | mapping predicate
-- | -- |

[2022-05-16 12:39] dhimmel commented on #698
Awesome!

Should we just delete these 9 remaining tree number xrefs since at this point they're no better than a missing MESH xref and break tooling that assumes MESH xrefs will be actual MESH IDs?

[2022-05-16 12:43] rays22 commented on #698
Yes, I agree that deleting them would be the best way forward.

[2022-05-16 16:54] pgaudet commented on #2274
Yes we can close this, thanks.

[2022-05-18 09:06] #698 closed

[2022-05-18 11:38] dhimmel commented on #698
Thanks everyone who helped on this issue over the years! Great to see all the tree numbers gone and @rays22's manual mapping efforts.

This is a different issue and not sure what types of automated checks UBERON has, but it might be good to ensure future MESH xrefs are properly formatted according to a regex (and are not tree numbers). This could be done for all xref sources using bioregistry actu

[2022-05-18 11:54] shawntanzk commented on #698
@dhimmel - will create a ticket to see if we can implement some automated checks for that :) thanks!

[2022-05-18 11:57] shawntanzk opened #2477 "MESH xrefs are properly formatted correctly"
see https://github.com/obophenotype/uberon/issues/698#issuecomment-1129900924
can we put a check in place for MESH xrefs?
(I'll assign @anitacaron for now, but please feel free to reassign after discussion in Monday tech call - where ill also place this. Will not be able to make the tech calls in the first 2 weeks of June and all)

[2022-05-19 09:25] shawntanzk opened #2478 "Replace uberon-bridge-to-mba/dmba to use custom version"
Based on experts from Allen institute - we have created a new custom bridge file that incorporates their suggestions.
However this requires a lot more expressiveness like subclass or equiv etc. and hence cannot come from just xrefs.
We hence need to rework the make file for these 2 bridge files to not pull from
https://github.com/obophenotype/ABA_Uberon/tree/new_bridge/src/ontology/new-bridges
and

[2022-05-19 20:41] megbalk opened #2479 "teeth pattern terms"
Now that we have the upper and lower tooth patterns done, I have made a csv for all the teeth terms I'd like to add / revise. I am curious how I should go about this?

Here are some issues:
1) I need to create teeth terms that will be used by the patterns (e.g., create incisor tooth 4 to be used in the patter for upper secondary incisor tooth 4)
2) Some of these terms exist, but I want to revise t

[2022-05-19 20:43] megbalk opened #2480 "tubercle of calcaneus"
**Uberon term**
tubercle of calcaneus

**Synonym to be added**
peroneal tubercle of calcaneus
processus coracoideus of calcaneus

**broad/exact/narrow/related ?**
exact

[2022-05-19 21:09] megbalk commented on #2480
add exact synonym: tuberosity of calcaneus
also, add exact synonym lateral tuberosity of calcaneus and medial tuberosity of calcaneus to lateral tubercle of calcaneus and medial tubercle of calcaneus

[2022-05-19 21:12] megbalk commented on #2480
also removing "trochlear process of calcaneus" from tubercle of calcaneus

[2022-05-19 21:14] megbalk opened #2482 "coracoid process of calcaneus"
**Preferred term label:**
coracoid process of calcaneus

**Synonyms**
processus coracoideus of calcaneus

**Definition (free text, please give PubMed ID)**
At the dorsal part of the base of the calcaneal tuberoisty is a pointed process called the coracoid process.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
part of some calcaneus tuberosity; zone of bone organ

**Your nano-a

[2022-05-19 21:23] megbalk commented on #2482
modeling this after the coracoid process of scapula (UBERON:0006633)

[2022-05-20 15:39] shawntanzk commented on #2384
Note to self:
rhinocele is problematic as uberon obsoleted rhinencephalon (UBERON_0008981) with the reason:
"Obsoleted because The term rhinencephalon has been used to describe different structures at different points in time.[ISBN 0-8493-8631-4]. May refer to: a specific structure in aves; a part of the brain involved with olfaction;"
I'd imagine that the rhinocele will have the same issue.
Consi

[2022-05-20 17:42] gouttegd commented on #2350
Follow-up on this.

I dug a bit more on how we represent muscles in Uberon and found another possible problem: how we represent “complex” muscles. That problem could possibly be solved by the same solution as the tendon problem.

We have a very narrow notion of _muscle group_, which is used for only one muscle: the digastric muscle (`digastric muscle group`, UBERON:0001562), made of two muscle “be

[2022-05-23 06:45] paulacalipho commented on #2407
@bvarner-ebi I answered to your suggestions in the document with "Paula: ....". I also added some comments in the equivalence axioms (column D) highlighted in cyan for some terms for which I have difficulties to suggest parent terms. Apart from that, I am not sure to really understand how to fill the equivalence axioms (column D)

[2022-05-23 09:15] bvarner-ebi commented on #2407
Thank you, @paulacalipho.
No worries on the equivalence axioms. If I see opportunities where they can be applied, I will enter them.

[2022-05-23 10:52] shawntanzk opened #2485 "NeuroNames in uberon are still in full url"
https://bioregistry.io/registry/neuronames

bioregistry shows http://braininfo.rprc.washington.edu/centraldirectory.aspx?ID= should be neuronames:
UBERON still shows these as full urls
A mass change should be done to use the curie
However, I am adding some stuff that used full links (following current usage) in this PR (https://github.com/obophenotype/uberon/pull/2484) and would rather the change

[2022-05-23 13:07] shawntanzk commented on #2428
Fixed - though unsure if QC checks are reactivated if they were turned off - if so, open new ticket on it

[2022-05-23 13:07] #2428 closed

[2022-05-23 13:31] shawntanzk commented on #2381
@balhoff - could you give some concerns with the above patterns so we can understand better please?
atm we will leave this alone, and only implement once we have a clear strategy on how to do it.

[2022-05-23 13:32] shawntanzk commented on #2367
Fixed

[2022-05-23 13:32] #2367 closed

[2022-05-23 13:54] shawntanzk commented on #2045
everything looks nicely setup on http://obophenotype.github.io/uberon/ if there needs to be more docs, we can make add them there - new tickets should be made for that

[2022-05-23 13:54] #2045 closed

[2022-05-23 14:53] #2440 closed

[2022-05-23 17:09] dosumis commented on #2427
Not strictly and Uberon issue  - more an issue for how Uberon is used.  @cmungall will comment further.  Might be better for patterns to be associated with COB.

[2022-05-23 17:46] shawntanzk commented on #2281
We will go with option 2 for now for a quick fix, but there are a lot more discussions with vasculature relations and moving relations to RO

[2022-05-23 17:49] shawntanzk commented on #2445
discussion from uberon call:`

Uses:
blood supply/drain from tissue
fluids moving between other ducts/channels (not vasculature)
Some uses in the vasculature (Not so clear why used here vs connected_to/branching_part_of)
Advantage of channels relations is that they can record direction.  However, Uberon is extremely incomplete wrt to these relations.
Use case queries:
distinguishing blood supply/d

[2022-05-23 17:51] shawntanzk commented on #2445
tagging @emquardokus @bvarner-ebi @dosumis @addiehl who were more active in the discussion to suggest definitions etc. - happy for anyone else who has ideas to suggest stuff too

[2022-05-23 17:59] shawntanzk commented on #1874
Fixed with https://github.com/protegeproject/protege/pull/1049 - will be implemented in the next protege release

[2022-05-23 17:59] #1874 closed

[2022-05-23 21:07] gouttegd commented on #2350
For the record: the tentative proposal outlined above has been agreed upon in principle in the Uberon call of May 23rd. I’ll implement the proposal and submit PR(s) for definitive approval.

[2022-05-24 07:12] shawntanzk commented on #2423
@matentzn - I'm guessing these are the checks you added back ytd? if so can I close this ticket? thanks

[2022-05-24 07:34] matentzn commented on #2423
This is the remaining bit:

https://github.com/obophenotype/uberon/pull/2488

[2022-05-24 09:10] matentzn opened #2489 "Diff report should merge master into the branch before running diff"
Right now, if the branch is behind master, the diff runs wild:

https://github.com/obophenotype/uberon/pull/2481

I think we need to merge master into the branch just before running diff.

[2022-05-24 09:22] #2423 closed

[2022-05-24 18:01] sebastianduesing opened #2491 "Anatomical cluster seems misplaced"
_Anatomical cluster_ is defined as a type of anatomical group (specifically, "Anatomical group that has its parts adjacent to one another."). However, it is not a subclass of _anatomical group_; rather, _anatomical group_ is a subclass of _anatomical structure_, which is a subclass of _material anatomical entity_, which in turn is a sibling class of _anatomical cluster_. Either _anatomical cluster

[2022-05-24 21:54] megbalk commented on #2489
done

[2022-05-25 03:53] matentzn commented on #2489
This was not for you @megbalk its a very general issue ;)

[2022-05-25 08:58] bvarner-ebi opened #2493 "Update 'genital system': populate with subclasses, add text definition and synonym"
**Uberon term**
UBERON:3011048 'genital system'

**Synonym to be added**
- [x] broad: genitalia
- [x] broad: reproductive system

**Notes**
- [x] Populate with appropriate subclasses.
- [x] Add text definition. Definition from [XAO term](http://purl.obolibrary.org/obo/XAO_0000142) can be appropriated.
- [x] After PR is merged, update [OrganList](https://docs.google.com/spreadsheets/d/1QzuB07M61TqC

[2022-05-25 13:30] anitacaron opened #2495 "The great base debugging"
EDIT: these unsats are not the problem anymore, look at my comment below.

## [neuroblast](http://purl.obolibrary.org/obo/CL_0000031) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [neuroblast](http://purl.obolibrary.org/obo/CL_0000031) SubClassOf [neuronal stem cell](http://purl.obolibrary.org/obo/CL_0000047)
    - [neuronal stem cell](http://purl.obolibrary.org/obo/CL_000004

[2022-05-25 13:46] shawntanzk commented on #2495
[heart plus pericardium](http://purl.obolibrary.org/obo/UBERON_0015410) SubClassOf [thoracic cavity element](http://purl.obolibrary.org/obo/UBERON_0005178)
[thoracic cavity element](http://purl.obolibrary.org/obo/UBERON_0005178) EquivalentTo [organ](http://purl.obolibrary.org/obo/UBERON_0000062) and ([located in](http://purl.obolibrary.org/obo/RO_0001025) some [thoracic cavity](http://purl.obolibr

[2022-05-25 14:27] balhoff commented on #2495
Another problem is 'coelomic cavity lumen' is immaterial but inferred to be material :
- [coelemic cavity lumen](http://purl.obolibrary.org/obo/UBERON_0002323) SubClassOf [develops from](http://purl.obolibrary.org/obo/RO_0002202) some [future coelemic cavity lumen](http://purl.obolibrary.org/obo/UBERON_0003886)
- [develops from](http://purl.obolibrary.org/obo/RO_0002202) SubPropertyOf: [has develo

[2022-05-25 17:31] gouttegd commented on #2165
Of note, if we implemented my suggestion above (redefining `renal system` to `organ system and (capable_of some 'renal tubular secretion')`), then we probably also should create a higher-level `excretory system` to encompass all excretory stuff (not limited to kidneys and kidney-like), as requested in #1450.

There are at least one instance where `renal system` is currently used as if it referred

[2022-05-25 17:33] cmungall commented on #2495
[has developmental contribution from](http://purl.obolibrary.org/obo/RO_0002254) Domain should be weakened in RO

(we can discuss this longer term and implementing a slightly different developmental model but for now it has to be weakened)

@shawntanzk - the located in relation is fine

Domain:
'independent continuant'
 and (not ('spatial region'))
'independent continuant'

Range:
'independent con

[2022-05-25 19:44] #2480 closed

[2022-05-25 21:57] zhengj2007 opened #2498 "Does UBERON_0000066 'fully formed stage' cover bugs and insects?"
[VEuPathDB database](https://veupathdb.org/) need a term to annotate the adult stage of mosquito. We are thinking to use
http://purl.obolibrary.org/obo/UBERON_0000066 'fully formed stage' (adult stage).

The term definition is 'The stage of development at which the animal is fully formed, including immaturity and maturity. Includes both sexually immature stage, and adult stage.'

We'd like to know

[2022-05-25 22:33] #2482 closed

[2022-05-27 09:58] shawntanzk commented on #2498
I think it does - VFB seems to use it (https://www.virtualflybrain.org/blog/2022/01/01/fully-formed-stage-uberon_0000066/) (sorry for the weird link, ols seems to be down). So if it applies to flies, i don't see why not mosquitoes :)
If that answers the question, please do help close this ticket. Thanks!

[2022-05-27 10:18] bvarner-ebi commented on #2358
@emquardokus, in an offline discussion, you mentioned you may have some advice for these skin-related terms. If so, can you add comments for @paulacalipho's and my considerations?

[2022-05-30 08:44] matentzn commented on #2137
Should be reconsidered eventually

[2022-05-30 09:54] matentzn commented on #2422
Recently added https://github.com/obophenotype/uberon/releases/tag/v2022-05-27 (#2425) is empty.

Needs to be investigates.

[2022-05-30 10:00] shawntanzk commented on #2422
just fyi, might take awhile for me, im on leave for a bit, will only do when i have time

[2022-05-30 10:54] kalpanaps opened #2504 "new term request: optic lobe"
Optic lobe - Either of two prominences of the midbrain concerned with vision (BTO:0000965)

[2022-05-30 11:40] anitacaron commented on #2453
id: develops_from
name: develops from
xref: RO:0002202
is_a: has_developmental_contribution_from ! has developmental contribution from

[`has_developmental_contribution_from` is already a sibling of `develops_from`. ](https://www.ebi.ac.uk/ols/ontologies/ro/properties?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FRO_0002258&lang=en&viewMode=All&siblings=false)

Should it still be added to RO?

[2022-05-30 12:16] paolaroncaglia commented on #2127
This is still in progress.

[2022-05-30 12:23] kalpanaps opened #2507 "brain striatum"
**Preferred term label:**: brain striatum

**Synonyms**: neostriatum, striate nucleus

**Definition (free text, please give PubMed ID)**: PMID: [24858182](https://pubmed.ncbi.nlm.nih.gov/24858182)

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**

**Your nano-attribution (ORCID)**:0000-0003-2534-198X

[2022-05-30 12:26] kalpanaps opened #2508 "nerve cord"
**Preferred term label:**:nerve cord

**Synonyms**

**Definition (free text, please give PubMed ID)**
The pair of closely united ventral longitudinal nerves with their segmental ganglia that is characteristic of many elongate invertebrates (as earthworms). 2. The dorsal tubular cord of nervous tissue above the notochord of a chordate that comprises or develops into the central nervous system - BTO

[2022-05-30 12:29] kalpanaps opened #2509 "villus"
**Preferred term label:**villus

**Synonyms**

**Definition (free text, please give PubMed ID)**: Any of the small, slender, vascular projections that increase the surface area of a membrane. Important villous membranes include the placenta and the mucous-membrane coating of the small intestine. Each villus has a central core composed of one artery and one vein, a strand of muscle, a centrally loc

[2022-05-30 12:35] kalpanaps opened #2510 "hippocampus"
**Preferred term label:**: hippocampus

**Synonyms**: major hippocampus

**Definition (free text, please give PubMed ID)**:  curved elongated ridge that extends over the floor of the descending horn of each lateral ventricle of the brain and consists of gray matter covered on the ventricular surface with white matter; The hippocampus is a part of the temporal lobe, which has a well established rol

[2022-05-30 12:37] kalpanaps opened #2511 "crypt"
**Preferred term label:**: crypt

**Synonyms**

**Definition (free text, please give PubMed ID)**:A crypt is a deep pit that protrudes down into the connective tissue surrounding the small intestine. The epithelium at the base of the crypt is the site of stem cell proliferation and the differentiated cells move upwards and are shed 3-5 days later at the tips of the villi (BTO:0000305)

**Parent te

[2022-05-30 14:05] ubyndr commented on #2489
- [ ] Check if the current branch is behind the master branch and warn the users to update their branches before any other actions.

[2022-05-30 14:12] matentzn commented on #2489
To calrify `warn the user`: fail the action with a comment.

[2022-05-30 22:35] shawntanzk commented on #2507
Hi @kalpanaps - the term striatum is already in uberon (https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0002435). I will hence be closing this ticket.

[2022-05-30 22:35] #2507 closed

[2022-05-30 22:38] shawntanzk commented on #2508
Hi @kalpanaps, nerve cord is already in uberon (see synonym) https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0005053. I will hence be closing this ticket.
PS - OLS is a really powerful tool that you can use to look up terms before requesting, that will help us heaps and I guess will cut down your workload on writing up these tickets too :) Than

[2022-05-30 22:38] #2508 closed

[2022-05-30 22:40] shawntanzk commented on #2509
Villus is an exact synonym here: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0001213 - if there is any issues with this, please open a ticket detailing the change you would like see made instead of a new term request :) thanks!

[2022-05-30 22:40] #2509 closed

[2022-05-30 22:42] shawntanzk commented on #2510
I'm guessing you are looking for hippocampal formation (https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0002421&lang=en&viewMode=PreferredRoots&siblings=false) if not please see the child nodes if you are looking for something more specific. If you need a concept that isn't represented in uberon, please state the exact issue with the current re

[2022-05-30 22:42] #2510 closed

[2022-05-30 22:44] shawntanzk commented on #2511
I'm guessing this is what you are looking for: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0001983

[2022-05-30 22:44] #2511 closed

[2022-05-30 22:47] shawntanzk commented on #2504
I'm guessing you are looking for occiptal lobe: https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0002021 unless you are looking for an area of the brain that is related to vision (which is more complex, and there is ongoing debate on function vs spatial differentiation - which would more be visual cortex etc. but given you mentioned lobe, I assu

[2022-05-30 22:47] #2504 closed

[2022-05-31 09:16] #2407 closed

[2022-05-31 09:29] bvarner-ebi commented on #2407
@paulacalipho, the following term has been added to Uberon:

UBERON:8470001 'sub lumbar lymph node'

[2022-06-01 13:41] anitacaron commented on #2495
New problem after adding CARO back, please could someone check again? @cmungall @balhoff

## [subarcualis rectus I](http://purl.obolibrary.org/obo/UBERON_3010659) SubClassOf [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [subarcualis rectus I](http://purl.obolibrary.org/obo/UBERON_3010659) SubClassOf [innervated_by](http://purl.obolibrary.org/obo/RO_0002005) some [ramus muscularis of glo

[2022-06-01 15:42] anitacaron commented on #2354
Since the PRs related to this issue were already merged, I'm closing it.

[2022-06-01 16:37] cmungall commented on #2495
we need to get patterns down ASAP. I made a start on this a while ago and did not finish, sorry. Once we have patternization we will see the outliers are the cause of many problems

For `{muscle} branch of {nerve}` here is an exemplar:

[code]

although we may want to make this even more explicit and have innervates always connect to a muscle

[2022-06-01 16:43] matentzn commented on #2313
@cmungall is pinging this issue [here](https://github.com/obophenotype/uberon/issues/2495#issuecomment-1143854837).

[2022-06-01 16:44] matentzn commented on #2495
@anitacaron if you have trouble to figure out what to fix let me know on slack!

[2022-06-01 22:08] jahilton opened #2512 "fix typo in 'right cardiac atrium' [UBERON:0002078]"
**Uberon term**
UBERON:0002078

**Suggested revision of textual definition**
A cardiac atrium that is in the ~~left~~ **right** side of the heart. It receives deoxygenated blood. In mammals, this comes from the superior and inferior vena cava and the coronary sinus, and pumps it into the right ventricle through the tricuspid valve.

[2022-06-01 22:08] cthoyt commented on #2354
@anitacaron i'm not sure if the non-standard relations were issued. I'll start a new issue soon

[2022-06-02 13:16] rays22 commented on #2495
[UBERON:0000045 ganglion](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000045) is currently defined as a subclass of [UBERON:0010001 cell cluster organ](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http://purl.obolibrary.org/obo/UBERON_0010001).

Maybe re-defining [UBERON:0000045 ganglion](https://www.ebi.ac.uk/ols/ontologies/ubero

[2022-06-02 16:02] cmungall opened #2514 "gonad is inappropriately placed in the renal system"
From @balhoff in GO:

![image](https://user-images.githubusercontent.com/50745/171673900-f135c23a-0926-42a4-bfff-9f0e2bc5d59e.png)

the fact this wasn't caught in the uberon release system is a problem in itself

Another tip: be very very conservative with uberon IDs in the 2x, 3x and 4x range. This term “genital system” is from AAO. It should probably be merged. In the interim, be ultra-careful w

[2022-06-02 16:05] cmungall commented on #2493
You perhaps weren't to know this but I think the correct course of action here was to merge genital system. See #2514

[2022-06-02 16:28] matentzn opened #2515 "Document SOP for all Uberon curators"
- Changes to classifications of terms from the 2x, 3x and 4x range should be reviewed by @cmungall https://github.com/obophenotype/uberon/issues/2514#issue-1258390659
- Changes to the classification of terms higher than leaf nodes and their direct parents should be reviewed by @cmungall

More to add. We need a general getting started guide for editors which cover some of these secrets.

[2022-06-02 16:48] cmungall commented on #2515
example: you might be a world-class expert in evo-devo and neuroanatomy, and you might think there should be a develops-from between brain and neural tube. Adding this would result in changed entailments for 1000s of terms across multiple ontologies - all neurons in CL, many developmental terms in GO. And it would be wrong: uberon is metazoan and brains include non-vertebrate brains. In this case

[2022-06-03 11:07] anitacaron commented on #2354
It was solved in this PR https://github.com/obophenotype/uberon/pull/2409

[2022-06-04 05:00] emquardokus commented on #2171
@bvarner-ebi @dosumis
Majority of true hits seem to have "[provenance notes](https://www.ebi.ac.uk/ols/search?q=provenance_notes&exact=true&type=property&ontology=uberon)This class was sourced from an external ontology (amphibian_anatomy). Its definitions, naming conventions and relationships may need to be checked for compatibility with uberon"

[2022-06-05 13:06] dosumis commented on #2514
Why do we even have this term? Super confusing.  Anyone using it in annotation will expect the child terms Bradley added.

[2022-06-06 09:43] anitacaron opened #2517 "Nerves and branches of nerves should be subclass of nerve not tissue"
The explanation makes it easy to see what's going wrong:

[code]

in uberon, both nerves and branches of nerves should be subclass of nerve not tissue

_Originally posted by @cmungall in https://github.com/obophenotype/uberon/issues/2495#issuecomment-1143851635_

[2022-06-06 11:18] bvarner-ebi commented on #2493
@cmungall, do you mean merge 'genital system' with 'reproductive system'?

FYI @dosumis

[2022-06-06 13:20] anitacaron commented on #2422
@ubyndr will try to investigate

[2022-06-06 13:38] anitacaron commented on #2363
We're dropping this issue from the tech board and let the CL editors decide the next steps.

[2022-06-06 15:58] balhoff commented on #2493
Is 'genital system' just amphibian-specific terminology for reproductive system? https://www.ontobee.org/ontology/XAO?iri=http://purl.obolibrary.org/obo/XAO_0000142

[2022-06-07 09:14] matentzn commented on #2453
Yes add for now and see what happens.

[2022-06-08 13:38] balhoff commented on #2514
Fixing this issue will contribute to turning the Ubergraph source coherency check green: https://github.com/INCATools/ubergraph#coherency-checks

[2022-06-09 06:51] #2439 closed

[2022-06-09 09:23] dosumis commented on #2493
I think the key question is whether [reproductive system](https://github.com/obophenotype/uberon/issues/2493) is broader than genitalia (we have terms for internal and external genitalia, but not the grouping term - genital system is the closest we have to that).

![image](https://user-images.githubusercontent.com/112839/172811481-6c1b09ab-9ee2-42d6-8143-48d3e7e8f515.png)

We have terms under repr

[2022-06-09 09:24] dosumis commented on #2493
I'd drop the broad synonyms recently added and make genital system and extact synonym of genitalia.  The 'reproductive system' broad synonym should go, as we shouldn't duplicate a superclass name as a synonym.

[2022-06-09 10:55] bvarner-ebi commented on #2493
Proposal:

[ ] change label of UBERON:3011048 ‘genital system’ to ‘genitalia’
[ ] change the definition of UBERON:3011048 from:

“Anatomical system that has as its parts the organs concerned with reproduction, especially the external genital organs.”
to
“An organ from the group of internal or external organs that are part of the reproductive system”

[ ] make the following subclasses of UBERON:301

[2022-06-09 14:36] bvarner-ebi commented on #2493
@balhoff, @dosumis, while we figure out the bigger solution, should I for now remove

`'part of' some 'genital system' `

from 'gonad' to deal with the ubergraph update issue?

[2022-06-09 14:43] balhoff commented on #2493
I think so, and after you merge such a commit, I can run the Ubergraph coherency check (https://github.com/INCATools/ubergraph/actions/workflows/test-merged.yaml) to catch anything else before an actual Uberon release.

[2022-06-09 14:53] dosumis commented on #2493
That should work as a temp fix.

[2022-06-10 15:48] bvarner-ebi commented on #2493
What do you mean by "this branch," please?

[2022-06-10 15:52] dosumis commented on #2493
At least 'reproductive organ' and anything under it (post reasoning) right now that has capable_of reproduction

[2022-06-10 22:12] cmungall commented on #2493
We have this issue from a while ago (auto-closed):

- #547

[2022-06-12 06:15] shawntanzk commented on #2498
I'll be closing this ticket, but please feel free to reopne if there is any other concerns. Thanks

[2022-06-12 06:15] #2498 closed

[2022-06-12 06:17] shawntanzk commented on #2515
I'll place this in the docs board, happy to work on it but need more guidance, will discuss in next docs meeting

[2022-06-13 12:00] shawntanzk opened #2524 "[NTR] superior paraolivary nucleus"
**Preferred term label:**
superior paraolivary nucleus

**Synonyms**
SPON [DOI:10.1093/oxfordhb/9780190849061.013.11]

**Definition (free text, please give PubMed ID)**
A structure embedded in the superior olivary complex that is driven by input pathways from the octopus cells in the cochlear nucleus and the neurons of the medial nucleus of the trapezoid body [DOI:10.1093/oxfordhb/9780190849061.01

[2022-06-13 18:00] balhoff commented on #2349
For (2) It might be useful to explicitly mark the small set of Uberon pan-life terms. Then add 'present in taxon' statements to them forcing their applicability in various taxa.

[2022-06-14 07:07] shawntanzk opened #2526 "Switching mba/dmba to uberon bridges"
Currently on building release there are 3 unsats from xrefs:
[code]
These are from our efforts to add new terms as we are re-doing mba and dmba bridge to uberon to be more accurate: https://github.com/obophenotype/uberon/pull/2484

I'm not 100% sure what is causing the unsats but I guess this is as good as anytime to switch over the bridge files

We have generated new bridges that are manually cur

[2022-06-14 07:16] shawntanzk commented on #2526
ps if we want a release out before we can get to this, I'm also happy to remove those xrefs - given the end goal will be to use the new bridge files anyway

[2022-06-14 09:36] gouttegd commented on #2526
Probably won't have a look at that until next week, so if a release needs to be done maybe you could indeed just remove the offending xrefs for now.

Longer term, I'd really like to avoid accumulating different ad-hoc solutions to deal with/generate bridge files. There's already the FBbt bridge files that are treated differently from all the others (since I used them to start testing SSSOM). I'd l

[2022-06-14 09:43] shawntanzk commented on #2526
I like the idea of a generalised ODK-managed solution for bridges with good documentation of how to handle it etc. Happy to remove the 3 offending xrefs for now for release purposes.

[2022-06-14 09:55] gouttegd commented on #2526
I already kind of now how I'd want to do it, but we absolutely need to solve at least point 2) in my previous comment: we need a way to generate the bridging axiom from SSSOM. For now with FBbt I'm doing that with a AWK script, which is a hideous hack that nobody wants -- we need a method that is at the very least approved by the SSSOM folks, and ideally a method that is officially supported by th

[2022-06-14 09:59] shawntanzk commented on #2526
I wonder if everything goes through SSSOM can we still have more expressive bridges? Currently we are using a ROBOT template because we need some to be equivalent, some to be subclass part of. And of course species specificity but I guess that part will be solved.

[2022-06-14 10:04] gouttegd commented on #2526
Maybe not with SSSOM. I'm pretty sure one of the “S” stands for “simple”, after all...

But we can still have a dual solution with SSSOM-generated simple bridges, and custom, template-based bridges for more complex situations. But even for those, I'd like them to be managed by the ODK in a standardized fashion, so that we don't end up with 10 custom solutions if 10 different people need complex br

[2022-06-14 10:10] gouttegd commented on #2526
Disabling the xref-based bridge generation for a particular ontology should only require removing the corresponding treat-xref-as statement in uberon-edit.obo.

[2022-06-14 11:10] paulacalipho opened #2528 "iliac vein smooth muscle tissue"
**Preferred term label:** iliac vein smooth muscle tissue
**Synonyms** muscle of iliac vein
**Definition** A portion of smooth muscle tissue that is part of an iliac vein
**Parent term**
iliac vein UBERON:0005610
venous system smooth muscle UBERON:0004696
**Your nano-attribution (ORCID)** 0000-0002-0819-0473

[2022-06-14 11:51] shawntanzk commented on #2528
@bvarner-ebi - ive assigned you to this ticket, hope you don't mind, lmk if it is out of scope for you. Thanks

[2022-06-14 12:01] bvarner-ebi commented on #2528
This term is originally from #2392 and will be used to train @paulacalipho on adding new terms to Uberon.

[2022-06-14 12:22] shawntanzk commented on #2526
ok realised I shouldnt treat bridge like a normal component, cause it ends up bringing in all the mba and dmba terms and dangling classes. Not 100% sure how to handle it but I'm going to make a draft PR to start and maybe we can start figuring out what the best way to handle it from there is

[2022-06-14 12:45] gouttegd commented on #2526
I'd think that it should be *provided* (to consumers of the ontology) as a component but not *imported* in the ontology itself?

The current bridges are never imported in Uberon itself. We generate them, provide them, and then it's up to whoever needs a merged ontology to use them (e.g. for Ubergrap or SCAO).

[2022-06-14 15:23] balhoff opened #2531 "Some imports have missing ontology IRI"
Some files are imported into uberon-edit.obo, but don't have an ontology IRI that matches the import name (they have no ontology IRI). The result is that their contents are not properly imported into the ontology closure in Protégé:

- `http://purl.obolibrary.org/obo/uberon/components/hra_subset.owl`
- `http://purl.obolibrary.org/obo/uberon/components/vasculature_class.owl`

[2022-06-14 15:26] shawntanzk commented on #2531
@anitacaron - I assume this is related to https://github.com/obophenotype/uberon/pull/2527
I'll assign this to you

[2022-06-14 15:30] anitacaron commented on #2531
Yes, I'm fixing the OWL files.

[2022-06-14 16:07] balhoff opened #2532 "ncbitaxon_import.owl target misses taxa"
Running `make imports/ncbitaxon_import.owl` results in losing taxa that are only referenced in `never_in_taxon` annotations (if I'm interpreting the situation correctly). I assume this is because these assertions aren't expanded prior to running `robot extract`. This may be easier to deal with after we can use `robot expand`, but if there is an easy solution in the meantime that would be great.

[2022-06-14 17:37] balhoff opened #2533 "taxon disjoints missing from locally built uberon.owl"
Please correct me if I'm missing it, but as far as I can tell, the Uberon build doesn't use `taxslim-disjoint-over-in-taxon.owl` anywhere, or generate the axioms it contains, like:

[code]

Without these axioms, taxon constraints don't do anything in OWL EL. I would expect to find these GCIs in the final Uberon product. I'm running into this while trying to test some edits for #2349.

[2022-06-14 18:01] balhoff commented on #2533
I do see a disjoint axiom like that in #2367; can some explain where they're used?

[2022-06-14 18:13] balhoff commented on #2533
Now I see that these axioms are present in the released `ext.owl`, but not the version I built locally by running `make ext.owl`. What am I doing wrong?

[2022-06-14 20:00] balhoff commented on #2349
Here's a draft set for a generic/pan-life subset:

- [anatomical entity](http://purl.obolibrary.org/obo/UBERON_0001062)
  - [anatomical cluster](http://purl.obolibrary.org/obo/UBERON_0000477)
  - [immaterial anatomical entity](http://purl.obolibrary.org/obo/UBERON_0000466)
    - [anatomical point](http://purl.obolibrary.org/obo/UBERON_0006983)
    - [anatomical space](http://purl.obolibrary.org/ob

[2022-06-15 08:06] emquardokus commented on #2035
Many of these uberon IDs are not findable currently, not even under obsolete terms--any idea where they went?
There seem to be new uberon IDs now instead.
<img width="765" alt="Screen Shot 2022-06-15 at 4 06 07 AM" src="https://user-images.githubusercontent.com/47257000/173775913-5ec56372-993b-4488-9cae-21e4f25e879f.png">

[2022-06-16 09:02] anitacaron commented on #2035
@emquardokus I think you can use the correct uberon id column instead of the uberon id-not findable column

[2022-06-16 09:24] emquardokus commented on #2035
@anitacaron yes, that's what we had to do, but I wanted to mention this because Chris had looked up the "not findable" ones months ago and at that time they WERE FINDABLE... so I'm curious what happened to them since they literally disappeared.  This is not normal. Usually if something has be "obsoleted" it still exists as something you can find in the obsoleted files.  I'm concerned that these ju

[2022-06-16 09:30] dosumis commented on #2035
It is possible for IDs to be unstable pre-release If created within a release cycle, but If we are losing IDs in public releases, this is very serious.  Should be caught during release process. We need to investigate and patch ASAP.

[2022-06-16 12:02] #2493 closed

[2022-06-16 13:37] emquardokus commented on #2035
I wonder what source Chris was using when he pulled the original list he provided using ROBOT?

[2022-06-16 13:58] matentzn commented on #2035
I have pinged Chris on slack, but we should _never_ curate data off a comment in an issue :) @anitacaron has convinced me to ignore Chris comment. In any case, for you @emquardokus the important thing is to use the actual ids (correct ids). That wont change no matter what.

[2022-06-16 14:52] cmungall commented on #2035
Apologies for any confusion I caused in my comment from last year. I believe I was chaining together a series of legacy perl scripts when I made that list. You can ignore the IDs

[2022-06-16 14:55] shawntanzk commented on #2515
High risk in:
1) reclassifying anything 2 levels from leaf
2) taxon constraints
Low risk:
1) annotations
2) leaf nodes

curators:
two main thing:
1) editing terms that might rearrange graph <- needs Chris or David to review
2) adding or editing what are usually leaf nodes <- other curators can review

Cleaning up assertions that are not needed -> should be routine

SOP:
in contributing.md
State cl

[2022-06-16 15:01] shawntanzk commented on #2515
Include in uberon SOP - around a 5 step guide on how to review a PR -> things that cannot be caught by CI should be reviewed by human

[2022-06-16 15:01] shawntanzk opened #2536 "Implement comprehensive test before release"
Person that is responsible for release should run a comprehensive set of test (we can turn on checks/CI that we turned off)
That way we get informed before release rather than after
This should be a single command (following what Jim has done)

[2022-06-16 15:22] shawntanzk opened #2537 "Move mba/dmba bridges template build to uberon"
Related to #2529
Currently I've set uberon to do an ugly download from a branch which is dangerous
I'd rather have the whole build process done in uberon and we curate the template that makes the bridge in uberon rather that aba_uberon repo.
aba_uberon repo should then download the bridge from uberon instead.
Currently way is a temp fix to get through but defs not sustainable

[2022-06-16 16:22] matentzn commented on #2536
@balhoff I would like to just copy paste your QC  pipeline into the Uberon build process. Can you point me to the makefile again?

[2022-06-16 16:22] matentzn commented on #2536
(the one you do the merge of the various master branches)

[2022-06-16 16:57] balhoff commented on #2536
It's here: https://github.com/INCATools/ubergraph/blob/master/.github/workflows/test-merged.yaml

It uses https://github.com/INCATools/ubergraph/blob/master/ci/test-merged.sh

[2022-06-17 01:28] #2524 closed

[2022-06-17 05:11] shawntanzk commented on #2419
@bvarner-ebi given what you mentioned ytd, can we close this ticket? (trying to clean up my personal to-do board a bit)

[2022-06-17 05:11] shawntanzk commented on #2419
@bvarner-ebi given what you mentioned ytd, can we close this ticket? (trying to clean up my personal to-do board a bit)

[2022-06-17 05:42] matentzn commented on #2536
So this actually runs in github ci.. tbh, wouldn't it be better if we ran that exact action? Otherwise you have to remember to inform us :D

I think actions cannot send emails (I went through that rabbit whole once, so I am not going there again), but could we have it create an issue on Ubergraph (or anywhere else) that tags the entire tech team (@shawntanzk @ubyndr @anitacaron and @matentzn)?

We

[2022-06-17 07:58] #2419 closed

[2022-06-17 09:07] matentzn opened #2539 "Add the top 3-5 PRs / issues that need DOS attention or CJM attention"
(Chris, David please do not read this issue, not of your business 😛 )

@shawntanzk @rays22 @anitacaron I would like to try the following

We have CJM (Chris Mungall) and DOS (David) high priority boards. There should never be more than 5 priority issues on it.

- [CJM](https://github.com/orgs/obophenotype/projects/12/views/1)
- [DOS](https://github.com/orgs/obophenotype/projects/13/views/1)

Of al

[2022-06-17 09:18] anitacaron commented on #2539
Done

[2022-06-17 09:46] matentzn commented on #2539
Thanks @anitacaron. @shawntanzk @rays22 also both add your top3 issues as well, we will prioritise during tech call.

[2022-06-17 12:54] shawntanzk commented on #2539
top 3 personal or repo tickets lol

[2022-06-17 12:58] matentzn commented on #2539
Mix. Top 2 personal Top 1 repo. The goal is to keep PRs open no longer than 3 weeks..

[2022-06-17 12:58] matentzn commented on #2539
(and get feedback on key issues relevant to our projects)

[2022-06-17 12:58] balhoff commented on #2536
I will keep running it in Ubergraph, since integration is the focus for that repo, but you could run it elsewhere, especially if you want to trigger by commit instead of the daily schedule. Creating an issue is a good idea, although it runs every day. How should we stop it from making a new issue every day?

[2022-06-17 13:37] matentzn commented on #2536
Of course it should only create an issue if it fails!

[2022-06-17 13:37] matentzn commented on #2536
(comment on an issue if one already exists)

[2022-06-17 13:39] matentzn commented on #2536
I think if it runs daily, and it just comments on an issue tagging us all, than we will have done the world a big service. I would love extending that to other ontologies moving forward.

[2022-06-20 05:12] shawntanzk commented on #1419
Given the direction we are heading in the aba to uberon mappings (where they are going to be semi manually curated as custom artifacts), I will close this ticket. Please reopen if there is anything here that still needs solving

[2022-06-20 05:12] #1419 closed

[2022-06-20 09:18] matentzn commented on #2422
Same is true for subsets/life-stages-minimal.tsv. The problem is that GH (the github client does not allow uploading empty files).

[2022-06-20 09:55] shawntanzk opened #2544 "Add Document for release procedure"
This is a ticket to put down steps needed for documentation for uberon releases
@shawntanzk will make it prettier and push it to the docs later:

1) Install GH: https://cli.github.com/manual/installation
2) Run the release his will build all files and copy them to the correct place. `sh run.sh make uberon DEPLOY_GH=false`
3) Deploy release on GitHub (no sh run.sh) `make deploy_release GHVERSION="v

[2022-06-20 13:10] shawntanzk commented on #2539
In Tech call we will reviewer both CJM and DOS board and pick top 3 topics. @matentzn will convey to them for now, but eventually they should just pick this up

[2022-06-20 13:10] #2539 closed

[2022-06-20 13:24] matentzn commented on #2345
Deprioritised during Tech call 20 June 2022.

[2022-06-20 14:00] shawntanzk opened #2545 "Replace alt_id annotation with owl:deprecated/replaced_by?"
@cmungall
fears of breaking GO pipeline?

[2022-06-20 14:17] matentzn commented on #2545
What is the risk of applying this change exactly? Seems alt_id and replaced_by will lead to the exact same result?

[2022-06-20 14:27] shawntanzk commented on #2545
I think this is my concern: https://github.com/obophenotype/cell-ontology/issues/1359#issuecomment-1036424834
and David's comment here: https://github.com/obophenotype/cell-ontology/issues/1359#issuecomment-1037178350 is why I add alt_id for merge in CL now

[2022-06-21 06:15] #2528 closed

[2022-06-21 08:19] anitacaron commented on #2531
Since #2527 was merged, I'll close this issue.

[2022-06-21 08:19] #2531 closed

[2022-06-21 08:23] matentzn commented on #2545
Hmm if it is true qhat @balhoff says and OWLAPI actually handles alt_id (which I cant confirm) then I think some other issue happened at some point when we mirgated cl-edit.obo to cl-edit.owl.

In any case, it is simply wrong now `CL:0000274` which is an alt_id of some class is _not_ deprecated.

Can we:

1. identify all class with alt_id
2. add them as "deprecated" to cl-edit.owl
3. add a replace

[2022-06-21 09:24] shawntanzk commented on #2526
completed, however, still need to move the whole process to uberon - see ticket https://github.com/obophenotype/uberon/issues/2537

[2022-06-21 09:24] #2526 closed

[2022-06-21 09:56] anitacaron commented on #2318
No, because we still don't have a new Protegé release.

[2022-06-21 09:57] shawntanzk commented on #2318
oh right >.< fixed there but waiting for release, got it! thanks :)

[2022-06-21 10:02] anitacaron commented on #2318
You can unassign yourself in this if you want. I have already created the PR, just waiting for the release.

[2022-06-23 09:13] shawntanzk commented on #2353
I was wondering if http://purl.obolibrary.org/obo/UBERON_0005083 'nipple sheath' would work?
This is the definition: A circular ingrowth of the epidermis around the region of the mammary sprout
and the logical axioms are:
<img width="775" alt="Screenshot 2022-06-23 at 17 11 04" src="https://user-images.githubusercontent.com/76212760/175262926-60eebc69-47b6-41f5-9587-744911b8c609.png">
Given a nipp

[2022-06-23 09:24] stheil15 commented on #2353
The "nipple sheath" is a structure in formation as referred by the "mammary sprout" term.

The teat skin can be defined in this [figure](https://www.semanticscholar.org/paper/The-bovine-teat-canal%3A-Its-role-in-pathogen-and-of-Smolenski/c85c749158d33d751e115cf920f6e56e635212be/figure/0) and publication.

[2022-06-23 09:34] shawntanzk commented on #2353
I'm trying to understand the difference between nipple sheath and teat skin so we can model this properly:
1) Is it right to say that nipple skin = teat skin (one being in human, one in animals?)
2) Is the nipple sheath part of the nipple skin?

While the figure is useful, we still would need a textual definition and a logical definition that matches. If I were to create a term, it would be:

Labe

[2022-06-23 09:47] stheil15 commented on #2353
1. I would say it is right. Even if i found it weird, as in french teat = trayon and it really refers to animals that you milk (traire in french).
2. I do not really know if "nipple sheath" is part of nipple skin. In the way i understand it, refers to a structure before the formation of the teat.

I agree with the term definition but I do not understand why it places nipple sheath as a nipple skin

[2022-06-23 10:03] shawntanzk commented on #2353
Current nipple sheath has the following logical axioms:
<img width="775" alt="Screenshot 2022-06-23 at 17 11 04" src="https://user-images.githubusercontent.com/76212760/175262926-60eebc69-47b6-41f5-9587-744911b8c609.png">
If I make an equivalent class (which makes sense given the name)
"Skin epidermis and ("part of" some nipple)" for nipple skin - a reasoner would reason that nipple sheath is a ty

[2022-06-23 15:15] RDruzinsky commented on #2353
Is the difference between a nipple and a teat made clear anywhere in the
ontology? The definition of nipple (
http://purl.obolibrary.org/obo/UBERON_0002030) is "Projection of skin
containing the outlets for 15-20 lactiferous ducts arranged cylindrically
around the tip.) This definition is 1) anthropocentric, because the number
of ducts varies across species, and 2) is not the definition of a teat.

[2022-06-23 16:25] fbastian commented on #2422
It would be great if it could be fixed before the start of the ISMB conference (July 10), since this file is explicitely linked in an accepted short paper.

[2022-06-24 03:43] shawntanzk commented on #2353
It isn't, teat isnt a term in the ontology - it is currently a narrow synonym of nipple (which makes sense after what you mentioned). I think perhaps it might be sensible to create a new term "teat" and define the distinction in the ontology.
I am happy to add it to the ontology, however, I do not have the capacity to really read into this (this is very far out of scope for me/my funding - mostly

[2022-06-24 21:34] emquardokus commented on #2445
@shawntanzk @bvarner-ebi @dosumis @addiehl
Channels from and to have very specific meanings and I'm not sure why it was ever chosen with respect to blood.
More appropriately at least for blood would be to use supplies because it is directional. Flow of blood in uberon has been modeled as supplies and drains for an organ.
It seems like it could be modeled in one direction (supplies) in which it act

[2022-06-27 10:54] #2392 closed

[2022-06-27 13:23] shawntanzk opened #2552 "Clean up owltools expand (if its not being used)"
We should clean up uberon.makefile if owltools expand is not needed
should check before cleaning up though - not 100% sure if its still being used

[2022-06-27 13:57] matentzn commented on #2533
This is so weird. In ext.owl they must be coming in from through CL or something..

Can you summarise the functional problem with these axioms missing? I think that the for the subset generation, which is the place using the taxon constraints are used in Uberon, some other owltools based step is invoked after the fact, but the disjointness axioms are not shipped out.. From your understanding, shou

[2022-06-27 17:23] bvarner-ebi commented on #2421
@ddooley, can you advise what is the ultimate goal that would like to solve? By making disjoint as you mention above, there is concern this would cause downstream issues. There are concerns with scope related to food (FoodOn) vs anatomy terms (Uberon).

[2022-06-27 17:34] anitacaron commented on #2532
Related to https://github.com/obophenotype/uberon/issues/2382

[2022-06-27 17:34] bvarner-ebi commented on #2218
Initial thoughts from @addiehl: need to address property range problems. How are spaces handled as material, anatomical entities? May be a relations ontology issue, not something that can be solved just in Uberon.

[2022-06-27 17:39] bvarner-ebi commented on #2301
@addiehl recommends that 'processual entity' should be merged with 'process' since they are likely representing the same thing and both may be present accidentally.

[2022-06-27 18:08] ddooley commented on #2421
I think it's a basic quality control check - a distinction between a whole, and a proper part.  We need to know which references point to whole organisms, and which do not. One should not be confused with the other, so this would trip an error if that happened in UBERON or someone's reuse of it.

However, do things get complicated if, as Chris told me, a reference to an UBERON part, such as heart,

[2022-06-27 19:11] cmungall commented on #2421
Let's keep this issues separate

This issue is about the request to make substance and organism disjoint. This is completely reasonable and straightforward. I am surprised we don't have this already, actually.

I don't think there are any concerns. I can't think of any exceptions. there are no organisms made of gas, liquid or other substances created by the body. even an ingested animal ceases at

[2022-06-27 19:17] cmungall commented on #1873
I think the most practical thing to do here is to treat mammary gland as including adnexa. As Paola says we already do this in part. Let's just be consistent.

[2022-06-27 23:42] cmungall commented on #2545
Apologies, this same issue exists in about a dozen different repos.

Some history. Back in 2014:

https://github.com/owlcs/owlapi/issues/317#issuecomment-67412550

I proposed:

[code]

This is not exactly what was implemented though. When going from obo to owl, the current OWLAPI implementation adds the redundant hasAlternativeId annotation.

This is truly redundant though. It can be removed and t

[2022-06-28 02:06] wdduncan commented on #2301
@bvarner-ebi Good. I agree with him. Somewhere else (not that it matters) I think I recommended the same as @addiehl

[2022-06-28 02:19] shawntanzk commented on #2301
As this is an upper ontology change - will need sign-off from @cmungall
Will bring it to his attention :) thanks!

[2022-06-28 06:11] shawntanzk commented on #1873
probably my ignorance on non-brain related biology here, but I'm still not 100% sure what the conclusion means in terms of something actionable - does this mean that I should make nipple part_of mammary gland?

[2022-06-28 09:07] paola-scibite commented on #1873
@shawntanzk

Based on Chris' comment above, I believe so. Please see my rationale summarised at the bottom of this previous comment of mine: https://github.com/obophenotype/uberon/issues/1873#issuecomment-1078820035
I'd also add a 'see also' AP pointing to this ticket please. Thanks!

[2022-06-28 10:45] bvarner-ebi commented on #1873
From a clinical perspective, I agree with this statement and do not consider a nipple to be part of the gland. One may also consider supernumerary nipples that develop without (polythelia) or with (polymastia) accessory glands. A nipple does not have to exist as part of a mammary gland.

On the broader discussion...

The [nipple](http://purl.obolibrary.org/obo/UBERON_0002030) is a "projection of s

[2022-06-28 20:44] wdahdul commented on #2417
Thanks for copying me (and apologies for the delay!). The terms ‘neck’ or ‘craniocervical’ or ‘cervical’ aren’t used in the fish comparative literature for the region behind the skull, and as far as I know, there is no generalized term for that region in fish anatomy. For example, the vertebrae directly behind the head in fishes are called ‘precaudal vertebrae’ meaning that they are anterior to th

[2022-06-29 05:58] shawntanzk opened #2555 "Release failing at life-stages-composite.owl"
Error:
[code]

[2022-06-29 10:43] #2555 closed

[2022-06-29 10:43] matentzn commented on #2555
You can try again now @shawntanzk

[2022-06-30 23:54] raymond91125 opened #2559 "is notochord an organ?"
**Uberon term**
UBERON:0002328 notochord
UBERON:0000062 organ

**Suggested revision and reasons**
Notochord is_a organ. see PMID:15890825 Structure and function of the notochord: an essential organ for chordate development.
https://github.com/geneontology/go-ontology/issues/22936

[2022-07-01 00:10] raymond91125 opened #2560 "nipple should be a part of mammary gland"
**Uberon term**
nipple UBERON:0002030
mammary gland UBERON:0001911

**Suggested revision and reasons**
nipple part_of mammary gland
This relationship is implied in Wikipedia references, and https://biologydictionary.net/mammary-glands/, even in male.
https://github.com/geneontology/go-ontology/issues/22941

[2022-07-01 01:26] shawntanzk commented on #1873
From https://github.com/obophenotype/uberon/issues/2560 @raymond91125

Uberon term
nipple UBERON:0002030
mammary gland UBERON:0001911

Suggested revision and reasons
nipple part_of mammary gland
This relationship is implied in Wikipedia references, and https://biologydictionary.net/mammary-glands/, even in male.
https://github.com/geneontology/go-ontology/issues/22941

[2022-07-01 01:26] shawntanzk commented on #2560
Thanks for bringing this up, we are already discussing this over at this ticket: https://github.com/obophenotype/uberon/issues/1873
I have copied your comment over and will close this ticket

[2022-07-01 01:26] #2560 closed

[2022-07-01 01:30] shawntanzk commented on #1873
PS I have not made the change as @bvarner-ebi has brought up some points that I think need to addressed. Might need to wait till next uberon meeting to discuss this properly and make a final call on it?

[2022-07-01 04:49] raymond91125 commented on #1873
Ah, did not see the thread. Thanks. @shawntanzk

[2022-07-05 19:11] anitacaron commented on #2545
It seems that, in OBO format, the class A doesn't show in the file, but if I open it in Protegé, I can find the class with the same annotations here.

I tested it in a text editor. I added a class with the annotations. Then I opened it in Protegé, and I saw some more annotations.

<img width="310" alt="Screenshot 2022-07-05 at 19 02 18" src="https://user-images.githubusercontent.com/2208124/177396

[2022-07-05 22:45] raymond91125 opened #2563 "Tighten taxon constraints for skeletal muscle organ and somatic muscle"
**Uberon term**
UBERON:0014892 skeletal muscle organ
UBERON:0014895 somatic muscle

**Suggested revision and reasons**
UBERON:0014892 skeletal muscle organ 'only in taxon' some Eumetazoa
Definition: "A muscle organ that consists of skeletal muscle tissue ensheathed in epimysium, that develops from myotome and that is innervated by some somatic motor neuron. Skeletal muscles are typically attached

[2022-07-06 09:31] stheil15 commented on #2353
Thanks everybody for the effort for defining this term.
@shawntanzk I did not expect this to be this complicated either.

@RDruzinsky definition is indeed a good starting point to define "teat" term. But I'm suprized that I can't find a clear definition since teat placement and size are a strong criteria of selection for cows, goats, ...

For the taxonomic restriction, I have found two mammals tha

[2022-07-06 11:31] matentzn commented on #2545
Lovely 🗡️

[code]

These seem perfectly legal annotations to me.. That the OBO parser does not seem to agree, is unfortunate!

In any case, we have no duty to prepare the perfect OBO file, just the perfect OWL file. So I would want to see all the correct axioms in the OWL file, at least, whatever the OBO format does is secondary.

[2022-07-06 14:58] cmungall commented on #2559
Thanks!

No objections, but just an observation. If notochord is an organ, why not also the sum total of nucleus pulposus (its successor) in the spinal cord, that has a boundary, and a function (distributing hydraulic pressure)

[2022-07-06 15:12] shawntanzk commented on #2559
Thanks @cmungall - will merge the PR (realised that I forgot to put you as a reviewer there - thankfully you saw this, if not that would have sat there awhile) I will make another ticket on the nuclei pulposus

[2022-07-06 15:12] shawntanzk opened #2565 "nucleus pulposus in the spinal cord should be an organ"
From @cmungall

"If notochord is an organ, why not also the sum total of nucleus pulposus (its successor) in the spinal cord, that has a boundary, and a function (distributing hydraulic pressure)"

see https://github.com/obophenotype/uberon/issues/2559

[2022-07-06 19:09] cmungall commented on #2417
unfortunately tooling support for taxon GCIs are not great. This means people coming to OLS etc with mammals in mind looking under neck would not see jugular vein.

[2022-07-07 07:58] shawntanzk opened #2566 "[NTR] cerebellum vermis lobule IV-V"
Follow patterns in http://purl.obolibrary.org/obo/UBERON_0004070 child nodes
Needed for ABA-uberon mapping
@patrick-lloyd-ray - I assume this term is an intermediary? Given atlas has defined boundaries, im not 10% sure how to define this in the ontology as uberon already has cerebellum vermis lobule IV and V - Is mapping those to uberon terms alright then? should it be a subclass instead of equiva

[2022-07-08 08:35] #2565 closed

[2022-07-08 08:54] shawntanzk commented on #2537
Fixed by changing it to master branch - we will still do build in ABA_Uberon repo

[2022-07-08 08:54] #2537 closed

[2022-07-11 09:31] #2478 closed

[2022-07-11 13:42] shawntanzk commented on #1959
no one will deal with this ticket until there is pressure to do so.

[2022-07-11 14:00] shawntanzk commented on #2300
Start with https://api.triplydb.com/s/--ywm2QLQ

[2022-07-11 19:41] balhoff commented on #2382
@shawntanzk https://github.com/oborel/obo-relations/pull/616

To make that work, we need to merge that PR, make an RO release, refresh Uberon RO import, add `expand` into Uberon ROBOT chains somewhere. I think we will want to run all expansions for QC, but suppress 'present in taxon' for release output (there is an argument for that).

[2022-07-12 06:58] #2149 closed

[2022-07-12 17:52] allenbaron opened #2569 "Relationship of gallbladder terms is inconsistent"
## Uberon terms
1. gallbladder (UBERON:0002423)
2. gallbladder primordium (UBERON:0006242)

## Suggested revision
Make `gallbladder` and `gallbladder primordium` subclasses of `biliary system` (UBERON:0002294) instead of `hepatobiliary system` (UBERON:0002423) and `biliary tree` (UBERON:0001173), respectively.

### Current relationships
![image](https://user-images.githubusercontent.com/21225409/1

[2022-07-12 20:10] balhoff commented on #2533
I think the taxon constraints should be working for any DL coherency check, not just to generate subsets. If you don't have axioms like `('in taxon' some X) DisjointWith ('in taxon' some Y)`, then there is no way to infer an unsatisfiable class based on taxon constraints (using OWL EL). Personally I think the taxon disjointness axioms should be in the release. They're definitely needed for the Pro

[2022-07-13 07:51] shawntanzk commented on #2569
Currently 'gall bladder' has the axioms:
`'contributes to morphology of' some 'biliary tree'` & `'develops from' some 'gall bladder primordium'`
But because these are not part_of relations, they don't show on OLS

biliary system has the equiv class axiom
[code]
biliary tree has the equiv class axiom
[code]

I think that gall bladder is capable of both those processes, so having gall bladder be par

[2022-07-13 08:10] dosumis commented on #2569
Perhaps better under 'billary system' as suggested by @allenbaron

Agree primordium should be removed from partonomy under tree

(ASIDE:  In some cases we do use a more specialised 'part of' relationship - for these it is worth discussing whether we should materialised 'part of' in the release process.  But in this case we could only infer overlaps.

![image](https://user-images.githubusercontent.

[2022-07-13 12:57] matentzn commented on #2533
@cmungall Do you see any reason _not_ to release the unfolded taxon constraints in Uberon?

[2022-07-18 09:20] anitacaron commented on #2382
- [ ] merge that PR
- [ ] make a RO release
- [ ] refresh Uberon RO import
- [ ] update to ODK v1.3.1
- [ ] add expand into Uberon ROBOT chains somewhere

[2022-07-18 13:03] dosumis commented on #2495
This is an old one! It's been discussed on multiple tickets in the past - some of which have proposed solutions. My take.
  * multi cell-part structure would work - or we could just generalise to the parent class (I'm sure very many ganglia also have whole cells).  I really think granularity assertions belong on more specific terms, especially in cross-species ontologies - but that's something to

[2022-07-18 13:48] #2352 closed

[2022-07-18 15:00] ddooley commented on #2349
I presume this will help resolve that right now CARO terms "anatomical entity" and "anatomical structure" and "material anatomical entity" are in UBERON and have duplicate UBERON terms?  I have an automated ontofox import script that brings in both terms, and its a hassle to manually drop the CARO ones to reduce confusion.

[2022-07-18 15:02] balhoff commented on #2349
@ddooley I am going to propose that we obsolete the CARO ontology entirely, and maintain the pan-life layer at the top of Uberon. Mainly just to reduce confusion and facilitate maintenance. Any thoughts on that idea?

[2022-07-18 15:46] ddooley commented on #2349
Sounds great to me!

[2022-07-18 16:02] emquardokus opened #2572 "Revise pancreas organ definition--> uses GO, which needs update"
**Uberon term**
pancreas UBERON:0001264 http://purl.obolibrary.org/obo/UBERON_0001264

**Suggested revision of textual definition**
Our HuBMAP pancreas expert emailed this morning and asked if the definition could be revised to correct a mistake in the definition that comes from GO.

GO definition: "An endoderm derived structure that produces precursors of digestive enzymes and blood glucose regul

[2022-07-18 17:15] megbalk opened #2573 "hormion"
**Preferred term label:**
hormion

**Synonyms**
vomerine notch

**Definition (free text, please give PubMed ID)**
aboral border of the vomer bone along the median plane, where the vomer bone and sphenoid bones meet.

database_xref: ISBN: 9780873659505

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
inheres in some (anterior part of some vomer)
zone of bone organ
mesoderm-derived

[2022-07-19 20:38] megbalk commented on #2573
@RDruzinsky how about:
Craniometric point along the median plane at the ventral (inferior in humans) end of the suture
of the vomer and sphenoid bones.

we want to specify median plane as to not have it confused with the other two more aboral points on either side.

(see this [image](http://locatelambda.org/wp-content/uploads/2018/02/hormion.jpg))

[2022-07-19 21:30] RDruzinsky commented on #2573
Sounds good to me.

On Tue, Jul 19, 2022, 3:38 PM Meghan Balk ***@***.***> wrote:

[2022-07-20 15:48] megbalk commented on #2573
there isn't an "anterior" term in UBERON, so I changed "inheres in some (anterior part of some vomer)" to "'part of' some 'vomer'"

[2022-07-20 16:26] shawntanzk commented on #2573
jsut a heads up (not fully following this discussion, just vaguely saw things that might use anterior_to or ventral_to in complex axioms) be careful with nested axioms in uberon yeah - if I rmbr right, OBO format cant hand nested expressions

[2022-07-20 18:47] RDruzinsky commented on #2573
Aboral is not the proper term for this definition. Also, this is a point in
space where two bones meet, so I don't think that inheres in some vomer is
correct, either.

On Wed, Jul 20, 2022, 11:50 AM Meghan Balk ***@***.***> wrote:

[2022-07-20 20:25] RDruzinsky commented on #2573
I like this better.

On Wed, Jul 20, 2022, 3:17 PM Meghan Balk ***@***.***> wrote:

[2022-07-20 20:57] megbalk opened #2577 "sphenovomerine suture"
**Preferred term label:**
sphenovomerine suture

**Synonyms**

**Definition (free text, please give PubMed ID)**
Articulation of sphenoid bone with alae of vomer forms a schindylesis type of joint.
database_xref: DOI: 10.1097/SCS.0000000000002945 | PMID: 27483100

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
EQ: 'facial suture' and (connects some vomer) and (connects some 'sph

[2022-07-20 20:58] megbalk commented on #2577
@RDruzinsky how does this look?

[2022-07-22 10:58] fbastian opened #2578 "Where are the composite subsets?"
Hi,

I try to find the composite-metazoan version of Uberon, but I don't see it. I need notably to access the composite life-stages.

* On [this page](http://obophenotype.github.io/uberon/combined_multispecies/) there is mention of a collected-eukaryote, but the link does not work
* And anyway I'm interested in the composite version, not the collected
* In the [subset folder](https://github.com/ob

[2022-07-22 11:00] shawntanzk commented on #2578
@matentzn - could you help, I'm guessing something to do with release now

[2022-07-22 13:59] shawntanzk commented on #2578
@fbastian have you looked into the version in our latest release of uberon? (https://github.com/obophenotype/uberon/releases/tag/v2022-06-30) - I've just checked and composite-metazoan is attached there :)

[2022-07-22 14:58] matentzn commented on #2578
Also note https://github.com/obophenotype/uberon/issues/2032

[2022-07-22 21:58] patrick-lloyd-ray commented on #2566
How about http://purl.obolibrary.org/obo/UBERON_0007763?

[2022-07-24 07:03] shawntanzk commented on #2229
@nicolevasilevsky given this is brain related, happy to look into it, you can remove yourself from assignee if you want :) thanks

[2022-07-25 17:48] bvarner-ebi commented on #2572
@emquardokus, I'll make the change in Uberon and create a ticket for the definition to be updated in GO as well.

[2022-07-26 09:30] bvarner-ebi commented on #2572
https://github.com/geneontology/go-ontology/issues/23777 has been submitted to update the text definition for the related GO term.

[2022-07-26 10:56] #2165 closed

[2022-07-26 10:56] #1450 closed

[2022-07-26 11:08] #2572 closed

[2022-07-26 22:40] nicolevasilevsky commented on #2229
great, thanks @shawntanzk!

[2022-07-27 19:33] megbalk opened #2581 "change muzzle synonym type"
**Uberon term**
Snout

**Synonym to be added**
muzzle

**broad/exact/narrow/related ?**
exact

[2022-07-30 05:36] jenjou opened #2584 "Recent changes with CL terms in composite-metazoan.owl?"
Hello,

The ENCODE Project has been using the composite-metazoan.owl files provided with each UBERON release. While investigating some unexpected changes we saw on our end while updating to the latest release in June, I found that the CL:0000738 term, which had a relationship with UBERON:0002405 as late as the October 2021 UBERON release, no longer has this relationship.

I then went to CL's repos

[2022-08-01 09:09] shawntanzk commented on #2584
Hi @jenjou thanks for bringing this up. This is indeed strange, we will need to do some investigation. @matentzn I've place this on the tech board and am assigning it to you for now. I checked and the axiom is in the edit file.

[2022-08-01 10:25] shawntanzk commented on #2229
Looks like you are right - I've just checked cross-reference for the Allen Mouse Brain Atlas and it points to "mediodorsal nucleus of the thalamus, medial part". I see that the cross-reference to Human Brain Atlas is to "mediodorsal nucleus of the thalamus, left, magnocellular division" - wonder if its a whole human vs mouse thing? In which case  @patrick-lloyd-ray might be able to weight in. Shou

[2022-08-01 13:15] matentzn commented on #1143
Looks like this was fixed, but if it was not, please reopen.

[2022-08-01 13:15] #1143 closed

[2022-08-01 13:24] matentzn commented on #2578
FYI, here is the collected version, (its a static file btw: https://github.com/obophenotype/uberon/blob/master/src/ontology/bridge/collected-eukaryote.owl).

I will close this issue now, as I don't see how to further act on it, but @fbastian please persist and reopen if you are still having issues.

[2022-08-01 13:24] #2578 closed

[2022-08-01 13:33] matentzn commented on #1813
There are 600 CL xrefs in ZFA, and only 1  in Uberon. This is probably some simple error in the Make pipeline.

[2022-08-01 14:29] jahilton commented on #1466
Just did a quick check of composite-metazoan.owl from the [June release](https://github.com/obophenotype/uberon/releases/tag/v2022-06-30) and the problem persists.
Lines 39685-39686 (under CL_0000134)
[code]

[2022-08-01 15:21] matentzn commented on #1466
@jahilton haha I did not expect you to answer on a 4 year old ticket, so that's a nice surprise. Ok I will add it to the next major round of review. Note that have frozen the composite PURL in time to a much older release because of a massive refactoring in October last year, but this here seems to preceded the migration.

- [ ] All SSAO's need to be base-ified before merging

[2022-08-01 16:29] helenamachado opened #2585 "cheek teeth"
**Preferred term label:**
cheek teeth

**Synonyms**
cheekteeth

**Definition (free text, please give PubMed ID)**

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**

**Your nano-attribution (ORCID)**

https://orcid.org/0000-0001-8415-4848

[2022-08-01 16:29] helenamachado commented on #2585
@megbalk

[2022-08-01 16:48] helenamachado opened #2586 "basion"
**Preferred term label:**
basion

**Synonyms**

**Definition (free text, please give PubMed ID)**

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**

**Your nano-attribution (ORCID)**

https://orcid.org/0000-0001-8415-4848

[2022-08-03 18:08] patrick-lloyd-ray commented on #2229
For mouse: 'magnocellular part of medial dorsal nucleus' and 'medial part of mediodorsal nucleus of the thalamus' (MDm) are the same according to MBA. Quick check outside of Allen MBA with Paxinos and Watson confirms this. So, I think it's safe to make them exact synonyms for rodents in UBERON.
<img width="481" alt="Screen Shot 2022-08-02 at 2 41 30 PM" src="https://user-images.githubusercontent.c

[2022-08-04 08:45] shawntanzk commented on #2229
Will add it as exact synonym and put the source as MBA :) Thanks @patrick-lloyd-ray

Also weird thing on this term - it seems it has its exact label as related synonym too lol:

![Screenshot 2022-08-04 at 09 41 54](https://user-images.githubusercontent.com/76212760/182803821-1768c09d-8d35-4956-8c70-1cbcf8424360.png)

[2022-08-04 17:28] patrick-lloyd-ray commented on #2229
I guess being self-identical makes it related, haha.

[2022-08-04 18:00] #2229 closed

[2022-08-08 09:02] #2569 closed

[2022-08-08 09:54] shawntanzk commented on #2566
can make it a subclass of http://purl.obolibrary.org/obo/UBERON_0007763, but would be nice to have an equivalent class esp since there is precedence for it (http://purl.obolibrary.org/obo/UBERON_0004079 & http://purl.obolibrary.org/obo/UBERON_0004077) - Ive already

[2022-08-08 13:40] shawntanzk commented on #1959
We have heard the composite metazoan tickets under the label 'composite' (might not be complete)
@ANiknejad @ jahilton @sbreiff @jenjou @fbastian - you had tickets related to this, could you write a single sentence describing your uses case and maybe even a link to the resource? that would really help us with this. Thanks!

[2022-08-08 13:41] shawntanzk opened #2588 "Fix composite-metazoan pipeline"
1) Look at https://github.com/obophenotype/uberon/issues/2584 -> how did CL relationship go missing? (CL variant that is imported in this process that is probably not the right one? or CL is not imported?)
2) https://github.com/obophenotype/uberon/issues/1466
3) ?

[2022-08-08 13:44] matentzn commented on #2495
@anitacaron to try using multi-cell part structure as a first attempt to solve the issue.
@anitacaron to make an issue about the extends_fiber_into proposal and disregard here

[2022-08-08 13:54] matentzn commented on #2382
http://robot.obolibrary.org/expand

[2022-08-08 15:12] anitacaron commented on #2495
I changed [UBERON:0000045 ganglion](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0000045) to be a subclass of [UBERON:0005162 multi-cell-part structure](https://www.ebi.ac.uk/ols/ontologies/uberon/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FUBERON_0005162), and there isn't any issue with `uberon-edit.obo`.

However, when I ran the tes

[2022-08-08 15:22] anitacaron opened #2589 "Replace the use of innervates for ganglia with `extends_fibers_into`"
* I think we could replace the use of innervates for ganglia with 'extends_fibers_into', preserving use of innervates for neuron projection bundles (tracts and nerves) - although I guess that might lose the sense that those fibers synapse to targets in the object of the relationship.

_Originally posted by @dosumis in https://github.com/obophenotype/uberon/issues/2495#issuecomment-1187364719_

[2022-08-08 15:50] matentzn commented on #1959
Yes, @shawntanzk, thank you! We are now elevating the composite files and any issues related to them to high alert! It would really help if we knew exactly which composite files (metazoan? owl or obo?) you are using and for what exact purpose!

[2022-08-08 18:19] jenjou commented on #1959
I'm not sure I can share the link to the file we generate using composite-metazoan.owl itself, but this is the script that we use to parse the file: https://github.com/ENCODE-DCC/encoded/blob/dev/src/encoded/commands/generate_ontology.py

To summarize it, we take composite-metazoan.owl (along with owls from a few other ontologies) and extract each term in the file. For each term, the script partia

[2022-08-08 19:39] cmungall commented on #2495
on reflection, this is a poor grouping class:

[code]

The over-eager logical definition does not match the textual definition, I am not even sure I understand the textual definition

As a grouping class it doesn't do much work, grouping only 3 regions:

* [] BFO:0000001 ! entity
    * [i] BFO:0000002 ! continuant
        * [i] BFO:0000004 ! independent continuant
            * [i] CARO:0030000 !

[2022-08-09 11:45] matentzn commented on #1959
Thank you very much, that is very helpful!

[2022-08-09 14:21] #2281 closed

[2022-08-09 15:00] anitacaron commented on #2532
I ran `make imports/ncbitaxon_import.owl` (both with and without `-B`) now in a new branch from master, and it doesn't result in deleting any taxa, only updating some synonyms.
Honestly, I tried the same at the time @balhoff opened the issue and had the same as him. Is it a new mystery to solve, or is it good something solved by itself?

[2022-08-09 15:14] gouttegd commented on #2031
The SSSOM file from FBbt has been updated and the most obvious issues have been fixed. Closing here, since the list in the first comment is no longer useful.

[2022-08-09 15:15] #2031 closed

[2022-08-09 15:23] anitacaron commented on #2552
Just to let you know and to be linked here in this issue, `expand-macros` is removing the annotation that is being expanded as noted [here](https://github.com/obophenotype/uberon/issues/2382). It's the only place that `expand-macros` is relevant in the `uberon.Makefile`.

[2022-08-09 20:05] patrick-lloyd-ray commented on #2566
Yes, sorry, I meant subclass of UBERON:0007763. I think mapping to those terms is fine.

[2022-08-09 21:32] #2391 closed

[2022-08-09 23:20] patrick-lloyd-ray commented on #2449
There was some discussion on this in our BDS meeting so I just wanted to track down some info and document it somewhere. Brodmann himself (in his 1909, ISBN:978-0387-26917-7), writes (p. 100):

That doesn't mean that everyone still uses Brodmann for these species nor that it's recommended to use them nor that UBERON would want to track all of these, but there are some researchers that still use Br

[2022-08-10 07:50] shawntanzk commented on #2566
will close this ticket then

[2022-08-10 07:50] #2566 closed

[2022-08-10 12:36] shawntanzk commented on #2384
@patrick-lloyd-ray - could you help me with the questions found in: https://docs.google.com/document/d/1DYiaGNa8KLZZRU7pxd9XL6YJwvXsap-JTs3g3tM4Meo/edit
Feel free to answer directly on the google docs, thanks :)

[2022-08-10 20:16] #2581 closed

[2022-08-11 01:01] patrick-lloyd-ray commented on #2384
Will do -- might take me a bit to get to them, but just ping me if anything needs immediate attention and I'll prioritize it.

[2022-08-11 04:51] nicolevasilevsky commented on #2261
I think this can be closed.

[2022-08-11 04:51] #2261 closed

[2022-08-11 17:35] #2577 closed

[2022-08-11 21:11] megbalk opened #2598 "synsphenion and intersphenoid suture"
**Preferred term label:**
1. intersphenoid suture
2. synsphenion

**Synonyms**
1. exact: intersphenoid synchondrosis

**Definition (free text, please give PubMed ID)**
1. A suture joining the basisphenoid and presphenoid of a sphenoid bone. This fuses at birth in humans.
2. Craniometric point along the midline of the intersphenoid suture.

ref: ISBN: 9780873659505

**Parent term (use https://www.e

[2022-08-11 21:57] megbalk opened #2600 "prosthion"
**Preferred term label:**
prosthion

**Synonyms**

**Definition (free text, please give PubMed ID)**
A craniometric point along a line joining the most oral (anterior) points of the premaxilla. Often, this is midway between the median upper incisor teeth. In ruminants and pigs this point it projected into space.
ISBN:97808736590505

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**

[2022-08-11 22:05] megbalk opened #2602 "diastema"
**Uberon term**
diastema

**Suggested revision of textual definition**
Currently it says "a space or gap between two consecutive teeth". I'd like to remove the term "consecutive" as in 1) it is assumes a sequence, like between incisor 1 and incisor 2, but if incisor 2 is missing, then it would be between incisor 1 and a canine; 2) some animals with diastemas, like horses which have diastemas betwe

[2022-08-11 22:14] megbalk opened #2603 "palate bone, palatine bone, and hard palate"
These are confusing and adding more information in the definition would help.

Hard palate: change "and palatine" to "and the palatine bone".
Palatine bone: add that it helps for the hard palate.

palate bone: it is unclear to me how this is different from palatine bone.

[2022-08-12 01:29] nicolevasilevsky commented on #2603
I'll fix these defs @megbalk

[2022-08-12 01:34] nicolevasilevsky commented on #2603
@megbalk did you google this? If needed, I can ask a colleague with expertise in craniofacial medicine.

[2022-08-15 10:01] shawntanzk opened #2605 "updating definition of 'subcommissural organ' to include hypendymal cell"
see https://github.com/obophenotype/cell-ontology/pull/1676

[2022-08-15 11:43] #2605 closed

[2022-08-15 12:45] proccaserra opened #2607 "New term requests to support Daphnia magna anatomical annotations"
**This is a batch request for term addition, hence the table**

Daphnia magnaAnatomical ID | System/structure (Display Name) | Parent Structure | definition | definition source | parent term | synonym | editor | orcid | Suggested Parent Class in UBERON | UBERON identifier | UBERON class label | SKOS relation to UBERON class | Comment
-- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- | -- |

[2022-08-15 16:47] nicolevasilevsky commented on #583
I think this can be closed.

[2022-08-15 16:47] #583 closed

[2022-08-15 16:48] nicolevasilevsky commented on #581
I think this is no longer needed

[2022-08-15 16:48] #581 closed

[2022-08-15 17:07] shawntanzk commented on #2607
@bvarner-ebi - can I leave this with you? I would recommend using templates for such a huge add.
@proccaserra - I think there are some issues with your MD formatting that is causing misalignment - please do check. It would also be good if you could work with @bvarner-ebi (if he takes this ticket) to create more ontology-conforming definitions for the terms requested.
@bvarner-ebi - I will assign t

[2022-08-15 18:18] megbalk commented on #2603
@nicolevasilevsky I did, and that is why it is unclear to me.

[2022-08-15 18:23] nicolevasilevsky commented on #2603
@megbalk I'll ask my colleague!

[2022-08-15 18:30] nicolevasilevsky commented on #2603
@RDruzinsky thnaks for your reply!

Note, I deleted your contact info from the comment, because this is a public site

[2022-08-15 18:45] megbalk commented on #2603
Agreed. I am unsure what "palate bone" is trying to accomplish that palatine bone and hard palate don't already, and it adds more confusion.

[2022-08-15 19:09] megbalk commented on #1710
An update to this: we won't make a module but will instead make patterns in OBA and import existing FOVT terms into OBA

[2022-08-15 19:09] #1710 closed

[2022-08-15 19:28] megbalk commented on #1757
this may be answered in issue #1848
However, I'd still like to know what is preferred.

[2022-08-15 19:48] cmungall commented on #2533
To be pedantic, axioms like

`('in taxon' some X) DisjointWith ('in taxon' some Y)`

are not themselves taxon constraints. This is part of the axiomatization of NCBITaxon.

The documentation for this is very buried:
https://github.com/obophenotype/ncbitaxon/blob/master/subsets/README.md

I have no problem in incorporating these in a merged release file accompanying the taxon constraints themselves

[2022-08-15 22:20] #2603 closed

[2022-08-16 00:01] megbalk opened #2608 "akrokranion"
**Preferred term label:**
akrokranion

**Synonyms**

**Definition (free text, please give PubMed ID)**
The most dorsal/anterior point on the supraoccipital crest.

von den Dresich 1876, ISBN:9780873659505

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
anatomical point and part of some supraoccipital crest

**Your nano-attribution (ORCID)**

[2022-08-16 08:01] shawntanzk opened #2610 "incoherency caused changes to genitourinary system"
This commit is probably causing some incoherency issues in Ubergraph:
https://github.com/obophenotype/uberon/commit/40e47c686350786a411775cd2c1340652b6566e1#diff-7dde9e81f71ce11962436529956798fa723e49d1bc8d188cc399d8009c2f72b4
see:
https://github.com/INCATools/ubergraph/issues/82
@bvarner-ebi - I see that this was originally your PR, could you help look into this please?
@nicolevasilevsky & @cmung

[2022-08-16 08:06] shawntanzk commented on #2610
btws the addition of:
`[reproductive system](http://purl.obolibrary.org/obo/UBERON_0000990) SubClassOf [part of](http://purl.obolibrary.org/obo/BFO_0000050) some [genitourinary system](http://purl.obolibrary.org/obo/UBERON_0004122)`
seems to be the one causing the incoherence - I don't see anything inherently wrong with but perhaps relaxing:
`[genitourinary system](http://purl.obolibrary.org/obo/U

[2022-08-16 12:18] bvarner-ebi commented on #2610
@shawntanzk, can you point me to an example of this?

[2022-08-16 12:33] shawntanzk commented on #2610
I think worms reproductive systems that arent part of urinary system
Reproductive:
![Screenshot 2022-08-16 at 13 29 27](https://user-images.githubusercontent.com/76212760/184879845-f34dff13-1615-4755-9eb7-64e9bbe8ff19.png)
Urinary:
![Screenshot 2022-08-16 at 13 32 23](https://user-images.githubusercontent.com/76212760/184880376-08d259ca-9e70-4cb8-af8f-2ba9a54a402b.png)

[2022-08-16 12:33] shawntanzk commented on #2610
yeah I think so

[2022-08-16 12:38] bvarner-ebi commented on #2610
I'm not sure about this, but I don't think worms produce urine / have urinary systems. That looks like a diagram of an excretory system.

[2022-08-16 12:44] shawntanzk commented on #2610
Fair enough, I guess then like you suggest, there would be asexual reproductive systems that would not be part of some genitourinary system. Thanks :)

[2022-08-16 12:45] balhoff commented on #2610
I think that's right. The 'has part' that @shawntanzk suggested may be correct. Or else a taxon-scoped 'part of' could also be added. I'm not sure that the specific violation that Ubergraph reported is 100% valid, since GO probably shouldn't use Uberon reproductive system to cover fungi (see https://github.com/obophenotype/uberon/issues/2349). But in any case I don't think the relation to urinary

[2022-08-16 12:49] #2610 closed

[2022-08-16 12:50] proccaserra commented on #2607
@shawntanzk thank you for picking this up so quickly.
@bvarner-ebi , I have updated the issue to clear the error in the markdown table.
I can also provide a tsv file matching the template that would suit the process if you point me to it.

much appreciated!

[2022-08-16 12:50] shawntanzk commented on #2610
Wanted to run a release, but I'll let ubergraph run a coherency check again first (no rush, so I'll just let the normal actions run) and do a release tmr :) thanks all!

[2022-08-16 12:51] bvarner-ebi commented on #2610
Now I'm reading about nephridial systems and not sure.
Regardless, your proposed edit makes sense since not all reproductive systems need to be part of a GU system. Thanks for finding this.

[2022-08-16 12:53] shawntanzk commented on #2610
Down the rabbit hole lol, I once spent a good chunk of time reading about width, length, and height >.<

[2022-08-16 13:08] balhoff commented on #2610
@shawntanzk I started a new Ubergraph check. I think you should have permissions to run those as well (https://github.com/INCATools/ubergraph/actions/workflows/test-merged.yaml).

[2022-08-16 15:22] #2382 closed

[2022-08-16 15:39] anitacaron opened #2613 "Add `present_in_taxon` into QC"
@balhoff My bad, I had not understood that the mere presence of these classes was enough.

In this case I agree that we should have somewhere a build target in which `present in taxon` annotations _are_ expanded as part of the QC checks.

_Originally posted by @gouttegd in https://github.com/obophenotype/uberon/issues/2597#issuecomment-1213033625_

[2022-08-16 15:40] anitacaron commented on #2374
Is this related to https://github.com/obophenotype/uberon/issues/2613?

[2022-08-16 16:06] matentzn commented on #2374
Maybe, and perhaps fixed by https://github.com/obophenotype/uberon/pull/2388 but it does not seem to work atm, i.e. I cannot get it to fail

[2022-08-16 19:47] balhoff commented on #2349
Added [anatomical conduit space](http://purl.obolibrary.org/obo/UBERON_0013686) to the subset.

[2022-08-17 05:21] nlharris commented on #2514
Can this be closed?

[2022-08-17 06:35] dosumis commented on #2514
@bvarner-ebi can you confirm fixed?

[2022-08-17 09:13] bvarner-ebi commented on #2514
`'gonad' SubClassOf 'part of' some 'genital system'` was removed.
`'genital system'` was obsoleted.
@balhoff previously confirmed Ubergraph coherency checks passed.

Closing this ticket.

[2022-08-17 09:13] #2514 closed

[2022-08-17 09:41] bvarner-ebi commented on #2393
Hi @paulacalipho, for your pending new term request tickets, can I assign these to you?

[2022-08-18 06:27] paulacalipho commented on #2393
Hello @bvarner-ebi , yes please you can assign all of them to me. I will start working on them soon. Thanks

[2022-08-18 08:12] bvarner-ebi commented on #2035
@matentzn, can we close this ticket?

[2022-08-18 08:19] emquardokus commented on #2035
@bvarner-ebi @matentzn @dosumis
I do not believe the full issue has been resolved; can we wait until David is back >Aug 23rd to discuss whole topic? Thanks

[2022-08-18 08:22] shawntanzk commented on #2589
@anitacaron - came up again in https://github.com/obophenotype/uberon/pull/2615 -> I have made this change there

[2022-08-18 10:01] dosumis commented on #2035
@emquadokus Can we just make a new ticket with a list if the terms that need to be added?  This one has gotten very confusing with the problems around non existent Uberon IDs.

[2022-08-18 10:27] shawntanzk commented on #2495
Related to the discussion on innervates and [multi-cell-part structure](http://purl.obolibrary.org/obo/CARO_0001000) DisjointWith [multicellular anatomical structure](http://purl.obolibrary.org/obo/CARO_0010000) - please see https://github.com/obophenotype/uberon/pull/2615#issuecomment-1219306915

[2022-08-18 11:49] rays22 commented on #2495
I think this is the part of the logical definition of [CARO:0001000 multi-cell-part structure](https://www.ebi.ac.uk/ols/ontologies/caro/terms?iri=http%3A%2F%2Fpurl.obolibrary.org%2Fobo%2FCARO_0001000) that causes/will cause disjointness problems in UBERON by being too restrictive:
[code]

It is often the case in the nervous system that some cells have projections (cell parts) that go outside of t

[2022-08-18 12:02] matentzn commented on #2495
What about dropping the disjointness now if that gets everything to pass, and then make an issue and a new PR discussing its reintroduction..

[2022-08-18 12:05] shawntanzk commented on #2495
I think this axiom comes from CARO import - happy to try to write a custom line in uberon.makefile (If I can rmbr/figure out how to lol) to remove that for now and make a draft PR that reverses it?

[2022-08-18 12:06] matentzn commented on #2495
Just delete it with protege for now and make an issue for me to deal with it.

[2022-08-18 12:09] shawntanzk opened #2616 "temp remove multi-cell-part structure DisjointWith multicellular anatomical structure"
We need to remove this axiom temp from caro_import.owl in pipeline until we can figure it out - see https://github.com/obophenotype/uberon/issues/2495#issuecomment-1219408017
[multi-cell-part structure](http://purl.obolibrary.org/obo/CARO_0001000) DisjointWith [multicellular anatomical structure](http://purl.obolibrary.org/obo/CARO_0010000)

[2022-08-18 12:26] shawntanzk commented on #2616
made this change for otic ganglion here https://github.com/obophenotype/uberon/pull/2615

[2022-08-18 12:37] bvarner-ebi commented on #2607
@proccaserra, thank you for the potential Uberon contributions.

To suggest new terms, we ask you provide information as requested in the new term request template: https://github.com/obophenotype/uberon/issues/new?assignees=&labels=new+term+request&template=a_adding_term.md
This will help an editor better understand your request. You can use the attached template as a guide.

[uberon_template.xls

[2022-08-18 12:55] MeeSiing commented on #2607
@proccaserra @bvarner-ebi thank you for your help and information. I will use the template as a guide.

[2022-08-18 12:55] shawntanzk commented on #2607
@proccaserra btws this might help with definitions: https://douroucouli.wordpress.com/2019/07/08/ontotip-write-simple-concise-clear-operational-textual-definitions/

I would advice you write it in genus-differentia method stated in the above :)

[2022-08-18 13:14] proccaserra commented on #2607
@shawntanzk indeed, this is best practice. I was brokering the submission on behalf of @MeeSiing.
@MeeSiing happy to assist if you further questions.

@bvarner-ebi , @shawntanzk regarding the timeline for processing the terms and to avoid any delay, were there any 'red-flags' from this list of terms?
By `red-flag`, I mean any constraint on Uberon which would lead to rejecting a term. For instance,

[2022-08-18 14:46] bvarner-ebi commented on #2607
@MeeSiing, @proccaserra, I noticed you have included a field called "Daphnia magnaAnatomical ID". Are these coming from an atlas or do you by chance already have a Daphnia magna-focused ontology?

Context of this question: Uberon covers metazoa, but has a vertebrate bias. Most, if not all, of these terms would require taxon restrictions. For example, food grooves and filter plates are not present

[2022-08-18 15:37] megbalk opened #2617 "cheek tooth row"
**Preferred term label:**
cheek tooth row

**Synonyms**
cheektooth row

**Definition (free text, please give PubMed ID)**
Anatomical cluster consisting of adjacent cheek teeth constituting a row.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**
'anatomical row' and ('has member' some 'cheek tooth')

**Your nano-attribution (ORCID)**

[2022-08-18 15:40] MeeSiing commented on #2607
@proccaserra Thank you for the question about 'red-flags'. Please also point out to me if you have seen some and I will work on them. truly appreciate your help.
@bvarner-ebi these terms are daphnia specific and are from the daphnia histology atlas that I am developing http://daphnia.io. The ontology list can be found here (http://daphnia.io/assets/downloads/DaHRA/S2_File_Anatomy_ontology.xlsx). I

[2022-08-18 16:15] shawntanzk commented on #2607
Thanks @MeeSiing - just so we understand, what's your use case of adding the terms to uberon? I ask as I wonder if it makes more sense to convert the xls file into a species-specific ontology and link it to uberon using a bridge or [SSSOM](https://github.com/mapping-commons/sssom) - we can probably provide some support for you with that too.

Would also like some input on this from @cmungall

[2022-08-18 16:30] proccaserra commented on #2607
The context is the following:
The project we are involved in currently working  with 6 species [Homo sapiens (cells), Xenopus laevis, Danio rerio, Drosophila melanogaster, C. elegans, Daphnia magna] exploring the effect of chemical agents (250 of them) with omics and imaging based phenotyping.
Since nothing (to my knowledge) exists for Daphnia and there is a need to go cross-species, the idea of p

[2022-08-18 22:40] megbalk opened #2618 "remove date from entries"
**Uberon term**
UBERON:7500

**Bug description**
had date as part of preferences when making a new term, will remove them.

[2022-08-18 23:37] cmungall commented on #2607
Hi @proccaserra

Short story: a separate ontology is probably the best bet in the short term

I'm open to incorporating directly in uberon but if we do this, we need to do it right, and this will require expertise in both comparative arthropod anatomy and familiarity with uberon patterns (there used to be an active arthropod anatomy ontology community, but I am not sure how active they are). I can

[2022-08-19 15:03] proccaserra commented on #2607
Hi @cmungall

Thank you for the insights.
I was indeed concerned about these homologous structures.
We can work with @MeeSiing to generate the species specific ontology and then work with @shawntanzk and @matentzn to develop an SSSOM file against UBERON.

We might even help with the doc in the process.
thx

[2022-08-19 15:23] anitacaron opened #2627 "Obsolete `aggregate regional part of brain`"
on reflection, this is a poor grouping class:

[code]

The over-eager logical definition does not match the textual definition, I am not even sure I understand the textual definition

As a grouping class it doesn't do much work, grouping only 3 regions:

* [] BFO:0000001 ! entity
    * [i] BFO:0000002 ! continuant
        * [i] BFO:0000004 ! independent continuant
            * [i] CARO:0030000 !

[2022-08-19 16:06] cmungall commented on #2627
@tgbugs this came from NIFSTD (which may have taken it from FMA). Do you all have any specific attachment to this term?

[2022-08-22 13:20] shawntanzk commented on #2532
seems solved? will close this for now, if there is still an issue, please reopen ticket

[2022-08-22 13:20] #2532 closed

[2022-08-22 13:24] shawntanzk commented on #2533
Action item:

- [ ] Figure out where `('in taxon' some X) DisjointWith ('in taxon' some Y)` live (look through uberon.makefile)
- [ ] Specify new component for these axioms (make sure to only import needed axioms - ie related to taxa we use)
- [ ] Make PR and see what breaks

[2022-08-22 17:17] megbalk commented on #1757
preference is what is used in the literature
make sure other form is a synonym

[2022-08-22 17:23] shawntanzk commented on #2417
@cmungall - could you suggest and actionable item for this please? thanks :)

[2022-08-22 18:11] megbalk commented on #1757
@markengelstad what is the standard here:
* molar tooth 1 or first molar tooth
* deciduous molar tooth 1 or deciduous first molar tooth
* upper primary molar tooth 1 or upper first primary molar tooth

[2022-08-23 16:08] markengelstad commented on #1757
Hi!

To answer your options directly:

  *   first molar tooth
  *   deciduous first molar tooth
  *   upper first primary molar tooth
In my knowledge graph, I’ve settled on the following for teeth:

“Secondary upper right first molar tooth”
1: the dentition:  Primary/ Secondary.  I use secondary because teeth aren’t ‘permanent’ and, if you are going to use ‘Permanent’, then why isn’t the primary

[2022-08-23 16:25] RDruzinsky commented on #1849
I agree

On Tue, Aug 23, 2022, 10:16 AM Ray Stefancsik ***@***.***>
wrote:

[2022-08-23 23:00] tgbugs commented on #2627
I think that it is a useful term, but the label is perhaps a bit confusing, because it is explicitly trying to deal only with spatially disconnected structures, or rather structures that have at least one spatial disconnection.

In terms of modelling, it seems strange to me to use PATO, because there are no qualities or dispositions that these structures have beyond being composted of parts at lea

[2022-08-25 14:19] cmungall commented on #2301
Let's solve this one here: https://github.com/OBOFoundry/COB/issues/40

[2022-08-25 16:46] megbalk commented on #1848
covered in issue #2479

[2022-08-25 16:46] #1848 closed

[2022-08-25 16:47] megbalk commented on #2479
waiting for decision in issue #1757

[2022-08-25 16:47] #1757 closed

[2022-08-26 00:02] megbalk opened #2630 "viscerocranium"
**Uberon term**
facial skeleton

**Synonym to be added**
viscerocranium

**broad/exact/narrow/related ?**
exact

[2022-08-26 00:12] uberon commented on #2630
Viscerocranium is a term with a complex history. I think there are old
tickets about this. Will check later

On Thu, Aug 25, 2022 at 5:03 PM Meghan Balk ***@***.***>
wrote:

[2022-08-26 15:16] megbalk commented on #2602
@nicolevasilevsky would you like me to do this ticket?

[2022-08-26 15:26] megbalk commented on #2617
waiting for cheek tooth to merge

[2022-08-26 15:32] nicolevasilevsky commented on #2602
sure, thank you!

[2022-08-26 22:44] megbalk commented on #1849
cranial crest does not have a definition and the source is no longer active.

[2022-08-26 23:07] wdduncan opened #2636 "sensory perception of pain: general class axiom"
**Uberon term**
[sensory perception of pain (go:GO_0019233)](http://purl.obolibrary.org/obo/GO_0019233) has the general class axioms:
[code]
The GCA is not included in the `2022-07-01` version of `go.owl`. So, I am assuming (?) that it was added by UBERON.

Is this GCA asserting that `sensory perception of pain` is a subclass of `'anatomical entity' and ('capable of part of' some 'sensory percepti

[2022-08-27 07:32] shawntanzk commented on #2636
I think this asserts that any anatomical entity that is 'capable of part of' some 'sensory perception of pain' is 'part of' some 'somatosensory system' which seems correct

[2022-08-27 12:22] wdduncan commented on #2636
@shawntanzk Yes. I think the logic of the GCA itself seems fine, but does this also assert that `sensory perception of pain` is a subclass of the GCA? If so, that seems wrong. `sensory perception of pain` is a process not an `anatomical entity`.

[2022-08-27 12:37] shawntanzk commented on #2636
@wdduncan I don't think it does - from my understanding GCA's wont make the class a subclass of it but rather applies generally to the ontology (as sort of standalone). I've asked about it being attached to a class before, but I can't fully rmbr the answer - i think it was something to do with administrative or something. But if you look at the source code (as in opening the obo or owl file with a

[2022-08-27 13:23] wdduncan commented on #2636
Thanks for getting back to me @shawntanzk !
I also tagged @cmungall @matentzn and @dosumis in the issue b/c their OWL-foo is much better than mine :)
Perhaps we can pester them for clarification?
In the mean time, I'll try to find some time experiment with GCAs. I can reason over UBERON using HermiT on my laptop.

[2022-08-27 17:09] cmungall commented on #2636
Why don't you try the experiment and see if your assumption is correct Bill?

Hint: you don't need hermit, GCIs are within EL++ (we use GCIs extensively in uberon and rely solely on Elk) In fact you don't need to use all of uberon you could just make a small unit test ontology to try your assumption.

[2022-08-27 17:20] wdduncan commented on #2636
Thanks @cmungall
I will test on a smaller toy example :)

What does it mean when a GCI is displayed in the side panel of Protege? I’ve only used a GCI for anonymous class expressions.

[2022-08-27 17:26] uberon commented on #2636
See also
https://github.com/obophenotype/uberon/wiki/Evolutionary-variability-GCIs

And the section on GCIs from the paper

https://genomebiology.biomedcentral.com/articles/10.1186/gb-2012-13-1-r5

See also
http://ontogenesis.knowledgeblog.org/1288

On Sat, Aug 27, 2022 at 10:10 AM Chris Mungall ***@***.***>
wrote:

[2022-08-27 20:44] wdduncan commented on #2636
Ok. I did some playing around in Protege. It turns out that if a GCI mentions a class, then that GCI appears in the `General class axioms` view in the right hand panel. It doesn't add any other inferencing to the class selected in the left hand panel.

Thanks for entertaining my question :)

[2022-08-27 20:44] #2636 closed

[2022-08-29 15:00] cmungall commented on #1849
Also agree

On Tue, Aug 23, 2022 at 9:25 AM Robert Druzinsky ***@***.***>
wrote:

[2022-08-29 23:31] megbalk commented on #1849
@cmungall @rays22 @RDruzinsky see the changes on the branch "redo-issue-1849" (PR #2635 )

[2022-08-30 07:54] paulacalipho opened #2638 "skin of calf"
**Uberon term** lower leg skin UBERON:0004264

**Synonym to be added** skin of calf; calf skin

**broad/exact/narrow/related ?** narrow

**Comment**:
Calf is the back of the lower leg. Calf appears in UBERON as narrow synonym of hindlimb zeugopod UBERON:0003823. I do not know what is best:
1- create term calf and remove it from narrow synonym of hindlimb zeugopod UBERON:0003823, and then create ca

[2022-08-30 13:33] rays22 commented on #1849
I think this issue is fixed in https://github.com/obophenotype/uberon/pull/2635.

[2022-08-30 13:33] #1849 closed

[2022-08-30 14:11] cmungall commented on #2638
Let's just go ahead and and front and back compartments for HZ and out calf in its proper place. Various parts will need pushed down

See also #2358

[2022-08-31 05:43] #2598 closed

[2022-08-31 16:02] #2608 closed

[2022-09-01 08:57] vasvir commented on #2424
Hi @matentzn and everybody else. I would like your advice if possible.

I had created (retrofitted actually) a perl script that checks an OBO ontology for polysemy issues. Here is how the output likes:

[code]
I wonder if you would consider this to become part of the project's CI (provided I will fix the existing issues). If there is interest in this I will create the necessary PR (with some much

[2022-09-01 09:35] matentzn commented on #2424
@vasvir, thank you for working on this.

There are two things to consider here:

1. We are trying very hard to burying PERL as a dependency. This is not a problem however, because we can help you migrate your test to SPARQL instead, once we understand it.
2. I don't yet understand what ploysemy you are checking. We have a ton of QC against it, like https://robot.obolibrary.org/report_queries/dupli

[2022-09-01 09:43] vasvir commented on #2424
I am not familiar with SPARQL (that will not be a problem though) but the link you sent looks like exactly what I am trying to accomplish (maybe in a case insensitive way).

Is there a way to run this test locally given I have a current git checkout of the project?

Thanks for the quick reply.

[2022-09-01 09:45] matentzn commented on #2424
[code]

If you have docker installed!

[2022-09-01 11:00] vasvir commented on #2424
Thanks a lot @matentzn  That covers a lot of ground.

I managed to run it and everything comes out nicely. The existing checks cover the 99% of the cases. Here are my 2 remaining issues.

1. The SPARQL tests do not test if there is a Id1:name/id2: EXACT synonym discrepancy (only synonym vs synonym). Such a case was handled by PR #2470 where the label of UBERON:0002576 (temporal pole) was exact syn

[2022-09-01 11:33] matentzn commented on #2424
1. Can you review this check and see if you see anything wrong with it? https://robot.obolibrary.org/report_queries/duplicate_label_synonym I hoped that check would cover it!
2. This is true. Good point. It would require us though to duplicate all checks to take into account casing.. I would like to know the impact of that, and if we can at least reduce it to a single query (maybe a modification o

[2022-09-01 14:07] vasvir commented on #2424
This is fun! Thanks a llot

1. **duplicate_label_synonym** short of works. It issues a warning alright which is correct if the label/synonym are in the same Term (id).  In that case the duplication is not an error. However when the label = synonym across different terms (ids) then it should throw an error and not a warning as it currently does IMHO.

2. **duplicate_label_synonym** maybe is a good

[2022-09-01 14:38] matentzn commented on #2424
Hahah have fun @vasvir!!

ERROR levels are configurable. In my QC police view of the world, all checks should be set to `ERROR`. And Exceptions hard coded into the sparql query!

Here is how we handle "exceptions to the rule" in Mondo: https://github.com/monarch-initiative/mondo/blob/master/src/sparql/qc/mondo/qc-excluded-subsumption-is-inferred.sparql#L15

That way you can set everything to ERROR

[2022-09-01 14:53] matentzn commented on #2424
BTW: https://oboacademy.github.io/obook/tutorial/sparql/

[2022-09-02 10:39] vasvir commented on #2424
Thanks for the pointers @matentzn

I tried the naive approach with a (implicit) self join which worked for my minimal test case but was running for ever in the full UBERON.

I changed strategy and used GROUP BY and COUNT DISTINCT and that gave the query planner a chance to optimize the query reasonably.

The output of the query below has two enhancements over existing **duplicate_exact_synonym**.

[2022-09-02 11:01] matentzn commented on #2424
Awesome! Can you try to return the query to the required form using _subquery_ syntax?

[code]
? (The above is just for illustration)

[2022-09-02 11:09] vasvir commented on #2424
I can try but just to be on the same page here.

The errors this query catches here span multiple ids (2 in all 3 examples) so the user needs to have both ids to figure it out.

If I (manage to) use a subquery I will essentially multiply the error. There is no way around that...

[2022-09-02 11:33] vasvir commented on #2424
As requested,

Here is the query:
[code]

and here is the output:
[code]

[2022-09-02 12:31] matentzn commented on #2424
Ok, @vasvir now that you are almost there, can you also do the PR to add the check to Uberon? @anitacaron can you advice @vasvir how to do it (don't do it yourself!)

[2022-09-02 12:44] vasvir commented on #2424
yea I would love to.

Two more questions...

1. Can you tell me where **duplicate_exact_synonym** query is located in the UBERON tree because for the life of me can't seem to find it. Is it on a docker image outside UBERON scope?

2. Assuming it is merged it will break UBERON builds with 3 (6) new errors. Shouldn't I handle them first?

[2022-09-02 12:50] vasvir commented on #2424
ok of course I figured it out after posting.

1. SPARQL scripts are in src/sparql
2. and there is enough machinery there to start the new checks as a **warning** and then upgrade it to **error** where there are no errors.

[2022-09-02 13:41] anitacaron commented on #2424
Hi @vasvir! Replaying your questions above:

1. __duplicate_exact_synonym__ is part of the ROBOT report, and it leaves in the robot tool. Here's the exactly SPARQL query that is used to generate this report. https://robot.obolibrary.org/report_queries/duplicate_exact_synonym. The complete list is [here.](https://robot.obolibrary.org/report_queries/)
2. The branch is only merged if all QC passes. T

[2022-09-02 13:52] vasvir commented on #2424
Thanks for the quick reply @anitacaron

I will wait for the documentation but looks like I have to try to send PRs that handle the issues highlighted by this new SPARQL test before any merging can happen.

Hmm! Do you think I should strive for merging to robot instead? There is even an issue that is exactly that: https://github.com/ontodev/robot/issues/607 and @matentzn has been there...

[2022-09-02 14:02] anitacaron commented on #2424
For more transparency and documentation, it would be better if you first create a PR with the new custom SPARQL check and then, after seeing the checks are not passing, create each PR to fix them, and link to the PR with the SPARQL check.

[2022-09-02 15:05] anitacaron commented on #2424
Here are quick instructions on how to create a violation check:

### Steps to add a constraint violation check:
1. Add the SPARQL query in `src/sparql`. The file's name should end with `-violation.sparql`. Please give a name that helps understand the violation the query wants to check.
1. Add the name of the new file to odk configuration file `src/ontology/uberon-odk.yaml`:
    1. Include the file

[2022-09-02 20:26] #2600 closed

[2022-09-02 20:32] #2585 closed

[2022-09-04 10:44] dosumis commented on #2627
My instinct is that we should drop the class and simplify as Chris suggests.

@tgbugs  - do we have a use case for this grouping that any biologist cares about - either directly because they find the classification useful, or indirectly because it will improve our modelling/QC of other things they care about?  (See Phil Lord's [Pici principle](https://www.russet.org.uk/blog/2011/10/the-pici-princi

[2022-09-05 13:03] #2616 closed

[2022-09-05 13:58] shawntanzk commented on #651
id: UBERON:0002481
 name: bone tissue
 is_a: UBERON:4000115 {gci_relation="part_of", gci_filler="NCBITaxon:8353"} ! mineralized bone tissue

on it

it's not clear why this subclass was added for ext in the first place

Tech call:
Phenoscape external were merged into uberon-edit a long time ago, don't see anymore external axioms to merge into file, what other file needs to be added to edit file?

[2022-09-05 15:51] bvarner-ebi opened #2644 "Question on anatomical modelling of 'dorsal root ganglion' and 'spinal nerve root'"
**Context:**

Currently [UBERON:0009623 ‘spinal nerve root’](http://purl.obolibrary.org/obo/UBERON_0009623) and [UBERON:0000044 ‘dorsal root ganglion’](http://purl.obolibrary.org/obo/UBERON_0000044) (DRG) have the axiom `'located in' some 'vertebral canal'.`

[UBERON:0006692 ‘vertebral canal’ ](http://purl.obolibrary.org/obo/UBERON_0006692)is defined as

[code]
 and

"A conduit enclosed within the

[2022-09-06 09:11] proccaserra commented on #2607
Hi @bvarner-ebi , thank for checking.
it sounds about right. If we need terms from uberon, we'll open an issue.

[2022-09-06 09:11] #2607 closed

[2022-09-06 23:20] megbalk opened #2646 "UBERON:7500033 & 7500034"
**Uberon term**
distal-most point of medial condyle of femur
distal-most point of trochlea of humerus

**Reason for deprecation**
not needed, too specific of a term

**Suggested replacement or term to consider**
none

[2022-09-07 03:21] #2618 closed

[2022-09-12 13:54] cthoyt opened #2648 "Fix problematic relation URIs"
There are several problematic URIs for relationships defined in UBERON:

[code]

In https://obo-communitygroup.slack.com/archives/C023P0Z304T/p1662990715744149?thread_ts=1662990299.268959&cid=C023P0Z304T, Nico stated that there are two allowed flavors for terms:

- http://purl.obolibrary.org/obo/IDSPACE_XXXXXX
- http://purl.obolibrary.org/obo/idspace#xxxxxx (only for properties)

[2022-09-12 13:57] shawntanzk commented on #2648
Related to https://github.com/obophenotype/uberon/issues/2445

[2022-09-12 13:59] matentzn commented on #2648
This is due to the ontology ID in the OBO file. should be `uberon`, not `uberon/core`

[2022-09-12 21:21] jlzamanian commented on #2405
This term is also needed to describe the tissues used in single cell analysis experiments for the human cell atlas.

@paulacalipho

[2022-09-12 21:41] jlzamanian opened #2649 "NTR: myotendinous junction"
**Preferred term label:**myotendinous junction

**Synonyms**

**Definition (free text, please give PubMed ID)**Myotendinous junction (MTJ) is a part of the myotendinous unit, which connects muscle and tendon, and transmits forces between them. (https://radiopaedia.org/articles/myotendinous-unit?lang=us)
https://www.physio-pedia.com/Myotendinous_Junction?utm_source=physiopedia&utm_medium=search&utm

[2022-09-13 05:32] ddooley commented on #2353
Hopefully this can be rolled out soon?

[2022-09-13 07:13] paulacalipho commented on #2405
@jlzamanian I will do a pull request on this term so you can go with issues#2649

[2022-09-13 14:09] cmungall commented on #651
Can someone summarize where w are with this? Can we close this?

[2022-09-13 15:20] shawntanzk commented on #651
Hi @cmungall - I think the tech team was a bit confused as to what needs to be done here?
The GCI doesn't seem to be in uberon-edit file so if nothing else needs to be done we can close it? Thanks

[2022-09-14 01:20] cmungall commented on #1873
This is now blocking other issues. I think we need some decision on this. maybe there can never be complete consensus as lines are drawn differently for different purposes by different communities.

The most important thing is that we are clear and consistent about *some* lines. We can always make new bundles or subdivide things further it people need that (see my comment earlier).

I suggest that

[2022-09-14 15:22] cmungall commented on #1419
I am still confused by the Allen IDs

Is there another ticket I can follow the mapping progress

I think this should issue should be considered closed when the xrefs/mappings resolve through standard registries like bioregistry. If we think the IDs we use in our xrefs are correct then what remains to be done is making sure these prefixes are standard and there is a way of resolving them. Perhaps w

[2022-09-14 16:32] dosumis commented on #1419
I'd be in favour of that. In fact, I think we need it for BICAN.

[2022-09-14 16:35] dosumis commented on #1419
Don't think we can push through foundry.  Any suggestion for IRIs?  I asked the Allen during the BDS project but. They said they'd discuss but didn't decide on anything.

[2022-09-14 16:54] patrick-lloyd-ray commented on #1419
This was held up in legal during BDS project. I think with BICAN it should be easier to get agreement that this is necessary.

I support this, too.

[2022-09-14 16:57] megbalk opened #2651 "opisthokranion"
**Preferred term label:**

opisthocranion

**Synonyms**

opisthokranion

**Definition (free text, please give PubMed ID)**

A craniometric point on the nuchodorsal border of the foramen magnum in the median plane.

**Parent term (use https://www.ebi.ac.uk/ols/ontologies/uberon)**

Subclass of
anatomical point
part of some foramen magnum

rdfs:comment
In pigs this point is projected into space as a

[2022-09-14 17:13] megbalk commented on #2630
@uberon @shawntanzk @bvarner-ebi is this something to add to the agenda?

[2022-09-14 17:15] #2602 closed

[2022-09-14 19:46] cmungall commented on #2630
Sorry, I must have imagined the previous tickets. Don't let me a blocker. However, I do recommend when requesting a new synonym that we search for existing classes that include that as a synonym and look at metadata for those synonyms
You can easily search for synonyms using OLS. If you are using an ontology browser that does not show clear matches for synonyms, stop using it!

I use OAK on the co

[2022-09-14 21:46] #2617 closed

[2022-09-15 09:36] shawntanzk opened #2655 "QC fails at dc-contributor annotation on obsolete terms"
Currently QC seems to be unhappy about dc-contributor annotation on obsolete terms
It seems to think that dc-contributor is a logical axiom - possibly cause of `relationship:` in obo format?
See https://github.com/obophenotype/uberon/pull/2647

- [ ] Fix the failing check in the makefile to allow contributor relationships (I am assuming that contributor has metadata: True in the OBO file.

[2022-09-15 09:44] shawntanzk commented on #2655
I think this is in check-obo-for-standard-release.pl in scripts folder:
I think cause dc-contributor is a relationship, so there is a flag for has relationship
Not sure how to turn it off - don't know perl, could you help @anitacaron

Thanks

[code]

[2022-09-15 15:42] anitacaron opened #2656 "`subsets/life-stages-composite.obo` is incomplete"
The `life-stages-composite` is generated using this `owltools` command:

[code]

For some unknown reason, it's not getting the life stage related terms for all species in `composite-metazoan.owl` Right now, if I run the command, it only returns the terms related to chicken, and in the last release, there're only terms related to human.

Note, the obo file is generated from the owl file.

[2022-09-15 19:48] megbalk commented on #2630
Thanks for the history. I would suggest creating the term viscerocranium and maybe making them related? However, it would require some detangling in OBA as the hierarchy is: viscerocranium morphology trait / facial skeleton size

[2022-09-16 00:41] cmungall commented on #2630
Always happy to do ontology archaeology!

Not sure what you are suggesting: by new term do you mean new class, or new synonym? I don't think either is necessary?

IMO the only valid change is to demote the UBERON:0008895 synonym to related, so as not to favor any one terminological system and avoid confusion

OBA and Uberon terminology should be consistent. it looks like this one came from VT http

[2022-09-16 11:03] anitacaron commented on #2655
After digging the Perl script, I didn't find a way not to check the dc-contributor in obsolete terms. First, the script takes all relationships from all terms and later puts into a separate list the obsolete terms.

The solution that minimises the changes in the script is to exclude the check for dc-contributor from all terms.

[2022-09-16 14:20] anitacaron commented on #2655
Or I can change it back to `property_value` instead of `relationship`. I don't remember why we had to switch to `relationship`. I can even roll back the contributors that had to be deleted in the obsolete terms. I did some tests, and it seems to work fine.

Then, this won't be an issue anymore.

[2022-09-16 15:42] #2586 closed

[2022-09-16 16:01] matentzn commented on #2655
No, we need to do the right thing.. There must have been a reason to switch to relationship, and I think it had to do with the nature of the value (<IRI>). The two are totally different..

[2022-09-16 16:13] megbalk commented on #2630
if viscerocranium is inconsistent with facial skeleton, I was suggesting making a term viscerocranium as it is a useful term for users to search for trait terms. It seems the issue is that facial skeleton does not not include the mandible but the viscerocranium does?

I'd also note the definition of cranial skeleton does not make sense, it says includes the skull (cranium and mandible), with crani

[2022-09-16 16:56] anitacaron commented on #2656
To fix this issue, I propose injecting a subset 'life-stage' to the related terms using SPARQL and filtering them using the same command ODK uses for subsets.

[code]

Any other suggestions?

[2022-09-16 18:35] cmungall commented on #2630
All systems implementing search should search on synonyms, so users can still search with viscerocranium, even if it is ambiguous.

Also I am not sure the issue as such is that viscerocranium is inconsistent with facial skeleton. It is that the string "viscerocranium" is ambiguous. Some communities (roughly: pan-vertebrate evodevo) use the string "viscerocranium" to mean _endoskeleton derived from

[2022-09-16 23:58] raymond91125 opened #2657 "Use of GO:0060986 endocrine hormone secretion"
**Uberon term**
UBERON:0002368 endocrine gland subclass of capable of some endocrine hormone secretion

**Suggested revision and reasons**
A proposal has been made to merge GO:0060986 endocrine hormone secretion into GO:0046879 hormone secretion.
Please see https://github.com/geneontology/go-ontology/issues/17084.

[2022-09-17 00:20] megbalk commented on #2630
It seems to relate to [issue #59](https://github.com/obophenotype/uberon/issues/59), but I'm unsure how to jump into that conversation

[2022-09-17 02:15] cmungall commented on #2630
There is a lot of historic information in that issue that is useful, but I'm not sure if it directly has a bearing on this one

Let me know how you'd like to proceed. Would you still like a new class? If so, what would it's definition be and how would it differ? Or would you like to change the existing synonym assignments?

[2022-09-20 07:21] shawntanzk opened #2658 "Edinger-Westphal nucleus should be in the oculomotor nuclear complex"
From Maryann Martone (@memartone)

I’ve been working a lot with UBERON for the SPARC project, and came across this note for the Edinger-Westphal nucleus http://purl.obolibrary.org/obo/UBERON_0002141:
NIFSTD places this in oculomotor nuclear complex but this conflicts with disjointness axioms from MBA, as well as location described in Wikipedia, and is not supported in any other ontology
But NIFSTD

[2022-09-20 10:16] #2655 closed

[2022-09-20 15:19] #651 closed

[2022-09-20 16:01] cmungall commented on #2658
<img width="303" alt="image" src="https://user-images.githubusercontent.com/50745/191307914-736718ee-143e-4bbf-98e9-2df88b303e66.png">

[2022-09-20 16:20] shawntanzk commented on #2658
Oh! right! I was looking at owl:Nothing disjointness which of course it wouldn't ping with something like that - Perhaps we need to think of some automated check on that, but that's for another discussion. Thanks @cmungall
EW (highlighted) = edinger-Westphal nucleus, III = oculomotor nucleus
![Screenshot 2022-09-20 at 17 05 50](https://user-images.githubusercontent.com/76212760/191308894-b8b42cf4-

[2022-09-21 12:43] shawntanzk commented on #2658
To do for now:

- [ ]  remove the comment and replace it with a link to this issue

[2022-09-21 14:16] cmungall commented on #2589
I agree with this change and given the problems this was causing let's try and get these fixes in sooner!

[2022-09-22 15:15] bvarner-ebi commented on #2589
Thanks for sharing the following specific example, @anitacaron.

[otic ganglion](http://purl.obolibrary.org/obo/UBERON_0003963) EquivalentTo [cranial ganglion](http://purl.obolibrary.org/obo/UBERON_0001714) and ([innervates](http://purl.obolibrary.org/obo/RO_0002134) some [parotid gland](http://purl.obolibrary.org/obo/UBERON_0001831)) and ([extends_fibers_into](http://purl.obolibrary.org/obo/ubero

[2022-09-22 15:17] shawntanzk commented on #2589
defs not ok - we don't allow infered equivalent -> will look into this

[2022-09-22 15:34] anitacaron commented on #2589
After thinking, again and again, the solution would be this:

[otic ganglion](http://purl.obolibrary.org/obo/UBERON_0003963) EquivalentTo [cranial ganglion](http://purl.obolibrary.org/obo/UBERON_0001714) and ([extends_fibers_into](http://purl.obolibrary.org/obo/uberon/core#extends_fibers_into) some [parotid gland](http://purl.obolibrary.org/obo/UBERON_0001831)) and ([extends_fibers_into](http://pu

[2022-09-23 09:12] bvarner-ebi commented on #2589
Thanks for sharing, @anitacaron.

[FMA also shows 'otic ganglion' to be a child of 'glossopharyngeal ganglion'](https://rgd.mcw.edu/rgdweb/ontology/view.html?acc_id=UBERON:0001701&offset=11), so there is alignment FMA.

I am curious about the object property ['extend_fibers_into'](http://purl.obolibrary.org/obo/uberon/core#extends_fibers_into). Based on the text of the label alone (I do not see a

[2022-09-23 09:37] bvarner-ebi commented on #2589
EDIT to comment above:

I arrived to this browser in the link after searching for an FMA browser, but this does not appear to be an FMA browser.

[2022-09-23 10:03] bvarner-ebi commented on #2589
@anitacaron, would the following work for you since I have not found evidence that the 'otic ganglion' is a subclass of 'glossopharyngeal ganglion'?

<img width="384" alt="Screenshot 2022-09-23 at 11 00 38" src="https://user-images.githubusercontent.com/95643797/191937317-a7173093-f454-4bfb-9ee5-bc091cea0a04.png">

[2022-09-23 10:03] shawntanzk commented on #2589
Not that I am aware of, but as you mentioned, lack of definition - should really try to get that into RO, though not sure how they would feel about that vs innervates.

I guess receives fibres does however suggest that glossopharyngeal nerves extends fibers to otic ganglion, though that does not mean the opposite isn't true - will look into this.

I'm not 100% sure, but I'm guessing that's more he

[2022-09-23 10:16] shawntanzk commented on #2589
100% agree with this. Perhaps figuring out the relation with Tympanic nerve would model it more accurately model this. See images below:

![image](https://user-images.githubusercontent.com/76212760/191938770-ec10b95d-b68d-434a-84ea-d366cc578073.png)
from https://teachmeanatomy.info/head/cranial-nerves/glossopharyngeal-nerve/
![image](https://user-images.githubusercontent.com/76212760/191939322-ab9

[2022-09-23 10:29] shawntanzk commented on #2589
btws personally agree with this solution for now, though would like to breakdown the subclass of cranial ganglion more

[2022-09-23 10:33] bvarner-ebi commented on #2589
@shawntanzk, thanks for aggregating these images.

A caveat, though... there are also neurones that pass through the otic ganglion that do not synapse in ganglion, which are not shown in these illustrations ([ref](https://www.ncbi.nlm.nih.gov/books/NBK554413/)):

"The origin of sympathetic neurons associated with the otic ganglion arises from the plexus around the middle meningeal artery. These pl

[2022-09-23 13:17] #2657 closed

[2022-09-23 13:18] dosumis commented on #2589
Just skimming this, but

(a) I'd avoid an equivalent class definition for optic ganglion unless there's a really strong need to autoclassify under it and you're really sure it's safe.  subClassOf restrictions are much safer.

(b) I think the definition of 'extends fibers into' should avoid cases like this:
"there are also neurones that pass through the otic ganglion that do not synapse in the gang

[2022-09-23 15:13] anitacaron opened #2664 "Difference in `uberon-simple.owl` from actual approach and base approach"
This is a sample of the differences.

# Ontology comparison

## Left
- Ontology IRI: `http://purl.obolibrary.org/obo/uberon/uberon-simple.owl`
- Version IRI: `http://purl.obolibrary.org/obo/uberon/releases/2022-09-23/uberon-simple.owl`
- Loaded from: `file:/Users/anitac/Documents/GitHub/uberon-simple.owl`

## Right
- Ontology IRI: `http://purl.obolibrary.org/obo/uberon/uberon-simple.owl`
- Version

[2022-09-26 17:22] bvarner-ebi commented on #2644
@emquardokus to provide more input with spinal expert. Thanks, @emquardokus!

[2022-09-26 18:14] shawntanzk commented on #1873
Uberon call: we make nipple part of mammary generally (currently a GCI)
We add a note that there is a GCI for human that points out GCI in homo sapien

[2022-09-27 08:49] #1873 closed

[2022-09-27 12:04] #2644 closed

[2022-09-27 13:18] julienmariethoz opened #2666 "Synapse"
**Preferred term label:**
Synapse

**Synonyms**
neuronal junction

**Definition (free text, please give PubMed ID)**
site of transmission of electric [nerve](https://www.britannica.com/science/nerve-anatomy) impulses between two nerve cells (neurons) or between a neuron and a gland or muscle cell (effector).
copied from https://www.britannica.com/science/synapse

**Parent term (use https://www.ebi

[2022-09-27 13:21] #2666 closed

[2022-09-27 15:47] anitacaron commented on #2656
It is still not complete yet. Need to change the SPARQL query to tag all subclasses of the terms with 'life cycle stage'

[2022-09-28 16:54] #2646 closed

[2022-09-29 08:56] shawntanzk opened #2667 "Should fissures/sulcus/incisure be material or immaterial?"
Related to https://github.com/obophenotype/uberon/pull/2633

Currently it is unclear in uberon if fissures/sulcus/incisure should be material or immaterial - do they refer to the fold itself or do they refer to the space

Currently there are examples of both. Examples:

immaterial:
http://purl.obolibrary.org/obo/UBERON_0014466
http://purl.obolibrary.org/obo/UBERON_0000093

material:
terms under su

[2022-10-03 10:14] asmvernon opened #2670 "uberon.owl is missing from master"
**Bug description**
`uberon.owl` is missing from master. Is this expected?

[2022-10-03 10:18] shawntanzk commented on #2670
I think it has to do with the new way we do our releases (@matentzn and/or @gouttegd could you help with this please?)
But basically, you should be able to get it from the release (https://github.com/obophenotype/uberon/releases/tag/v2022-09-30) or alternatively our purl redirect at https://purl.obolibrary.org/obo/uberon.owl
Hope that helps

[2022-10-03 10:21] matentzn commented on #2670
@shawntanzk you are right, we no longer check most Uberon release files into version control. @asmvernon, hi, you should always use the PURL that @shawntanzk mentioned above to access Uberon!

[2022-10-03 10:33] shawntanzk commented on #2670
I'll close this ticket for now, but please do reopen if you have any other concerns. Thanks :)

[2022-10-03 10:33] #2670 closed

[2022-10-03 11:05] asmvernon commented on #2670
Thanks all! Will use the versioned endpoint then 👍
Thanks for such a quick response!

[2022-10-03 12:50] shawntanzk commented on #2670
btws @asmvernon you should be using purls even for specific version yeah :)
so for latest:
https://purl.obolibrary.org/obo/uberon.owl
for specific version:
http://purl.obolibrary.org/obo/uberon/releases/2022-09-30/uberon.owl

[2022-10-03 13:16] shawntanzk commented on #2664
Looks like a lot of these are developmental, which suggests a change in developmental axioms or something

check uberon-simple for two things:
1) look at develops_from axioms -> are they different?
2) semantics of developmental relationships (eg transitive?) -> are the OP the same between both?

[2022-10-04 17:53] #2386 closed

[2022-10-04 20:07] #2358 closed

[2022-10-06 10:57] shawntanzk opened #2672 "mba root terms mapping to uberon"
Currently some root terms are not mapped well to uberon making some not great general mappings.
Can we map the following safely:

MBA:1009 (fiber tracts) - UBERON:0000122 (neuron projection bundle)
MBA:1024 (grooves) - UBERON:0013118 (sulcus of brain)*

*editors note of UBERON:0013118: sulci are considered absent from lissencephalic mammals such as mice, but they may possess fissures. For example,

[2022-10-06 11:18] anitacaron commented on #2664
Yes, they're different.

In the current `uberon-simple`, develops_from has two properties chains not present in the `uberon-simple base`

<img width="455" alt="Screenshot 2022-10-06 at 12 06 58" src="https://user-images.githubusercontent.com/2208124/194298337-ca971c3c-39fd-4438-97c1-7ca0fdb1af83.png">

I'll investigate where this is coming from.

[2022-10-06 11:20] shawntanzk commented on #2664
@anitacaron I think its from here: https://github.com/obophenotype/uberon/blob/master/src/ontology/components/develops-from-chains.owl

[2022-10-06 11:30] anitacaron commented on #2664
Yes, but both approaches should have this component merged. And there's only one of them there.

[2022-10-06 12:07] anitacaron commented on #2664
Completing the answer above. This component is only used in the `materialized.owl` target but is unmerged after reasoning.

Actually, the two axioms are coming from NBO import.

<img width="924" alt="Screenshot 2022-10-06 at 12 58 18" src="https://user-images.githubusercontent.com/2208124/194307165-8443b9e4-cd03-43fc-9087-be97d4366698.png">

Should these property chains be included in the RO?

[2022-10-06 12:16] shawntanzk commented on #2664
I feel like this has been discussed before, though it might be just bad gut feeling lol.
I've a feeling that those properties aren't actually accurate -> I can't think of any atm but I'd imagine that being part of something does not require the same developmental origins as migration happens.
That being said, from the changes in simple file, it looks like it might actually be doing some work. I th

[2022-10-06 12:25] anitacaron commented on #2664
I found this discussion https://github.com/oborel/obo-relations/issues/279

[2022-10-06 15:03] dosumis commented on #2672
Seems reasonable.

[2022-10-06 19:06] patrick-lloyd-ray commented on #2672
Both seem reasonable to me.

[2022-10-06 19:17] shawntanzk commented on #2672
brilliant will map those two accordingly, thanks all :)

[2022-10-06 19:17] #2672 closed

[2022-10-07 10:11] dosumis commented on #2664
There was definitely a discussion of those two property chains somewhere relatively recently - I think coming rom @balhoff .  I think they may have been deleted from RO (although I'd support keeping one of them).  Anyway, if they are coming from NBO, they need to be removed from there.  Can give you access (although no idea why we are importing from it to Uberon).

[2022-10-07 10:55] shawntanzk commented on #2664
tracked it down :) https://github.com/obophenotype/uberon/pull/1808
further to this: https://github.com/obophenotype/uberon/issues/2381
I think in that case, the base approach removal of developmental axiom from not having NBO works well then :)

[2022-10-07 13:56] cmungall commented on #2664
I thought I objected to removal of these chains but it seems not

I think we need a way of inferring that all or a majority of the cells in a
structure can trace lineage back to something like ectoderm or NC. That
will require some priority chains unless we over assert.

I had always thought the “structure with contribution from NC” to be
useless but here it is doing work as a canary class; it wou

[2022-10-11 07:43] RDruzinsky commented on #1873
I have not forgotten about all of the other mammals. I am trying to be
precise. I would like to reserve the term 'mammary gland' to mean the
glandular tissue or parenchyma and the ducts, and use a different term for
the whole organ - breast, in humans and perhaps other mammals with a single
thoracic pair, or mamma (pl. mammae) is a term that can be used for any
milk producing organ.

Granted, many

[2022-10-11 08:21] uberon commented on #2367
I think for now the most conservative thing is to selectively change these
from part-of for stage terms only. I believe these get made from the stages
repo, not this one (sorry for the descent into build pipeline hell... and
sorry these were never caught before!)

On Wed, Apr 13, 2022 at 7:24 AM Shawn Tan ***@***.***> wrote:

[2022-10-11 08:27] RDruzinsky commented on #2344
This is an interesting question. Except for location, I am not sure that
there should be a class 'anal sphincter' with subclasses 'external anal
sphincter' and 'internal anal sphincter' because they develop from
completely separate anlage.

Thoughts?

Robert E. Druzinsky, Ph.D.
Clinical Associate Professor
Dept. of Oral Biology
College of Dentistry
University of Illinois at Chicago
801 S. Paulina

[2022-10-11 08:34] uberon commented on #2412
My proposed strategy would be to be conservative in splitting. Assume
functional and spatial colocation until it starts to cause a problem; in
cases where we do split the community may have separate names for the
spatial areas (eg BA17) in which case we are just deconflating

On Thu, Apr 14, 2022 at 1:10 AM Shawn Tan ***@***.***> wrote:

[2022-10-11 08:42] shawntanzk commented on #2412
I think that's basically what I've been doing.

I'm now working on bridging the mouse brain atlas, and a step I've taken has been to remove BA links to mouse and create terms (if needed) that are more appropriate (eg Prelimbic area rather than BA 32)

[2022-10-11 20:05] cmungall commented on #2344
Well there may be other reasons to group beyond lineage

but point taken we want to avoid deceptive or useless grouping classes where the commonality is primarily lexical

FWIW some other ontologies group the same way

<img width="985" alt="image" src="https://user-images.githubusercontent.com/50745/195187684-a0bd2489-9145-4790-85f0-b35725426a17.png">

Historically uberon has generally been libera

[2022-10-12 13:45] shawntanzk commented on #2649
@jlzamanian sorry I missed this before - @bvarner-ebi hope its alright if I assign you to this :)

[2022-10-12 14:16] bvarner-ebi commented on #2035
Echoing @dosumis's comment above, can a fresh ticket be created, @emquardokus? It is not clear to me what work is required.

To that effect, I will remove myself from this ticket, but feel free to assign a new ticket to me if one is created.

[2022-10-12 14:18] bvarner-ebi commented on #2171
@dosumis, is there an update on what needs to be done here?

[2022-10-12 16:43] balhoff opened #2675 "incorrect relation on 'taste bud'"
Some Ubergraph build tests are revealing unsatisfiable classes. One example:

## [glossopharyngeal nerve development](http://purl.obolibrary.org/obo/GO_0021563) EquivalentTo [Nothing](http://www.w3.org/2002/07/owl#Nothing) ##

  - [glossopharyngeal nerve development](http://purl.obolibrary.org/obo/GO_0021563) EquivalentTo [anatomical structure development](http://purl.obolibrary.org/obo/GO_0048856

[2022-10-12 16:51] shawntanzk commented on #2675
Thanks @balhoff :)
I would think 'capable of' or 'capabe of part of'
leave it with me, my term and all :)

[2022-10-12 16:55] balhoff commented on #2675
Sounds good! I'm not sure whether anything in the GO molecular_function branch should be connected to structures via 'capable of', since those all represent gene product activities. The existing 'capable of' relation to [detection of chemical stimulus involved in sensory perception of taste](http://purl.obolibrary.org/obo/GO_0050912) might be good enough?

[2022-10-12 17:51] shawntanzk commented on #2675
Ah thanks :) you did my homework for me :) was going to look into the term and figure out what it is etc.
I think given its a transmembrane signaling receptor activity, it should exist with the receptor or cell, defs not the structure anyway. Will remove the axiom, don't think it will affect anything :)

[2022-10-12 17:53] shawntanzk commented on #2675
Will create a ticket in CL to see how to link taste receptor cell to the GO term (or at least see if we should)

[2022-10-12 18:03] shawntanzk commented on #2675
I guess given this, there isn't a need to link anymore than [detection of chemical stimulus involved in sensory perception of taste](http://purl.obolibrary.org/obo/GO_0050912)
![Screenshot 2022-10-12 at 19 03 01](https://user-images.githubusercontent.com/76212760/195415502-b83d31ac-6ae5-4dfd-9f10-bc4cc500f1a5.png)

[2022-10-12 18:15] #2675 closed

[2022-10-13 22:36] #2651 closed

[2022-10-13 22:41] megbalk commented on #2630
So we concluded that because there is a related synonym viscerocranium, this issue is no longer needed.

[2022-10-13 22:41] #2630 closed

[2022-10-17 13:45] shawntanzk commented on #2552
owltools expand is already replaced with robot expand
however, owltools still needs to remain for composite products (see https://github.com/obophenotype/uberon/issues/2588#issuecomment-1280861427)

[2022-10-17 13:45] #2552 closed

[2022-10-17 17:23] cmungall commented on #2664
I have plans to formally define all of these pattern terms i use like query/probe/sentinel class, stay tuned

I may have gotten this one from @dosumis. The idea is you add a grouping class that just acts to collect the results of a query in one place, like "all structures with a contribution from the neural crest", the reasoner will place these such that they are easy to see in protege and diffs,

[2022-10-20 09:49] anitacaron opened #2677 "Update `extends fibers into` definition"
(...)
(b) I think the definition of 'extends fibers into' should avoid cases like this:
"there are also neurones that pass through the otic ganglion that do not synapse in the ganglion"

suggested def:

X extends_fibers into Y iff there exists some neuron(n) n has_soma_location(RO:0002100) x and n 'has synaptic IO in region'(RO:0013001) Y

I think it would be safe to add this property chain as I b

[2022-10-24 05:07] #2395 closed

[2022-10-24 10:55] gouttegd opened #2682 "Inconsistent distinction between “connected” and “non-connected” anatomical entities"
Uberon is inconsistent in the way it distinguishes between anatomical entities that are made of parts that are all connected to each other (hereafter “connected entities”) and entities that are made of parts that are not necessarily all connected (hereafter “non-connected entities”).

This does not cause any obvious problems within Uberon itself, only because the distinction between these two kind

[2022-10-24 11:35] gouttegd opened #2683 "Incorrect classification for `primary nerve cord`"
**Uberon term**

`primary nerve cord` is defined as a “cluster of neurons that is the most prominent longitudinally extending condensed part of a nervous system.”

However, it is classified as a `central nervous system cell part cluster`, which itself is defined as a “multi cell part structure that is part of a central nervous system” and classified as a `multi cell part structure`.

A `multi cell

[2022-10-24 11:48] gouttegd opened #2684 "Incorrect classification for `imaginal disc`"
**Uberon term**

`imaginal disc` is currently classified as a `epithelial sac`, which is itself a `epithelial tube` and ultimately a `epithelium`.

This is incorrect as an imaginal disc is more than merely a single epithelium. At the minimum, what is typically called an “imaginal disc” is made of a main columnar epithelium (what in FBbt is called the `disc epithelium proper`) associated with a squ

[2022-10-24 14:08] gouttegd opened #2686 "Is `neural glomerulus` a kind of `neuropil` or a part of a `neuropil`?"
**Uberon term**

`neural glomerulus` is defined as a “large synaptic bouton found in areas like olfactory bulb, cerebellar cortex and thalamus, that contacts many post-synaptic targets”. It it a subclass of `neuropil`, itself defined as a “cluster of neurites that is part of a nervous system and forms a network of dendrites and axons where synapses are present and in which neuronal somata do not o

[2022-10-24 15:16] gouttegd opened #2688 "Terms representing the “musculature”"
Uberon has several terms intended to represent sets of muscles.

* `musculoskeletal system` (a `anatomical system`), defined as a “anatomical system that consists of the muscular and skeletal system”;
* `musculature of body` (a `organ system subdivision`), defined as “the subdivision of the musculoskeletal system that consists of all the muscles of the body”;
* `skeletal musculature` (a `anatomica